﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToBeContinued</title>
</head>
<body>
    <img src="~/Content/Images/Construction.jpg" />
</body>
</html>
