﻿.voucherAddContainer {
    width: 100%;
    height: 100%;
}

.voucher-add-header {
    width: 100%;
    height: 50%;
}

.voucherInput {
    width: 100%;
    height: 100%;
}

.voucher-add-body {
    width: 100%;
    height: 50%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}