﻿@model OModules.Models.ViewListViewModel
@{
    ViewBag.Title = "Navigation";
}

<style>
    #tabstrip,
    #tabstrip-parent
    {
        height: 100%;
        border-width: 0;
    }


    .k-button .fa {
        font-size: inherit;
        line-height: inherit;
        width: auto;
        height: auto;
        margin-left: 0;
    }
</style>





<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();
    }

    function init() {
        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    type: "buttonGroup",
                    id: "btnGroupFilter",
                    //ButtonGroup's items accept the same appearance configration optinos as the button control
                    buttons: [
                        { text: "All", id: "btnFilterAll", togglable: true, group: "controlGroup" },
                        { type: "separator" },
                        { text: "A", id: "btnFilterA", togglable: true, group: "controlGroup" },
                        { text: "B", id: "btnFilterB", togglable: true, group: "controlGroup" },
                        { text: "C", id: "btnFilterC", togglable: true, group: "controlGroup" },
                        { text: "D", id: "btnFilterD", togglable: true, group: "controlGroup" },
                        { text: "E", id: "btnFilterE", togglable: true, group: "controlGroup" },
                        { text: "F", id: "btnFilterF", togglable: true, group: "controlGroup" },
                        { text: "G", id: "btnFilterG", togglable: true, group: "controlGroup" },
                        { text: "H", id: "btnFilterH", togglable: true, group: "controlGroup" },
                        { text: "I", id: "btnFilterI", togglable: true, group: "controlGroup" },
                        { text: "J", id: "btnFilterJ", togglable: true, group: "controlGroup" },
                        { text: "K", id: "btnFilterK", togglable: true, group: "controlGroup" },
                        { text: "L", id: "btnFilterL", togglable: true, group: "controlGroup" },
                        { text: "M", id: "btnFilterM", togglable: true, group: "controlGroup" },
                        { text: "N", id: "btnFilterN", togglable: true, group: "controlGroup" },
                        { text: "O", id: "btnFilterO", togglable: true, group: "controlGroup" },
                        { text: "P", id: "btnFilterP", togglable: true, group: "controlGroup" },
                        { text: "Q", id: "btnFilterQ", togglable: true, group: "controlGroup" },
                        { text: "R", id: "btnFilterR", togglable: true, group: "controlGroup" },
                        { text: "S", id: "btnFilterS", togglable: true, group: "controlGroup" },
                        { text: "T", id: "btnFilterT", togglable: true, group: "controlGroup" },
                        { text: "U", id: "btnFilterU", togglable: true, group: "controlGroup" },
                        { text: "V", id: "btnFilterV", togglable: true, group: "controlGroup" },
                        { text: "W", id: "btnFilterW", togglable: true, group: "controlGroup" },
                        { text: "X", id: "btnFilterX", togglable: true, group: "controlGroup" },
                        { text: "Y", id: "btnFilterY", togglable: true, group: "controlGroup" },
                        { text: "Z", id: "btnFilterZ", togglable: true, group: "controlGroup" },

                    ]
                }
            ],
            toggle: function (e) {
                var btnFilter = 'btnFilter';
                if (e.id.startsWith(btnFilter)) {
                    var filter = e.id.replace(btnFilter, '');
                    if (filter.length == 1) {
                        var dataSource = $("#treelist").data("kendoTreeList").dataSource;
                        dataSource.filter({ field: "Name", operator: "startswith", value: filter });
                    }
                    else {
                        var dataSource = $("#treelist").data("kendoTreeList").dataSource;
                        dataSource.filter([]);
                    }

                }
            }
        });

        $('body').openPageLoader();
        $.post(viewModel.ActionConfig.ActionGetGridConfig)
            .done(function (response) {
               // stuff
                console.log(response.dataSource);
                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance };
                    }
                })

                $("#treelist").kendoTreeList({
                    dataSource: response.dataSource,
                    height: '500px',
                    width: '100%',
                    filterable: true,
                    sortable: true,
                    selectable: "row",
                    columns: [
                        { field: "Name", title: "View" }
                    ],
                    change: function (e) {
                        var selectedRows = this.select();
                        var selectedDataItems = [];
                        for (var i = 0; i < selectedRows.length; i++) {
                            var dataItem = this.dataItem(selectedRows[i]);
                            treeSelectionChanged(dataItem.id);
                        }
                        // selectedDataItems contains all selected data items
                    }
                });

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
               // stuff
            });

        viewModel.gridChangeHandler = function (e) {
            var currentDataItem = viewModel.gridItem.dataItem(this.select());
            if (currentDataItem != undefined) {
                console.log(currentDataItem);


            }
        };

        viewModel.setDataItems = function () {
            for (var i in viewModel.ViewItems) {
                var viewItem = viewModel.ViewItems[i];
                $("#" + viewItem.ViewItemId).data("viewItem", viewItem);

            }

        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);

            if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
                viewModel.idObject = message.OItems[0].GUID
                viewModel.validateReference(viewModel.idObject);
                gridRefresh();
            }
        }

        viewModel.setDataItems();

        viewModel.getUrlParameters();

        changeValuesFromServer(viewModel.ViewItems);

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

    function treeSelectionChanged(id)
    {
        $.post(viewModel.ActionConfig.ActionGetUrl, { id: id, idInstance: viewModel.IdInstance })
            .done(function (response) {
               // stuff
                if (response.IsSuccessful && response.Url !== null) {
                    window.open(response.Url, "_blank");
                }
                

            })
            .fail(function (jqxhr, textStatus, error) {
               // stuff
            });
    }
</script>

<div id="@(Model.rootContainer.ViewItemId)" class="container-fluid">
    <div class="row">
        <div class="demo-section k-content col-md-12">
            <div>
                <div id="@(Model.toolbar.ViewItemId)"></div>
                <div id="@(Model.treelist.ViewItemId)"></div>
            </div>

        </div>
    </div>
</div>
