﻿@model OModules.Models.AccountViewModel
@{
    ViewBag.Title = "User-Functions";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


    .@(Model.fullHeight)
     {
         height: calc(100vh - 10px)
     }

    .fullPanelContentHeight {
        height: calc(100vh - 120px)
    }

    .verticalMenu {
        height: 200px;
        width: 100px;
    }

    #@(Model.rootContainer.ViewItemId) {
        width:200px;
    }

    .k-menu-scroll-wrapper.horizontal li.k-item.k-last {
        border-right-width: 0;
    }
</style>

<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function getUrlParameters() {
        urlParameterConfig.initialize();


    }

    function init() {
        viewModel.setDataItems = function () {
            $("#" + viewModel.rootContainer.ViewItemId).data("viewItem", viewModel.rootContainer);
            $("#" + viewModel.contentContainer.ViewItemId).data("viewItem", viewModel.contentContainer);
            $("#" + viewModel.menu.ViewItemId).data("viewItem", viewModel.menu);
            $("#" + viewModel.menuEntryPageFunc.ViewItemId).data("viewItem", viewModel.menuEntryPageFunc);
            $("#" + viewModel.menuEntryLogOff.ViewItemId).data("viewItem", viewModel.menuEntryLogOff);

        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);
        }

        viewModel.setDataItems();
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $("#" + viewModel.menu.ViewItemId).kendoMenu({
            scrollable: true,
            orientation: "vertical",
            select: function (e) {
                if (e.item.id === viewModel.menuEntryLogOff.ViewItemId) {
                    $.post(viewModel.ActionConfig.ActionLogOff, {
                        __RequestVerificationToken: token,
                        someValue: 'some value'
                    })
                        .done(function (response) {
                            console.log(response);

                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });
                }
            }
        });

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }
    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <div id="@(Model.rootContainer.ViewItemId)">
        <div class="demo-section k-content" id="@(Model.contentContainer.ViewItemId)">

            <ul id="@(Model.menu.ViewItemId)" class="verticalMenu">
                <li id="@(Model.menuEntryPageFunc.ViewItemId)">
                    @(Model.ViewItemCaptions[Model.menuEntryPageFunc.ViewItemId])
                <ul>
                        <li id="@(Model.menuEntryLogOff.ViewItemId)">@(Model.ViewItemCaptions[Model.menuEntryLogOff.ViewItemId])</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>




