﻿@model OModules.Models.ClassTreeViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.classList.ViewItemId) {
        border: 0 !important;
    }

    #@(Model.classList.ViewItemId) {
        height:91%
    }
</style>

<script src="~/Scripts/ClassTree/ClassTree.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.components = {
        classTree: null
    }
    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();


    }

    function init() {

        
        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    var configuration = {
                        setDocumentTitle: true,
                        actionInit: viewModel.ActionConfig.ActionInit,
                        selectorPath: ['#classTreeContainer'],
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createdComponent: function (classTreeComponent) {
                                viewModel.components.classTree = classTreeComponent;
                            },
                            selectedClass: function (idClass, nameClass) {
                                viewModel.selectedClassId = idClass;

                            }
                        }
                    }
                    $('#classTreeContainer').createClassTree(configuration);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        //addEndpoint("@(Channels.LocalData.Object_SelectedClassNode.GUID)");

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }


    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

</script>
<div id="classTreeContainer"></div>


        
