﻿@model OModules.Models.AudioPlayerViewModel
@{
    ViewBag.Title = "AudioPlayer";
}
<link href="~/node_modules/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" />
<style>
    .jp-audio {
        width: 100%
    }
</style>
<script src="~/node_modules/jplayer/dist/jplayer/jquery.jplayer.min.js"></script>
<script src="~/node_modules/jplayer/dist/add-on/jplayer.playlist.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.listen.ViewItemId) {
            button.toggleMode();
        }

    }

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                $('#' + viewModel.listen.ViewItemId).setCheckedMode(false, true);
                for (var ix in response.MediaListItems) {
                    var mediaListItem = response.MediaListItems[ix];
                    jviewModel.jPlaylist.add({
                        id: mediaListItem.IdMultimediaItem,
                        title: mediaListItem.NameMultimediaItem,
                        mp3: mediaListItem.FileUrl
                    });
                }

               
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.listen, "Checked", false);

        if (!listen) return;
        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelConfig.ChannelMediaList) {
            $('#' + viewModel.listen.ViewItemId).setCheckedMode(false, true);
            $.post(viewModel.ActionConfig.ActionGetSessionDataUrl, { idInstance: message.GenericParameterItems[0], extension: "json" })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        jQuery.getJSON(response.Result, function (data) {
                            viewModel.initPlayer();
                            for (var ix in data) {
                                var mediaListItem = data[ix];
                                viewModel.jPlaylist.add({
                                    id: mediaListItem.IdMultimediaItem,
                                    title: mediaListItem.NameMultimediaItem,
                                    mp3: mediaListItem.FileUrl,
                                    free: true
                                });
                            }

                        });
                        
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
            
        }




    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.listen.ViewItemId).data("viewItem", viewModel.listen);


    }

    viewModel.initPlayer = function () {
        viewModel.jPlaylist = new jPlayerPlaylist({
            jPlayer: "#" + viewModel.audioPlayer.ViewItemId,
            cssSelectorAncestor: "#" + viewModel.audioPlayerContainer.ViewItemId
        }, [

            ], {
                supplied: "mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                ended: function (event) {


                },
                play: function (event) {


                },
                pause: function (event) {


                },
                timeupdate: function (event) {

                },
                loadeddata: function (event) {
                    
                }
            });

       
    }

    function init() {

        $('#' + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                },
                { type: "seperator" },
                {
                    template: '<button id="' + viewModel.bookmark.ViewItemId + '" class="k-button"><i class="fa fa-bookmark" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.downloadMedia + '" class="k-button"><i class="fa fa-external-link-square" aria-hidden="true"></i></button>',

                }
            ],
            toggle: function (e) {
                console.log("toggle", e.target.text(), e.checked);
                var id = e.target.attr('id');

                if (id == viewModel.listen.ViewItemId) {
                    
                }
                else if (id == viewModel.bookmark.ViewItemId) {
                    
                }

            }
        });

        viewModel.initPlayer();

        $('.k-button').kendoButton({ click: viewModel.clickedButton });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                    console.log("ViewReady to Sender", viewModel.idSender);
                    if (viewModel.idSender != undefined) {
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelConfig.ChannelViewReady,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView
                        });
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelMediaList);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.audioPlayerArea.ViewItemId)">
    <div class="k-content">
        <div id="@(Model.toolbar.ViewItemId)"></div>
        <div id="@(Model.audioPlayer.ViewItemId)" class="jp-jplayer"></div>
        <div id="@(Model.audioPlayerContainer.ViewItemId)" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder">
                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                    </div>
                    <div class="jp-toggles">
                        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                        <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                    </div>
                </div>
                <div class="jp-playlist">
                    <ul>
                        <li>&nbsp;</li>
                    </ul>
                </div>
                <div class="jp-no-solution">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div>
    </div>
</div>

