﻿@model OModules.Models.ImageViewerViewModel
@{
    Layout = "~/Views/Shared/_LayoutNoBootstrap.cshtml";
}

<link href="~/Scripts/PhotoSwipe/photoswipe.css?v=4.1.1-1.0.4" rel="stylesheet" />
<link href="~/Scripts/PhotoSwipe/default-skin/default-skin.css?v=4.1.1-1.0.4" rel="stylesheet" />

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.galleryContainer.ViewItemId) {
        height: 100%;
    }

    #@(Model.galleryItem.ViewItemId) {
        height: 100%;
    }

    table {
        height: 100%;
    }
</style>

<script src="~/Scripts/PhotoSwipe/photoswipe.min.js?v=4.1.1-1.0.4"></script>
<script src="~/Scripts/PhotoSwipe/photoswipe-ui-default.min.js?v=4.1.1-1.0.4"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.addImage = function (mediaItem) {
        var aItem = document.createElement('a');
        var imageItem = document.createElement('img');
        aItem.appendChild(imageItem);
        if (viewModel.gallery == undefined) {
            ixImage = 0;
            viewModel.gallery = document.getElementById(viewModel.galleryContainer.ViewItemId);
            aItem.setAttribute('link', mediaItem.FileUrl);
            aItem.setAttribute('ix', viewModel.ixImage);
            aItem.setAttribute('onclick', 'viewModel.clickedImage(this)');
            imageItem.setAttribute('src', mediaItem.ThumbFileUrl);
            aItem.appendChild(imageItem);
            viewModel.gallery.appendChild(aItem);

            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            items = [
                {
                    mediumImage:
                    {
                        src: mediaItem.FileUrl,
                        w: 800,
                        h: 600
                    },
                    originalImage: {
                        src: mediaItem.FileUrl,
                        w: 1400,
                        h: 1050
                    }
                }
            ];

            // define options (if needed)
            var options = {
                // optionName: 'option value'
                // for example:
                index: 0
            };

            // Initializes and opens PhotoSwipe
            viewModel.pswp = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

            // create variable that will store real size of viewport
            var realViewportWidth,
                useLargeImages = false,
                firstResize = true,
                imageSrcWillChange;

            // beforeResize event fires each time size of gallery viewport updates
            viewModel.pswp.listen('beforeResize', function () {
                // gallery.viewportSize.x - width of PhotoSwipe viewport
                // gallery.viewportSize.y - height of PhotoSwipe viewport
                // window.devicePixelRatio - ratio between physical pixels and device independent pixels (Number)
                //                          1 (regular display), 2 (@@2x, retina) ...


                // calculate real pixels when size changes
                realViewportWidth = viewModel.pswp.viewportSize.x * window.devicePixelRatio;

                // Code below is needed if you want image to switch dynamically on window.resize

                // Find out if current images need to be changed
                if (useLargeImages && realViewportWidth < 1000) {
                    useLargeImages = false;
                    imageSrcWillChange = true;
                } else if (!useLargeImages && realViewportWidth >= 1000) {
                    useLargeImages = true;
                    imageSrcWillChange = true;
                }

                // Invalidate items only when source is changed and when it's not the first update
                if (imageSrcWillChange && !firstResize) {
                    // invalidateCurrItems sets a flag on slides that are in DOM,
                    // which will force update of content (image) on window.resize.
                    viewModel.pswp.invalidateCurrItems();
                }

                if (firstResize) {
                    firstResize = false;
                }

                imageSrcWillChange = false;

            });


            // gettingData event fires each time PhotoSwipe retrieves image source & size
            viewModel.pswp.listen('gettingData', function (index, item) {

                // Set image source & size based on real viewport width
                if (useLargeImages) {
                    item.src = item.originalImage.src;
                    item.w = item.originalImage.w;
                    item.h = item.originalImage.h;
                } else {
                    item.src = item.mediumImage.src;
                    item.w = item.mediumImage.w;
                    item.h = item.mediumImage.h;
                }

                // It doesn't really matter what will you do here,
                // as long as item.src, item.w and item.h have valid values.
                //
                // Just avoid http requests in this listener, as it fires quite often

            });

            viewModel.pswp.init();
        }
        else {

            aItem.setAttribute('link', mediaItem.FileUrl);
            aItem.setAttribute('ix', viewModel.ixImage);
            aItem.setAttribute('onclick', 'viewModel.clickedImage(this)');
            imageItem.setAttribute('src', mediaItem.ThumbFileUrl);
            aItem.appendChild(imageItem);
            viewModel.gallery.appendChild(aItem);
            viewModel.pswp.items.push({
                mediumImage:
                {
                    src: mediaItem.FileUrl,
                    w: 800,
                    h: 600
                },
                originalImage: {
                    src: mediaItem.FileUrl,
                    w: 1400,
                    h: 1050
                }
            });

            // sets a flag that slides should be updated
            viewModel.pswp.invalidateCurrItems();
            // updates the content of slides
            viewModel.pswp.updateSize(true);
            viewModel.ixImage++;
        }
    }

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                viewModel.ixImage = 0;
                for (viewModel.ixImage in response.MediaListItems) {
                    var mediaItem = response.MediaListItems[viewModel.ixImage];
                    viewModel.addImage(mediaItem);
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelConfig.ChannelMediaList) {
            $.post(viewModel.ActionConfig.ActionGetSessionDataUrl, { idInstance: message.GenericParameterItems[0], extension: "json" })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        jQuery.getJSON(response.Result, function (data) {
                            for (var ix in data) {
                                var mediaListItem = data[ix];

                                viewModel.addImage(mediaListItem);

                            }
                        });
                        
                    }
                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
            
        }




    }

    viewModel.setDataItems = function () {
        //$("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);


    }

    viewModel.loadCanvas = function(dataURL) {
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        if (dataURL != undefined && dataURL != '') {
            // load image from data url
            var imageObj = new Image();
            imageObj.onload = function () {

                context.drawImage(this, 0, 0);
            };

            imageObj.src = dataURL;
        }

    }

    viewModel.clickedImage = function(item) {
        console.log(item);
        var pswpElement = document.querySelectorAll('.pswp')[0];
        // define options (if needed)
        var ix = parseInt(item.getAttribute('ix'));

        var options = {
            // optionName: 'option value'
            // for example:
            index: ix// start at first slide
        };
        console.log(options);
        pswp = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        pswp.init();
    }

    function init() {

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                    if (viewModel.idSender != undefined) {
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelConfig.ChannelViewReady,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView
                        });
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelMediaList);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        createStatusBar(viewModel.PageInitState);

    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<table style="width:100%">
    <tr style="width:100%">
        <td>
            <div id="@(Model.galleryContainer.ViewItemId)"></div>
            <div id="@(Model.galleryItem.ViewItemId)" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip">
                                <!-- <a href="#" class="pswp__share--facebook"></a>
                                <a href="#" class="pswp__share--twitter"></a>
                                <a href="#" class="pswp__share--pinterest"></a>
                                <a href="#" download class="pswp__share--download"></a> -->
                            </div>
                        </div>
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </td>
    </tr>

</table>

