﻿@model OModules.Models.MediaListViewModel
@{
    ViewBag.Title = "MediaListAudio";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 95%; /* DO NOT USE !important for setting the Grid height! */
    }

    #@(Model.iframePlayer.ViewItemId),
    #@(Model.iframeUpload.ViewItemId) {
        width: 100%;
        height: 100%;
        border: 0px;
    }

    #@(Model.playerWindowContent.ViewItemId),
    #@(Model.uploadMediaWindowContent.ViewItemId) {
        width: 100%;
        height: 100%;
    }
</style>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
</script>
<script src="~/Scripts/MediaViewer/MediaListOld.js"></script>


<div>
    <div id="@(Model.uploadMediaWindow.ViewItemId)">
        <div id="@(Model.uploadMediaWindowHeader.ViewItemId)">
            <span>
                Upload
            </span>
        </div>
        <div style="overflow: hidden;" id="@(Model.uploadMediaWindowContent.ViewItemId)">
            <iframe id="@(Model.iframeUpload.ViewItemId)" src="about:blank"></iframe>
        </div>
    </div>
</div>

<div>
    <div id="@(Model.playerWindow.ViewItemId)">
        <div id="@(Model.playerWindowHeader.ViewItemId)">
            <span>
                Player
            </span>
        </div>
        <div style="overflow: hidden;" id="@(Model.playerWindowContent.ViewItemId)">
            <iframe id="@(Model.iframePlayer.ViewItemId)" src="about:blank"></iframe>
        </div>
    </div>
</div>
<div id="@(Model.toolbar.ViewItemId)"></div>

<div id="@(Model.gridParent.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>

