﻿@model OModules.Models.PDFSearchViewModel
@{
    ViewBag.Title = "PDFSearch";
}

<script src="~/Scripts/MediaViewer/PDFSearch.js"></script>
<script src="~/node_modules/mark.js/dist/jquery.mark.min.js"></script>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    mark {
        background: orange;
        color: black;
    }

    .pdf-search-container {
        height: 100%;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function init() {
        viewModel.connectCallback = function () {

            var configurationPdfSearch = {
                viewModel: null,
                actionPDFSearchInit: viewModel.ActionInitPDFSearch,
                handler: {
                    validateReferenceCallback: function () {

                    }
                }
            };

            $('.pdf-search-container').createPDFSearch(configurationPdfSearch);

        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="pdf-search-container">

</div>