﻿@model OModules.Models.PDFViewerViewModel
@{
    ViewBag.Title = "PDFViewer";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        }




    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.mediaItemName.ViewItemId).data("viewItem", viewModel.mediaItemName);
        $("#" + viewModel.gotoFirst.ViewItemId).data("viewItem", viewModel.gotoFirst);
        $("#" + viewModel.gotoPrevious.ViewItemId).data("viewItem", viewModel.gotoPrevious);
        $("#" + viewModel.gotoNext.ViewItemId).data("viewItem", viewModel.gotoNext);
        $("#" + viewModel.gotoLast.ViewItemId).data("viewItem", viewModel.gotoLast);
        $("#" + viewModel.openAutoPDF.ViewItemId).data("viewItem", viewModel.openAutoPDF);
        $("#" + viewModel.openPDF.ViewItemId).data("viewItem", viewModel.openPDF);
        $("#" + viewModel.countToSave.ViewItemId).data("viewItem", viewModel.countToSave);
        $("#" + viewModel.labelNav.ViewItemId).data("viewItem", viewModel.labelNav);


    }

    viewModel.clickedButton = function (e) {
        if ($(e.event.target).closest(".k-button").attr("id") === viewModel.openPDF.ViewItemId) {
            $.post(viewModel.ActionConfig.ActionOpenPDF, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        window.open(response.Result, "_blank");
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }
    }

    function init() {
        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<table style="width:100%">
    <tr style="width:700px">
        <td>
            <label id="@(Model.mediaItemName.ViewItemId)"></label>
        </td>
    </tr>
    <tr style="width:700px">
        <td>
            <table>
                <tr>
                    <td>
                        <button id='@(Model.gotoFirst.ViewItemId)' class='k-button'><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button id='@(Model.gotoPrevious.ViewItemId)' class='k-button'><i class="fa fa-backward fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button id='@(Model.gotoNext.ViewItemId)' class='k-button'><i class="fa fa-forward fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button id='@(Model.gotoLast.ViewItemId)' class='k-button'><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button id='@(Model.openAutoPDF.ViewItemId)' class='k-button'><i class="fa fa-magic fa-fw" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <button id='@(Model.openPDF.ViewItemId)' class='k-button'><i class="fa fa-external-link-square" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <label id='@(Model.lblCountToSave.ViewItemId)'> | PDFs in database:</label>
                    </td>
                    <td>
                        <label id='@(Model.countToSave.ViewItemId)'>0</label>
                    </td>
                    <td>
                        <label id='@(Model.lblCountSaved.ViewItemId)'> | prepared PDF:</label>
                    </td>
                    <td>
                        <label id='@(Model.labelNav.ViewItemId)'>0/0</label>
                    </td>

                </tr>
            </table>

        </td>
    </tr>

</table>