﻿@model OModules.Models.VideoPlayerViewModel
@{
    ViewBag.Title = "VideoPlayer";
}
<style type="text/css">
    .k-mediaplayer {
        float: left;
        width: 100%;
    }

    .playlist {
        float: left;
        width: 280px;
        height: 360px;
        overflow: auto;
    }

        .playlist ul, .playlist li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .playlist .k-item {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 14px 15px;
        }

            .playlist .k-item:last-child {
                border-bottom-width: 0;
            }

        .playlist span {
            cursor: pointer;
            display: block;
            overflow: hidden;
            text-decoration: none;
        }

            .playlist span img {
                border: 0 none;
                display: block;
                height: 56px;
                object-fit: cover;
                width: 100px;
                float: left;
            }

        .playlist h5 {
            display: block;
            font-weight: normal;
            margin: 0;
            overflow: hidden;
            padding-left: 10px;
            text-align: left;
        }

    .k-button .fa {
        font-size: inherit;
        line-height: inherit;
        width: auto;
        height: auto;
        margin-left: 0;
    }

    .km-switch-on .km-switch-container {
        background-color: rgb(0, 200, 0);
    }
</style>
<script src="~/Scripts/MediaViewer/VideoPlayer.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.videos = [];

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        viewModel.videoPlayerComponent.handler.validateReference(viewModel.videoPlayerComponent, idRef);
        //$.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
        //    .done(function (response) {
        //        console.log("connected", response);

        //        for (var i in response.MediaListItems) {
        //            var mediaItem = response.MediaListItems[i];
        //            viewModel.videos.add(mediaItem);
        //        }
                
        //        $("#" + viewModel.playlist.ViewItemId).data('kendoListView').refresh();
                
        //    })
        //    .fail(function (jqxhr, textStatus, error) {
        //        // stuff
        //    });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelConfig.ChannelMediaList) {
            viewModel.videos = [];
            $.post(viewModel.ActionConfig.ActionGetSessionDataUrl, { idInstance: message.GenericParameterItems[0], extension: "json" })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        jQuery.getJSON(response.Result, function (data) {
                            for (var ix in data) {
                                var mediaListItem = data[ix];

                                viewModel.videos.push(mediaListItem);

                            }
                        });

                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
            
            
        }




    }

    viewModel.setDataItems = function () {
        //$("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);


    }

    viewModel.onChange = function() {
        
    }

    viewModel.onDataBound = function() {
        this.select(this.element.children().first());
    }

    function init() {
        //$('#' + viewModel.toolbar.ViewItemId).kendoToolBar({
        //    items: [
        //        { type: "button", id: viewModel.listen.ViewItemId, spriteCssClass: "fa fa-assistive-listening-systems", togglable: true },
        //        { type: "separator" },
        //        { template: "<label>Autoplay:</label>" },
        //        { template: '<input type="checkbox" id="' + viewModel.isCheckedAutoPlay.ViewItemId + '" data-role="switch" data-change="onChangeAutoPlay"/>' },
        //        { template: "<label>Bookmark:</label>" },
        //        { template: '<input type="checkbox" id="' + viewModel.bookmark.ViewItemId + '" data-role="switch" data-change="onChangeBookmarks"/>' },
        //        { type: "separator" },
        //        { template: '<label>Last Bookmark:</label>' },
        //        { template: '<label id="' + viewModel.lblBookmark.ViewItemId + '"></label>' },
        //    ],
        //    toggle: function (e) {
        //        console.log("toggle", e.target.text(), e.checked);
        //        var id = e.target.attr('id');

        //        if (id == viewModel.listen.ViewItemId) {
                    
        //        }


        //    }
        //});

        //$("#" + viewModel.isCheckedAutoPlay.ViewItemId).kendoMobileSwitch({
        //    onLabel: "On",
        //    offLabel: "Off",
        //    change: function (e) {
                
        //    }
        //});

        //$("#" + viewModel.bookmark.ViewItemId).kendoMobileSwitch({
        //    onLabel: "On",
        //    offLabel: "Off",
        //    change: function (e) {
                
        //    }
        //});

        //$("#" + viewModel.videoPlayer.ViewItemId).kendoMediaPlayer({
        //    autoPlay: false,
        //    navigatable: true,
        //    ready: function () {
        //        var videoPlayer = $('.k-mediaplayer-media');
        //        $(videoPlayer).on('ended', function () {
                    
        //        });

        //        $(videoPlayer).on('play', function () {
                    
        //        });

        //        $(videoPlayer).on('pause', function () {
                    
        //        });
        //        $(videoPlayer).on('timeupdate', function () {
        //            $("#" + viewModel.videoPlayer.ViewItemId).trigger('timeChanged');
        //        });

        //        if ($("#" + viewModel.videoPlayer.ViewItemId).data("kendoMediaPlayer").autoPlay) {
        //            $("#" + viewModel.videoPlayer.ViewItemId).data("kendoMediaPlayer").play();
        //        }
        //    },


        //});

        //viewModel.videos = new kendo.data.DataSource({ data: [] });

        

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    $('.video-player-container').createVideoPlayer({
                        selectorPath: ['.video-player-container'],
                        setWindowTitle: true,
                        actions: {
                            init: viewModel.ActionConfig.ActionVideoPlayerInit
                        },
                        events: {
                            completed: function (component) {
                                viewModel.videoPlayerComponent = component;
                                var selectorPath = [];
                                for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                                    var selector = component.configuration.selectorPath[i];
                                    selectorPath.push(selector);
                                }
                                viewModel.getUrlParameters();

                                if (viewModel.idSender != undefined) {
                                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                        ChannelId: viewModel.ChannelConfig.ChannelViewReady,
                                        SenderId: viewModel.managerConfig.idEndpoint,
                                        SessionId: viewModel.managerConfig.idSession,
                                        ReceiverId: viewModel.idSender,
                                        UserId: viewModel.IdUser,
                                        ViewId: viewModel.View.IdView
                                    });
                                }
                            },
                            validatedReference: function (refItem) {

                            }
                        }
                    });

                    

                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelMediaList);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<script type="text/x-kendo-template" id="template">
    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')"
        onmouseout="$(this).removeClass('k-state-hover')">
        <span>
            <img src="#:poster#" />
            <h5>#:NameMultimediaItem#</h5>
            <h5>Created: #:kendo.toString(kendo.parseDate(FileCreateDate), 'dd.MM.yyyy')#</h5>
        </span>
    </li>
</script>

@*<div id="@(Model.mediaContainer.ViewItemId)">
    <div class="demo-section k-content wide" style="width: 925px;height:360px">
        <div id="@(Model.toolbar.ViewItemId)"></div>
        <div id="@(Model.videoPlayer.ViewItemId)" style="height:100%; width:640px"></div>
        <div class="k-list-container playlist" id="@(Model.playlistArea.ViewItemId)"><ul id="@(Model.playlist.ViewItemId)" class="k-list"></ul></div>
    </div>
</div>*@

<div id="@(Model.mediaContainer.ViewItemId)">
    <div class="demo-section k-content wide" style="width: 925px;height:360px">
        <div id="@(Model.toolbar.ViewItemId)"></div>
        <div class="video-player-container"></div>
    </div>
</div>

