﻿.add-objects-form-container .add-objects-form {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    /* This bit draws the box around it */
    border: 1px solid grey;
    /* I've used padding so you can see the edges of the elements. */
    padding: 2px;
}

.add-objects-form-container input {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
}

.add-objects-form-container input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

.save-button-container {
    position: absolute;
    top: 46px;
    right: 0px;
}

