﻿@model OModules.Models.TextParserViewModel
@{
    ViewBag.Title = "QueryResult";
}
<link href="~/Scripts/jsoneditor/jsoneditor.min.css" rel="stylesheet" />

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .dropdown {
        width: 250px;
    }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 85%; /* DO NOT USE !important for setting the Grid height! */
    }

    .k-grid tbody tr{
        height: 20px;
    }

    .k-grid td{
        white-space: nowrap;
    }

</style>
<link href="~/Content/OntoCss.css" rel="stylesheet" />
<link href="~/Content/ajax.autocomplete/styles.css" rel="stylesheet" />
<script src="~/Scripts/ToolBox/JsonEditor.js"></script>
<script src="~/Scripts/jsoneditor/jsoneditor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<script src="~/Scripts/ajax.autocomplete/jquery.autocomplete.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {

        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };

        $('.inpAutoComplete').autocomplete({
            serviceUrl: viewModel.ActionGetAutoCompletes + '?idInstance=' + viewModel.IdInstance,
            dataType: "json",
            deferRequestBy: 300,
            noCache: true,
            //lookup: countriesArray,
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {
                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            },
            onSelect: function (suggestion) {
                changeValue(viewModel.query, "Content", suggestion.value, true, function (resonse) {
                }, viewModel.IdInstance);
            },
            onHint: function (hint) {

            },
            onInvalidateSelection: function () {

            },
            onSearchStart: function (query) {
                $('#' + viewModel.query.ViewItemId).css('border-color', 'coral');
            },
            onSearchComplete: function (query, suggestions) {
                $('#' + viewModel.query.ViewItemId).css('border-color', '');
            }
        });

        $('#gridParent').openPageLoader();
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                $.post(viewModel.ActionGetGridConfig, { idInstance: viewModel.IdInstance })
                    .done(function (response) {

                        if (viewModel.dataSource === undefined) {
                            viewModel.dataSource = new kendo.data.DataSource(response.Result.dataSource);

                        } else {
                            $("#" + viewModel.grid.ViewItemId).data("kendoGrid").destroy(); // destroy the Grid

                            $("#" + viewModel.grid.ViewItemId).empty(); // empty the Grid content (inner HTML)
                        }


                        $.extend(response.Result.dataSource.transport.read, {
                            data: function () {
                                return { idInstance: viewModel.IdInstance };
                            }
                        })

                        response.Result.dataSource = viewModel.dataSource;

                        $.extend(response.Result, {
                            change: function (e) {
                                var item;
                                var selected = this.select();    //get selected cell(s)

                                for (var i = 0; i < selected.length; i++) {
                                    item = this.dataItem(selected[i].parentNode);    //get selected cell's dataItem
                                }
                                console.log(item);

                            }, toolbar: ["excel"],
                            excel: {
                                proxyURL: "/save"
                            },
                            excelExport: function (e) {
                                var sheet = e.workbook.sheets[0];
                                var grid = e.sender;
                                var fields = grid.columns;
                                var fieldsModels = grid.dataSource.options.schema.model.fields;
                                var columns = grid.columns;
                                var dateCells = [];

                                for (var i = 0; i < fields.length; i++) {
                                    var currentField = fields[i].field;
                                    var currentModel = fieldsModels[currentField];

                                    if (typeof (currentModel) !== 'undefined' && currentModel.type === "date") {
                                        for (var j = 0; j < columns.length; j++) {
                                            if (currentField === columns[j].field) {
                                                dateCells.push(j);
                                                break;
                                            };
                                        };
                                    };
                                };
                                for (var rowIndex = 1; rowIndex < sheet.rows.length; rowIndex++) {
                                    var row = sheet.rows[rowIndex];

                                    for (var q = 0; q < dateCells.length; q++) {
                                        var cellIndex = dateCells[q];
                                        var value = row.cells[cellIndex].value;
                                        //var newValue = new Date(value.getFullYear(), value.getMonth(), value.getDay());

                                        //row.cells[cellIndex].value = newValue;
                                        row.cells[cellIndex].format = "yyyy-MM-dd HH:mm:ss";
                                    };
                                };
                            },
                            dataBound: function (e) {
                                $('.json-editor-window').data('kendoWindow').close();
                                $('.edit-cell').kendoButton({
                                    click: function (e) {
                                        var row = $(event.currentTarget).closest('tr');
                                        var item = $("#" + viewModel.grid.ViewItemId).data("kendoGrid").dataItem(row);
                                        var configurationJsonEditor = {
                                            selector: ".json-editor",
                                            actionJsonEditorInit: viewModel.ActionJsonEditorInit,
                                            managerConfig: viewModel.managerConfig,
                                            initCompleteHandler: function (jsonEditorItem) {
                                                viewModel.jsonEditorItem = jsonEditorItem;
                                                $.post(viewModel.ActionGetEsIndexItemRequest, { idInstance: viewModel.IdInstance, id: item.elasticid })
                                                    .done(function (response) {
                                                        if (response.IsSuccessful) {
                                                            var request = {
                                                                FieldId: response.Result.FieldId,
                                                                IdItem: response.Result.IdItem,
                                                                IndexTypeItem: {
                                                                    Index: response.Result.IndexTypeItem.Index,
                                                                    Port: response.Result.IndexTypeItem.Port,
                                                                    Server: response.Result.IndexTypeItem.Server,
                                                                    Type: response.Result.IndexTypeItem.Type
                                                                }
                                                            };
                                                            viewModel.jsonEditorItem.handler.validateReference(null, response.Result);
                                                            $('.json-editor-window').data('kendoWindow').open();
                                                        }

                                                    })
                                                    .fail(function (jqxhr, textStatus, error) {
                                                        // stuff
                                                        $('body').closePageLoader();
                                                    });
                                            }
                                        };
                                        $('.json-editor').createToolBoxJsonEditor(configurationJsonEditor);
                                    }
                                })
                            }
                        })

                        $("#" + viewModel.grid.ViewItemId).kendoGrid(response.Result);
                        //setTimeout(function () {
                        //    dataSource.read();
                        //}, 500);

                        viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).data("kendoGrid");
                        $('#gridParent').closePageLoader();

                        $("#" + viewModel.grid.ViewItemId).on('cellselect', function (event) {
                            // event arguments.
                            var args = event.args;
                            // column data field.
                            var datafield = event.args.datafield;
                            // row's bound index.
                            var rowBoundIndex = args.rowindex;
                            // new cell value.
                            var value = args.newvalue;
                            // old cell value.
                            var oldvalue = args.oldvalue;

                        });

                        $("#" + viewModel.grid.ViewItemId).on('cellvaluechanged', function (event) {
                            // event arguments.
                            var args = event.args;
                            // column data field.
                            var datafield = event.args.datafield;
                            // row's bound index.
                            var rowBoundIndex = args.rowindex;
                            // new cell value.
                            var value = args.newvalue;
                            // old cell value.
                            var oldvalue = args.oldvalue;

                        });


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }
    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            $('.onto-status-bar').data('messageout-config').showOntoMessage(message.GenericParameterItems[0], 2000);
        }

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.reloadGrid = function () {
        //viewModel.gridItem.dataSource.read();
        viewModel.gridItem.dataSource.read();

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.deleteIndex.ViewItemId).data("viewItem", viewModel.deleteIndex);
        $("#" + viewModel.query.ViewItemId).data("viewItem", viewModel.query);
        $("#" + viewModel.search.ViewItemId).data("viewItem", viewModel.search);
        $("#" + viewModel.parse.ViewItemId).data("viewItem", viewModel.parse);
        $("#" + viewModel.saveQuery.ViewItemId).data("viewItem", viewModel.saveQuery);
        $("#" + viewModel.import.ViewItemId).data("viewItem", viewModel.import);
        $("#" + viewModel.configureColumns.ViewItemId).data("viewItem", viewModel.configureColumns);
        $("#" + viewModel.openScript.ViewItemId).data("viewItem", viewModel.openScript);
        $("#" + viewModel.colorConfig.ViewItemId).data("viewItem", viewModel.colorConfig);

    }

    function init() {
        $('.json-editor-window').kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Item',
            visible: false,
            modal: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<label>Input:</label>'
                },
                {
                    type: "splitButton",
                    text: "Index-Work",
                    menuButtons: [
                        { id: viewModel.parse.ViewItemId, text: "Parse" },
                        { id: viewModel.deleteIndex.ViewItemId, text: "Delete Index" }
                    ]
                },
                {
                    type: "separator"
                },
                {
                    template: '<button id="' + viewModel.search.ViewItemId + '" class="k-button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>',

                },
                {
                    template: '<button id="' + viewModel.saveQuery.ViewItemId + '" class="k-button buttonSave"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.import.ViewItemId + '" class="k-button"><i class="fa fa-share-alt" aria-hidden="true"></i> Apply</button>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<button id="' + viewModel.configureColumns.ViewItemId + '" class="k-button"><i class="fa fa-pencil-square" aria-hidden="true"></i> Confiure Columns</button>',

                },
                {
                    template: '<button id="' + viewModel.openScript.ViewItemId + '" class="k-button"><i class="fa-file-code-o" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.colorConfig.ViewItemId + '" class="k-button"><i class="fa fa-pencil" aria-hidden="true"></i> Confiure Columns</button>',

                }


            ]
        });

        $("#" + viewModel.gridParent.ViewItemId).kendoTooltip({
            filter: ".value-cell",
            position: "top",
            animation: {
                open: {
                    effects: "zoom",
                    duration: 150
                }
            },
            content: function (e) {
                return e.target.html();
            }
        });

        $('.k-button').kendoButton();
        $('.textbox-query').on("keyup paste", function () {
            changeValue(viewModel.query, "Content", $(this).val(), true, function (response) {
                var viewItems = $.grep(response.ViewItems, function (item) {
                    return item.ViewItemId != viewModel.query.ViewItemId;
                });
                changeValuesFromServer(viewItems);
            }, viewModel.IdInstance);
        });

        $('.buttonSave').on("click", function () {
            $.post(viewModel.ActionSavePattern, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        if (typeof response.Message !== 'undefined' && response.Message != null) {
                            $('.onto-status-bar').data('messageout-config').showMessage(response.Message, 2000);
                        }
                    } else {
                        $('.onto-status-bar').data('messageout-config').showError(response.Message);
                    }




                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        })

        $('.k-button').click(function () {
            if ($(this).attr('id') == viewModel.search.ViewItemId) {

                $.post(viewModel.ActionResetScrollId, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            //viewModel.gridItem.dataSource.filter({});
                            //viewModel.gridItem.dataSource.sort({});
                            viewModel.gridItem.dataSource.page(0);
                            //viewModel.reloadGrid();
                        }




                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });

            } else if ($(this).attr('id') == viewModel.parse.ViewItemId) {
                $.post(viewModel.ActionParse, { idInstance: viewModel.IdInstance })
                    .done(function (response) {


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });

            } else if ($(this).attr('id') == viewModel.deleteIndex.ViewItemId) {

                var check = confirm('Do you really want to delete the TextParser?');
                if (check == true) {
                    $.post(viewModel.ActionDeleteIndex, { idInstance: viewModel.IdInstance })
                        .done(function (response) {
                            if (!response.IsSuccessful) {
                                $('.onto-status-bar').data('messageout-config').showError(response.Message, 2000);
                            }

                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                            $('body').closePageLoader();
                        });
                }
            }

        });


        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.Result);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="@(Model.toolbar.ViewItemId)"></div>
<input id="query" class="form-control inpAutoComplete textbox-query" type="text" />
<div id="@(Model.gridParent.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)"></div>
</div>
<div class="json-editor-window">
    <div class="json-editor">

    </div>
</div>

