﻿@model OModules.Models.ObjectInsertViewModel
@{
    ViewBag.Title = "ObjectInsert";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


</style>


<script src="~/Scripts/RelationTree/RelationTree.js"></script>
<script id="treeview-template" type="text/kendo-ui-template">
    # if (item.Class1 != undefined) { #
    <i class="#: item.Class1 #" aria-hidden="true"></i>
    # } #
    # if (item.FontClass2 != undefined) { #
    <i class="#: item.Class2 #" aria-hidden="true"></i>
    # } #
    <span style="
    # if (item.ForeColor != undefined) { #
    color:#: item.ForeColor #;
    # } #
    # if (item.BackColor != undefined) { #
    background-color: #: item.BackColor #;
    # } #


    ">
        # if (item.Bold) { #
        <b>
            # } # #: item.NodeName #
            
        </b>
        # if (!item.Bold) { #
        <button class="btn btn-primary btn-xs btn-add-attribute"><i class="fa fa-plus smallFont" aria-hidden="true"></i></button>
        # } #


    </span>


</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (!$('#' + viewModel.listenObject.ViewItemId).hasClass('btn-primary')) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.oItem = message.OItems[0];
            viewModel.validateReferenceObjectName(viewModel.oItem.GUID, viewModel.oItem.Val_String);


        }

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.inpClass.ViewItemId).data("viewItem", viewModel.inpClass);

    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            viewModel.oItem = {
                GUID: urlParameterConfig.objectParam,
                Val_String: null
            };
            viewModel.validateReferenceObjectName(urlParameterConfig.objectParam);

        }
    }

    viewModel.validateReferenceObjectName = function (idRef, content) {
        $('body').openPageLoader();
        $.post(viewModel.ActionValidateReference, { idRefItem: idRef, content: content, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);
                $('body').closePageLoader();

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.selectedTreeNode = function (e) {
        var treeView = $("#" + viewModel.relationTree.ViewItemId).data("kendoTreeView");
        var nodeItem = treeView.dataItem(e.node);
        var parentItem = treeView.dataItem(treeView.parent(e.node));
    }

    function init() {

        $.post(viewModel.ActionGetClassDropDownConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log(response);
                jQuery.extend(response, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(response, {
                    change: function (e) {
                        console.log(e);
                        $("#" + viewModel.relationTree.ViewItemId).oModuleRelationTree({
                            actionTreeConfig: viewModel.ActionGetTreeConfigSelection, idClass: "d7a03a35875142b48e0519fc7a77ee91", selectCallback: viewModel.selectedTreeNode });
                    }
                });

                $('#' + viewModel.inpClass.ViewItemId).kendoDropDownList(response);
                viewModel.classList = $('#' + viewModel.inpClass.ViewItemId).data("kendoDropDownList")
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelSelectedClass);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
    </script>
    <div class="panel-body">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-12">

                    <div class="input-group">

                        <label for="@(Model.inpClass.ViewItemId)">Class:</label>
                        <input id="@(Model.inpClass.ViewItemId)" type="text" class="form-control itemCombo" />


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="@(Model.relationTree.ViewItemId)">

                    </div>
                </div>
            </div>
        </div>
    </div>

