﻿@model OModules.Models.AutoRelatorViewModel
@{
    ViewBag.Title = "AutoRelator";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .borderd {
        border-radius: 5px 5px 5px;
        border: 1px solid sandybrown;
    }

    .input-group {
        width: 100%;
    }

    input {
        min-width: 100%;
        max-width: 100%;
    }

    .modal-body {
        min-height: 800px;
        max-height: 800px;
    }

    .classField {
        margin-left: 3px;
        margin-right: 20px;
    }

    .container-full {
        margin: 0 auto;
        width: 100%;
    }
    .row-full {
        height: 800px;
    }
    #@(Model.inpRelation.ViewItemId) {
        min-width: 300px;
    }

    iframe {
        height:100%;
        width: 100%;
    }

    .restHeight {
        height:100%;
        width: 100%;
    }

    .itemCombo {
        width: 230px !important;
    }

    .numericUpDown {
        width: 80px !important;
    }

    textarea { resize: vertical; }

    .autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-no-suggestion { padding: 2px 5px;}
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: bold; color: #000; }
    .autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

    .refLink:hover {
         color: darkblue
     }

     .refLink i:hover {
         color: darkblue
     }

     .refLink i before:hover {
         color: darkblue
     }

     .refLink {
         color: white;
     }

    .ref-panel
    {
        margin-left: 20px;
        text-align: center;
    }

    .ref-panel li
    {
        margin-right: 10px;
        margin-bottom: 10px;
        list-style: none;
        float: left;
    }
</style>
<script src="~/Scripts/ajax.autocomplete/jquery.autocomplete.js"></script>
<script src="~/Scripts/TypedTagging/TypedTagging.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(function() {
    //  changes mouse cursor when highlighting loawer right of box
    $(document).on('mousemove', 'textarea', function(e) {
		var a = $(this).offset().top + $(this).outerHeight() - 16,	//	top border of bottom-right-corner-box area
			b = $(this).offset().left + $(this).outerWidth() - 16;	//	left border of bottom-right-corner-box area
		$(this).css({
			cursor: e.pageY > a && e.pageX > b ? 'nw-resize' : ''
		});
	})
    //  the following simple make the textbox "Auto-Expand" as it is typed in
    .on('keyup', 'textarea', function(e) {
        $(this).resizeTextArea(e);
    });

    $.fn.resizeTextArea = function (e) {
        //  the following will help the text expand as typing takes place
        while ($(this).outerHeight() < this[0].scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
            $(this).height($(this).height() + 1);
        };
    }
});
</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.textChanged = false;

    viewModel.toggleListen = function () {
        if ($('#' + viewModel.listenObject.ViewItemId).hasClass('btn-primary')) {
            $('#' + viewModel.listenObject.ViewItemId).removeClass('btn-primary');
        } else {
            $('#' + viewModel.listenObject.ViewItemId).addClass('btn-primary');
        }
    }

    viewModel.toggleDisplayType = function (element) {
        if (element === undefined) {
            $('.analyzedText').show();
            $('.foundItem').show();
            $('.classField').hide();
        }
        else {
            var button = $(element)
            if (!button.hasClass('btn-primary')) {
                $('.btnDisplayType').removeClass('btn-primary');
                button.addClass('btn-primary');

                if (button.attr('id') == "btnShowTextWithItems") {
                    $('.analyzedText').show();
                    $('.foundItem').show();
                    $('.classField').hide();
                } else if (button.attr('id') == "btnShowOnlySelected") {
                    $('.analyzedText').hide();
                    $('.foundItem').hide();
                    $('.classField').hide();
                    var parent = $('.btn-success').parent();
                    parent.find('.foundItem').show();
                    parent.find('.classField').show();
                } else {
                    $('.analyzedText').hide();
                    $('.foundItem').show();
                    $('.classField').show();
                }
            }
        }
    }

    viewModel.checkSaveTags = function () {
        if ($('.buttonRel.btn-success').length == 0) {
            $('.saveItems').prop("disabled", true);
        } else {
            $('.saveItems').prop("disabled", false);
        }
    }

    viewModel.saveOntoRelations = function (element) {
        var panel = $(element).closest(".panel");
        var selected = panel.find('.btn-success');
        var ids = [];
        selected.map(function () {
            ids.push($(this).attr('id'));
        });
        
        $.post(viewModel.ActionSaveOntoRelations, { idInstance: viewModel.IdInstance, idsOntologyJoins: ids })
            .done(function (response) {
                console.log("connected", response);
                if (response.IsSuccessful) {

                    panel.find('.btn-success').removeClass('btn-success').addClass('btn-default');
                    
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.saveItems = function (element) {
        var panel = $(element).closest(".panel");
        var selected = panel.find('.btn-success');
        var ids = [];
        selected.map(function () {
            ids.push($(this).attr('id'));
        });
        var idRelationType = viewModel.relationTypeList.value();
        if ($('#' + viewModel.btnTypedTag.ViewItemId).hasClass('btn-success')) {
            idRelationType = null;
        }
        var orderId = $('#' + viewModel.inpOrderId.ViewItemId).data("kendoNumericTextBox").value();
        $.post(viewModel.ActionSaveRelatorTags, { idInstance: viewModel.IdInstance, idsTextParts: ids, idRelationType: idRelationType, orderId: orderId })
            .done(function (response) {
                console.log("connected", response);
                if (response.IsSuccessful) {
                    var oItems = [];
                    for (var ix in response.ResultItem.TypedTags) {
                        var typedTag = response.ResultItem.TypedTags[ix];

                        oItems.push({ GUID: typedTag.IdTypedTag });
                    }

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelAppliedObjects,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: oItems
                    });

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelSavedTypeTag,
                                                SenderId: viewModel.managerConfig.idEndpoint,
                                                SessionId: viewModel.managerConfig.idSession,
                                                ReceiverId: viewModel.idSender,
                                                ViewId: viewModel.View.IdView,
                                                UserId: viewModel.IdUser,
                                                OItems: oItems
                    });
                    $('.typed-tagging-list').data('typed-tagging-list-config').validateReference(viewModel.oItem.GUID);


                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.createResultAreaOnto = function (response, jqElem) {
        var lines = "";
        for (var i in response.AutoRelationAnaylze) {
            var line = "<p>";
            var autoRelationAnalyze = response.AutoRelationAnaylze[i];
            var ixText = 0;

            var ontologyJoin = autoRelationAnalyze.OntologyJoin;

            var textPart = null;
            var name = "";
            if (ontologyJoin.OItem3 !== undefined && ontologyJoin.OItem3 !== null) {
                name = ontologyJoin.OItem3.RefItem.Name;
            }

            if (autoRelationAnalyze.TextPart1 !== undefined && autoRelationAnalyze.TextPart1 !== null) {
                var textPart = autoRelationAnalyze.TextPart1;
                name = textPart.Text + ' [' + ontologyJoin.OItem1.RefItem.Name + '] -> ' + name + ' -> ' + viewModel.nameOfObject;
            } else {
                textPart = autoRelationAnalyze.TextPart2;
                name = viewModel.nameOfObject + ' -> ' + name + ' -> ' + textPart.Text + ' [' + ontologyJoin.OItem2.RefItem.Name + ']';
            }

            var colorClass = "btn-primary";

            if (autoRelationAnalyze.Exists) {
                colorClass = "btn-default";
            }

            line += "<span><button id='" + autoRelationAnalyze.Id + "' class='btn " + colorClass + " btn-xs buttonRel foundItem' >" + name + "</button></span>";
            
            ixText = textPart.IxStart + textPart.IxEnd;

            line += "</p>";
            lines += line;




        }

        jqElem.html('');
        var panel = $('<div class="panel panel-default"></div>');
        var panelHeader = $('<div class="panel-heading clearfix"></div>');
        var inputGroup = $('<div class="input-group"></div>')

        panelHeader.append(inputGroup);
        var buttonGroup = $('<div class="btn-group"></div>');

        inputGroup.append(buttonGroup);
        var buttonUse = $('<button class="btn btn-xs saveItems" onClick="viewModel.saveOntoRelations(this)"><i class="fa fa-check-square" aria-hidden="true"></i></button>');
        buttonGroup.append(buttonUse);

        var buttonShowTextWithItems = $('<button id="btnShowTextWithItems" class="btn btn-xs btnDisplayType btn-primary" onClick="viewModel.toggleDisplayType(this)">Text with items</button>');
        buttonGroup.append(buttonShowTextWithItems);

        var buttonShowItems = $('<button id="btnShowItems" class="btn btn-xs btnDisplayType btn-secondary" onClick="viewModel.toggleDisplayType(this)">Items</button>');
        buttonGroup.append(buttonShowItems);

        var buttonOnlySelected = $('<button id="btnShowOnlySelected" class="btn btn-xs btnDisplayType btn-secondary" onClick="viewModel.toggleDisplayType(this)">Selected Items</button>');
        buttonGroup.append(buttonOnlySelected);

        panel.append(panelHeader);

        var template = $('<div class="templateArea">' + lines + '</div>')
        panel.append(template);

        jqElem.append(panel);

        viewModel.toggleDisplayType();

        jqElem.find('.buttonRel').click(function () {

            if ($(this).hasClass('btn-primary')) {
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-success');
            } else if ($(this).hasClass('btn-success')) {
                $(this).removeClass('btn-success');
                $(this).addClass('btn-primary');

            }

            viewModel.checkSaveTags();
        });

        viewModel.checkSaveTags();
    }

    viewModel.createResultArea = function (response, jqElem) {
        var lines = "";
        for (var i in response.AutoRelationAnaylze) {
            var line = "<p>";
            var autoRelationAnalyze = response.AutoRelationAnaylze[i];
            var ixText = 0;
            for (var j in autoRelationAnalyze.RangeRefItems) {
                var rangeRefItem = autoRelationAnalyze.RangeRefItems[j];

                var text = response.AnalyzeText.substring(ixText, rangeRefItem.IxStart - 1);
                line += "<span class='analyzedText'>" + text + "</span>";
                line += "<span><div class='btn-group mr-2 float-left' role='group' aria-label='First group'><button id='" + rangeRefItem.IdTextPart + "' class='btn btn-primary btn-xs buttonRel foundItem' title='" + rangeRefItem.NameClass + "'>" + rangeRefItem.Text + "</button>";
                line += "<button class='btn btnRelEditor btn-default btn-xs' data-object-id='" + rangeRefItem.IdObject + "'><i class='fa fa-pencil-square-o fa-lg' aria-hidden='true'></i></button></div><span class='classField'>(" + rangeRefItem.NameClass + ")</span></span>";
                ixText = rangeRefItem.IxEnd + 1;

            }
            if (ixText < response.AnalyzeText.length - 1) {
                var text = response.AnalyzeText.substring(ixText, response.AnalyzeText.length);
                line += "<span class='analyzedText'>" + text + "</span>";
            }
            line += "</p>";
            lines += line;




        }

        jqElem.html('');
        var panel = $('<div class="panel panel-default"></div>');
        var panelHeader = $('<div class="panel-heading clearfix"></div>');
        var inputGroup = $('<div class="input-group"></div>')

        panelHeader.append(inputGroup);
        var buttonGroup = $('<div class="btn-group"></div>');

        inputGroup.append(buttonGroup);
        var buttonUse = $('<button class="btn btn-xs saveItems" onClick="viewModel.saveItems(this)"><i class="fa fa-check-square" aria-hidden="true"></i></button>');
        buttonGroup.append(buttonUse);

        var buttonShowTextWithItems = $('<button id="btnShowTextWithItems" class="btn btn-xs btnDisplayType btn-primary" onClick="viewModel.toggleDisplayType(this)">Text with items</button>');
        buttonGroup.append(buttonShowTextWithItems);

        var buttonShowItems = $('<button id="btnShowItems" class="btn btn-xs btnDisplayType btn-secondary" onClick="viewModel.toggleDisplayType(this)">Items</button>');
        buttonGroup.append(buttonShowItems);

        var buttonOnlySelected = $('<button id="btnShowOnlySelected" class="btn btn-xs btnDisplayType btn-secondary" onClick="viewModel.toggleDisplayType(this)">Selected Items</button>');
        buttonGroup.append(buttonOnlySelected);

        panel.append(panelHeader);

        var template = $('<div class="templateArea">' + lines + '</div>')
        panel.append(template);

        jqElem.append(panel);

        viewModel.toggleDisplayType();

        jqElem.find('.buttonRel').click(function () {

            if ($(this).hasClass('btn-primary')) {
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-success');
            } else {
                $(this).removeClass('btn-success');
                $(this).addClass('btn-primary');

            }

            viewModel.checkSaveTags();
        });

         jqElem.find('.btnRelEditor').click(function () {
            var idObject = $(this).data("object-id");
            window.open(viewModel.ActionEditObject + '?Object=' + idObject, '_blank');
        });

        viewModel.checkSaveTags();
    }
    viewModel.parseText = function (text) {
        $('body').openPageLoader();
        $.post(viewModel.ActionParseText, { idInstance: viewModel.IdInstance, text: text, useOntology: false, useName: viewModel.textChanged })
            .done(function (response) {
                console.log("connected", response);
                $('body').closePageLoader();

                viewModel.createResultArea(response, $('#' + viewModel.outputParse.ViewItemId))
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                $('body').closePageLoader();
                // stuff
            });
    }
    viewModel.parseTextExplicit = function () {
        $('body').openPageLoader();
        $('#' + viewModel.outputAutoComplete.ViewItemId).html('');
        $('#' + viewModel.outputParse.ViewItemId).html('');
        var text = '';
        if (viewModel.selected !== undefined && viewModel.selected !== null && viewModel.selected.text !== undefined && viewModel.selected.text !== null && viewModel.selected.text !== '') {
            text = b64EncodeUnicode(viewModel.selected.text);
        } else {
            text = b64EncodeUnicode($('#' + viewModel.textAreaUserStories.ViewItemId).val());
        }

        viewModel.parseText(text);
        
    }

    viewModel.parseTextOntology = function () {
        $('#' + viewModel.outputAutoComplete.ViewItemId).openPageLoader();
        $('#' + viewModel.outputAutoComplete.ViewItemId).html('');
        $('#' + viewModel.outputParse.ViewItemId).html('');
        text = b64EncodeUnicode($('#' + viewModel.textAreaUserStories.ViewItemId).val());
        $.post(viewModel.ActionParseText, { idInstance: viewModel.IdInstance, text: text, useOntology: true, useName: false })
            .done(function (response) {
                console.log("connected", response);
                $('body').closePageLoader();

                viewModel.createResultAreaOnto(response, $('#' + viewModel.outputAutoComplete.ViewItemId))
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.validateReferenceObjectName = function (idRef, content) {
        $('#iFrameTypedTaggingList').attr('src', viewModel.ActionTypedTaggingList + '?Object=' + viewModel.oItem.GUID + "&Sender=" + viewModel.IdInstance);
        $('body').openPageLoader();
        $('#' + viewModel.textAreaUserStories.ViewItemId).unbind('click');
        viewModel.textChanged = false;
        $.post(viewModel.ActionValidateReference, { idRefItem: idRef, content: content, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                viewModel.nameOfObject = getViewItemsValue(response.ViewItems, viewModel.objectName.ViewItemId, "Content");
                $('#' + viewModel.objectName.ViewItemId).html(viewModel.nameOfObject);
                changeValuesFromServer(response.ViewItems);
                
                $('body').closePageLoader();

                if (viewModel.oItem.Val_String !== undefined && viewModel.oItem.Val_String !== null) {
                    $('#' + viewModel.textAreaUserStories.ViewItemId).val($('<textarea />').html(viewModel.oItem.Val_String).text());
                    viewModel.textChanged = true;


                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (!$('#' + viewModel.listenObject.ViewItemId).hasClass('btn-primary')) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            if (viewModel.oItem !== undefined && message.OItems[0].GUID == viewModel.oItem.GUID) {
                viewModel.oItem.Val_String = message.OItems[0].Val_String;
                if (viewModel.oItem.Val_String !== undefined && viewModel.oItem.Val_String !== null) {
                    $('#' + viewModel.textAreaUserStories.ViewItemId).val($('<textarea />').html(viewModel.oItem.Val_String).text());
                    viewModel.textChanged = true;
                    return;
                }

            }
            viewModel.oItem = message.OItems[0];

            viewModel.oItem.Val_String = htmlDecode(viewModel.oItem.Val_String);
            viewModel.validateReferenceObjectName(viewModel.oItem.GUID, viewModel.oItem.Val_String);
            $('.typed-tagging-list').data('typed-tagging-list-config').validateReference(viewModel.oItem.GUID);
            
        }

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.panelUserStories.ViewItemId).data("viewItem", viewModel.panelUserStories);
        $("#" + viewModel.labelUserStories.ViewItemId).data("viewItem", viewModel.labelUserStories);
        $("#" + viewModel.textAreaUserStories.ViewItemId).data("viewItem", viewModel.textAreaUserStories);
        $("#" + viewModel.title.ViewItemId).data("viewItem", viewModel.title);
        $("#" + viewModel.btnSearchAll.ViewItemId).data("viewItem", viewModel.btnSearchAll);
        $("#" + viewModel.btnSearchOntology.ViewItemId).data("viewItem", viewModel.btnSearchOntology);
        $("#" + viewModel.spanResult.ViewItemId).data("viewItem", viewModel.spanResult);
        $("#" + viewModel.lblOrderId.ViewItemId).data("viewItem", viewModel.lblClass);
        $("#" + viewModel.btnSaveObject.ViewItemId).data("viewItem", viewModel.btnSaveObject);
        $("#" + viewModel.inpClass.ViewItemId).data("viewItem", viewModel.inpClass);
        $("#" + viewModel.inpRelation.ViewItemId).data("viewItem", viewModel.inpRelation);
        $("#" + viewModel.inpAutoComplete.ViewItemId).data("viewItem", viewModel.inpAutoComplete);
        
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            viewModel.oItem = {
                GUID: urlParameterConfig.objectParam,
                Val_String: null
            };
            viewModel.validateReferenceObjectName(urlParameterConfig.objectParam);

        }
    }
    viewModel.saveSelection = function () {
        var orderId = $('#' + viewModel.inpOrderId.ViewItemId).data("kendoNumericTextBox").value();
        $.post(viewModel.ActionSaveNewObject, { idInstance: viewModel.IdInstance, request: viewModel.selected, orderId: orderId })
            .done(function (response) {
                console.log("connected", response);
                if (response.IsSuccessful) {
                    var oItems = [];
                    for (var ix in response.ResultItem.TypedTags) {
                        var typedTag = response.ResultItem.TypedTags[ix];

                        oItems.push({ GUID: typedTag.IdTypedTag });
                    }

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelAppliedObjects,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: oItems
                    });

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelSavedTypeTag,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: oItems
                    });

                    $('.typed-tagging-list').data('typed-tagging-list-config').validateReference(viewModel.oItem.GUID);

                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }
    viewModel.CheckSaveSelection = function () {
        var selectedText = $('#' + viewModel.textAreaUserStories.ViewItemId).getSelectedText();
        console.log(selectedText);
        var valueClass = viewModel.classList.value();
        var indexClass = viewModel.classList.selectedIndex,
            dataItemClass;
        var valueRelationType = viewModel.relationTypeList.value();

        viewModel.selected = {
            text: selectedText,
            idClass: valueClass,
            idRelationType: valueRelationType,
            saveTypedTag: $('#' + viewModel.btnTypedTag.ViewItemId).hasClass('btn-success')
        }

        if (viewModel.selected.text !== '') {
            $('#' + viewModel.outputAutoComplete.ViewItemId).html(viewModel.selected.text);
        } else {
            $('#' + viewModel.outputAutoComplete.ViewItemId).html($('#' + viewModel.textAreaUserStories.ViewItemId).val());
        }

        //if (indexClass == 0) return;
        dataItemClass = viewModel.classList.dataItem(indexClass);




        if (selectedText !== "" && dataItemClass !== undefined) {
            $('#' + viewModel.btnSaveObject.ViewItemId).attr('disabled', false);

        }
        else {
            $('#' + viewModel.btnSaveObject.ViewItemId).attr('disabled', true);
        }

        $('#autoCompleteArea').hide();
        viewModel.textChanged = true;



        if (viewModel.timeoutWordInput !== undefined) {
            clearTimeout(viewModel.timeoutWordInput);
        }
        //var cursorPosition = $('#' + viewModel.textAreaUserStories.ViewItemId).prop('selectionStart');

        //var ix = cursorPosition;
        //for (ix = cursorPosition - 1; ix >= 0; ix--) {
        //    var text = $('#' + viewModel.textAreaUserStories.ViewItemId).val().substring(ix, ix + 1);
        //    if (text == ' ' ||
        //        text == ',' ||
        //        text == '.' ||
        //        text == '!' ||
        //        text == ';' ||
        //        text == ':' ||
        //        text == '?') {
        //        break;
        //    }
        //}

        //var jx = cursorPosition;
        //for (jx = cursorPosition; jx <= $('#' + viewModel.textAreaUserStories.ViewItemId).val().length; jx++) {
        //    var text = $('#' + viewModel.textAreaUserStories.ViewItemId).val().substring(jx, jx + 1);
        //    if (text == ' ' ||
        //        text == ',' ||
        //        text == '.' ||
        //        text == '!' ||
        //        text == ';' ||
        //        text == ':' ||
        //        text == '?') {
        //        break;
        //    }
        //}


        //viewModel.wordItem = {
        //    word: $('#' + viewModel.textAreaUserStories.ViewItemId).val().substring(ix, jx),
        //    start: ix + 1,
        //    end: cursorPosition
        //}


        //viewModel.timeoutWordInput = setTimeout(function () {
        //    console.log(viewModel.word);
        //    $.post(viewModel.ActionAutoComplete, { idInstance: viewModel.IdInstance, text: viewModel.wordItem.word })
        //        .done(function (response) {
        //            if (!response.NoData) {


        //                if (viewModel.dropDownAutoComplete !== undefined) {
        //                    viewModel.dropDownAutoComplete.text("");
        //                    viewModel.dropDownAutoComplete.value("");
        //                }
        //                $.extend(response.ResultItem, { height: 400 });
        //                $.extend(response.ResultItem, {
        //                    change: function (e) {
        //                        var value = this.value();
        //                        var itemText = this.text();
        //                        var index = this.selectedIndex,
        //                            dataItem;

        //                        if (index == 0) return;
        //                        dataItem = this.dataItem(index);

        //                        var name = dataItem.Additional;

        //                        var text = $('#' + viewModel.textAreaUserStories.ViewItemId).val();
        //                        var newText = text.substring(0, viewModel.wordItem.start) + name + text.substring(viewModel.wordItem.end);
        //                        $('#' + viewModel.textAreaUserStories.ViewItemId).val(newText);
        //                        var text = b64EncodeUnicode($('#' + viewModel.textAreaUserStories.ViewItemId).val());
        //                        viewModel.wordItem.end = viewModel.wordItem.start + name.length;

        //                        $.post(viewModel.ActionParseAutocomplete, { idInstance: viewModel.IdInstance, text: text, idAutoComplete: value, start: viewModel.wordItem.start, end: viewModel.wordItem.end })
        //                            .done(function (response) {
        //                                console.log("connected", response);
        //                                viewModel.createResultArea(response, $('#' + viewModel.outputAutoComplete.ViewItemId))
        //                            })
        //                            .fail(function (jqxhr, textStatus, error) {
        //                                // stuff
        //                            });

        //                    }
        //                });

        //                $('#autoCompleteArea').show();
        //                $('#dropDownList').kendoDropDownList(response.ResultItem);
        //                viewModel.dropDownAutoComplete = $('#dropDownList').data("kendoDropDownList");
        //            }
        //            else {
        //                var text = b64EncodeUnicode($('#' + viewModel.textAreaUserStories.ViewItemId).val());
        //                $.post(viewModel.ActionParseAutocomplete, { idInstance: viewModel.IdInstance, text: text, idAutoComplete: null, start: viewModel.wordItem.start, end: viewModel.wordItem.end })
        //                    .done(function (response) {
        //                        console.log("connected", response);
        //                        viewModel.createResultArea(response, $('#' + viewModel.outputAutoComplete.ViewItemId))
        //                    })
        //                    .fail(function (jqxhr, textStatus, error) {
        //                        // stuff
        //                    });
        //            }
        //        })
        //        .fail(function (jqxhr, textStatus, error) {
        //            // stuff
        //        });
        //}, 300);
    }


    function init() {

        
        

        $('#' + viewModel.inpOrderId.ViewItemId).kendoNumericTextBox({
            format: "n0",
            min: 0,
            decimals: 0
        });

        $('#' + viewModel.btnSaveObject.ViewItemId).click(viewModel.saveSelection);
        $('#' + viewModel.btnTypedTag.ViewItemId).html("Typed-Tag");
        $('#' + viewModel.btnTypedTag.ViewItemId).click(function () {
            if ($(this).hasClass('btn-success')) {
                $(this).removeClass('btn-success');
                $(this).addClass('btn-default');
                $(this).html('Relation-Type');
                viewModel.relationTypeList.enable(true);

            } else {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-default');
                $(this).html('Typed-Tag');
                viewModel.relationTypeList.enable(false);
            }


        });

        $('#' + viewModel.btnInsertOntology.ViewItemId).click(function () {
            $.post(viewModel.ActionGetOntoTemplate, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    var html = '';
                    for (var ix in response.Result) {
                        var template = response.Result[ix];

                        html += template + '\r\n';
                    }

                    $('#' + viewModel.textAreaUserStories.ViewItemId).val(html);
                    $('#' + viewModel.textAreaUserStories.ViewItemId).resizeTextArea();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        });

        $.post(viewModel.ActionGetClassDropDownConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log(response);
                jQuery.extend(response, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(response, {
                    change: function (e) {
                        var idClass = this.value();

                        changeValue($('#' + viewModel.inpClass.ViewItemId).data("viewItem"), "SelectedIndex", idClass, true);
                    }
                });

                $('#' + viewModel.inpClass.ViewItemId).kendoDropDownList(response);
                viewModel.classList = $('#' + viewModel.inpClass.ViewItemId).data("kendoDropDownList")
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $.post(viewModel.ActionGetRelationTypeDropDownConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log(response);
                jQuery.extend(response.Result, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(response.Result, {
                    change: function (e) {
                        
                    }
                });

                $('#' + viewModel.inpRelation.ViewItemId).kendoDropDownList(response.Result);
                viewModel.relationTypeList = $('#' + viewModel.inpRelation.ViewItemId).data("kendoDropDownList")
                viewModel.relationTypeList.enable(false);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $('#' + viewModel.inpRelation.ViewItemId)

        $('#' + viewModel.btnSearchAll.ViewItemId).on("click", viewModel.parseTextExplicit);
        $('#' + viewModel.btnSearchOntology.ViewItemId).on("click", viewModel.parseTextOntology);
        $('#' + viewModel.listenObject.ViewItemId).on("click", viewModel.toggleListen);

        $('#' + viewModel.textAreaUserStories.ViewItemId).bind("input paste keydown click focus select", function () {
            viewModel.CheckSaveSelection();
        });

        $('#' + viewModel.textAreaUserStories.ViewItemId).bind("change", function () {
            //viewModel.AutoParseText();
        });

        $('#' + viewModel.inpAutoComplete.ViewItemId).autocomplete({
            serviceUrl: viewModel.ActionGetAutoCompletes + '?idInstance=' + viewModel.IdInstance,
            dataType: "json",
            deferRequestBy: 300,
            noCache: true,
            //lookup: countriesArray,
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {
                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            },
            onSelect: function (suggestion) {
                var text = "";
                $('#' + viewModel.inpAutoComplete.ViewItemId + '_hidden').val(suggestion.data);
                text = b64EncodeUnicode($('#' + viewModel.inpAutoComplete.ViewItemId + '_hidden').val());
                viewModel.parseText(text);
            },
            onHint: function (hint) {

            },
            onInvalidateSelection: function () {

            },
            onSearchStart: function (query) {
                $('#' + viewModel.inpAutoComplete.ViewItemId).css('border-color', 'coral');
            },
            onSearchComplete: function (query, suggestions) {
                $('#' + viewModel.inpAutoComplete.ViewItemId).css('border-color', '');
            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    
                    

                    var configurationTypedTaggingList = {
                        actionGetTags: viewModel.ActionGetTagsTypedTaggingList,
                        actionRelationEditor: viewModel.ActionEditObjectTypedTaggingList,
                        actionValidateReference: viewModel.ActionValidateReferenceTypedTaggingList,
                        actionGetTransformedNames: viewModel.ActionGetTransformedNames,
                        channelAppliedObjects: viewModel.ChannelAppliedObjects,
                        channelSelectedObject: viewModel.ChannelSelectedObject,
                        idInstance: viewModel.IdInstance,
                        idEndpoint: viewModel.IdEndpoint,
                        idSession: viewModel.IdSession,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        createdCallback: function () {
                            viewModel.getUrlParameters();
                            $('.typed-tagging-list').data('typed-tagging-list-config').validateReference(viewModel.oItem.GUID);
                        }
                    }

                    $('.typed-tagging-list').createTypedTaggingList(configurationTypedTaggingList);
                    

                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelSelectedClass);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }


    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Auto-Relator</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>

                    <button id="@(Model.listenObject.ViewItemId)" class="btn-primary navbar-btn"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>

                </li>
                <li><a id="@(Model.objectName.ViewItemId)"></a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default" id="@(Model.panelUserStories.ViewItemId)">
    <div class="panel-heading"><span id="@(Model.labelUserStories.ViewItemId)"></span></div>
    <div class="panel-body">
        <div class="container container-full">
            <div class="row row-full">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="@(Model.btnInsertOntology.ViewItemId)" class="btn btn-default" type="button" title="Insert Ontology-Templates"><i class="fa fa-file-code-o " aria-hidden="true"></i></button>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="@(Model.inpAutoComplete.ViewItemId)" class="form-control" type="text" size="800"/>
                            <input id="@(Model.inpAutoComplete.ViewItemId)_hidden" type="hidden"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea id="@(Model.textAreaUserStories.ViewItemId)" class="form-control"></textarea>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="@(Model.btnSearchAll.ViewItemId)" class="btn btn-default" type="button" title="Analyze Text"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <button id="@(Model.btnSearchOntology.ViewItemId)" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i><i class="fa fa-cogs" aria-hidden="true"></i></button>


                                </div>

                                <input id="@(Model.inpClass.ViewItemId)" type="text" class="form-control itemCombo" />

                                <div class="input-group-btn">

                                    <button id="@(Model.btnTypedTag.ViewItemId)" class="btn btn-success" type="button" title=""></button>

                                </div>
                                <input id="@(Model.inpRelation.ViewItemId)" type="text" class="form-control itemCombo" />
                                <div class="input-group-btn">
                                    <label id="@(Model.lblOrderId.ViewItemId)" class="form-control">Order:</label>
                                </div>
                                <input id="@(Model.inpOrderId.ViewItemId)" type="number" value="1" class="form-control numericUpDown" />
                                <div class="input-group-btn">

                                    <button id="@(Model.btnSaveObject.ViewItemId)" class="btn btn-default" type="button" title="Save Object"><i class="fa fa-save" aria-hidden="true"></i></button>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="@(Model.outputAutoComplete.ViewItemId)">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="@(Model.outputParse.ViewItemId)">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 row-full">
                    <div class="restHeight typed-tagging-list">
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</div>



