﻿
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/AutoRelator/auto-relator.css" rel="stylesheet" />
<script src="~/Scripts/TypedTagging/AutoRelator.js"></script>
<h2>Index</h2>
<script>
    window.addEventListener("load", function () {
        var configuration = {
            actionAutoRelatorInit: '/TypedTagging/AutoRelatorInit'
        }
        $('#autoRelatorContainer').createAutoRelator(configuration);
    }, false);
</script>

<div id="autoRelatorContainer">

</div>