﻿@model OModules.Models.TypedTaggingGraphOmniViewModel
@{
    ViewBag.Title = "TypedTaggingGraph";
}

<link href="~/Content/jityc/base.css" rel="stylesheet" />
<link href="~/Content/jityc/ForceDirected.css" rel="stylesheet" />

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.infovis.ViewItemId) {
        background-color: black;
        width: 100%;
        height: 100%;
    }
    

    #center-container {
        text-align:left;
        left:0px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

</style>

<script src="~/Scripts/jityc/jit.js"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.fd = undefined;

    var labelType, useGradients, nativeTextSupport, animate;
    var ua = navigator.userAgent,
        iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
        typeOfCanvas = typeof HTMLCanvasElement,
        nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
        textSupport = nativeCanvasSupport
            && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
    //I'm setting this based on the fact that ExCanvas provides text support for IE
    //and that as of today iPhone/iPad current text support is lame
    labelType = (!nativeCanvasSupport || (textSupport && !iStuff)) ? 'Native' : 'HTML';
    nativeTextSupport = labelType == 'Native';
    useGradients = nativeCanvasSupport;
    animate = !(iStuff || !nativeCanvasSupport);

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            button.toggleMode();
        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $('body').openPageLoader();
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response);
                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                $('body').closePageLoader();

                $('body').openPageLoader();
                $.post(viewModel.ActionGetOmniTags, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        createGraph(response.Result);
                        $('body').closePageLoader();


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.infovis.ViewItemId).data("viewItem", viewModel.infovis);

    }

    function createGraph(json) {

        if (viewModel.fd !== undefined) {
            viewModel.fd.canvas.clear();
            viewModel.fd.loadJSON(json);
            viewModel.fd.computeIncremental({
                iter: 40,
                property: 'end',
                onStep: function (perc) {
                    //Log.write(perc + '% loaded...');
                },
                onComplete: function () {
                    //Log.write('done');
                    viewModel.fd.animate({
                        modes: ['linear'],
                        transition: $jit.Trans.Elastic.easeOut,
                        duration: 2500
                    });
                }
            });
        }
        else {
            viewModel.fd = new $jit.ForceDirected({
                //id of the visualization container
                injectInto: 'infovis',
                //Enable zooming and panning
                //by scrolling and DnD
                Navigation: {
                    enable: true,
                    //Enable panning events only if we're dragging the empty
                    //canvas (and not a node).
                    panning: 'avoid nodes',
                    zooming: 10 //zoom speed. higher is more sensible
                },
                // Change node and edge styles such as
                // color and width.
                // These properties are also set per node
                // with dollar prefixed data-properties in the
                // JSON structure.
                Node: {
                    overridable: true
                },
                Edge: {
                    overridable: true,
                    color: '#23A4FF',
                    lineWidth: 0.4
                },
                //Native canvas text styling
                Label: {
                    type: labelType, //Native or HTML
                    size: 10,
                    style: 'bold'
                },
                //Add Tips
                Tips: {
                    enable: true,
                    onShow: function (tip, node) {
                        //count connections
                        var count = 0;
                        node.eachAdjacency(function () { count++; });
                        //display node info in tooltip
                        tip.innerHTML = "<div class=\"tip-title\">" + node.name + "</div>"
                            + "<div class=\"tip-text\"><b>connections:</b> " + count + "</div>";
                    }
                },
                // Add node events
                Events: {
                    enable: true,
                    type: 'Native',
                    //Change cursor style when hovering a node
                    onMouseEnter: function () {
                        viewModel.fd.canvas.getElement().style.cursor = 'move';
                    },
                    onMouseLeave: function () {
                        viewModel.fd.canvas.getElement().style.cursor = '';
                    },
                    //Update node positions when dragged
                    onDragMove: function (node, eventInfo, e) {
                        var pos = eventInfo.getPos();
                        node.pos.setc(pos.x, pos.y);
                        viewModel.fd.plot();
                    },
                    //Implement the same handler for touchscreens
                    onTouchMove: function (node, eventInfo, e) {
                        $jit.util.event.stop(e); //stop default touchmove event
                        this.onDragMove(node, eventInfo, e);
                    },
                    //Add also a click handler to nodes
                    onClick: function (node) {
                        if (!node) return;
                        if (node.data.$type == 'ellipse') return;

                        var items = [
                            {
                                GUID: node.id
                            }];
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelSelectedObject,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            UserId: viewModel.IdUser,
                            OItems: items
                        });
                    }
                },
                //Number of iterations for the viewModel.fd algorithm
                iterations: 200,
                //Edge length
                levelDistance: 130,
                // Add text to the labels. This method is only triggered
                // on label creation and only for DOM labels (not native canvas ones).
                onCreateLabel: function (domElement, node) {
                    domElement.innerHTML = node.name;
                    var style = domElement.style;
                    style.fontSize = "0.8em";
                    style.color = "#000";
                },
                // Change node styles when DOM labels are placed
                // or moved.
                onPlaceLabel: function (domElement, node) {
                    var style = domElement.style;
                    var left = parseInt(style.left);
                    var top = parseInt(style.top);
                    var w = domElement.offsetWidth;
                    style.left = (left - w / 2) + 'px';
                    style.top = (top + 10) + 'px';
                    style.display = '';
                }
            });
            // load JSON data.
            viewModel.fd.loadJSON(json);
            // compute positions incrementally and animate.
            viewModel.fd.computeIncremental({
                iter: 40,
                property: 'end',
                onStep: function (perc) {
                    //Log.write(perc + '% loaded...');
                },
                onComplete: function () {
                    //Log.write('done');
                    viewModel.fd.animate({
                        modes: ['linear'],
                        transition: $jit.Trans.Elastic.easeOut,
                        duration: 2500
                    });
                }
            });
        }



        return viewModel.fd;
    }

    function init() {
        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                }
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }
    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

</script>

<div id="center-container">
    <div id="@(Model.toolbar.ViewItemId)"></div>
    <div id="@(Model.infovis.ViewItemId)"></div>
</div>

