﻿
@{
    ViewBag.Title = "Index";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

</style>

<script src="~/Scripts/DropDown/OntoMultiselect.js"></script>
<script>
    function init() {

        var configuration = {
            actionGetMultiSelectConfig: '/DropDown/GetMultiselectConfig',
            request: {
                IdObject: '2247af1447c64b66822ef6e27705c44c',
                IdRelationType: 'e971160347db44d8a476fe88290639a4',
                IdClassOther: '6e0ff246bed749128f45fca4812c99fd',
                IdDirection: 'cc99d5365d564fd29d4f45b48af33029'
            }
        };

        $('#multiSelectTest').createMultiSelect(configuration);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<script id="noDataTemplate" type="text/x-kendo-tmpl">
    # var value = instance.input.val(); #
    # var id = instance.element[0].id; #
    <div>
        No data found. Do you want to add new item - '#: value #' ?
    </div>
    <br />
    <button class="k-button" onclick="addNew('#: id #', '#: value #')" ontouchend="addNew('#: id #', '#: value #')">Add new item</button>
</script>

<div id="example" role="application">
    <div id="multiSelectTest">

    </div>
</div>


