﻿@model OModules.Models.ClassEdit.ClassAttributeViewModel

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .gridItem,
    .classAttributeEditor,
    .class-attribute-editor-container {
        height: 97%;
        margin: 0;
        padding: 0;
    }
</style>
<script src="~/Scripts/ClassEdit/ClassAttributeEditor.js"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelSelectedClass) {
            viewModel.validateReference(message.OItems[0].GUID);
        } 
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.classParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.classParam)
        }
    }

    viewModel.validateReference = function (idRef) {
        viewModel.classAttributeEditorComponent.handler.validateReference({ GUID: idRef }, viewModel.classAttributeEditorComponent);
    }

    function init() {
        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);

                    var configuration = {
                        selectorPath: ['.class-attribute-editor-container'],
                        actionInit: viewModel.ActionClassAttributeEditorInit,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createComponent: function (classAttributeEditorComponent) {
                                
                            },
                            createdComponent: function (classAttributeEditorComponent) {
                                viewModel.classAttributeEditorComponent = classAttributeEditorComponent;
                                viewModel.getUrlParameters();
                            }
                        }
                    };
                    $('.class-attribute-editor-container').createClassAttributeEditor(configuration);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedClass);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div class="class-attribute-editor-container">

</div>
