﻿@model OModules.Models.PasswordSafeViewModel
@{
    ViewBag.Title = "PasswordSafe";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #gridParent,
    #grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 95%; /* DO NOT USE !important for setting the Grid height! */
    }

    .alert {
        width: 100%;
    }

    .inputAuthenticationPassword {
        width: 270px !important;
    }

</style>
<script src="~/Scripts/jquery.copy-to-clipboard.js"></script>
<script src="~/Scripts/Security/Authentication.js"></script>
<script>
    
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id === viewModel.buttonOk.ViewItemId) {
            var password = $('#' + viewModel.inputPassword1.ViewItemId).val();
            $('body').openPageLoader();
            $.post(viewModel.ActionSavePassword, { idInstance: viewModel.IdInstance, password: password })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        viewModel.validateReference(viewModel.oItem);
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        } else if (id === viewModel.buttonCancel.ViewItemId) {
            viewModel.windowNewPassword.close();
        } else if (button.hasClass("secure-password")) {
            $.post(viewModel.ActionGetSecurePassword, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        button.closest('.k-window-content').find('.password1').val(response.Result);
                        button.closest('.k-window-content').find('.password2').val(response.Result);
                        viewModel.changedPassword(button.closest('.k-window-content').find('.password1'));
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        } else if (id === viewModel.buttonOkAuthentication.ViewItemId) {

        } else if (id === viewModel.showPassword.ViewItemId) {

            $('#' + viewModel.copyPassword.ViewItemId).setEnabled(false);


            if ($('#' + viewModel.showPassword.ViewItemId).hasClass('locked')) {
                $.post(viewModel.ActionDecodePassword, { idInstance: viewModel.IdInstance, idPassword: viewModel.dataItem.IdPassword })
                    .done(function (response) {

                        if (response.IsSuccessful) {


                            $('#inpPassword').val(response.Result);
                            //viewModel.dataItem.set("Password", response.Result);

                            viewModel.counter = 20;

                            //$('#hiddenItem').show();
                            if (typeof viewModel.timeOutHandler !== 'undefined' && viewModel.timeOutHandler !== null) {
                                clearTimeout(viewModel.timeOutHandler)
                            }
                            viewModel.timeOutHandler = setTimeout(countDown, 1000);

                        }


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else {

                viewModel.counter = 1;
            }


        } else if (id === viewModel.copyPassword.ViewItemId) {
            $('#inpPassword').copyValToClipboard();
            $('#inpPassword').val('');
            setTimeout(function () {
                $('#inpPassword').attr('type', "text")
                $('#inpPassword').val('---------');
                $('#inpPassword').copyValToClipboard();
                $('#inpPassword').attr('type', "password")
                $('#inpPassword').val('');
            }, 20000)
            viewModel.counter = 1;
        } else if (id === viewModel.changePassword.ViewItemId) {
            $('.sec-password').val('');
            viewModel.windowChangePassword.open();
        } else if (id === viewModel.buttonCancelChangePassword.ViewItemId) {
            viewModel.windowChangePassword.close();
        } else if (id === viewModel.buttonOkChangePassword.ViewItemId) {
            var password = $('#' + viewModel.inputChangePassword1.ViewItemId).val();
            $('body').openPageLoader();
            $.post(viewModel.ActionChangePassword, { idInstance: viewModel.IdInstance, idPassword: viewModel.dataItem.IdPassword, password: password })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        viewModel.windowChangePassword.close();
                    } else {

                        var alert = getViewItemValue(response.ViewItems[0], "Content", "");
                        $('#' + viewModel.alertDifferentPasswords.ViewItemId).html(alert);
                        $('#' + viewModel.alertDifferentPasswords.ViewItemId).show();
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        } else if (id === "unlockPassword") {
            var type = $('#inpPassword').attr('type');
            if (type === "password") {
                $('#inpPassword').attr('type', "text")
                $('#unlockPassword').removeClass('locked');
                $('#unlockPassword').addClass('unlocked');
                $('#unlockPassword').html('<i class="fa fa-unlock" aria-hidden="true">');
            } else {
                $('#inpPassword').attr('type', "password")
                $('#unlockPassword').removeClass('unlocked');
                $('#unlockPassword').addClass('locked');
                $('#unlockPassword').html('<i class="fa fa-lock" aria-hidden="true">');
            }

        } else if (id === "createPassword") {
            viewModel.windowNewPassword.open();
        }

    }

    viewModel.validateReference = function (oItem) {
        if (!viewModel.isAuthenticated) return;
        $('body').openPageLoader();
        viewModel.oItem = oItem;
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response);

                //$('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                viewModel.reloadGrid();

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {

            viewModel.validateReference(message.OItems[0]);
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }

    viewModel.gridChangeHandler = function (e) {
        var selectedRows = this.select();

        $('#' + viewModel.copyPassword.ViewItemId).setEnabled(false);
        $('#' + viewModel.showPassword.ViewItemId).setEnabled(false);
        $('#' + viewModel.changePassword.ViewItemId).setEnabled(false);

        if (selectedRows.length !== 1) {
            return;
        }
        viewModel.dataItemRow = viewModel.gridItem.select();
        viewModel.dataItem = viewModel.gridItem.dataItem(viewModel.gridItem.select());
        $('#' + viewModel.showPassword.ViewItemId).setEnabled(true);
        $('#' + viewModel.changePassword.ViewItemId).setEnabled(true);
    };

    viewModel.reloadGrid = function () {
        viewModel.gridItem.dataSource.read();

    }

    viewModel.changedPassword = function (input) {
        var window = $(input).closest('.k-window-content');
        var enable = window.find('.password1').val() === window.find('.password2').val();

        window.find('.ok-button').setEnabled(enable);
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
        $("#" + viewModel.buttonOk.ViewItemId).data("viewItem", viewModel.buttonOk);
        $("#" + viewModel.buttonCancel.ViewItemId).data("viewItem", viewModel.buttonCancel);
        $("#" + viewModel.buttonOkChangePassword.ViewItemId).data("viewItem", viewModel.buttonOkChangePassword);
        $("#" + viewModel.buttonCancelChangePassword.ViewItemId).data("viewItem", viewModel.buttonCancelChangePassword);
        $("#" + viewModel.inputPassword1.ViewItemId).data("viewItem", viewModel.inputPassword1);
        $("#" + viewModel.inputPassword2.ViewItemId).data("viewItem", viewModel.inputPassword2);
        $("#" + viewModel.createPassword.ViewItemId).data("viewItem", viewModel.createPassword);
        $("#" + viewModel.showPassword.ViewItemId).data("viewItem", viewModel.showPassword);
        $("#" + viewModel.copyPassword.ViewItemId).data("viewItem", viewModel.copyPassword);
        $("#" + viewModel.changePassword.ViewItemId).data("viewItem", viewModel.changePassword);
    }

    function countDown() {
        viewModel.counter -= 1;
        
        if (viewModel.counter == 0) {
            $('#inpPassword').val('');
            $('#' + viewModel.copyPassword.ViewItemId).setEnabled(false);

            $('#counter').hide();
        } else {
            $('#counter').html(viewModel.counter);
            $('#counter').show();
            $('#' + viewModel.copyPassword.ViewItemId).setEnabled(true);
            if (typeof viewModel.timeOutHandler !== 'undefined' && viewModel.timeOutHandler !== null) {
                clearTimeout(viewModel.timeOutHandler)
            }
            
            viewModel.timeOutHandler = setTimeout(countDown, 1000);
        }
    }

   
    
   

    function init() {
        
        $("#" + viewModel.toolbarNewPassword.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button class="k-button secure-password"><i class="fa fa-shield" aria-hidden="true"></i></button>',

                }
            ]
        });

        $("#" + viewModel.toolbarChangePassword.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button class="k-button secure-password"><i class="fa fa-shield" aria-hidden="true"></i></button>',

                }
            ]
        });

        $('#' + viewModel.windowNewPassword.ViewItemId).kendoWindow({
            width: "326px",
            title: "New Password",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: function () {

            }
        }).data("kendoWindow").center();

        viewModel.windowNewPassword = $('#' + viewModel.windowNewPassword.ViewItemId).data("kendoWindow");

        $('#' + viewModel.changePasswordWindow.ViewItemId).kendoWindow({
            width: "326px",
            title: "Change Password",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: function () {

            }
        }).data("kendoWindow").center();

        viewModel.windowChangePassword = $('#' + viewModel.changePasswordWindow.ViewItemId).data("kendoWindow");


        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [ {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',
                    

                }, {
                    template: '<button id="' + viewModel.createPassword.ViewItemId + '" class="k-button"><i class="fa fa-file" aria-hidden="true"></i></button>'
                }, {
                    template: '<button id="' + viewModel.showPassword.ViewItemId + '" class="k-button locked"><i class="fa fa-key" aria-hidden="true"></i></button>'
                }, {
                    template: '<span class="badge badge-light" id="counter">'
                }, {
                    template: '<input id="inpPassword" type="password" readonly>'
                }, {
                    template: '<button id="unlockPassword" class="k-button"><i class="fa fa-lock" aria-hidden="true"></i></button>'
                }, {
                    template: '<button id="' + viewModel.copyPassword.ViewItemId + '" class="k-button"><i class="fa fa-clipboard" aria-hidden="true"></i></button>'
                }, {
                    template: '<button id="' + viewModel.changePassword.ViewItemId + '" class="k-button"><i class="fa fa-edit" aria-hidden="true"></i></button>'
                }
                
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });


        $.post(viewModel.ActionGetGridConfig)
            .done(function (response) {

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.dataSource);
                response.dataSource = dataSource;
                response.dataBound = function () {
                    $('.copyPassword').hide();
                    var cnt = $('#' + viewModel.grid.ViewItemId).data('kendoGrid').dataSource.total();

                    $('#' + viewModel.createPassword.ViewItemId).setEnabled(cnt === 0 && viewModel.oItem !== undefined && viewModel.oItem !== null);
                    
                };
                
                $.extend(response, {
                    change: viewModel.gridChangeHandler
                });

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).kendoGrid(response).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })

                viewModel.reloadGrid();


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var authenticationConfig = {
                        actionAuthenticationInit: viewModel.ActionAuthenticationInit
                    };

                    $('#' + viewModel.authenticationWindow.ViewItemId).createAuthentication(authenticationConfig, function (isAuthenticated) {
                        viewModel.isAuthenticated = isAuthenticated;
                        if (viewModel.isAuthenticated) {
                            viewModel.getUrlParameters();
                        }

                    });
                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>


<div id="@(Model.toolbar.ViewItemId)">
</div>

<div id="@(Model.gridParent.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>

<div id="@(Model.authenticationWindow.ViewItemId)"></div>

<div>
    <div id="@(Model.changePasswordWindow.ViewItemId)">
        <div id="@(Model.toolbarChangePassword.ViewItemId)"></div>
        
            <div class="form-group">
                <label for="@(Model.inputChangePassword1.ViewItemId)">New Password</label>
                <input type="password" class="form-control sec-password password1" id="@(Model.inputChangePassword1.ViewItemId)" oninput="viewModel.changedPassword(this)" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="@(Model.inputChangePassword2.ViewItemId)">Password (Repeat)</label>
                <input type="password" class="form-control sec-password password2" id="@(Model.inputChangePassword2.ViewItemId)" oninput="viewModel.changedPassword(this)" placeholder="Password">
            </div>
        

        <div style="width: 100%; height: 30px; ">
            <div style="float: left; margin: 4px;">
                <div id="@(Model.alertDifferentPasswords.ViewItemId)" class="alert alert-danger" role="alert">

                </div>
            </div>
            <div style="float: right; margin: 4px">
                <button class="k-button ok-button" id="@(Model.buttonOkChangePassword.ViewItemId)">OK</button>
                <button class="k-button" id="@(Model.buttonCancelChangePassword.ViewItemId)">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="@(Model.windowNewPassword.ViewItemId)">
        <div id="@(Model.toolbarNewPassword.ViewItemId)"></div>
        
            <div class="form-group">
                <label for="@(Model.inputPassword1.ViewItemId)">Password</label>
                <input type="password" class="form-control sec-password password1" id="@(Model.inputPassword1.ViewItemId)" oninput="viewModel.changedPassword(this)" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="@(Model.inputPassword1.ViewItemId)">Password (Repeat)</label>
                <input type="password" class="form-control sec-password password2" id="@(Model.inputPassword2.ViewItemId)" oninput="viewModel.changedPassword(this)" placeholder="Password">
            </div>
        

        <div style="width: 100%; height: 30px; ">
            <div style="float: right; margin: 4px">
                <button class="k-button ok-button" id="@(Model.buttonOk.ViewItemId)">OK</button>&nbsp;
                <button class="k-button" id="@(Model.buttonCancel.ViewItemId)">Cancel</button>
            </div>
        </div>
    </div>
</div>

