﻿@model OModules.Models.MailListViewModel
@{
    ViewBag.Title = "MailList";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.gridContainer.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 95vh; /* DO NOT USE !important for setting the Grid height! */
    }

    .alert {
        width: 100%;
    }
</style>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar" id="@(Model.toolbarAttachment.ViewItemId)">
        <button id="@(Model.downloadAttachments.ViewItemId)" class="k-button"><i class="fa fa-download" aria-hidden="true"></i></button>
    </div>
</script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        $.post(viewModel.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);
                viewModel.gridItem.dataSource.read();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.listen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
            $("#" + viewModel.datepStart.ViewItemId).data("viewItem", viewModel.datepStart);
            $("#" + viewModel.datepEnd.ViewItemId).data("viewItem", viewModel.datepEnd);
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $('#' + viewModel.downloadAttachments.ViewItemId).data("viewItem", viewModel.downloadAttachments);
        $('#' + viewModel.listen.ViewItemId).data("viewItem", viewModel.listen);

    }

    viewModel.relateMailItem = function (element) {
        viewModel.lastRelateRow = $(element).closest('tr');
        item = viewModel.gridItem.dataItem(viewModel.lastRelateRow);

        $.post(viewModel.ActionRelatedMailitem, { idInstance: viewModel.IdInstance, idMessage: item.MessageId })
            .done(function (response) {
                // stuff
                if (response.IsSuccessful) {
                    var item = viewModel.gridItem.dataItem(viewModel.lastRelateRow);
                    item.IsRelated = true;
                    item.IdEmailItem = response.Result.IdEmailItem;
                    item.NameEmailItem = response.Result.NameEmailItem;
                    item.IdClassEmailItem = response.Result.IdClassEmailItem;
                    viewModel.lastRelateRow.find('td:first').html('<i class="fa fa-check-square-o aria-hidden=" true=""></i>')
                    $(viewModel.lastRelateRow.find('button')[0]).prop('disabled','disabled');
                    $(viewModel.lastRelateRow.find('button')[1]).removeProp('disabled');
                    $(viewModel.lastRelateRow.find('button')[2]).removeProp('disabled');
                }

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    };

    viewModel.selectMailitem = function (element) {
        var row = $(element).closest('tr');
        var item = viewModel.gridItem.dataItem(row);

        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
            ChannelId: viewModel.ChannelSelectedObject,
            SenderId: viewModel.managerConfig.idEndpoint,
            UserId: viewModel.IdUser,
            SessionId: viewModel.managerConfig.idSession,
            OItems: [
                {
                    GUID: item.IdEmailItem,
                    Name: item.NameEmailItem,
                    GUID_Parent: item.IdClassEmailItem,
                    Type: "Object"
                }]
        });
    };

    viewModel.applyMailitem = function (element) {
        var row = $(element).closest('tr');
        var item = viewModel.gridItem.dataItem(row);

        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
            ChannelId: viewModel.ChannelAppliedObject,
            SenderId: viewModel.managerConfig.idEndpoint,
            UserId: viewModel.IdUser,
            SessionId: viewModel.managerConfig.idSession,
            OItems: [
                {
                    GUID: item.IdEmailItem,
                    Name: item.NameEmailItem,
                    GUID_Parent: item.IdClassEmailItem,
                    Type: "Object"
                }]
        });
    };

    function PrintElem(elem, title) {
        var mywindow = window.open('', 'PRINT', 'height=600,width=800');

        mywindow.document.write('<html><head><title>' + title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + title + '</h1>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.listen.ViewItemId) {
            button.toggleMode(true);
        }
    }

    function init() {
        var startDate = new Date();
        var endDate = new Date();
        startDate.setDate(startDate.getDate() - 90);
        endDate.setDate(endDate.getDate() + 1);
        viewModel.startDate = kendo.toString(kendo.parseDate(startDate), 'MM/dd/yyyy');
        viewModel.endDate = kendo.toString(kendo.parseDate(endDate), 'MM/dd/yyyy');

        viewModel.checkViewState = function () {
            $('#' + viewModel.downloadAttachments.ViewItemId).setEnabled(viewModel.itemsPreApply.length > 0, true);
        }

        viewModel.itemsPreApply = [];
        viewModel.addApplyItem = function (item) {
            viewModel.itemsPreApply.push(item);
            viewModel.checkViewState();
        };
        viewModel.removeApplyItem = function (item) {
            viewModel.itemsPreApply = jQuery.grep(viewModel.itemsPreApply, function (itemInArray) {
                return itemInArray.Id != item.Id
            });

            viewModel.checkViewState();
        }
        $('#' + viewModel.mailBody.ViewItemId).kendoWindow({
            width: '800px',
            height: '600px',
            title: 'Body',
            visible: false,
            modal: true,
            actions: [
                "print",
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        viewModel.bodyWindow = $('#' + viewModel.mailBody.ViewItemId).data("kendoWindow");


        $('#' + viewModel.attachmentListWindow.ViewItemId).kendoWindow({
            width: '800px',
            height: '600px',
            title: 'Attachments',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        viewModel.bodyWindow.wrapper.find(".k-i-print").parent().click(function (e) {
            PrintElem(viewModel.mailContent.ViewItemId, viewModel.bodyItem.Subject);
        });

        $('#' + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'
                },
                {
                    template: '<label id="' + viewModel.lblStart.ViewItemId + '">Start:</label>'
                },
                {
                    template: '<input id="' + viewModel.datepStart.ViewItemId + '" />'
                },
                {
                    template: '<label id="' + viewModel.lblEnd.ViewItemId + '">End:</label>'
                },
                {
                    template: '<input id="' + viewModel.datepEnd.ViewItemId + '" />'
                },
                {
                    template: '<label id="' + viewModel.lblSearchText.ViewItemId + '">Keyword:</label>'
                },
                {
                    template: '<input id="' + viewModel.inputSearchText.ViewItemId + '" class="searchText" />'
                }

            ],
            toggle: function (e) {
             

            }
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $('.k-button').kendoButton({
            click: function () {

            }
        });

        $(".searchText").change(function () {
            viewModel.searchText = $(".searchText").val();
            viewModel.gridItem.dataSource.read();
        });

        $('#' + viewModel.datepStart.ViewItemId).kendoDatePicker({
            format: 'dd.MM.yyyy',
            value: viewModel.startDate,
            change: function () {
                var value = this.value();
                value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                console.log('Start', value);
                viewModel.startDate = value;
                viewModel.gridItem.dataSource.read();

            }
        });

        $('#' + viewModel.datepEnd.ViewItemId).kendoDatePicker({
            format: 'dd.MM.yyyy',
            value: viewModel.endDate,
            change: function () {
                var value = this.value();
                value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                console.log('End', value);
                viewModel.endDate = value;
                viewModel.gridItem.dataSource.read();
            }
        });

        $.post(viewModel.ActionGetGridConfig)
            .done(function (response) {

                $.extend(response.Result.dataSource.transport.read, {
                    data: function () {
                        return {
                            idInstance: viewModel.IdInstance,
                            start: viewModel.startDate,
                            end: viewModel.endDate,
                            searchText: viewModel.searchText
                        };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.Result.dataSource);
                response.Result.dataSource = dataSource;
                response.Result.dataBound = function () {

                };

                $.extend(response.Result, {
                    change: function (e) {
                        var cell = viewModel.gridItem.select();
                        var cellIndex = viewModel.gridItem.cellIndex(cell);
                        var row = cell.closest('tr');
                        viewModel.bodyItem = viewModel.gridItem.dataItem(row);


                        

                        if (cellIndex == 0) {

                            if (viewModel.bodyItem.IdEmailItem == undefined || viewModel.bodyItem.IdEmailItem == null) return;

                           
                        } else if (cellIndex == 12) {
                            $.post(viewModel.ActionGetBody, { idInstance: viewModel.IdInstance, idMessage: viewModel.bodyItem.MessageId })
                                .done(function (response) {
                                    // stuff
                                    if (response.IsSuccessful) {
                                        $('#' + viewModel.mailContent.ViewItemId).html(response.Result);
                                        $('#' + viewModel.mailBody.ViewItemId).data("kendoWindow").open();
                                    }

                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    // stuff
                                });

                        } else if (cellIndex == 11 && viewModel.bodyItem.AttachmentCount > 0) {
                            viewModel.itemsPreApply = [];
                            viewModel.idMessage = viewModel.bodyItem.MessageId;
                            viewModel.gridItemAttachments.dataSource.read();
                            $('#' + viewModel.attachmentListWindow.ViewItemId).data("kendoWindow").open();

                        }
                    }
                });

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).kendoGrid(response.Result).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })

                viewModel.getUrlParameters();


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $.post(viewModel.ActionGetGridConfigAttachments)
            .done(function (response) {

                $.extend(response.Result.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance, messageId: viewModel.idMessage };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.Result.dataSource);
                response.Result.dataSource = dataSource;
                response.Result.dataBound = function () {

                    $('.chkbxApply').change(function () {

                        var row = $(this).closest('tr');
                        var item = viewModel.gridItemAttachments.dataItem(row);
                        var applied = $(this).prop("checked");
                        item.Apply = applied;
                        if (item.Apply) {
                            viewModel.addApplyItem(item);
                        } else {
                            viewModel.removeApplyItem(item);
                        }

                        console.log(item);
                    });

                    
                };

                $.extend(response.Result, {
                    change: function (e) {
                        
                    }, toolbar: kendo.template($("#template").html())
                    
                });

                viewModel.gridItemAttachments = $("#" + viewModel.gridAttachments.ViewItemId).kendoGrid(response.Result).data("kendoGrid");

                viewModel.gridItemAttachments.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })

                $('#' + viewModel.downloadAttachments.ViewItemId).kendoButton({
                        click: function () {
                            for (var ix in viewModel.itemsPreApply) {
                                var itemPreApply = viewModel.itemsPreApply[ix];

                                var url = viewModel.ActionDownloadAttachment + '?IdInstance=' + viewModel.IdInstance + '&idContent=' + itemPreApply.Id + '&fileName=' + itemPreApply.FileName;
                                window.open(url, "_blank");
                            }
                        }
                    });
                    $('#' + viewModel.downloadAttachments.ViewItemId).data("viewItem", viewModel.downloadAttachments);

                    $('#' + viewModel.downloadAttachments.ViewItemId).setEnabled(false, true);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div>
    <div id="@(Model.mailBody.ViewItemId)">
        <p id="print" style="color:#00f">&nbsp;</p>
        <div style="overflow: hidden;" id="@(Model.mailContent.ViewItemId)">

        </div>
    </div>
</div>

<div>
    <div id="@(Model.attachmentListWindow.ViewItemId)">
        <div style="overflow: hidden;" id="@(Model.attachmentListContent.ViewItemId)">
            <div id="@(Model.gridContainerAttachments.ViewItemId)">
                <div id="@(Model.gridAttachments.ViewItemId)">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="@(Model.toolbar.ViewItemId)"></div>

<div id="@(Model.gridContainer.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>


