﻿@model OModules.Models.ModuleStarterViewModel
@{
    ViewBag.Title = "ModuleStarter";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: calc(100vh - 45px) /* DO NOT USE !important for setting the Grid height! */
    }

    .@(Model.fullHeight)
     {
         height: calc(100vh - 10px)
     }
</style>

<script src="~/Scripts/ModuleMgmt/ModuleStarter.js"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {


            $('#' + viewModel.divModules.ViewItemId).data('modulestarter-config').validateReference(urlParameterConfig.objectParam);

        }
    }

    function init() {

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                    var configurationModuleStarter = {
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfig,
                        actionSetViewToClass: viewModel.ActionConfig.ActionSetViewToClass,
                        actionValidateReference: viewModel.ActionConfig.ActionValidateReference,
                        baseUrl: viewModel.baseUrl,
                        sender: urlParameterConfig.senderParam,
                        guiEntries: viewModel.GuiEntries,
                        idObject: urlParameterConfig.objectParam,
                        idInstance: viewModel.IdInstance,
                        viewModel: viewModel
                    };

                    $('#' + viewModel.divModules.ViewItemId).createModuleStarter(configurationModuleStarter);

                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);
            
            if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
                $('#' + viewModel.divModules.ViewItemId).data('modulestarter-config').validateReference(message.OItems[0].GUID);
            }
        }

        

        changeValuesFromServer(viewModel.ViewItems);
        
        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div style="height:100%">
    <div id="@(Model.divModules.ViewItemId)">

    </div>

</div>

