﻿@model OModules.Models.QuestionAnswerViewModel
@{
    ViewBag.Title = "QuestionAnswer";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .execution-log {
        height: 40px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        background-color: #393838;
        color: white;
        opacity: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .question-answer-container, .question-answer-area {
        height: 97%;
    }
</style>

<script src="~/Scripts/Learning/QuestionAnswer.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/ObjectEdit/EmbeddedNameEdit.js"></script>
<script src="~/Scripts/ObjectEdit/ItemComBar.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    var questionAnswerComponent;

    //viewModel.clickedButton = function (e) {
    //    var id = $(e.event.target).closest(".k-button").attr("id");
    //    var button = $(e.event.target).closest(".k-button");
    //    if (id === viewModel.isListen.ViewItemId) {
    //        button.toggleMode(true);
    //    }
    //    else {
    //        questionAnswerComponent.handler.clickedButton(button);
    //    }
    //}

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            $('.execution-log').html(message.GenericParameterItems[0].Message);
        }

        var listen = viewModel.itemComToolbar.data.isListen(viewModel.itemComToolbar);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
        var category = getUrlParameter("category")
        if (typeof category !== 'undefined') {
            questionAnswerComponent.handler.setCategory(category);
        }
    }

     viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
         $('.execution-log').show();
         questionAnswerComponent.handler.validateReference(oItem);
         viewModel.itemComToolbar.handler.validateReference(viewModel.itemComToolbar, oItem.GUID);
    }

    function init() {
        viewModel.setDataItems = function () {
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
            $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        }

        //$("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
        //    items: [
        //        {
        //            template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

        //        }
        //    ]
        //});

        viewModel.connectCallback = function () {
            $("#" + viewModel.toolbar.ViewItemId).createItemComToolBar({
                selectorPath: ["#" + viewModel.toolbar.ViewItemId],
                managerConfig: viewModel.managerConfig,
                setWindowTitle: true,
                actions: {
                    init: viewModel.ActionItemComBarInit
                },
                events: {
                    completed: function (component) {
                        viewModel.itemComToolbar = component;
                        var selectorPath = [];
                        for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                            var selector = component.configuration.selectorPath[i];
                            selectorPath.push(selector);
                        }

                        $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                            .done(function (response) {
                                console.log("connected", response);
                                changeValuesFromServer(response);
                                $('.question-answer-container').createQestionAnswerComponent({
                                    viewModel: viewModel,
                                    toolbar: $("#" + viewModel.toolbar.ViewItemId),
                                    events: {
                                        createCompleted: function (questionAnswerContainer) {
                                            questionAnswerComponent = questionAnswerContainer;
                                            viewModel.getUrlParameters();
                                            $('.k-button').kendoButton({
                                                click: viewModel.clickedButton
                                            });
                                        },
                                        questionLoaded: function () {
                                            viewModel.questionLoaded = true;
                                            $('.execution-log').hide();

                                        },
                                        errorOccurred: function (message) {
                                            if (viewModel.hideTimeout == null) {
                                                clearTimeout(viewModel.hideTimeout);
                                                $('.execution-log').show();
                                            }
                                            $('.execution-log').html('<span style="background-color: red; color:white">' + message + '</span>')
                                            viewModel.hideTimeout = setTimeout(function () {
                                                $('.execution-log').html('')
                                                $('.execution-log').hide();
                                            }, 5000)
                                        },
                                        log: function (message) {
                                            $('.execution-log').html('<span>' + message + '</span>')
                                            if (viewModel.hideTimeout == null) {
                                                clearTimeout(viewModel.hideTimeout);
                                                $('.execution-log').show();

                                            }
                                            viewModel.hideTimeout = setTimeout(function () {
                                                $('.execution-log').html('')
                                                $('.execution-log').hide();
                                            }, 5000)
                                        }
                                    }
                                });


                            })
                            .fail(function (jqxhr, textStatus, error) {
                                // stuff
                            });
                    },
                    validatedReference: function (refItem) {
                        
                    }
                }
            });
            
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="question-answer-area">
    <div id="toolbar"></div>
    <div class="question-answer-container">

    </div>
    <div id="bottom-pane">
        <div class="execution-log">

        </div>
    </div>
</div>