﻿@model OModules.Models.FileUploadViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding-left: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        height: 30px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background-color: #555;
    }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    /* Style the collapsible content. Note: hidden by default */
    .result-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    div.k-dropzone {
        border: 1px solid #c5c5c5; /* For Default; Different for each theme */
    }

        div.k-dropzone em {
            visibility: visible;
        }
</style>
<script>
    

    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();


        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateIdReference(urlParameterConfig.objectParam);
        }
        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam
        }
    }

    viewModel.validateIdReference = function(idReference) {
        $.post(viewModel.ActionValidateReference, { idObject: idReference, idInstance: viewModel.IdInstance })
            .done(function (response) {
                if (response.IsOk) {
                    $('#' + viewModel.panelHeader.ViewItemId).html(response.ReferenceName);
                    viewModel.refItem = response.RefItem;
                    $('#' + viewModel.fileItem.ViewItemId).setEnabled(true);
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

    }

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.fileItem.ViewItemId).data("viewItem", viewModel.fileItem);

    }

    function init() {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        var websocketHelper;

        viewModel.fileItems = [];

        $("#" + viewModel.fileItem.ViewItemId).kendoUpload({
            select: function (e) {
                console.log(e);

            },
            remove: function (e) {


            },
            complete: function (e) {
                console.log(viewModel.fileItems);
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelUploadedFiles,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView,
                    OItems: viewModel.fileItems
                });
                for (var ix in viewModel.fileItems) {
                    var fileItem = viewModel.fileItems[ix];
                    var result = $('<p>' + fileItem.Name + ' (' + fileItem.GUID + ')</p>');
                    $('.result-content').append(result);
                }

            },
            async: {
                saveUrl: viewModel.ActionUpload,
                autoUpload: true
            },
            upload: function (e) {
                e.data = { idInstance: viewModel.IdInstance };
            },
            success: function (e) {
                console.log(e);
                viewModel.setOrderId = e.response.Result.length;
                for (var i in e.response.Result) {
                    viewModel.fileItems.push(e.response.Result[i]);
                }

            },
            error: function (e) {

            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        

        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="panel panel-default">
    <div id="@(Model.panelHeader.ViewItemId)" class="panel-heading"></div>
    <div class="panel-body">
        <div id="@(Model.uploadContainer.ViewItemId)">
            <form method="post" action="@(Model.ActionUpload)">
                <div class="demo-section k-content">
                    <input name="@(Model.fileItem.ViewItemId)" id="@(Model.fileItem.ViewItemId)" type="file" aria-label="files" />
                </div>
                <input type="hidden" name="idInstance" value="@(Model.IdInstance)" />
            </form>

        </div>
        <div class="upload-result">
            <button class="collapsible">Upload Results</button>
            <div class="result-content">

            </div>
        </div>
    </div>
</div>


