﻿@model OModules.Models.LogEditorViewModel
@{
    ViewBag.Title = "LogEditor";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .alert {
        width: 100%;
    }

    #@(Model.navigationBarContainer.ViewItemId) {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #@(Model.navigationBarContainer.ViewItemId) > iframe {
        border: 0px;
        max-height:35px;
        width:100%
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.listen.ViewItemId) {
            button.toggleMode(true);
        } 
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                

                if (response.IsSuccessful) {
                    var dataItem = getViewItemsValue(response.ViewItems, viewModel.dataItem.ViewItemId, "Other");
                    console.log(dataItem);

                    var data = JSON.stringify(dataItem);
                    $.post(viewModel.ActionSaveSessionData, { data: data, idInstance: viewModel.IdInstance, extension: "json" })
                        .done(function (response) {
                            console.log("connected", response);
                            if (response.IsSuccessful) {
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelNavigationItems,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    SessionId: viewModel.managerConfig.idSession,
                                    ReceiverId: viewModel.idSender,
                                    UserId: viewModel.IdUser,
                                    ViewId: viewModel.View.IdView,
                                    GenericParameterItems: [viewModel.IdInstance]
                                });
                            }
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });
                }
                changeValuesFromServer(response.ViewItems);

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });

            
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.listen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        } else if (message.ChannelId = viewModel.ChannelSelectedNavigationItem) {
            

            $.post(viewModel.ActionSetLogItem, { currentNavItem: message.GenericParameterItems[0], idInstance: viewModel.IdInstance})
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        changeValuesFromServer(response.ViewItems);
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.listen.ViewItemId).data("viewItem", viewModel.listen);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.logEditor.ViewItemId).data("viewItem", viewModel.logEditor);
        $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
        $("#" + viewModel.inpName.ViewItemId).data("viewItem", viewModel.inpName);
        $("#" + viewModel.lblTimestamp.ViewItemId).data("viewItem", viewModel.lblTimestamp);
        $("#" + viewModel.timestamp.ViewItemId).data("viewItem", viewModel.timestamp);
        $("#" + viewModel.lblMessage.ViewItemId).data("viewItem", viewModel.lblMessage);
        $("#" + viewModel.inpMessage.ViewItemId).data("viewItem", viewModel.inpMessage);
        $("#" + viewModel.lblLogstate.ViewItemId).data("viewItem", viewModel.lblLogstate);
        $("#" + viewModel.inpLogstate.ViewItemId).data("viewItem", viewModel.inpLogstate);
        $("#" + viewModel.lblUser.ViewItemId).data("viewItem", viewModel.lblUser);
        $("#" + viewModel.inpUser.ViewItemId).data("viewItem", viewModel.inpUser);

    }

    function init() {
        //$('#' + viewModel.navigationBarContainer.ViewItemId).load(viewModel.ActionNavigationBar, function () {
        //    initNavigationBar();
        //});
        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                },
                {
                    template: '<label id="' + viewModel.lblReference.ViewItemId + '"></label><label id="' + viewModel.referenceName.ViewItemId + '" class="toolbar-ref">-</label>'
                }
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $("#" + viewModel.timestamp.ViewItemId).kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });

        $('input').change(function () {
            var viewItem = $(this).data("viewItem");

            if (viewItem == undefined) return;

            var value = $(this).getContent();

            changeValue(viewItem, "Content", value, true, function () {
                
            });
        })

        $('textarea').change(function () {
            var viewItem = $(this).data("viewItem");

            if (viewItem == undefined) return;

            var value = $(this).getContent();

            changeValue(viewItem, "Content", value, true, function () {

            });
        })

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }


        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelSelectedNavigationItem);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.toolbar.ViewItemId)"></div>
<div id="@(Model.logEditor.ViewItemId)" class="k-content">
    <ul class="fieldlist">
        <li>
            <label for="@(Model.inpName.ViewItemId)" class="col-form-label" id="@(Model.lblName.ViewItemId)"></label>
            <input id="@(Model.inpName.ViewItemId)" class="form-control" type="text" placeholder="Name" />
        </li>
        <li>
            <label for="@(Model.timestamp.ViewItemId)" class="col-form-label" id="@(Model.lblTimestamp.ViewItemId)"></label>
            <input id="@(Model.timestamp.ViewItemId)" class="form-control" />
        </li>
        <li>
            <label for="@(Model.inpLogstate.ViewItemId)" class="col-form-label" id="@(Model.lblLogstate.ViewItemId)"></label>
            <div class="k-button-group" style="width: 100%;">
                <input id="@(Model.inpLogstate.ViewItemId)" class="form-control" />
                <button id="@(Model.changeLogstate)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
            </div>

            
        </li>
        <li>
            <label for="@(Model.inpMessage.ViewItemId)" class="col-form-label" id="@(Model.lblMessage.ViewItemId)"></label>
            <textarea id="@(Model.inpMessage.ViewItemId)" class="form-control" rows="10"></textarea>
        </li>
    </ul>
    <div id="@(Model.navigationBarContainer.ViewItemId)">
        <iframe src="@(Model.ActionNavigationBar)"></iframe>
    </div>
</div>



