﻿@model OModules.Models.LogFunctionsViewModel
@{
    ViewBag.Title = "LogFunctions";
}
<style>
    html,
    body {
        height: 100%
    }
    .logStates {
        float: left;
        width: 220px;
        height: 50px;
        margin: 0;
        padding: 5px;
        cursor: pointer;
    }


        .logStates h3 {
            margin: 0;
            padding: 10px 0 0 10px;
            font-size: .9em;
            overflow: hidden;
            font-weight: normal;
            float: left;
            max-width: 100px;
        }

    .k-pager-wrap {
        border-top: 0;
    }

    .demo-section .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
<script src="~/Scripts/Log/LogList.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.listen.ViewItemId) {
            button.toggleMode(true);
        } else if (id == 'now') {
            $('#' + viewModel.datepTimeStamp.ViewItemId).data("kendoDateTimePicker").value(kendo.toString(new Date(), 'dd.MM.yyyy HH:mm:ss'));
            value = moment($('#' + viewModel.datepTimeStamp.ViewItemId).data("kendoDateTimePicker").value()).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
            if (value == null) {
                this.value(this.min());
            }
            else {
                viewModel.dateTimeStamp = value;
            }
        }
    }

    viewModel.validateReference = function (oItem) {
        $('body').openPageLoader();
        viewModel.oItem = oItem;
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });

        viewModel.logList.handler.validateReference(oItem.GUID);
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.listen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0])
        } 
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }

    function init() {
        
        viewModel.dateTimeStamp = new Date();

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                },
                {
                    template: '<i class="fa fa-search" aria-hidden="true"></i><input class="k-input" id="' + viewModel.filter.ViewItemId + '" style="margin-left:5px"/>'
                },
                { type: "separator" },
                {
                    template: '<input id="' + viewModel.datepTimeStamp.ViewItemId + '" />'
                },
                {
                    template: '<button  class="k-button" id="now">now</button>'
                },
                {
                    template: '<label id="' + viewModel.lblDescription.ViewItemId + '"></label><input class="k-input" id="' + viewModel.message.ViewItemId + '" />'
                },
                { type: "separator" },
                {
                    template: '<label id="' + viewModel.lblReference.ViewItemId + '"></label>'
                },
                {
                    template: '<label id="' + viewModel.lblReference.ViewItemId + '"></label><label id="' + viewModel.referenceName.ViewItemId + '" class="toolbar-ref">-</label>'
                }
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $('#' + viewModel.datepTimeStamp.ViewItemId).kendoDateTimePicker({
            culture: "de-DE",
            format: "dd.MM.yyyy HH:mm:ss",
            value: viewModel.dateTimeStamp
        });

        viewModel.kendoDateTimePicker = $('#' + viewModel.datepTimeStamp.ViewItemId).data("kendoDateTimePicker");

        viewModel.kendoDateTimePicker.bind("change", function () {
            var value = this.value();
            value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
            if (value == null) {
                this.value(this.min());
            }
            else {
                viewModel.dateTimeStamp = value;
            }
        });

        $('input').on('input', function () {
            if ($(this).attr('id') == viewModel.datepTimeStamp.ViewItemId) return;

            var value = $(this).val();
            if ($(this).attr('id') == viewModel.filter.ViewItemId) {
                $("#" + viewModel.listView.ViewItemId).data("kendoListView").dataSource.filter({ field: 'NameLogState', operator: "contains", value: value });
            } else if ($(this).attr('id') == viewModel.message.ViewItemId) {
                viewModel.description = value;
            }
            
        })

        $('body').openPageLoader();
        $.post(viewModel.ActionGetDataSourceLogStates, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                var dataSource = new kendo.data.DataSource(response);

                $("#" + viewModel.pager.ViewItemId).kendoPager({
                    dataSource: dataSource
                });

                $("#" + viewModel.listView.ViewItemId).kendoListView({
                    dataSource: dataSource,
                    selectable: "multiple",
                    change: function () {
                        var data = dataSource.view(),
                            selected = $.map(this.select(), function (item) {
                                var selected = data[$(item).index()];
                                viewModel.idLogStateSelected = selected.IdLogState;
                                return selected.NameLogstate;
                            });

                        if (viewModel.idLogStateSelected == undefined && viewModel.idLogStateSelected == null) return;

                        var dateTimeStampToSend = kendo.toString(viewModel.dateTimeStamp, "dd.MM.yyyy HH:mm:ss");
                        $('body').openPageLoader();
                        $.post(viewModel.ActionLogReference, { idLogState: viewModel.idLogStateSelected, dateTimeStamp: dateTimeStampToSend, description: viewModel.description, idInstance: viewModel.IdInstance })
                            .done(function (response) {
                                console.log("connected", response);
                               
                                viewModel.logList.handler.reloadGrid();
                                //$("#" + viewModel.listView.ViewItemId).data("kendoListView").dataSource.read();
                                $('body').closePageLoader();
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                // stuff
                                $('body').closePageLoader();
                            });
                    },
                    template: kendo.template($("#template").html()),
                    filterable: {
                        field: "NameLogState" //filtering for "text" field
                    }
                });

                //$("#" + viewModel.listView.ViewItemId).data("kendoListView").dataSource.read();
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });

        //$("#" + viewModel.buttonGroup.ViewItemId).kendoButtonGroup({
        //    select: function (e) {
        //        if (e.indices == 0) {
        //            $('body').openPageLoader();
        //            $.post(viewModel.ActionReferenceLogSuccess, { idInstance: viewModel.IdInstance })
        //                .done(function (response) {
        //                    console.log("connected", response);
        //                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
        //                        ChannelId: viewModel.ChannelExecutedFunction,
        //                        SenderId: viewModel.managerConfig.idEndpoint,
        //                        SessionId: viewModel.managerConfig.idSession,
        //                        ReceiverId: viewModel.idSender,
        //                        UserId: viewModel.IdUser,
        //                        ViewId: viewModel.View.IdView
        //                    });
        //                    $('body').closePageLoader();
        //                })
        //                .fail(function (jqxhr, textStatus, error) {
        //                    // stuff
        //                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
        //                        ChannelId: viewModel.ChannelExecutedFunction,
        //                        SenderId: viewModel.managerConfig.idEndpoint,
        //                        SessionId: viewModel.managerConfig.idSession,
        //                        ReceiverId: viewModel.idSender,
        //                        UserId: viewModel.IdUser,
        //                        ViewId: viewModel.View.IdView
        //                    });
        //                    $('body').closePageLoader();
        //                });
        //        } else { e.indices == 1 } {
        //            $('body').openPageLoader();
        //            $.post(viewModel.ActionReferenceLogError, { idInstance: viewModel.IdInstance })
        //                .done(function (response) {
        //                    console.log("connected", response);

        //                    $('body').closePageLoader();
        //                })
        //                .fail(function (jqxhr, textStatus, error) {
        //                    // stuff
        //                    $('body').closePageLoader();
        //                });
        //        }
        //    },
        //    index: 0
        //});

        viewModel.setDataItems = function () {
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
            $("#" + viewModel.listen.ViewItemId).data("viewItem", viewModel.listen);
            $("#" + viewModel.lblReference.ViewItemId).data("viewItem", viewModel.lblReference);
            $("#" + viewModel.referenceName.ViewItemId).data("viewItem", viewModel.referenceName);
            $("#" + viewModel.listView.ViewItemId).data("viewItem", viewModel.listView);
            $("#" + viewModel.pager.ViewItemId).data("viewItem", viewModel.pager);

            $("#" + viewModel.datepTimeStamp.ViewItemId).data("viewItem", viewModel.datepTimeStamp);
            $("#" + viewModel.filter.ViewItemId).data("viewItem", viewModel.filter);
            $("#" + viewModel.lblDescription.ViewItemId).data("viewItem", viewModel.lblDescription);
            $("#" + viewModel.message.ViewItemId).data("viewItem", viewModel.message);

        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var logListConfiguration = {
                        selector: "#logList",
                        actionLogListInit: viewModel.ActionLogListInit
                    };
                    $('#logList').createLogList(logListConfiguration, function (logList) {
                        viewModel.logList = logList;
                        viewModel.getUrlParameters();
                    });
                    
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
                
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="example" style="height:100%">
    <div id="@(Model.toolbar.ViewItemId)"></div>
    <div class="demo-section k-content">
        <div id="@(Model.listView.ViewItemId)"></div>
        <div id="@(Model.pager.ViewItemId)" class="k-pager-wrap"></div>
    </div>
    <div id="logList"></div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="logStates">
        <h3>#:NameLogState#</h3>
    </div>
</script>
