﻿.borderd {
    border-radius: 5px 5px 5px;
    border: 1px solid sandybrown;
}

.input-group {
    width: 100%;
}

input {
    min-width: 100%;
    max-width: 100%;
}

.modal-body {
    min-height: 800px;
    max-height: 800px;
}

.classField {
    margin-left: 3px;
    margin-right: 20px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.row-full {
    height: 800px;
}

.inpRelation {
    min-width: 300px;
}

iframe {
    height: 100%;
    width: 100%;
}

.restHeight {
    height: 100%;
    width: 100%;
}

.itemCombo {
    width: 230px !important;
}

.numericUpDown {
    width: 80px !important;
}

textarea {
    resize: vertical;
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.refLink:hover {
    color: darkblue
}

.refLink i:hover {
    color: darkblue
}

.refLink i before:hover {
    color: darkblue
}

.refLink {
    color: white;
}

.ref-panel {
    margin-left: 20px;
    text-align: center;
}

.ref-panel li {
    margin-right: 10px;
    margin-bottom: 10px;
    list-style: none;
    float: left;
}

.search-povider-result-grid,
.search-povider-result-grid-container {
    height: 100%;
}
