﻿.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.ItemIdentification {
    width: 100%;
    height: 25px;
    background-color:lightcyan
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.vertialBar {
    width:32px;
    height:98%;
    background-color:lightgray;
}

.horizontalBar {
    height:32px;
    width:100%;
    background-color:lightgray;
}

.fitfull {
    height:100%;
    width:100%;
}
.fit98 {
    height:100%;
    width:100%;
}

.invisible {
    visibility:hidden
}

.fitWith {
    width:100%
}

@keyframes blink-animation {
  to {
    visibility: hidden;
    color: yellow
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 2em;
}

.fieldlist label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

.editControl {
    width: 250px
}


    #slide-in-share {
        position: absolute;
        top: 30px;
        left: 0;
        width: 300px;
        margin-left: -300px;
        border: solid #e9e9e9;
        border-width: 1px 1px 1px 0;
    }

    #slide-in-handle {
        position: absolute;
        left: 300px;
        width: 31px;
        height: 31px;
        background: #1b7458 no-repeat 50% 50%;
        color: #fff;
        text-indent: -999em;
    }

    #slide-in-share ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 31px;
        background: #fff;
        text-align: center;
    }

    #slide-in-share li {
        display: inline-block;
        margin: 0 2px;
    }

    .share-button {
        background: #fff url(../content/web/fx/social-buttons.png) no-repeat 50% 50%;
        border: 4px solid #a6a6a6;
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-top: 17px;

        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;
        text-indent: -999em;
        color: #a6a6a6;
    }

    .share-button:hover {
        border-color: #333;
    }

    .share-facebook { background-position: 50% -2px; }
    .share-twitter { background-position: 50% -40px; }
    .share-tumblr { background-position: 50% -78px; }

    .share-facebook:hover { border-color: #3b5998; }
    .share-twitter:hover { border-color: #00c0f7; }
    .share-tumblr:hover { border-color: #2b4865; }

    .toggledButton {
        background-color:red
    }

.verySmallItem {
    font-size: 6px;
}

.input-disabled {
    background-color: #EBEBE4 !important;
    border: 1px solid #ABADB3 !important;
    padding: 2px 1px !important;
}

.o-toolbar {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:4px;
    background-color: #e0e4e5
}

.onto-status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    visibility: hidden;
    color: black;
    z-index: 99999;
}

.onto-status-normal {
    visibility: visible;
    background-color: lightcyan;
    color: black;
}

.onto-status-error {
    visibility: visible;
    background-color: lightcoral;
    color: black;
}

.onto-status-warning {
    visibility: visible;
    background-color: lightyellow;
    color: black;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 98%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

k-grid tbody tr td {
    vertical-align: top
}