﻿@model OModules.Models.AddObjectsViewModel
@{
    ViewBag.Title = "SaveObjects";
}
<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            var outputMessage = message.GenericParameterItems[0];
            if (outputMessage.MessageType == 3) {
                $('.onto-status-bar').data('messageout-config').showError(message.GenericParameterItems[0].Message, 5000);
            } else {
                $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0].Message, 5000);
            }
                
        }

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedClass) {
            viewModel.validateReference(message.OItems[0].GUID)

        }

    }

     viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.classParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.classParam)
        }
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef,
            Type: 'Class'
        };
         viewModel.addObjects.handler.validateReference(oItem);
    }

    function init() {
        viewModel.setDataItems = function () {
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
            $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        }

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                }
            ]
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    $('.add-objects').createAddSingleObject({
                        viewModel: viewModel,
                        events: {
                            createCompleted: function(addObjectsContainer) {
                                viewModel.addObjects = addObjectsContainer;
                                viewModel.getUrlParameters();
                            }
                        }
                    });

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedClass);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div class="add-objects-container">
    <div id="toolbar"></div>

    <div class="add-objects">

    </div>
</div>
