﻿@model OModules.Models.EditAttributeViewModel
@{

}

<style>
    td {
        vertical-align: top;
    }
   
    label {
        margin-right: 5px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .execution-log {
        height: 40px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        background-color: #393838;
        color: white;
        opacity: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
<script src="~/Scripts/EditOItem/EditAttribute.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function init() {



        //viewModel.checkViewState = function () {

        //};

        //$('.k-button').kendoButton({
        //    click: function (e) {
        //        var id = $(this.element).attr('id');
        //        if (id === viewModel.listen.ViewItemId) {
        //            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        //        } else if (id === viewModel.btnClear.ViewItemId) {
        //            var content = $('#' + viewModel.strValue.ViewItemId).getContent();
        //            $('#' + viewModel.strValue.ViewItemId).val(content);
        //            viewModel.configButtonsHandler();
        //        } else if (id === viewModel.btnOk.ViewItemId) {
        //            var content = b64EncodeUnicode($('#' + viewModel.strValue.ViewItemId).val());

        //            $.post(viewModel.ActionConfig.ActionSaveAttribute, { contentB64: content, idInstance: viewModel.IdInstance })
        //                .done(function (response) {
        //                    if (response.IsSuccessful) {
        //                        $('#' + viewModel.strValue.ViewItemId).setContent($('#' + viewModel.strValue.ViewItemId).val());
        //                    } else {
        //                        $('#' + viewModel.strValue.ViewItemId).val($('#' + viewModel.strValue.ViewItemId).getContent());
        //                    }

        //                    viewModel.configButtonsHandler();

        //                })
        //                .fail(function (jqxhr, textStatus, error) {
        //                    // stuff
        //                });
        //        }
        //    }
        //});

        //viewModel.setDataItems = function () {
        //    $("#" + viewModel.attributeArea.ViewItemId).data("viewItem", viewModel.attributeArea);
        //    $("#" + viewModel.strValue.ViewItemId).data("viewItem", viewModel.strValue);
        //    $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
        //    $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        //    $("#" + viewModel.btnOk.ViewItemId).data("viewItem", viewModel.btnOk);
        //    $("#" + viewModel.btnClear.ViewItemId).data("viewItem", viewModel.btnClear);
        //    $("#" + viewModel.listen.ViewItemId).data("viewItem", viewModel.listen);

        //}

        //$('#' + viewModel.strValue.ViewItemId).on("input", function () {
        //    if (viewModel.timeoutChange != null) {
        //        clearTimeout(viewModel.timeoutChange);
        //    }

        //    viewModel.timeoutChange = setTimeout(viewModel.configButtonsHandler, 300);

        //});


        //viewModel.configButtonsHandler = function () {
        //    var content = $('#' + viewModel.strValue.ViewItemId).val();
        //    var contentObject = getViewItemValue(viewModel.strValue, "Content");
        //    if (contentObject == undefined || contentObject == null) {
        //        contentObject = "";
        //    }
        //    var enableSave = !(contentObject == content);
        //    $('#' + viewModel.btnOk.ViewItemId).setEnabled(enableSave);
        //    $('#' + viewModel.btnClear.ViewItemId).setEnabled(enableSave);
        //}

        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();


            if (urlParameterConfig.attributeParam != undefined) {
                viewModel.validateReference(urlParameterConfig.attributeParam, null, null);
            }
            else if (urlParameterConfig.objectParam != undefined && urlParameterConfig.attributeTypeParam != undefined) {
                viewModel.validateReference(null, urlParameterConfig.objectParam, urlParameterConfig.attributeTypeParam);
            }

        }

        viewModel.validateReference = function (idAttribute, idReference, idAttributeType) {
            viewModel.editAttributeComponent.handler.validateReference(viewModel.editAttributeComponent, idAttribute, idReference, idAttributeType);
        }

        // Websocket-Stuff

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.

            if (!urlParameterConfig.checkSender(message.SenderId)) return false;
            var listen = $('#' + viewModel.listen.ViewItemId).getCheckedMode();

            if (!listen) return;

            if (message.ChannelId == viewModel.ChannelConfig.ChannelParameterList) {
                var genericParameters = message.GenericParameterItems;
                if (genericParameters != undefined && genericParameters.length > 0) {
                    var genericParameter = genericParameters[0];

                    viewModel.validateReference(genericParameter.idAttribute, null, null);
                }
            } else if (message.ChannelId == viewModel.ChannelConfig.ChannelAddAttribute) {
                var genericParameters = message.GenericParameterItems;
                if (genericParameters != undefined && genericParameters.length > 0) {
                    var genericParameter = genericParameters[0];

                    viewModel.validateReference(null, genericParameter.idObject, genericParameter.idAttributeType);
                }
            }
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    var configuration = {
                        setDocumentTitle: true,
                        dataTypeId: '64530b52d96c4df186fe183f44513450',
                        selectorPath: ['#@(Model.attributeArea.ViewItemId)'],
                        actionInit: viewModel.ActionEditAttributeInit,
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createdComponent: function (editAttributeComponent) {
                                viewModel.editAttributeComponent = editAttributeComponent;
                                viewModel.getUrlParameters();
                            }
                        }
                    }

                    $('#@(Model.attributeArea.ViewItemId)').createEditAttribute(configuration);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        }

        //viewModel.setDataItems();

        //for (var ix in viewModel.ViewItems) {
        //    var viewItem = viewModel.ViewItems[ix];

        //    for (var jx in viewItem.ViewItemValues) {
        //        var viewItemValue = viewItem.ViewItemValues[jx];

        //        if (viewItemValue.ViewItemType == "Enable") {
        //            $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "Visible") {
        //            $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "Checked") {
        //            $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
        //        }
        //        else if (viewItem.ViewItemId == "windowTitle" && viewItemValue.ViewItemType == "Content") {
        //            var title = viewItemValue.Value;
        //            document.title = title;
        //        }
        //        else if (viewItemValue.ViewItemType == "Content") {
        //            $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
        //        }

        //    }
        //}


        //viewModel.getUrlParameters();

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelParameterList);


        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.attributeArea.ViewItemId)">

@*<table>
    <tr>
        <td>
            <label for="@(Model.strValue.ViewItemId)" id="@(Model.lblName.ViewItemId)"></label>
        </td>
        <td>
            <textarea id="@(Model.strValue.ViewItemId)"></textarea>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id="@(Model.listen.ViewItemId)" type="button" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                <button id="@(Model.btnOk.ViewItemId)" type="button" class="k-button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button id="@(Model.btnClear.ViewItemId)" type="button" class="k-button"><i class="fa fa-ban" aria-hidden="true"></i></button>
            </div>
        </td>
    </tr>
</table>*@
</div>
<div id="bottom-pane">
    <div class="execution-log">

    </div>
</div>
    
    
    


