﻿@model OModules.Models.EditOitemViewModel
@{
    ViewBag.Title = "EditOItem";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #gridParent,
    #@(Model.gridOitems.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: calc(100vh - 50px); /* DO NOT USE !important for setting the Grid height! */
    }
    .saveNotAllowed {
        background-color: yellow
    }
    .saved {
        background-color: green
    }
</style>

<script>
    var viewModel;

    function init() {
        var websocketHelper;

        viewModel = @(Html.Raw(Model.GetJsonItem()));

        viewModel.setIdObject = function (idObject) {
            viewModel._idObject = idObject;
            viewModel.checkViewState();

        };

        viewModel.selectItemType = function (e) {
            var dataItem = null;
            if (e.dataItem != undefined) {
                dataItem = e.dataItem;
            }
            else if (e.item) {
                dataItem = this.dataItem(e.item);
            }
            changeValue(viewModel.selectedItemType, "Content", dataItem.Value, true);
        }

        viewModel.clickedButton = function (e) {
            var id = $(e.event.target).closest(".k-button").attr("id");
            if (id == viewModel.listenItem.ViewItemId) {
                $('#' + viewModel.listenItem.ViewItemId).toggleMode(true);
            } else if (id == viewModel.newItem.ViewItemId) {
                
                $.post(viewModel.ActionConfig.ActionAddDataRows, { selectedType: viewModel.selectedItemType.LastValue.Value, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        if (response.isOk) {
                            viewModel.grid.dataSource.add(response.ItemToAdd);
                            $('#' + viewModel.saveItem.ViewItemId).setEnabled(true);
                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (id == viewModel.saveItem.ViewItemId) {
                $.post(viewModel.ActionConfig.ActionSave, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        if (response.isOk) {
                            var oItems = [];
                            for (var ix in response.SaveData) {
                                var item = response.SaveData[ix];
                                var dataItem = viewModel.grid.dataSource.get(item.Guid);

                                dataItem.EditItemState = item.EditItemState;
                                dataItem.Comment = item.Comment;

                                var oItem = {
                                    GUID: item.Guid,
                                    Name: item.Name,
                                    GUID_Parent: item.GuidParent,
                                    Type: item.ItemType
                                }

                                oItems.push(oItem);
                            }

                            if (oItems.length > 0) {
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelConfig.ChannelAddedObjects,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    SessionId: viewModel.managerConfig.idSession,
                                    ReceiverId: viewModel.idSender,
                                    UserId: viewModel.IdUser,
                                    ViewId: viewModel.View.IdView,
                                    OItems: oItems
                                });
                            }

                            var dataItems = viewModel.grid.dataSource.data();

                            var applyEnabled = true;
                            var itemsToApplyNotAllowd = $.grep(dataItems, function (e) { return e.Apply && e.EditItemState != 2; });

                            if (itemsToApplyNotAllowd.length > 0) {
                                applyEnabled = false;
                            }

                            $('#' + viewModel.applyItem.ViewItemId).setEnabled(applyEnabled, true);
                        }

                        
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (id == viewModel.applyItem.ViewItemId) {
                var dataItems = viewModel.grid.dataSource.data();

                var itemsToApply = $.grep(dataItems, function (e) { return e.Apply; });

                var oItems = [];
                for (var ix in itemsToApply) {
                    var item = itemsToApply[ix];

                    var oItem = {
                        GUID: item.Guid,
                        Name: item.Name,
                        GUID_Parent: item.GuidParent,
                        Type: item.ItemType
                    }

                    oItems.push(oItem);
                }

                if (oItems.length > 0) {
                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelConfig.ChannelAppliedObjects,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        UserId: viewModel.IdUser,
                        ViewId: viewModel.View.IdView,
                        OItems: oItems
                    });
                }
            }
        }

        viewModel.checkedItemChange = function () {
                 var row = $(this).closest('tr');
                var item = viewModel.grid.dataItem(row);
                var applied = $(this).prop("checked");
                item.Apply = applied;
                if (item.Apply) {
                    viewModel.addApplyItem(item);
                } else {
                    viewModel.removeApplyItem(item);
                }

                console.log(item);
        }

        viewModel.dataBoundHandler = function () {
            $('.chkbxApply').change(viewModel.checkedItemChange);

        };

        viewModel.gridChangeHandler = function (e) {
            var currentDataItem = viewModel.grid.dataItem(this.select());
            if (currentDataItem != undefined) {
                console.log(currentDataItem);
                var items = [
                    {
                        GUID: currentDataItem.IdInstance
                    }];
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelSelectedItem,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: items
                });
            }
        };

        viewModel.beforeEditHandler = function (e) {
            $('#' + viewModel.saveItem.ViewItemId).setEnabled(false, true);
            console.log(e);
        };

        viewModel.cellCloseHandler = function (e) {
            e.model.IsSaved = false;
            viewModel.grid.saveChanges();
        }

        viewModel.saveHandler = function (e) {
            setTimeout(function () {
                var dataItems = viewModel.grid.dataSource.data();

                var itemsToSave = $.grep(dataItems, function (e) { return e.Save; });
                var saveEnabled = true;
                if (itemsToSave.length == 0) {
                    saveEnabled = false;
                }

                var saveNotAllowed = $.grep(itemsToSave, function (e) { return e.EditItemState != 0; });

                if (saveNotAllowed.length > 0) {
                    saveEnabled = false;
                }

                $('#' + viewModel.saveItem.ViewItemId).setEnabled(saveEnabled, true);

                
                
            }, 500);

        }

        viewModel.checkViewState = function () {
            $('#' + viewModel.newItem.ViewItemId).setEnabled(viewModel._idObject != undefined, true);
            $('#' + viewModel.saveItem.ViewItemId).setEnabled(viewModel._idObject != undefined, true);
            

        };

        viewModel.setDataItems = function () {
            $("#" + viewModel.dropDownItemType.ViewItemId).data("viewItem", viewModel.dropDownItemType);
            $("#" + viewModel.newItem.ViewItemId).data("viewItem", viewModel.newItem);
            $("#" + viewModel.saveItem.ViewItemId).data("viewItem", viewModel.saveItem);
            $("#" + viewModel.listenItem.ViewItemId).data("viewItem", viewModel.listenItem);
            $("#" + viewModel.dropDownItemType.ViewItemId).data("viewItem", viewModel.dropDownItemType);
            $("#" + viewModel.gridOitems.ViewItemId).data("viewItem", viewModel.gridOitems);
            $("#" + viewModel.parentInput.ViewItemId).data("viewItem", viewModel.parentInput);
            $("#" + viewModel.applyItem.ViewItemId).data("viewItem", viewModel.applyItem);
        }

        // View-Initialization

        viewModel.createGrid = function (response) {
            $.extend(response.dataSource.transport.update,
                {
                    complete: function (e) {
                        console.log(e);
                    }
                }
            );

            $.extend(response.dataSource, {
                batch: true
            });

            response.editable = true;
            
            response.dataBound = viewModel.dataBoundHandler;
            $.extend(response, {
                change: viewModel.gridChangeHandler,
                beforeEdit: viewModel.beforeEditHandler,
                cellClose: viewModel.cellCloseHandler,
                save: viewModel.saveHandler,
                rowTemplate: '<tr class="#:EditItemState==1 ? \"saveNotAllowed\" : (EditItemState==2 ? \"saved\" : \"\") #" data-uid="#= uid #">' +
                '<td><i class=\"fa #: Save ? \"fa-check-square-o\" : \"fa-square-o\" # aria-hidden=\"true\" /></td>' +
                '<td><i class=\"fa #: Apply ? \"fa-check-square-o\" : \"fa-square-o\" # aria-hidden=\"true\" /></td>' +
                '<td>#:Guid #</td> <td>#: Name == undefined ? "" : Name #</td>' +
                '<td>#: ItemType == undefined ? "" : ItemType #</td>' +
                '<td>#:NameParent == undefined ? "" : NameParent #</td>' +
                '<td>#:Comment == undefined ? "" : Comment #</td>' +
                '<td><button data-command="destroy" class="k-button k-button-icontext k-grid-delete">Delete</button></td>' +
                '</tr>'
            });
            response.columns.push({ command: "destroy", title: "&nbsp;", width: "250px" });
            console.log(response);
            var dataSource = new kendo.data.DataSource(response.dataSource);

            response.dataSource = dataSource;
            
            viewModel.grid = $("#" + viewModel.gridOitems.ViewItemId).kendoGrid(response).data("kendoGrid");
        }

        viewModel.init = function () {
            updateViewItems(viewModel.ViewItems);
        }

        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();

            viewModel.idSender = urlParameterConfig.senderParam;
            if (urlParameterConfig.objectParam != undefined) {
                viewModel.validateReference(urlParameterConfig.objectParam, viewModel.itemTypes.ObjectType);
            } else if (urlParameterConfig.classParam != undefined) {
                viewModel.validateReference(urlParameterConfig.classParam, viewModel.itemTypes.ClassType);
            }
        }

        viewModel.validateReference = function (idReference, itemType) {
            $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idReference, Type: itemType }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                if (response.IsOk) {
                    updateViewItems(response.ViewItems);
                    
                    var selectedIndex = $('#' + viewModel.dropDownItemType.ViewItemId).data("kendoDropDownList").selectedIndex;
                    var dataItem = $('#' + viewModel.dropDownItemType.ViewItemId).data("kendoDropDownList").dataItem(selectedIndex);
                    viewModel.selectItemType({ dataItem: dataItem });
                }

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
        }

        // ViewModel-Changes
        viewModel.viewItemChanged = function (viewItem) {
            
            
        }

        // Websocket-Stuff

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.

            var viewItemValue = $.grep(viewModel.listenItem.ViewItemValues, function (e) { return e.ViewItemType == "Checked"; });
            if (viewItemValue == null || viewItemValue[0].Value == false) return;
            if (!urlParameterConfig.checkSender(message.SenderId)) return false;

            if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
                if (message.OItems != undefined) {
                    var objectItem = message.OItems[0];
                    console.log("Received ClassItem", objectItem);
                    if (objectItem.GUID != undefined) {
                        viewModel.validateReference(objectItem.GUID, "Object");

                    }
                }
            } else if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedClass) {
                if (message.OItems != undefined) {
                    var objectItem = message.OItems[0];
                    console.log("Received ClassItem", objectItem);
                    if (objectItem.GUID != undefined) {
                        viewModel.validateReference(objectItem.GUID, "Class");

                    }
                }
            } 
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        }

        $("#" + viewModel.toolBar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listenItem.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> Item</button>',

                },
                { type: "separator" },
                {
                    template: '<button id="' + viewModel.newItem.ViewItemId + '" class="k-button"><i class="fa fa-plus" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.saveItem.ViewItemId + '" class="k-button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.applyItem.ViewItemId + '" class="k-button"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>',

                },
                { type: "separator" },
                {
                    template: '<input id="' + viewModel.dropDownItemType.ViewItemId + '" style="width: 150px" />',
                    overflow: "never"

                },
                { type: "separator" },
                {
                    template: '<label id="' + viewModel.labelParent.ViewItemId + '" />'
                },
                {
                    template: '<input id="' + viewModel.parentInput.ViewItemId + '"style="width: 150px" />'
                }
            ]
        });

        jQuery.extend(viewModel.dropDownConfig, {
            select: viewModel.selectItemType
        });

        $('#' + viewModel.dropDownItemType.ViewItemId).kendoDropDownList(viewModel.dropDownConfig);

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.setDataItems();

        viewModel.init();

        

        $.post(viewModel.ActionConfig.ActionGetGridConfig)
            .done(function (response) {
                viewModel.createGrid(response);




            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.getUrlParameters();

        
        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedClass);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="@(Model.toolBar.ViewItemId)">
    
</div>
<div id="gridParent">
    <div id="@(Model.gridOitems.ViewItemId)"></div>
</div>


