﻿@model OModules.Models.EditBoolAttributeViewModel
@{

}

<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }
</style>

<script>
    var viewModel;
    viewModel = @(Html.Raw(Model.GetJsonItem()));

    function init() {
        var websocketHelper;




        viewModel.checkViewState = function () {

        };

        viewModel.setDataItems = function () {
            $("#" + viewModel.attributeArea.ViewItemId).data("viewItem", viewModel.attributeArea);
            $("#" + viewModel.boolValue.ViewItemId).data("viewItem", viewModel.boolValue);
            $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);

        }

        $('#' + viewModel.boolValue.ViewItemId).change(function () {
            var checked = $(this).is(':checked');
            $.post(viewModel.ActionConfig.ActionSaveAttribute, { value: checked, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        $('#' + viewModel.boolValue.ViewItemId).setContent($('#' + viewModel.boolValue.ViewItemId).val());
                    } else {
                        $('#' + viewModel.boolValue.ViewItemId).val($('#' + viewModel.boolValue.ViewItemId).getContent());
                    }


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        });


        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();


            if (urlParameterConfig.objectParam != undefined && urlParameterConfig.attributeTypeParam != null) {
                viewModel.validateReference(urlParameterConfig.objectParam, urlParameterConfig.attributeTypeParam);


            }
        }

        viewModel.validateReference = function (idReference, idAttributeType) {
            $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idReference }, attributeTypeItem: { GUID: idAttributeType }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                if (response.IsOk) {

                }

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
        }

        // Websocket-Stuff

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.

            if (!urlParameterConfig.checkSender(message.SenderId)) return false;

            if (message.ChannelId == viewModel.ChannelConfig.ChannelParameterList) {
                var genericParameters = message.GenericParameterItems;
                if (genericParameters != undefined && genericParameters.length > 0) {
                    var genericParameter = genericParameters[0];

                    $.post(viewModel.ActionConfig.ActionGetAttribute, { idAttribute: genericParameter.IdAttribute, idInstance: viewModel.IdInstance })
                        .done(function (response) {
                            if (response.isOk) {
                                viewModel.objectAttribute = response.ObjectAttribute;
                                $('#' + viewModel.boolValue.ViewItemId).setCheckedMode(viewModel.objectAttribute.Val_Bool, true);
                                $('#' + viewModel.boolValue.ViewItemId).setEnabled(true, true);
                            }
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });
                }
            }
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == "windowTitle" && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }

            }
        }

        viewModel.getUrlParameters();

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelParameterList);


        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>


<div id="@(Model.attributeArea.ViewItemId)">
    <div class="k-content">
        <ul class="fieldlist">
            <li>
                <span>
                    <input type="checkbox" id="@(Model.boolValue.ViewItemId)" class="k-checkbox">
                    <label for="@(Model.boolValue.ViewItemId)" class="k-checkbox-label" id="@(Model.lblName.ViewItemId)"></label>
                </span>
            </li>
        </ul>
    </div>
</div>
