﻿@model OModules.Models.EditDateTimeAttributeViewModel
@{

}

<style>
    input {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        *display: inline; /* for IE7*/
        zoom: 1; /* for IE7*/
        vertical-align: middle;
        margin-left: 20px
    }

    textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        *display: inline; /* for IE7*/
        zoom: 1; /* for IE7*/
        vertical-align: middle;
        margin-left: 20px
    }

    label {
        display: inline-block;
        *display: inline; /* for IE7*/
        zoom: 1; /* for IE7*/
        float: left;
        padding-top: 5px;
        text-align: right;
        width: 140px;
    }
</style>

<script>
    var viewModel;

    function init() {
        var websocketHelper;

        viewModel = @(Html.Raw(Model.GetJsonItem()));

        viewModel.checkViewState = function () {
            
        };

        // create DateTimePicker from input HTML element
        $("#" + viewModel.dateTimeValue.ViewItemId).kendoDateTimePicker({
            value: new Date(),
            dateInput: true,
            change: function () {
                var value = this.value().toJSON();
                console.log(value); //value is the selected date in the datetimepicker
                $.post(viewModel.ActionConfig.ActionSaveAttribute, { value: value, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            $('#' + viewModel.dateTimeValue.ViewItemId).setContent($('#' + viewModel.dateTimeValue.ViewItemId).val());
                        } else {
                            $('#' + viewModel.dateTimeValue.ViewItemId).val($('#' + viewModel.dateTimeValue.ViewItemId).getContent());
                        }


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }
        });


        viewModel.setDataItems = function () {
            $("#" + viewModel.attributeArea.ViewItemId).data("viewItem", viewModel.attributeArea);
            $("#" + viewModel.dateTimeValue.ViewItemId).data("viewItem", viewModel.dateTimeValue);
            $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
            
        }


        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();


            if (urlParameterConfig.objectParam != undefined && urlParameterConfig.attributeTypeParam != null) {
                viewModel.validateReference(urlParameterConfig.objectParam, urlParameterConfig.attributeTypeParam);


            }
        }

        viewModel.validateReference = function (idReference, idAttributeType) {
            $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: { GUID: idReference }, attributeTypeItem: { GUID: idAttributeType }, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    if (response.IsOk) {
                        changeValuesFromServer(response.ViewItems);
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        // Websocket-Stuff

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.

            if (!urlParameterConfig.checkSender(message.SenderId)) return false;

            if (message.ChannelId == viewModel.ChannelConfig.ChannelParameterList) {
                var genericParameters = message.GenericParameterItems;
                if (genericParameters != undefined && genericParameters.length > 0) {
                    var genericParameter = genericParameters[0];

                    $.post(viewModel.ActionConfig.ActionGetAttribute, { idAttribute: genericParameter.IdAttribute, idInstance: viewModel.IdInstance })
                        .done(function (response) {
                            if (response.isOk) {

                                var viewItem = response.ViewItem;
                                for (var jx in viewItem.ViewItemValues) {
                                    var viewItemValue = viewItem.ViewItemValues[jx];

                                    if (viewItemValue.ViewItemType == "Enable") {
                                        $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                                    }
                                    else if (viewItemValue.ViewItemType == "Visible") {
                                        $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                                    }
                                    else if (viewItemValue.ViewItemType == "Checked") {
                                        $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                                    }
                                    else if (viewItem.ViewItemId == "windowTitle" && viewItemValue.ViewItemType == "Content") {
                                        var title = viewItemValue.Value;
                                        document.title = title;
                                    }
                                    else if (viewItemValue.ViewItemType == "Content") {
                                        $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                                    }

                                }
                                
                            }
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        }); 
                }   
            } 
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == "windowTitle" && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                
            }
        }


        viewModel.getUrlParameters();

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelParameterList);

        
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.attributeArea.ViewItemId)">

    <input id="@(Model.dateTimeValue.ViewItemId)" title="datetimepicker" style="width: 100%;" />
    <label for="@(Model.dateTimeValue.ViewItemId)" id="@(Model.lblName.ViewItemId)"></label>

</div>
