﻿@model OModules.Models.ObjectNameEditViewModel
@{
    ViewBag.Title = "ObjectNameEdit";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.inpGUID.ViewItemId) {
        width:400px;
    }

    #@(Model.inpName.ViewItemId) {
        min-width:400px;
        max-width:400px;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");

        if (id == viewModel.btnSave.ViewItemId) {
            $.post(viewModel.ActionSaveObjectOrObjectName, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);
                    if (response.IsSuccessful) {
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelAddedObjects,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView,
                            OItems: response.Result
                        });

                        var apply = getViewItemValue(viewModel.btnApply, "Checked", false);
                        var select = getViewItemValue(viewModel.btnSelect, "Checked", false);
                        
                        if (apply) {
                            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                ChannelId: viewModel.ChannelAppliedObjects,
                                SenderId: viewModel.managerConfig.idEndpoint,
                                SessionId: viewModel.managerConfig.idSession,
                                ReceiverId: viewModel.idSender,
                                UserId: viewModel.IdUser,
                                ViewId: viewModel.View.IdView,
                                OItems: response.Result
                            });
                        }
                        if (select) {
                            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                ChannelId: viewModel.ChannelSelectedObject,
                                SenderId: viewModel.managerConfig.idEndpoint,
                                SessionId: viewModel.managerConfig.idSession,
                                ReceiverId: viewModel.idSender,
                                UserId: viewModel.IdUser,
                                ViewId: viewModel.View.IdView,
                                OItems: response.Result
                            });
                        }
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        } else if (id == viewModel.btnSelect.ViewItemId) {
            $('#' + viewModel.btnSelect.ViewItemId).toggleMode(true);
        } else if (id == viewModel.btnApply.ViewItemId) {
            $('#' + viewModel.btnApply.ViewItemId).toggleMode(true);
        }  else if (id == viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        }
    }

    viewModel.validateReference = function (idRef, type) {
        var oItem = {
            GUID: idRef,
            Type: type
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                if (response.IsSuccessful) {
                    changeValuesFromServer(response.ViewItems);


                }
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);
        var listen = false;
        var listen = $("#" + viewModel.isListen.ViewItemId).getCheckedMode();

        if (!listen) return;

        if (message.SenderId == viewModel.managerConfig.idEndpoint) return;
        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID, 'Object')

        } else if (message.ChannelId == viewModel.ChannelSelectedClass) {
            viewModel.validateReference(message.OItems[0].GUID, 'Class')

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam, 'Object')
        } else if (urlParameterConfig.classParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.classParam, 'Class')
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
        $("#" + viewModel.inpName.ViewItemId).data("viewItem", viewModel.inpName);
        $("#" + viewModel.lblGUID.ViewItemId).data("viewItem", viewModel.lblGUID);
        $("#" + viewModel.inpGUID.ViewItemId).data("viewItem", viewModel.inpGUID);
        $("#" + viewModel.btnSave.ViewItemId).data("viewItem", viewModel.btnSave);
        $("#" + viewModel.btnSelect.ViewItemId).data("viewItem", viewModel.btnSelect);
        $("#" + viewModel.btnApply.ViewItemId).data("viewItem", viewModel.btnApply);

    }

    function init() {
        
        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                }
            ]
        });

        viewModel.setDataItems();

        

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $("#" + viewModel.objectItem.ViewItemId).kendoValidator({
            rules: {
                guidRule: function (input) {
                    //only 'Tom' will be valid value for the username input
                    if (input.is("[id=" + viewModel.inpGUID.ViewItemId + "]")) {
                        var regexGUID = RegExp("^[0-9a-f]{8}[0-9a-f]{4}[1-5][0-9a-f]{3}[89ab][0-9a-f]{3}[0-9a-f]{12}$")
                        return regexGUID.test(input.val());
                    }
                    return true;
                }
            },
            messages: {
                guidRule: "You have to enter a GUID"
            }
        });

        $('textarea').change(function () {
            var viewItem = $(this).data("viewItem");

            if (viewItem == undefined) return;

            var value = $(this).getContent();

            changeValue(viewItem, "Content", value, true);
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "PlaceHolder") {
                    $('#' + viewItem.ViewItemId).setPlaceHolder(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelSelectedClass);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.toolbar.ViewItemId)"></div>
<div>
    <form id="@(Model.objectItem.ViewItemId)">
        <div class="form-group">
            <span>
                <label for="@(Model.inpGUID.ViewItemId)" class="col-form-label" id="@(Model.lblGUID.ViewItemId)"></label>
                <input type="text" id="@(Model.inpGUID.ViewItemId)" tabindex="0" rows="1" />
            </span>
        </div>
        <div class="form-group">
            <span>
                <label for="@(Model.inpName.ViewItemId)" class="col-form-label" id="@(Model.lblName.ViewItemId)"></label>
                <textarea id="@(Model.inpName.ViewItemId)" tabindex="1" rows="1"></textarea>
            </span>
        </div>
    </form>
    <span class="k-button-group">
        <button id="@(Model.btnSave.ViewItemId)" class="k-button" tabindex="2"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        <button id="@(Model.btnSelect.ViewItemId)" class="k-button" tabindex="3"><i class="fa fa-external-link" aria-hidden="true"></i></button>
        <button id="@(Model.btnApply.ViewItemId)" class="k-button" tabindex="4"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
    </span>

</div>
