﻿@model OModules.Models.LocalizedItemsViewModel
@{
    ViewBag.Title = "LocalizeItems";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .execution-log {
        height: 40px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        background-color: #393838;
        color: white;
        opacity: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .localization-container, .localize-names {
        height: 95%;
    }
</style>
<script src="~/Scripts/ObjectEdit/ItemComBar.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            var outputMessage = message.GenericParameterItems[0];
            if (outputMessage.MessageType == 3) {
                $('.onto-status-bar').data('messageout-config').showError(message.GenericParameterItems[0].Message, 5000);
            } else {
                $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0].Message, 5000);
            }
        }

        var listen = viewModel.itemComToolbar.data.isListen(viewModel.itemComToolbar);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $('.execution-log').show();

        viewModel.itemComToolbar.handler.validateReference(viewModel.itemComToolbar, oItem.GUID);
    }

    function init() {
        viewModel.connectCallback = function () {
            $("#" + viewModel.toolbar.ViewItemId).createItemComToolBar({
                selectorPath: ["#" + viewModel.toolbar.ViewItemId],
                managerConfig: viewModel.managerConfig,
                setWindowTitle: true,
                actions: {
                    init: viewModel.ActionItemComBarInit
                },
                events: {
                    completed: function (component) {
                        viewModel.itemComToolbar = component;
                        var selectorPath = [];
                        for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                            var selector = component.configuration.selectorPath[i];
                            selectorPath.push(selector);
                        }

                    },
                    validatedReference: function (refItem) {

                    }
                }
            });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        createStatusBar(viewModel.PageInitState);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }
    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="toolbar"></div>

<div class="localization-container">

</div>
<div class="execution-log">

</div>
