﻿@model OModules.Models.BuchQuelleViewModel
@{
    ViewBag.Title = "buchQuelle";
}

<style>
    body, html {
        height: 100%;
    }


    .literaturquelle-relation {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
    }
</style>
<script src="~/Scripts/LiteraturQuellen/BuchQuelle.js"></script>
<script src="~/Scripts/LiteraturQuellen/LiteraturQuelle.js"></script>
<script src="~/Scripts/ObjectEdit/SingleRelation.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        //var listen = false;
        //var isListenItem = getViewItemValue(viewModel.isListen, "Checked", false);

        //if (isListenItem != null && isListenItem.length > 0) {
        //    listen = isListenItem[0].Value;
        //}

        //if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelAppliedObject) {
            $('.testcontainer').data('literaturquelle-buch-config').handler.validateAppliedReference(message.OItems[0].GUID);
        } 
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.validateReference = function (idRef) {

        viewModel.buchQuelle.handler.validateReference(idRef, function () {
            viewModel.singleRelation.handler.validateReference(idRef, function () {

            });
        });

    }


    function checkState() {
        if (viewModel.state == 3) {
            viewModel.getUrlParameters();
        }
    };

    function init() {

        $('.literaturquelle-creator-window').kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Item',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();


        viewModel.connectCallback = function () {
            viewModel.state = 0;
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);

                    var configuration = {
                        selector: '.testcontainer',
                        actionValidateReference: viewModel.ActionValidateReference,
                        channelSelectedObject: viewModel.ChannelSelectedObject,
                        channelSelectedClass: viewModel.ChannelSelectedClass,
                        idInstance: viewModel.IdInstance,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        createdCallback: function (buchQuelle) {
                            viewModel.buchQuelle = buchQuelle;
                            viewModel.state += 1;
                            checkState();
                        },
                        openCreationWindow: function () {
                            $('.literaturquelle-creator-window').data("kendoWindow").open();
                        },
                        viewItems: viewModel.ViewItems,
                    };
                    $('.testcontainer').createbuchQuelle(configuration);

                    var configurationSingleRelation = {
                        selector: '.literaturquelle-relation',
                        viewModel: null,
                        actionSingleRelationInit: viewModel.ActionSingleRelationInit,
                        idInstance: null,
                        idParentInstance: viewModel.IdInstance,
                        idRelationType: viewModel.IdRelationType,
                        idDirection: viewModel.IdDirection,
                        idParentRelation: viewModel.IdParentRelation,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        createdCallback: function (singleRelationElement) {
                            viewModel.singleRelation = singleRelationElement;
                            viewModel.state += 1;
                            checkState();
                        },
                        viewItems: viewModel.ViewItems,
                    };

                    $('.literaturquelle-relation').createSingleRelation(configurationSingleRelation);

                    var configurationLiteraturQuelleCreator = {
                        selector: '.literaturquelle-creator-window',
                        actionLiteraturQuelleCreatorInit: viewModel.ActionLiteraturQuelleCreateInit,
                        createCallback: function (literaturQuelleCreator) {
                            viewModel.literaturQuelleCreator = literaturQuelleCreator;
                            viewModel.state += 1;
                            checkState();
                        }
                    };

                    $('.literaturquelle-creator-window').createLiteraturQuelleCreate(configurationLiteraturQuelleCreator);


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div style="height:100%">
    <div class="testcontainer">

    </div>
</div>

<div class="literaturquelle-relation">
    abc
</div>
<div class="literaturquelle-creator">
    <div class="literaturquelle-creator-window">
        

    </div>

</div>


