﻿@model OModules.Models.InternetQuelleViewModel
@{
    ViewBag.Title = "InternetQuelle";
}

<style>
    body, html {
        height: 100%;
    }

    .media-list-player-window-playeriframe,
    .media-list-upload-window-uploadeiframe {
        width: 100%;
        height: 100%;
        border: 0px;
    }

    .media-list-upload-window-content,
    .media-list-player-window-content {
        width: 100%;
        height: 100%;
    }

    .literaturquelle-relation {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        height: 30px;
    }

    .window-object-list,
    .object-list-container,
    .object-list,
    .objectlist-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" />
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script src="~/Scripts/LiteraturQuellen/InternetQuellen.js"></script>
<script src="~/Scripts/MediaViewer/MediaList.js"></script>
<script src="~/Scripts/ObjectEdit/SingleRelation.js"></script>
<script src="~/Scripts/LiteraturQuellen/LiteraturQuelle.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    var sendersIgnoreInternetQuelle = [];

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        //var listen = false;
        //var isListenItem = getViewItemValue(viewModel.isListen, "Checked");

        //if (isListenItem != null && isListenItem.length > 0) {
        //    listen = isListenItem[0].Value;
        //}

        //if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            if (checkSendeserForIgnore(sendersIgnoreInternetQuelle, message)) return;
            viewModel.validateReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelAppliedObject) {
            $('.testcontainer').data('literaturquelle-internet-config').handler.validateAppliedReference(message.OItems[0].GUID);
        } else if (message.ChannelId == viewModel.ChannelUploadedFiles) {
            var fileItems = message.OItems;
            viewModel.mediaList.handler.validateSaveFiles(fileItems);
        } else if (message.ChannelId = viewModel.ChannelViewReady && message.ReceiverId == viewModel.IdInstance) {
            viewModel.mediaList.handler.loadItems();
        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.validateReference = function (idRef) {

        viewModel.internetQuelle.handler.validateReference(idRef, function () {
            viewModel.mediaList.handler.validateReference(idRef, function () {
                viewModel.singleRelation.handler.validateReference(idRef, function () {

                });
            });
        });

    }

    function init() {

        $('.literaturquelle-creator-window').kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Item',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();


        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);

                    var configuration = {
                        selector: '.testcontainer',
                        actionValidateReference: viewModel.ActionValidateReference,
                        channelSelectedObject: viewModel.ChannelSelectedObject,
                        channelSelectedClass: viewModel.ChannelSelectedClass,
                        idInstance: viewModel.IdInstance,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        createdCallback: function (internetQuelle) {
                            viewModel.internetQuelle = internetQuelle;

                        },
                        openCreationWindow: function () {
                            $('.literaturquelle-creator-window').data("kendoWindow").open();
                        },
                        viewModel: viewModel,
                    };
                    $('.testcontainer').createInternetQuelle(configuration);

                    var configurationSingleRelation = {
                        selector: '.literaturquelle-relation',
                        viewModel: null,
                        actionSingleRelationInit: viewModel.ActionSingleRelationInit,
                        idInstance: null,
                        idParentInstance: viewModel.IdInstance,
                        idRelationType: viewModel.IdRelationType,
                        idDirection: viewModel.IdDirection,
                        idParentRelation: viewModel.IdParentRelation,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        createdCallback: function (singleRelationElement) {
                            viewModel.singleRelation = singleRelationElement;
                        },
                        viewItems: viewModel.ViewItems,
                    };

                    $('.literaturquelle-relation').createSingleRelation(configurationSingleRelation);

                    var configurationMediaList = {
                        selector: '.medialist-pdf',
                        channelMediaList: viewModel.ChannelMediaList,
                        actionMediaListPDFInit: viewModel.ActionMediaListPDFInit,
                        channelAppliedObjects: viewModel.ChannelAppliedObject,
                        createdCallback: function (mediaList) {
                            viewModel.mediaList = mediaList;
                            viewModel.getUrlParameters();
                        },
                        viewItems: viewModel.ViewItems,
                        idInstance: null,
                        idParentInstance: viewModel.IdInstance,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        view: viewModel.View
                    }

                    $('.medialist-pdf').createMediaList(configurationMediaList);

                    var configurationLiteraturQuelleCreator = {
                        selector: '.literaturquelle-creator-window',
                        actionLiteraturQuelleCreatorInit: viewModel.ActionLiteraturQuelleCreateInit,
                        createCallback: function (literaturQuelleCreator) {
                            viewModel.literaturQuelleCreator = literaturQuelleCreator;
                        }
                    };

                    $('.literaturquelle-creator-window').createLiteraturQuelleCreate(configurationLiteraturQuelleCreator);


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObject);
        viewModel.addEndpoint(viewModel.ChannelUploadedFiles);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div style="height:100%">
    <div class="testcontainer">

    </div>
    <div class="medialist-pdf" style="height:100%"></div>
</div>

<div class="literaturquelle-relation">
    abc
</div>
<div class="literaturquelle-creator">
    <div class="literaturquelle-creator-window">
        

    </div>

</div>


