﻿@model OModules.Models.ClipboardViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


    #oClipboard,
    .@(Model.gridParent.ViewItemId),
    .@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 95%; /* DO NOT USE !important for setting the Grid height! */
    }

    .alert {
        width: 100%;
    }

    .k-grid tbody tr{
        height: 50px;
    }

    .k-grid td{
        white-space: nowrap;
    }
</style>
<script src="~/Scripts/Clipboard/OClipboard.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.validateReference = function (idRef) {
        var oItem = null;
        if (typeof idRef !== 'undefined') {
            oItem = {
                GUID: idRef
            };
        }
        viewModel.clipboardComponent.handler.validateReference(viewModel.clipboardComponent, oItem);
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.SenderId == viewModel.managerConfig.idEndpoint) return;
        if (message.ChannelId == viewModel.ChannelAppliedObjects) {
            viewModel.clipboardComponent.handler.addItems(viewModel.clipboardComponent,message.OItems);
        }
        else if (message.ChannelId == viewModel.ChannelAddedItemToClipboard) {
            viewModel.clipboardComponent.handler.addedItems(viewModel.clipboardComponent);
        }

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        viewModel.validateReference(urlParameterConfig.objectParam)
    }

    function init() {
        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    var configuration = {
                        selectorPath: ["#oClipboard"],
                        actionInit: viewModel.ActionInitClipbaord,
                        managerConfig: viewModel.managerConfig,
                        events: {
                            validatedReference: function (clipboardComponent) {
                                
                            },
                            createdComponent: function (clipboardComponent) {
                                viewModel.clipboardComponent = clipboardComponent;
                                viewModel.getUrlParameters();
                            }
                        }
                    }

                    $('#oClipboard').createClipboard(configuration);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObjects);
        viewModel.addEndpoint(viewModel.ChannelAddedItemToClipboard);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }


    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }


</script>
<div id="oClipboard"></div>

