﻿@model OModules.Models.ReportViewModel
@{
    ViewBag.Title = "ReportViewer";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .root-container {
        height: 100%;
    }

    .report-splitter {
        height: 100%;
        width: 100%;
    }

    #@(Model.iframeObjectTree.ViewItemId) {
        height:100%;
        width:100%;
        border:0;
    }

    #@(Model.iframeReport.ViewItemId) {
        height:100%;
        width:100%;
        border:0;
    }

    .syncing  {
        background-color: aqua;
    }

    .syncerror {
        background-color: red;
    }

    ins {
        text-decoration: none;
        background-color: #d4fcbc;
    }

    del {
        text-decoration: line-through;
        background-color: #fbb6c2;
        color: #555;
    }

    .inputQuery {
        font-size: small;
        padding: 3px;
        margin: 0px;
        display: inline;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.de-DE.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.en-GB.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.en-US.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.fr-FR.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.bg-BG.min.js"></script>

<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button openModuleStarter"><i class="fa fa-external-link" aria-hidden="true"></i></button>
        <button class="k-button openObjectEditor"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="syncData k-button"><i class="fa fa-retweet" aria-hidden="true"></i></button>
        <button class="applyItem k-button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button k-button-icontext k-grid-excel">Export Excel</button>
        <input type="text" class="inputQuery" placeholder="query" size="100"></input>
        <button class="k-button buttonSave"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script src="~/Scripts/Report/Report.js"></script>
<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedObject,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                ViewId: viewModel.View.IdView,
                UserId: viewModel.IdUser,
                OItems: [oItem]
            });
        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.SenderId == viewModel.managerConfig.idEndpoint) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {

            viewModel.reportViewer.handler.validateReference(message.OItems[0], function () {
            });

        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
    }



    function init() {

        var urlObjectTree = viewModel.ActionObjectTree + "?Sender=" + viewModel.IdInstance;
        var urlReport = viewModel.ActionReport + "?Sender=" + viewModel.IdInstance;

        if (urlParameterConfig.objectParam !== undefined && urlParameterConfig.objectParam != null) {
            urlObjectTree += "&Object=" + urlParameterConfig.objectParam
            urlReport += "&Object=" + urlParameterConfig.objectParam
        } else {
            urlObjectTree += "&Class=" + viewModel.idClassReports
        }

        $("#" + viewModel.splitter.ViewItemId).kendoSplitter({
            panes: [
                { size: "20%"},
                { size: "80%" }
            ]
        });

        $('#' + viewModel.iframeObjectTree.ViewItemId).attr("src", urlObjectTree);
        $('#' + viewModel.iframeReport.ViewItemId).attr("src", urlReport);

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.reportViewer = $('.report-viewer').createReportViewer({
                        selector: ".report-viewer",
                        actionReportInit: viewModel.ActionReportInit,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        initCompleteHandler: function () {
                            viewModel.getUrlParameters();
                        }
                    });

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="example" class="root-container">
    <div id="@(Model.splitter.ViewItemId)" class="report-splitter">
        <div><iframe id="@(Model.iframeObjectTree.ViewItemId)" src="about:blank"></iframe></div>
        <div class="report-viewer"></div>
    </div>



</div>

