﻿@model OModules.Models.ReportViewModel
@{
    ViewBag.Title = "ReportViewer";
}

<link href="~/Content/ajax.autocomplete/styles.css" rel="stylesheet" />
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .root-container {
        height: 100%;
    }

    .report-splitter {
        height: 100%;
        width: 100%;
    }

    .report-viewer {
        height: 100%;
        width: 100%;
        border: 0;
    }

    .syncing {
        background-color: aqua;
    }

    .syncerror {
        background-color: red;
    }

    ins {
        text-decoration: none;
        background-color: #d4fcbc;
    }

    del {
        text-decoration: line-through;
        background-color: #fbb6c2;
        color: #555;
    }

    .inputQuery {
        font-size: small;
        padding: 3px;
        margin: 0px;
        display: inline;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.de-DE.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.en-GB.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.en-US.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.fr-FR.min.js"></script>
<script src="~/Scripts/kendo/2020.1.114/cultures/kendo.culture.bg-BG.min.js"></script>
<script src="~/Scripts/jquery.copy-to-clipboard.js"></script>
<script src="~/Scripts/ajax.autocomplete/jquery.autocomplete.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button isListen"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <button class="k-button openModuleStarter"><i class="fa fa-external-link" aria-hidden="true"></i></button>
        <button class="k-button openObjectEditor"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="syncData k-button"><i class="fa fa-retweet" aria-hidden="true"></i></button>
        <button class="applyItem k-button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button k-button-icontext k-grid-excel">Export Excel</button>
        <button class="processReport k-button"><i class="fa fa-terminal" aria-hidden="true"></i></button>
        <input type="text" class="inputQuery" placeholder="query" size="100"></input>
        <button class="k-button buttonSave"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script src="~/Scripts/Report/Report.js"></script>
<script src="~/Scripts/jquery.copy-to-clipboard.js"></script>
<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

           viewModel.reportViewer.handler.validateReference(oItem, function () {
            });
        }

        viewModel.reportViewer.data.field = urlParameterConfig.getParameterValue("field")
        viewModel.reportViewer.data.fieldValue = urlParameterConfig.getParameterValue("fieldValue")
        var operator = urlParameterConfig.getParameterValue("operator")
        if (typeof (operator) === 'undefined') {
            operator="eq"
        }
        viewModel.reportViewer.data.operator = operator
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            var outputMessage = message.GenericParameterItems[0];
            if (outputMessage.MessageType == 3) {
                $('.onto-status-bar').data('messageout-config').showError(message.GenericParameterItems[0].Message, 5000);
            } else {
                $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0].Message, 5000);
            }
        }

        var listen = viewModel.reportViewer.handler.isListenToggled();

        if (!listen) return;

        if (message.SenderId == viewModel.managerConfig.idEndpoint) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {

            viewModel.reportViewer.handler.validateReference(message.OItems[0], function () {
            });

        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
    }



    function init() {

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.reportViewer = $('.report-viewer').createReportViewer({
                        setDocumentTitle: true,
                        selector: ".report-viewer",
                        actionReportInit: viewModel.ActionReportInit,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        initCompleteHandler: function () {
                            viewModel.getUrlParameters();
                        },
                        events: {
                            dataBound: function (reportViewerElement) {
                                if (reportViewerElement.data.initBound === false) {
                                    reportViewerElement.data.initBound = true
                                    reportViewerElement.handler.setFilter(reportViewerElement.data.field, reportViewerElement.data.fieldValue, reportViewerElement.data.operator)
                                }
                            }
                        }
                    });


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);

    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="example" class="root-container">
    <div class="report-viewer"></div>
</div>

