﻿@model OModules.Models.NavigationBarViewModel
@{
    ViewBag.Title = "NavigationBar";
}
<style>
    #@(Model.navPos.ViewItemId) {
        margin-left:5px;
    }

    #@(Model.navItemName.ViewItemId) {
        margin-left:5px;
    }
    .k-button-group {
        margin-right:5px !important;
    }
</style>

<script>
    var viewModelNavigationBar = @(Html.Raw(Model.GetJsonItem()));

    viewModelNavigationBar.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModelNavigationBar.navFirst.ViewItemId) {
            $.post(viewModelNavigationBar.ActionNavFirst, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        viewModelNavigationBar.getCurrentNavItem();
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        } else if (id === viewModelNavigationBar.navPrevious.ViewItemId) {
            $.post(viewModelNavigationBar.ActionNavPrevious, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        viewModelNavigationBar.getCurrentNavItem();
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        } else if (id === viewModelNavigationBar.navNext.ViewItemId) {
            $.post(viewModelNavigationBar.ActionNavNext, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        viewModelNavigationBar.getCurrentNavItem();
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        } else if (id === viewModelNavigationBar.navLast.ViewItemId) {
            $.post(viewModelNavigationBar.ActionNavLast, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        viewModelNavigationBar.getCurrentNavItem();
                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

    }

    viewModelNavigationBar.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModelNavigationBar.listenNavBar, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModelNavigationBar.ChannelNavigationItems) {
            $.post(viewModelNavigationBar.ActionGetSessionData, { idInstance: message.GenericParameterItems[0], extension: "json" })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        jQuery.getJSON(response.Result, function (data) {

                            $.post(viewModelNavigationBar.ActionInitializeNavigationItems, { navItems: data, idInstance: viewModelNavigationBar.IdInstance})
                                .done(function (response) {
                                    console.log("connected", response);
                                    if (response.IsSuccessful) {
                                        changeValuesFromServer(response.ViewItems, viewModelNavigationBar);
                                        viewModelNavigationBar.getCurrentNavItem();
                                    }

                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    // stuff
                                });
                        });

                    }

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

    }
    }

    viewModelNavigationBar.getCurrentNavItem = function () {
        $.post(viewModelNavigationBar.ActionGetCurrentNavigationItem, { idInstance: viewModelNavigationBar.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                
                if (response.IsSuccessful) {
                    viewModelNavigationBar.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModelNavigationBar.ChannelSelectedNavigationItem,
                        SenderId: viewModelNavigationBar.managerConfig.idEndpoint,
                        SessionId: viewModelNavigationBar.managerConfig.idSession,
                        ReceiverId: viewModelNavigationBar.idSender,
                        UserId: viewModelNavigationBar.IdUser,
                        ViewId: viewModelNavigationBar.View.IdView,
                        GenericParameterItems: [response.Result]
                    });

                    changeValuesFromServer(response.ViewItems, viewModelNavigationBar);
                }

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModelNavigationBar.setDataItems = function () {
        $("#" + viewModelNavigationBar.listenNavBar.ViewItemId).data("viewItem", viewModelNavigationBar.listenNavBar);
        $("#" + viewModelNavigationBar.navigationBar.ViewItemId).data("viewItem", viewModelNavigationBar.navigationBar);
        $("#" + viewModelNavigationBar.navFirst.ViewItemId).data("viewItem", viewModelNavigationBar.navFirst);
        $("#" + viewModelNavigationBar.navPrevious.ViewItemId).data("viewItem", viewModelNavigationBar.navPrevious);
        $("#" + viewModelNavigationBar.navNext.ViewItemId).data("viewItem", viewModelNavigationBar.navNext);
        $("#" + viewModelNavigationBar.navLast.ViewItemId).data("viewItem", viewModelNavigationBar.navLast);
        $("#" + viewModelNavigationBar.navPos.ViewItemId).data("viewItem", viewModelNavigationBar.navPos);
        $("#" + viewModelNavigationBar.navItemName.ViewItemId).data("viewItem", viewModelNavigationBar.navItemName);
        

    }

    function initNavigationBar() {
        $('.navbar-button').kendoButton({
            click: viewModelNavigationBar.clickedButton
        });

        viewModelNavigationBar.connectCallback = function () {
            $.post(viewModelNavigationBar.ActionConnected, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response, viewModelNavigationBar);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModelNavigationBar.disconnectCallback = function () {
            $.post(viewModelNavigationBar.ActionDisconnected, { idInstance: viewModelNavigationBar.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response, viewModelNavigationBar);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModelNavigationBar.setDataItems();

        for (var ix in viewModelNavigationBar.ViewItems) {
            var viewItem = viewModelNavigationBar.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
            }
        }

        initWebsocket(viewModelNavigationBar, viewModelNavigationBar.IdSession, viewModelNavigationBar.IdInstance, viewModelNavigationBar.IdUser, viewModelNavigationBar.connectCallback, viewModelNavigationBar.disconnectCallback);

        viewModelNavigationBar.addEndpoint(viewModelNavigationBar.ChannelNavigationItems);
        viewModelNavigationBar.addEndpoint(viewModelNavigationBar.ChannelSelectedNavigationGuid);

        viewModelNavigationBar.startWebsocket(viewModelNavigationBar.messageFromWebsocket);
    }

    window.addEventListener("load", initNavigationBar, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div>
    <div id="@(Model.navigationBar.ViewItemId)" class="input-group">
        <div class="k-button-group">
            <button class="k-button navbar-button" id="@(Model.listenNavBar.ViewItemId)"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        </div>
        <div class="k-button-group">
            <button class="k-button navbar-button" id="@(Model.navFirst.ViewItemId)"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
            <button class="k-button navbar-button" id="@(Model.navPrevious.ViewItemId)"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <button class="k-button navbar-button" id="@(Model.navNext.ViewItemId)"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button class="k-button navbar-button" id="@(Model.navLast.ViewItemId)"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
        </div>
        <label id="@(Model.navPos.ViewItemId)" class="input-group-text"></label>
        <label id="@(Model.navItemName.ViewItemId)" class="input-group-text"></label>
    </div>

</div>

