﻿@model OModules.Models.DiffTextViewModel
    @{
        ViewBag.Title = "DiffText";
    }


    <link href="~/Content/jsdifflib/diffview.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        body {
            font-size: 12px;
            font-family: Sans-Serif;
        }

        h2 {
            margin: 0.5em 0 0.1em;
            text-align: center;
        }

        .top {
            text-align: center;
        }

        .textInput {
            display: block;
            width: 49%;
            float: left;
        }

        textarea {
            width: 100%;
            height: 300px;
        }

        label:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        ins {
            text-decoration: none;
            background-color: #d4fcbc;
        }

        del {
            text-decoration: line-through;
            background-color: #fbb6c2;
            color: #555;
        }

        #diffOutput {
            width: 100%;
            min-height: 200px;
        }
    </style>


    <script src="~/Scripts/jsdifflib/difflib.js"></script>
    <script src="~/Scripts/jsdifflib/diffview.js"></script>

    <script>

        var viewModel = @(Html.Raw(Model.GetJsonItem()));

        viewModel.clickedButton = function (e) {
            var id = $(e.event.target).closest(".k-button").attr("id");
            var button = $(e.event.target).closest(".k-button");
            if (id === viewModel.isListen.ViewItemId) {
                $('#' + viewModel.isListen.ViewItemId).toggleMode();
            } else if ($(e.event.target).closest(".k-button").hasClass("toolButton")) {
                var url = $(e.event.target).closest(".k-button").data('url');
                window.location = url;
            }

        }


        viewModel.validateReference = function (idRef) {
            var oItem = {
                GUID: idRef
            };
            $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);

                    $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);


                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });


        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);

            if (message.ChannelId == viewModel.ChannelSelectedCell) {
                if (typeof viewModel.selectedTextArea !== 'undefined') {
                    $('#' + viewModel.selectedTextArea).val(message.GenericParameterItems[0]);
                    viewModel.changedText();
                }
            }
            var listen = getViewItemValue(viewModel.isListen, "Checked", false);

            if (!listen) return;

            if (message.ChannelId == viewModel.ChannelSelectedObject) {
                viewModel.validateReference(message.OItems[0].GUID)

            }
        }

        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();

            if (urlParameterConfig.objectParam !== undefined) {
                viewModel.validateReference(urlParameterConfig.objectParam)
            }
        }

        viewModel.setDataItems = function () {
            $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
            $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
            $("#" + viewModel.baseText.ViewItemId).data("viewItem", viewModel.baseText);
            $("#" + viewModel.newText.ViewItemId).data("viewItem", viewModel.newText);
            $("#" + viewModel.sidebyside.ViewItemId).data("viewItem", viewModel.sidebyside);
            $("#" + viewModel.LblSidebyside.ViewItemId).data("viewItem", viewModel.LblSidebyside);
            $("#" + viewModel.inline.ViewItemId).data("viewItem", viewModel.inline);
            $("#" + viewModel.lblInline.ViewItemId).data("viewItem", viewModel.lblInline);
            $("#" + viewModel.contextSize.ViewItemId).data("viewItem", viewModel.contextSize);
            $("#" + viewModel.diffOutput.ViewItemId).data("viewItem", viewModel.diffOutput);

        }

        viewModel.changedText = function () {
            if (typeof viewModel.timeOutDiff !== 'undefined') {
                clearTimeout(viewModel.timeOutDiff);
            }

            viewModel.timeOutDiff = setTimeout(function () {
                $("#@(Model.diffOutput.ViewItemId)").openPageLoader();
                var html1 = $('#@(Model.baseText.ViewItemId)').val();
                var html2 = $('#@(Model.newText.ViewItemId)').val();

                html1 = utf8_to_b64(html1);
                html2 = utf8_to_b64(html2);

                var htmlDiffItem = {
                    Html1: html1,
                    Html2: html2
                };

                $.post(viewModel.ActionHtmlDiff, { htmlDiffItems: [htmlDiffItem] })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.IsSuccessful) {
                            var htmlDiff = b64_to_utf8(response.Result[0].HtmlDiff);
                            $("#@(Model.diffOutput.ViewItemId)").html(htmlDiff);
                            $("#@(Model.diffOutput.ViewItemId)").closePageLoader();
                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 500);


        }

        function init() {
            $('#@(Model.baseText.ViewItemId)').on('focus', function (e) {
                viewModel.selectedTextArea = '@(Model.baseText.ViewItemId)';
            })

            $('#@(Model.newText.ViewItemId)').on('focus', function (e) {
                viewModel.selectedTextArea = '@(Model.newText.ViewItemId)';
            })

            $('#@(Model.baseText.ViewItemId)').on('input paste keydown', function (e) {
                viewModel.changedText();
            })

            $('#@(Model.newText.ViewItemId)').on('input paste keydown', function (e) {
                viewModel.changedText();
            })

            viewModel.toolbarItem = $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
                items: [
                    {
                        template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                    }
                ]
            }).data("kendoToolBar");


            $('.k-button').kendoButton({
                click: viewModel.clickedButton
            });
            $.post(viewModel.ActionGetToolsForToolbar, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);

                    for (var ix in response) {
                        var tool = response[ix];

                        if (tool.FontClass !== '') {
                            viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '"><i class="fa ' + tool.FontClass + '" aria-hidden="true"></i></button>' });
                        } else {
                            viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '">' + tool.Caption + '</button>' });
                        }

                    }

                    $('.toolButton').kendoButton({
                        click: viewModel.clickedButton
                    });
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            viewModel.connectCallback = function () {
                $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        changeValuesFromServer(response);
                        viewModel.getUrlParameters();

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }

            viewModel.disconnectCallback = function () {
                $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("disconnected", response);
                        changeValuesFromServer(response);
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }

            viewModel.setDataItems();

            for (var ix in viewModel.ViewItems) {
                var viewItem = viewModel.ViewItems[ix];

                for (var jx in viewItem.ViewItemValues) {
                    var viewItemValue = viewItem.ViewItemValues[jx];

                    if (viewItemValue.ViewItemType == "Enable") {
                        $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                    }
                    else if (viewItemValue.ViewItemType == "Visible") {
                        $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                    }
                    else if (viewItemValue.ViewItemType == "Checked") {
                        $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                    }
                    else if (viewItemValue.ViewItemType == "Content") {
                        $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                    }
                    else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                        var title = viewItemValue.Value;
                        document.title = title;
                    }
                }
            }



            initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
            viewModel.addEndpoint(viewModel.ChannelSelectedObject);
            viewModel.addEndpoint(viewModel.ChannelSelectedCell);
            viewModel.startWebsocket(viewModel.messageFromWebsocket);
        }

        window.addEventListener("load", init, false);
        window.onerror = function (error, url, line) {
            //errorOccured(error, url, line);
        }
    </script>

<div id="@(Model.toolbar.ViewItemId)"></div>
<div>
    <div class="row w-100">
        <div class="textInput col-sm-6">
            <h2>Base Text</h2>
            <textarea id="@(Model.baseText.ViewItemId)"></textarea>
        </div>
        <div class="textInput col-sm-6">
            <h2>New Text</h2>
            <textarea id="@(Model.newText.ViewItemId)"></textarea>
        </div>
    </div>

    <div class="row w-100 h-100">
        <div class="col-sm-12" id="@(Model.diffOutput.ViewItemId)"> </div>    
    </div>
</div>

