﻿@model OModules.Models.GoogleCalendarSyncViewModel
@{
    ViewBag.Title = "GoogleCalendarSync";
}
<style>
    .object-list-container,
    .object-list,
    .objectlist-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 90vh; /* DO NOT USE !important for setting the Grid height! */
    }
</style>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button new-item"><i class="fa fa-file" aria-hidden="true"></i></button>
        <button class="k-button delete-item"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button apply-item"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button add-to-clipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button is-listen"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
    </div>

</script>
<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
        <td class="applyCell">
            <input type="checkbox" class="applyCellContent">
        </td>
        <td class="nameCell">
            <span class="nameCellContent">#= (data.NameItem == null) ? ' ' : data.NameItem # </span>
        </td>
        <td class="nameParentCell">
            <span class="nameParentCellContent">#= (data.NameParent == null) ? ' ' : data.NameParent # </span>
        </td>
        <td class="nameAttributeTypeCell">
            <span class="nameAttributeTypeCellContent">#= (data.NameAttributeType == null) ? ' ' : data.NameAttributeType # </span>
        </td>
        <td class="valueCell">
            <span class="valueContent">#= (data.ValueNamed == null) ? ' ' : data.ValueNamed # </span>
        </td>
        <td class="typeCell">
            <span class="typeCellContent">#= (data.Type == null) ? ' ' : data.Type # </span>
        </td>
    </tr>
</script>
<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode();
        } else if ($(e.event.target).closest(".k-button").hasClass("toolButton")) {
            var url = $(e.event.target).closest(".k-button").data('url');
            window.location = url;
        } else if (id === viewModel.syncGoogleCalendar.ViewItemId) {
            $('body').openPageLoader();
            $.post(viewModel.ActionSyncGoogleCalendar, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);

                    viewModel.checkState();

                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('#' + viewModel.outputResult.ViewItemId).html(error);
                    $('body').closePageLoader();
                });
        }

    }

    viewModel.checkState = function () {
        setTimeout(function () {
            $.post(viewModel.ActionGetRunningState, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);
                    var running = getViewItemsValue(response.ViewItems, viewModel.outputResult.ViewItemId, "Other");
                    if (running) {
                        viewModel.checkState();
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('#' + viewModel.outputResult.ViewItemId).html(error);
                    $('body').closePageLoader();
                });
        }, 2000);
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                var running = getViewItemsValue(response.ViewItems, viewModel.outputResult.ViewItemId, "Other");
                if (running) {
                    viewModel.checkState();
                }
                var windowTitle = getViewItemsValue(response.ViewItems, "windowTitle", "Content");
                document.titel = windowTitle;
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.syncGoogleCalendar.ViewItemId).data("viewItem", viewModel.syncGoogleCalendar);
        $("#" + viewModel.outputResult.ViewItemId).data("viewItem", viewModel.outputResult);


    }

    function init() {
        viewModel.toolbarItem = $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',
                    template: '<button id="' + viewModel.syncGoogleCalendar.ViewItemId + '" class="k-button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>'

                }
            ]
        }).data("kendoToolBar");

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $.post(viewModel.ActionGetToolsForToolbar, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);

                for (var ix in response) {
                    var tool = response[ix];

                    if (tool.FontClass !== '') {
                        viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '"><i class="fa ' + tool.FontClass + '" aria-hidden="true"></i></button>' });
                    } else {
                        viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '">' + tool.Caption + '</button>' });
                    }

                }

                $('.toolButton').kendoButton({
                    click: viewModel.clickedButton
                });
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            var configurationObjectList = {
                channelSelectedItem: viewModel.ChannelSelectedObject,
                actionGetGridConfig: viewModel.ActionGetGridConfigObjectList,
                templateSelector: "#template",
                actionNewItem: viewModel.ActionNewItem,
                channelAppliedItems: viewModel.ChannelAppliedItems,
                idEndpoint: viewModel.IdEndpoint,
                idSession: viewModel.IdSession,
                idUser: viewModel.IdUser,
                idInstance: viewModel.IdInstance,
                managerConfig: viewModel.managerConfig,
                callbackGridCreated: function () {
                    $('.object-list-container').data('object-list-config').handler.setIdParent('76039b69e42343c4817ad759c47b6ce4');
                },
                useIdParent: true
            }
            $('.object-list-container').createObjectList(configurationObjectList);
            
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="@(Model.toolbar.ViewItemId)"></div>
<div id="@(Model.outputResult.ViewItemId)"></div>
<div>
    <div class="object-list-container"></div>
</div>

