﻿@model OModules.Models.ToolBoxViewModel
@{
    ViewBag.Title = "Index";
}
    <link href="~/Scripts/jsoneditor/jsoneditor.min.css" rel="stylesheet" />
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    @@media screen and (max-width: 750px) {
        .idInput {
            display: none !important;
        }
    }

    @@media screen and (max-width: 800px) {
        .idInput {
            width: 150px !important;
        }
    }

    @@media screen and (min-width: 801px) {
        .idInput {
            width: 200px !important;
        }
    }

    #example,
    #vertical,
    .batch-grid,
    .batch-grid-container,
    .batch-grid-grid,
    .execution-log,
    .execution-log-grid-container,
    .execution-log-grid-grid,
    .k-tabstrip-wrapper,
    .k-tabstrip {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }

    .k-content {
        height: 90%;
    }

    .execution-result, .execution-properties {
        display: block;
        margin: 30px auto 10px;
        width: 100%;
        height: 100%;
    }
</style>
<script src="~/Scripts/ToolBox/BatchGrid.js"></script>
<script src="~/Scripts/ToolBox/ModuleExecutionLog.js"></script>
<script src="~/Scripts/ToolBox/ModuleExeuctionProperties.js"></script>
<script src="~/Scripts/jsoneditor/jsoneditor.min.js"></script>
<script src="~/Scripts/ToolBox/JsonEditor.js"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function init() {
        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false },
                { collapsible: false, size: "30%" }
            ]
        });

        $("#horizontal").kendoSplitter({
            panes: [
                { collapsible: false, size: "30%" },
                { collapsible: false }
            ]
        });

        $("#tabstrip").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        //// create the editor
        //const container = {};
        //const options = {}
        //const editor = new JSONEditor(container[0], options)

        //// set json
        //const initialJson = {
        //    "Array": [1, 2, 3],
        //    "Boolean": true,
        //    "Null": null,
        //    "Number": 123,
        //    "Object": {"a": "b", "c": "d"},
        //    "String": "Hello World"
        //}
        //editor.set(initialJson);

        //// get json
        //const updatedJson = editor.get()

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                     var configurationBatchGrid = {
                        selector: ".batch-grid",
                        actionBatchGridInit: viewModel.ActionBatchGridInit,
                        managerConfig: viewModel.managerConfig,
                        initCompleteHandler: function () {

                        },
                         selectedFunction: function (functionItem) {
                             viewModel.executionPropertiesItem.handler.selectedFunction(functionItem);
                         }
                    };
                    $('.batch-grid').createToolBoxBatchGrid(configurationBatchGrid);

                    var configurationExecutionLog = {
                        selector: ".execution-log",
                        actionExecutionLogInit: viewModel.ActionModuleExecutionLogInit,
                        managerConfig: viewModel.managerConfig,
                        initCompleteHandler: function (executionLogItem) {
                            viewModel.executionLogItem = executionLogItem;
                        }
                    };
                    $('.execution-log').createToolBoxExecutionLog(configurationExecutionLog);

                    var configurationExecutionProperties = {
                        selector: ".execution-properties",
                        idParentInstance: viewModel.IdInstance,
                        actionModuleExecutionPropertiesInit: viewModel.ActionModuleExecutionPropertiesInit,
                        managerConfig: viewModel.managerConfig,
                        initCompleteHandler: function (executionPropertiesItem) {
                            viewModel.executionPropertiesItem = executionPropertiesItem;
                        }
                    };
                    $('.execution-properties').createModuleExecutionProperties(configurationExecutionProperties);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="example">
    <div id="vertical">
        <div id="top-pane">
            <div id="horizontal" style="height: 100%; width: 100%;">
                <div id="left-pane">
                    <div class="batch-grid">

                    </div>
                </div>
                <div id="right-pane">
                    <div id="tabstrip">
                        <ul>
                            <li class="k-state-active">
                                Properties
                            </li>
                            <li>
                                Result
                            </li>
                        </ul>
                        <div>
                            <div class="execution-properties">
                                
                            </div>
                        </div>
                        <div>
                            <div class="execution-result">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-pane">
            <div class="execution-log">

            </div>
        </div>
    </div>
</div>


