﻿@model OModules.Models.JsonEditorViewModel
@{
    ViewBag.Title = "JsonEditor";
}



<link href="~/Scripts/jsoneditor/jsoneditor.min.css" rel="stylesheet" />
<script src="~/Scripts/ToolBox/JsonEditor.js"></script>
<script src="~/Scripts/jsoneditor/jsoneditor.min.js"></script>
<script>
        var viewModel = @(Html.Raw(Model.GetJsonItem()));
        var selectorJsonEditor = ".json-editor";

        viewModel.validateReference = function (idRef) {
            var oItem = {
                GUID: idRef
            };

            viewModel.jsonEditorItem.handler.validateReference(oItem);

        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);

            var listen = getViewItemValue(viewModel.isListen, "Checked", false);

            if (!listen) return;

            if (message.ChannelId == viewModel.ChannelSelectedObject) {
                viewModel.validateReference(message.OItems[0].GUID)

            }
        }

        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();

            if (urlParameterConfig.objectParam !== undefined) {
                viewModel.validateReference(urlParameterConfig.objectParam)
            }
        }

        viewModel.connectCallback = function () {
                $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        changeValuesFromServerChildren(response, [ selectorJsonEditor ]);

                        var configurationJsonEditor = {
                            selector: ".json-editor",
                            viewModel: viewModel,
                            managerConfig: viewModel.managerConfig,
                            initCompleteHandler: function (jsonEditorItem) {
                                viewModel.jsonEditorItem = jsonEditorItem;
                                viewModel.getUrlParameters();
                            }
                        };
                        $('.json-editor').createToolBoxJsonEditor(configurationJsonEditor);


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
        }

        viewModel.disconnectCallback = function () {
                $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("disconnected", response);
                        changeValuesFromServerChildren(response, [ selectorJsonEditor ]);
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
        }

        function init() {

        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
            viewModel.addEndpoint(viewModel.ChannelSelectedObject);
            viewModel.startWebsocket(viewModel.messageFromWebsocket);
    </script>


    <div class="json-editor">

    </div>
