﻿@model OModules.Models.PSScriptOutputViewModel
@{
    ViewBag.Title = "PSScriptOutput";
}
<style>
    body, html {
        height: 100%
    }
    .inputAuthenticationPassword {
        width: 270px !important;
    }
    .auto {
        height: 5%;
        overflow: auto;
        width: 100%;
        border: 1px solid #000;
        padding: 10px;
    }
    #@(Model.outputResult.ViewItemId)  {
        height: 89%;
        overflow: auto;
    }
</style>
<script src="~/Scripts/Security/Authentication.js"></script>
<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode();
        } else if ($(e.event.target).closest(".k-button").hasClass("toolButton")) {
            var url = $(e.event.target).closest(".k-button").data('url');
            window.location = url;
        } else if (id === viewModel.getPSOutput.ViewItemId) {
            $('body').openPageLoader();
            $.post(viewModel.ActionGetScriptOutput, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);

                    viewModel.checkState();

                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('#' + viewModel.outputResult.ViewItemId).html(error);
                    $('body').closePageLoader();
                });
        }
    }

    viewModel.checkState = function () {
        setTimeout(function () {
            $.post(viewModel.ActionGetRunningState, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.ViewItems);
                    var running = getViewItemsValue(response.ViewItems, viewModel.outputResult.ViewItemId, "Other");
                    if (running) {
                        viewModel.checkState();
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('#' + viewModel.outputResult.ViewItemId).html(error);
                    $('body').closePageLoader();
                });
        }, 2000);
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                var running = getViewItemsValue(response.ViewItems, viewModel.outputResult.ViewItemId, "Other");
                if (running) {
                    viewModel.checkState();
                }
                var windowTitle = getViewItemsValue(response.ViewItems, "windowTitle", "Content");
                document.titel = windowTitle;
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (message.ChannelId = viewModel.ChannelControllerMessage) {
            var style = "";
            var messageState = message.GenericParameterItems[0];
            if (messageState.MessageType === 2) {
                style = " style='Color:yellow;'";
            } else if (messageState.MessageType === 3) {
                style = " style='Color:red;'";
            } else if (messageState.MessageType === 4) {
                style = " style='Color:red;'";
            }
            $('#logArea').append("<span" + style + ">" + messageState.Message + "</span></br>");
            var height = $('#logArea').height();
            $('#logArea').animate({scrollTop: $('#logArea').get(0).scrollHeight}, 500);
        }

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.getPSOutput.ViewItemId).data("viewItem", viewModel.getPSOutput);
        $("#" + viewModel.outputResult.ViewItemId).data("viewItem", viewModel.outputResult);


    }

    function init() {
        viewModel.toolbarItem = $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',
                    template: '<button id="' + viewModel.getPSOutput.ViewItemId + '" class="k-button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>'

                }
            ]
        }).data("kendoToolBar");

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $.post(viewModel.ActionGetToolsForToolbar, { idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);

                for (var ix in response) {
                    var tool = response[ix];

                    if (tool.FontClass !== '') {
                        viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '"><i class="fa ' + tool.FontClass + '" aria-hidden="true"></i></button>' });
                    } else {
                        viewModel.toolbarItem.add({ template: '<button class="toolButton k-button" data-url="' + tool.Url + '">' + tool.Caption + '</button>' });
                    }

                }

                $('.toolButton').kendoButton({
                    click: viewModel.clickedButton
                });
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    var authenticationConfig = {
                        actionAuthenticationInit: viewModel.ActionAuthenticationInit
                    };

                    $('#' + viewModel.authenticationWindow.ViewItemId).createAuthentication(authenticationConfig, function (isAuthenticated) {
                        viewModel.isAuthenticated = isAuthenticated;
                        if (viewModel.isAuthenticated) {
                            viewModel.getUrlParameters();
                        }

                    });

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="@(Model.toolbar.ViewItemId)"></div>
<div id="@(Model.outputResult.ViewItemId)"></div>
<div id="logArea" class="auto"></div>
<div id="@(Model.authenticationWindow.ViewItemId)"></div>



