﻿@model OModules.Models.WordpressSyncViewModel
@{
    ViewBag.Title = "WordPressSync";
}
<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    label {
        margin-right: 8px;
    }
    input {
        min-width: @(Model.defaultWidth)px;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.buttonGetBlogs.ViewItemId) {
            $('body').openPageLoader();
            $.post(viewModel.ActionGetUserBlogs, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        changeValuesFromServer(response.ViewItems);
                        var dropDownConfig = getViewItemsValue(response.ViewItems, viewModel.blogsDropdown.ViewItemId, "DataSource");

                        jQuery.extend(dropDownConfig, {
                            filter: "contains",
                            suggest: true
                        });

                        $.extend(dropDownConfig, {
                            change: function (e) {
                                var selectedItem = this.dataItem();
                                viewModel.selectedUserBlogId = selectedItem.Value;
                                if (selectedItem != undefined && selectedItem != null) {
                                    $('#' + viewModel.buttonPostList.ViewItemId).setEnabled(true);
                                }
                            }
                        });

                        $('#' + viewModel.blogsDropdown.ViewItemId).kendoDropDownList(dropDownConfig);
                        viewModel.dropdownListUserBlogs = $('#' + viewModel.blogsDropdown.ViewItemId).data("kendoDropDownList");
                        viewModel.dropdownListUserBlogs.ul.width(@(Model.defaultWidth));
                    } else {

                        
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();

                    
                });
        } else if (id === viewModel.buttonPostList.ViewItemId) {
            $('body').openPageLoader();
            viewModel.gridItem.dataSource.data([]);
            $.post(viewModel.ActionGetPostItems, { idInstance: viewModel.IdInstance, userBlogId: viewModel.selectedUserBlogId })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        viewModel.reloadGrid();
                    } else {

                        
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();

                    
                });
        } else if (id === viewModel.buttonOkAuthentication.ViewItemId) {
            $('#' + viewModel.alertWrongPassword.ViewItemId).hide();
            $('#' + viewModel.alertWrongPassword.ViewItemId).html('');
            var password = $('#' + viewModel.inputAuthenticationPassword.ViewItemId).val();
            $('body').openPageLoader();
            $.post(viewModel.ActionValidatePassword, { idInstance: viewModel.IdInstance, password: password })
                .done(function (response) {
                    if (response.IsSuccessful) {

                        viewModel.isAuthenticated = true;
                        viewModel.windowAuthentication.close();
                        viewModel.getUrlParameters();
                    } else {

                        var alert = getViewItemValue(response.ViewItems[0], "Content", "");
                        $('#' + viewModel.alertWrongPassword.ViewItemId).html(alert);
                        $('#' + viewModel.alertWrongPassword.ViewItemId).show();
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();

                    var alert = getViewItemValue(viewModel.alertWrongPassword, "Content", "");
                    $('#' + viewModel.alertWrongPassword.ViewItemId).html(alert);
                    $('#' + viewModel.alertWrongPassword.ViewItemId).show();
                });
        }

    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {


        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();


    }

    viewModel.reloadGrid = function () {
        viewModel.gridItem.dataSource.read();

    }



    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.webserviceLabel.ViewItemId).data("viewItem", viewModel.webserviceLabel);
        $("#" + viewModel.webserviceDropdown.ViewItemId).data("viewItem", viewModel.webserviceDropdown);
        $("#" + viewModel.baseUrlLabel.ViewItemId).data("viewItem", viewModel.baseUrlLabel);
        $("#" + viewModel.baseUrlInp.ViewItemId).data("viewItem", viewModel.baseUrlInp);
        $("#" + viewModel.passwordLabel.ViewItemId).data("viewItem", viewModel.passwordLabel);
        $("#" + viewModel.userNameLabel.ViewItemId).data("viewItem", viewModel.userNameLabel);
        $("#" + viewModel.userNameInp.ViewItemId).data("viewItem", viewModel.userNameInp);
        $("#" + viewModel.blogsLabel.ViewItemId).data("viewItem", viewModel.blogsLabel);
        $("#" + viewModel.blogsDropdown.ViewItemId).data("viewItem", viewModel.blogsDropdown);
        $("#" + viewModel.passwordInp.ViewItemId).data("viewItem", viewModel.passwordInp);
        $("#" + viewModel.buttonGetBlogs.ViewItemId).data("viewItem", viewModel.buttonGetBlogs);
        $("#" + viewModel.buttonPostList.ViewItemId).data("viewItem", viewModel.buttonPostList);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
    }

    viewModel.getUserBlogId = function () {
        return viewModel.selectedUserBlogId;
    }

    function init() {

        $('#' + viewModel.alertWrongPassword.ViewItemId).hide();

        $('#' + viewModel.authenticationWindow.ViewItemId).kendoWindow({
            width: "326px",
            title: "Your Password",
            visible: false,
            closable: false,
            actions: {},
            close: function () {

            }
        }).data("kendoWindow").center();

        viewModel.windowAuthentication = $('#' + viewModel.authenticationWindow.ViewItemId).data("kendoWindow");

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        //$('#' + viewModel.webserviceDropdown.ViewItemId).kendoDropDownList();
        //$('#' + viewModel.blogsDropdown.ViewItemId).kendoDropDownList();

        @*viewModel.dropdownList = $('#' + viewModel.webserviceDropdown.ViewItemId).data("kendoDropDownList");
        viewModel.dropdownList.ul.width(@(Model.defaultWidth));*@

        @*viewModel.dropdownList = $('#' + viewModel.blogsDropdown.ViewItemId).data("kendoDropDownList");
        viewModel.dropdownList.ul.width(@(Model.defaultWidth));*@

        $.post(viewModel.ActionGetGridConfig)
            .done(function (response) {

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance, userBlogId: viewModel.getUserBlogId };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.dataSource);
                response.dataSource = dataSource;
                response.dataBound = function () {
                    $('.copyPassword').hide();


                };

                $.extend(response, {
                    change: viewModel.gridChangeHandler
                });

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).kendoGrid(response).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })

                viewModel.reloadGrid();


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response.Result);

                    var viewItem = response.Result[0];
                    viewModel.isAuthenticated = !getViewItemValue(viewItem, "Other", false);
                    
                    viewModel.windowAuthentication.open();
                    
                    var dropDownConfig = getViewItemsValue(response.Result, viewModel.webserviceDropdown.ViewItemId, "DataSource");

                    jQuery.extend(dropDownConfig, {
                        filter: "contains",
                        suggest: true
                    });

                    $.extend(dropDownConfig, {
                        change: function (e) {
                            var selectedItem = this.dataItem();
                            $.post(viewModel.ActionGetUsernameAndPassword, { idWebService: selectedItem.Value, idInstance: viewModel.IdInstance })
                                .done(function (response) {
                                    changeValuesFromServer(response.ViewItems);
                                })
                        }
                    });

                    $('#' + viewModel.webserviceDropdown.ViewItemId).kendoDropDownList(dropDownConfig);
                    viewModel.dropdownListWebServices = $('#' + viewModel.webserviceDropdown.ViewItemId).data("kendoDropDownList");
                    viewModel.dropdownListWebServices.ul.width(@(Model.defaultWidth));
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<table>
    <tr>
        <td><label id="@(Model.webserviceLabel.ViewItemId)"></label></td>
        <td align="right"><input id="@(Model.webserviceDropdown.ViewItemId)" type="text" class="form-control itemCombo" /></td>
    </tr>
    <tr>
        <td><label id="@(Model.baseUrlLabel.ViewItemId)"></label></td>
        <td><input id="@(Model.baseUrlInp.ViewItemId)" type="text" /></td>
    </tr>
    <tr>
        <td><label id="@(Model.userNameLabel.ViewItemId)"></label></td>
        <td><input id="@(Model.userNameInp.ViewItemId)" type="text" /></td>
    </tr>
    <tr>
        <td><label id="@(Model.passwordLabel.ViewItemId)"></label></td>
        <td><input id="@(Model.passwordInp.ViewItemId)" type="password" /></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><button id="@(Model.buttonGetBlogs.ViewItemId)" class="k-button" /></td>
    </tr>
    <tr>
        <td><label id="@(Model.blogsLabel.ViewItemId)"></label></td>
        <td align="right"><input id="@(Model.blogsDropdown.ViewItemId)" type="text" class="form-control itemCombo" /></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><button id="@(Model.buttonPostList.ViewItemId)" class="k-button" /></td>
    </tr>
</table>
<div id="@(Model.grid.ViewItemId)"></div>

<div>
    <div id="@(Model.authenticationWindow.ViewItemId)">
        <div id="@(Model.toolbarAuthentication.ViewItemId)"></div>
        <form>
            <div class="form-group">
                <label for="@(Model.inputAuthenticationPassword.ViewItemId)">Your Password</label>
                <input type="password" class="form-control" id="@(Model.inputAuthenticationPassword.ViewItemId)" placeholder="Password">
            </div>
        </form>

        <div style="width: 100%; height: 30px; ">
            <div style="float: left; margin: 4px;">
                <div id="@(Model.alertWrongPassword.ViewItemId)" class="alert alert-danger" role="alert">

                </div>
            </div>
            <div style="float: right; margin: 4px">
                <button class="k-button" id="@(Model.buttonOkAuthentication.ViewItemId)">OK</button>&nbsp;
            </div>
        </div>
    </div>
</div>
