﻿@model OModules.Models.FileDownloadViewModel
@{
    ViewBag.Title = "FileDownload";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #gridParent,
    #grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 95%; /* DO NOT USE !important for setting the Grid height! */
    }

    table,
    tr,
    .content-cell {
        height: 100%;
        width: 100%;
    }

    .nav-cell {
        width: 30px;
        height: 100%;
        vertical-align: top;
        background-color: lightgray
    }

    .file-download-action-button {
        width: 25px;
        height: 25px;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    
    viewModel._itemsPreApply = [];
    viewModel._itemsPreDownload = [];

    viewModel.validateReference = function (oItem) {

        $('body').openPageLoader();
        viewModel.oItem = oItem;
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);
                viewModel.oItem.Name = getViewItemValue(response.ViewItems[0], "Content", "");

                viewModel.reloadGrid();

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {

            viewModel.validateReference(message.OItems[0]);
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }

    viewModel.clickedButton = function (e) {

        var button = $(this);
        var id = $(e.event.target).closest(".k-button").attr("id");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        }
        else if (id == viewModel.downloadFiles.ViewItemId && viewModel._itemsPreDownload.length > 0) {
            var fileIds = [];
            var url = '';

            for (var i in viewModel._itemsPreDownload) {
                var itemPreDownload = viewModel._itemsPreDownload[i];
                fileIds.push(itemPreDownload.IdFile);
                if (url !== '') {
                    url += '&';
                }
                url += 'idFiles=' + itemPreDownload.IdFile;
            }

            url = viewModel.ActionGetFiles + '?' + url + '&refName=' + viewModel.oItem.Name;

            //var files = JSON.stringify(fileIds);

            //var url = viewModel.ActionGetFiles + '?idFiels=' + files;

            window.open(url, "_blank");

            //$.post(viewModel.ActionGetFiles, { idFiles: fileIds })
            //    .done(function (response) {
            //        var a = document.createElement('a');
            //        var url = window.URL.createObjectURL(response);
            //        a.href = url;
            //        a.download = 'myfile.zip';
            //        a.click();
            //        window.URL.revokeObjectURL(url);
            //    })
            //    .fail(function (jqxhr, textStatus, error) {
            //        // stuff
            //    });
        } else if (id == viewModel.applyItem.ViewItemId && viewModel._itemsPreApply.length > 0) {
            var oItems = [];
            for (var i in viewModel._itemsPreApply) {
                var item = viewModel._itemsPreApply[i];

                oItems.push({
                    GUID: item.IdFile,
                    Name: item.NameFile
                });


            }

            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelAppliedObjects,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: oItems
            });
        }
    }

    viewModel.gridChangeHandler = function (e) {
        var selectedRows = this.select();


        if (selectedRows.length !== 1) {
            return;
        }
        viewModel.dataItemRow = viewModel.gridItem.select();
        viewModel.dataItem = viewModel.gridItem.dataItem(viewModel.gridItem.select());

    };

    viewModel.reloadGrid = function () {
        viewModel.gridItem.dataSource.read();

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.newItem.ViewItemId).data("viewItem", viewModel.newItem);
        $("#" + viewModel.deleteItem.ViewItemId).data("viewItem", viewModel.deleteItem);
        $("#" + viewModel.applyItem.ViewItemId).data("viewItem", viewModel.applyItem);
        $("#" + viewModel.downloadFiles.ViewItemId).data("viewItem", viewModel.downloadFiles);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
    }

    viewModel.addApplyItem = function (item) {
        viewModel._itemsPreApply.push(item);
        viewModel.checkViewState();
    };
    viewModel.removeApplyItem = function (item) {
        viewModel._itemsPreApply = jQuery.grep(viewModel._itemsPreApply, function (itemInArray) {
            return itemInArray.IdFile != item.IdFile
        });

        viewModel.checkViewState();
    };

    viewModel.addDownloadItem = function (item) {
        viewModel._itemsPreDownload.push(item);
        viewModel.checkViewState();
    };
    viewModel.removeDownloadItem = function (item) {
        viewModel._itemsPreDownload = jQuery.grep(viewModel._itemsPreDownload, function (itemInArray) {
            return itemInArray.IdFile != item.IdFile
        });

        viewModel.checkViewState();
    };

    viewModel.checkViewState = function () {
        $('#' + viewModel.applyItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0);
        $('#' + viewModel.downloadFiles.ViewItemId).setEnabled(viewModel._itemsPreDownload.length > 0);
    };

    function init() {
        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $.post(viewModel.ActionGetGridConfig)
            .done(function (response) {

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.dataSource);
                response.dataSource = dataSource;
                response.dataBound = function () {

                    $('.chkbxApply').change(function () {
                        var row = $(this).closest('tr');
                        var item = viewModel.gridItem.dataItem(row);
                        var applied = $(this).prop("checked");
                        item.Apply = applied;
                        if (item.Apply) {
                            viewModel.addApplyItem(item);
                            if (item.Managed) {
                                viewModel.addDownloadItem(item);
                            }
                        } else {
                            viewModel.removeApplyItem(item);
                            viewModel.removeDownloadItem(item);
                        }

                    });

                };

                $.extend(response, {
                    change: viewModel.gridChangeHandler
                });

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).kendoGrid(response).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })



            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        viewModel.getUrlParameters();

        createStatusBar(viewModel.PageInitState);
    }

    


    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<table>
    <tr>
        <td class="nav-cell">
            <button id='@(Model.newItem.ViewItemId)' class="k-button file-download-action-button" ><i class="fa fa-file" aria-hidden="true"></i></button>
            <button id='@(Model.deleteItem.ViewItemId)' class="k-button file-download-action-button" ><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            <button id='@(Model.applyItem.ViewItemId)' class="k-button file-download-action-button" ><i class="fa fa-check-circle" aria-hidden="true"></i></button>
            <button id='@(Model.downloadFiles.ViewItemId)' class="k-button file-download-action-button" ><i class="fa fa-download" aria-hidden="true"></i></button>
            <button id='@(Model.isListen.ViewItemId)' class="k-button file-download-action-button" ><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>

        </td>
        <td class="content-cell">
            <div id="@(Model.grid.ViewItemId)">

            </div>
        </td>
    </tr>
</table>
