﻿@model OModules.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: calc(100vh - 45px) /* DO NOT USE !important for setting the Grid height! */
    }

    .@(Model.fullHeight)
     {
         height: calc(100vh - 45px)
     }

    .searchButton {
            width: 32px;
        }

    .searchButtonBig {
        width: 54px;
    }

    .fullWidth {
        width: 100%;
    }

    .gridHeight {
        height: 500px;
    }


    .attributeValue {
        min-height: 25px;
        min-width: 25px;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.itemsToApply = [];

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

       
    }

    function gridRefresh() {

        viewModel.gridItem.dataSource.read();

    }

    (function ($) {
        $.fn.createSearchArea = function (removable, id) {
            var divItem = $(this);

            if (id == undefined) {
                id = "_" + guid();
            }


            var rowItem = $('<div class="row"></div>');
            divItem.append(rowItem);

            var colItem = $('<div class="col-sm-12"></div>');
            rowItem.append(colItem);

            var wellItem = $('<div class="well well-sm fullWidth"></div>');
            colItem.append(wellItem);

            var rowItem2 = $('<div class="row"></div>')
            wellItem.append(rowItem2);

            var colItemSearchButtons = $('<div class="col-sm-2 searchButtons"></div>');

            rowItem2.append(colItemSearchButtons);

            var colItemSearchText = $('<div class="col-sm-8 searchText"></div>');

            rowItem2.append(colItemSearchText);

            var colItemSearchActions = $('<div class="col-sm-2 searchActions"></div>');

            rowItem2.append(colItemSearchActions);

            var buttonGroup = $('<div class="btn-group pull-right" role="group" >');
            colItemSearchActions.append(buttonGroup);

            var removeButton = $('<button class="removeButton"><i class="fa fa-times" aria-hidden="true"></i></button>');
            if (removable) {
                buttonGroup.append(removeButton);
            }

            var addButton = $('<button class="addButton"><i class="fa fa-plus" aria-hidden="true"></i></button>')
            buttonGroup.append(addButton);

            wellItem.attr('id', id);

            var classButton = $('<button class="classButton searchButton"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></button>');
            var objectButton = $('<button class="objectButton searchButton"><i class="fa fa-cubes" aria-hidden="true"></i></button>');
            var relationTypeButton = $('<button class="relationTypeButton searchButton"><i class="fa fa-share-alt-square" aria-hidden="true"></i></button>');
            var attributeTypeButton = $('<button class="attributeTypeButton searchButton"><i class="fa fa-sitemap" aria-hidden="true"></i></button>');
            var leftRightTypeButton = $('<button class="leftRightButton searchButton"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>');
            var rightLeftTypeButton = $('<button class="rightLeftButton searchButton"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button>');


            var table = $('<table></table>');
            colItemSearchButtons.append(table);

            var row1 = $('<tr></tr>');
            var row2 = $('<tr></tr>');

            table.append(row1);
            table.append(row2);

            var classCell = $('<td></td>');
            classCell.append(classButton);

            var objectCell = $('<td></td>');
            objectCell.append(objectButton);

            var relationTypeCell = $('<td></td>');
            relationTypeCell.append(relationTypeButton);

            var attributeTypeCell = $('<td></td>');
            attributeTypeCell.append(attributeTypeButton);

            var leftRightTypeCell = $('<td></td>');
            leftRightTypeCell.append(leftRightTypeButton);

            var rightLeftTypeCell = $('<td></td>');
            rightLeftTypeCell.append(rightLeftTypeButton);

            row1.append(classCell);
            row2.append(objectCell);

            row1.append(attributeTypeCell);
            row2.append(relationTypeCell);

            row1.append(leftRightTypeCell);
            row2.append(rightLeftTypeCell);

            wellItem.find('.classButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'classButton'
                };

                console.log(item);

                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var dropDownInput = $("<input class='classDropDown' />");

                            searchTextArea.append(dropDownInput);
                            jQuery.extend(response.SearchItem.dropDownConfig, {
                                filter: "contains",
                                suggest: true
                            });

                            $.extend(response.SearchItem.dropDownConfig, {
                                change: function (e) {
                                    var wellItem = $(this.element).closest('.well');
                                    var value = this.value();
                                    var item = {
                                        id: wellItem.attr('id'),
                                        searchText: null,
                                        type: 'Class'
                                    };

                                    if (value !== undefined && value !== '' && value !== null) {
                                        item.searchText = value;
                                    }
                                    

                                    $.post(viewModel.ActionConfig.ActionSearchClassChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                        .done(function (response) {
                                            if (response.IsSuccessful && response.GetData) {

                                                if (viewModel.loadingTimer !== null) {
                                                    clearTimeout(viewModel.loadingTimer);
                                                }

                                                viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                            }
                                        })
                                        .fail(function (jqxhr, textStatus, error) {
                                            // stuff
                                        });
                                }
                            });
                            searchTextArea.find('.classDropDown').kendoComboBox(response.SearchItem.dropDownConfig);
                            

                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.objectButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'objectButton'
                };

                console.log(item);

                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var input = $('<input class="objectIdOrName fullWidth" placeholder="GUID or Name" /input>');
                            input.on("input", function () {
                                if (viewModel.searchTimer !== null) {
                                    clearTimeout(viewModel.searchTimer);
                                }
                                viewModel.searchElement = this;

                                viewModel.searchTimer = setTimeout(function () {
                                    var value = $(viewModel.searchElement).val();

                                    var wellItem = $(viewModel.searchElement).closest('.well');
                                    var item = {
                                        id: wellItem.attr('id'),
                                        type: 'Object',
                                        searchText: null
                                    };

                                    if (value !== undefined && value !== '' && value !== null) {
                                        item.searchText = value;
                                    }
                                
                                    console.log(item);

                                    $.post(viewModel.ActionConfig.ActionSearchItemTextChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                        .done(function (response) {
                                            if (response.IsSuccessful && response.GetData) {

                                            
                                            
                                                viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                            }
                                        })
                                        .fail(function (jqxhr, textStatus, error) {
                                            // stuff
                                        });
                                }, 300);
                            });
                            searchTextArea.append(input);
                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.relationTypeButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'relationTypeButton'
                };

                console.log(item);

                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var table = $('<table class="fullWidth"></table>');
                            searchTextArea.append(table);

                            var tr1 = $('<tr></tr>');
                            table.append(tr1);

                            var td1 = $('<td></td>');
                            tr1.append(td1);

                            var tr2 = $('<tr></tr>');
                            table.append(tr2);

                            var td2 = $('<td class="valueCol"></td>');
                            tr2.append(td2);

                            var dropDownInput = $("<input class='relationTypeDropDown' />");

                            td1.append(dropDownInput);

                            jQuery.extend(response.SearchItem.dropDownConfig, {
                                filter: "contains",
                                suggest: true
                            });

                            $.extend(response.SearchItem.dropDownConfig, {
                                change: function (e) {
                                    var wellItem = $(this.element).closest('.well');
                                    var value = this.value();
                                    var item = {
                                        id: wellItem.attr('id'),
                                        idRelationType: null,
                                        type: 'RelationType'
                                    };
                                    if (value === undefined || value === '' || value === null) {
                                        item.idRelationType = null;
                                    }
                                    else {
                                        item.idRelationType = value;
                                    }
                                    

                                    $.post(viewModel.ActionConfig.ActionSearchRelationTypeChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                        .done(function (response) {
                                            if (response.IsSuccessful && response.GetData) {

                                                if (viewModel.loadingTimer !== null) {
                                                    clearTimeout(viewModel.loadingTimer);
                                                }

                                                viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                            }
                                        })
                                        .fail(function (jqxhr, textStatus, error) {
                                            // stuff
                                        });
                                }
                            });
                            searchTextArea.find('.relationTypeDropDown').kendoComboBox(response.SearchItem.dropDownConfig);
                           

                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.attributeTypeButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'attributeTypeButton'
                };

                console.log(item);

                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var table = $('<table class="fullWidth"></table>');
                            searchTextArea.append(table);

                            var tr1 = $('<tr></tr>');
                            table.append(tr1);

                            var td1 = $('<td></td>');
                            tr1.append(td1);

                            var tr2 = $('<tr></tr>');
                            table.append(tr2);

                            var td2 = $('<td class="valueCol"></td>');
                            tr2.append(td2);

                            var dropDownInput = $("<input class='attributeTypeDropDown' />");

                            td1.append(dropDownInput);

                            jQuery.extend(response.SearchItem.dropDownConfig, {
                                filter: "contains",
                                suggest: true
                            });

                            $.extend(response.SearchItem.dropDownConfig, {
                                change: function (e) {
                                    var wellItem = $(this.element).closest('.well');
                                    var value = this.value();
                                    var item = {
                                        id: wellItem.attr('id'),
                                        idRelationType: null,
                                        type: 'AttributeType'
                                    };
                                    if (value === undefined || value === '' || value === null) {
                                        item.idAttributeType = null;
                                    }
                                    else {
                                        item.idAttributeType = value;
                                    }


                                    $.post(viewModel.ActionConfig.ActionSearchAttributeTypeChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                        .done(function (response) {
                                            if (response.IsSuccessful && response.GetData) {

                                                if (viewModel.loadingTimer !== null) {
                                                    clearTimeout(viewModel.loadingTimer);
                                                }

                                                viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                            }
                                        })
                                        .fail(function (jqxhr, textStatus, error) {
                                            // stuff
                                        });
                                }
                            });
                            searchTextArea.find('.attributeTypeDropDown').kendoComboBox(response.SearchItem.dropDownConfig);
                           

                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.leftRightButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'leftRightButton'
                };

                console.log(item);

                
                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var input = $('<input class="idRelOrName fullWidth" placeholder="GUID or Name" /input>');
                            searchTextArea.append(input);
                            input.on("input", function () {
                                var wellItem = $(this).closest('.well');
                                var item = {
                                    id: wellItem.attr('id'),
                                    type: response.SearchItem.type,
                                    searchText: $(this).val()
                                };

                                console.log(item);

                                $.post(viewModel.ActionConfig.ActionSearchItemTextChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                    .done(function (response) {
                                        if (response.IsSuccessful && response.GetData) {



                                            viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                        }
                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        // stuff
                                    });
                            });
                            


                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.rightLeftButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id'),
                    type: 'rightLeftButton'
                };

                console.log(item);

                $.post(viewModel.ActionConfig.ActionGetSearchRequestItem, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            var searchButtonArea = $('#' + response.SearchItem.id).find('.searchButtons');
                            var button = searchButtonArea.find('.' + response.SearchItem.type);
                            var icon = $(button.html());
                            icon.addClass('fa-2x');
                            searchButtonArea.html('');
                            searchButtonArea.append(icon);

                            var searchTextArea = $('#' + response.SearchItem.id).find('.searchText');
                            var input = $('<input class="idRelOrName fullWidth" placeholder="GUID or Name" /input>');
                            searchTextArea.append(input);
                            input.on("input", function () {
                                var wellItem = $(this).closest('.well');
                                var item = {
                                    id: wellItem.attr('id'),
                                    type: response.SearchItem.type,
                                    searchText: $(this).val()
                                };

                                console.log(item);

                                $.post(viewModel.ActionConfig.ActionSearchItemTextChanged, { idInstance: viewModel.IdInstance, searchItem: item })
                                    .done(function (response) {
                                        if (response.IsSuccessful && response.GetData) {



                                            viewModel.loadingTimer = setTimeout(viewModel.loadData, viewModel.loadingTimeout);
                                        }
                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        // stuff
                                    });
                            });



                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });

            wellItem.find('.removeButton').on('click', function () {
                var wellItem = $(this).closest('.well');
                var item = {
                    id: wellItem.attr('id')
                };
                
                $.post(viewModel.ActionConfig.ActionRemoveSearchItemArea, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            if (response.SearchItem.remove) {
                                var wellItem = $('#' + response.SearchItem.id);
                                var rowItem = wellItem.closest('.row');
                                rowItem.remove();
                                $('#' + viewModel.searchCriteriaRow.ViewItemId).createSearchArea(true, response.SearchItem.id);
                            } else {
                                
                                $('#' + viewModel.searchCriteriaRow.ViewItemId).createSearchArea(true, response.SearchItem.id);
                            }

                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });

            });

            wellItem.find('.addButton').on('click', function () {
                var item = {
                    id: guid()
                };

                $.post(viewModel.ActionConfig.ActionAddSearchItemArea, { idInstance: viewModel.IdInstance, searchItem: item })
                    .done(function (response) {
                        if (response.IsSuccessful) {
                            $('#' + viewModel.searchCriteriaRow.ViewItemId).createSearchArea(true, response.SearchItem.id);

                        }
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            });


        };
    })(jQuery);

    

    function init() {

        viewModel.loadData = function () {
            clearTimeout(viewModel.loadingTimer);
            $('#' + viewModel.resultCount.ViewItemId).text('0');
            viewModel.gridItem.dataSource.read();
        }

        $("#" + viewModel.panelBar.ViewItemId).kendoPanelBar({
            expandMode: "single"
        });

        $('#' + viewModel.resultToolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.applyItem.ViewItemId + '"><i class="fa fa-check-circle" aria-hidden="true"></i></button>'
                }
            ]
        });

        $("#" + viewModel.applyItem.ViewItemId).kendoButton({
            enable: false,
            click: function (e) {
                var oItems = [];
                for (var i in viewModel.itemsToApply) {
                    var itemToApply = viewModel.itemsToApply[i];
                    var oItem = { GUID: itemToApply.IdItem };
                    oItems.push(oItem);
                }

                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelConfig.ChannelAppliedObjects,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: oItems
                });
            }
        });


        viewModel.gridChangeHandler = function (e) {
            var tr = this.select().parent();
            var dataItem = this.dataItem(tr);
            if (dataItem === undefined || dataItem === null) return;
               
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: dataItem.IdItem }]
            });
        };

        viewModel.setDataItems = function () {
            for (var i in viewModel.ViewItems) {
                var viewItem = viewModel.ViewItems[i];
                $("#" + viewItem.ViewItemId).data("viewItem", viewItem);

            }

        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        $.post(viewModel.ActionConfig.ActionGetGridConfig)
            .done(function (response) {
                console.log(response);

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance };
                    }
                })

                //$.extend(response, {
                //    filterable: {
                //        mode: "row"
                //    }
                //});

                var dataSource = new kendo.data.DataSource(response.dataSource);
                response.dataSource = dataSource;
                response.dataBound = function () {
                    var grid = $("#" + viewModel.grid.ViewItemId).data("kendoGrid");
                    $('#' + viewModel.resultCount.ViewItemId).text(grid.dataSource.total());

                    $('.applyCellContent').on("change", function () {
                        var grid = $("#grid").data("kendoGrid");
                        var dataItem = grid.dataItem($(this).closest('tr'));
                        dataItem.ApplyItem = $(this).is(':checked');
                        if (dataItem.ApplyItem) {
                            viewModel.itemsToApply.push(dataItem);
                        } else {
                            viewModel.itemsToApply = jQuery.grep(viewModel.itemsToApply, function (item) {
                                return item.uid != dataItem.uid;
                            });
                        }
                    });

                };

                $.extend(response, {
                    change: viewModel.gridChangeHandler
                });

                if (response.rowTemplate != undefined) {
                    response.rowTemplate = kendo.template($("#" + response.rowTemplate).html());
                }

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).kendoGrid(response).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })
               
                    
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);

           
        }

        var initSearchArea = viewModel.SearchItemList[0];
        $('#' + viewModel.searchCriteriaRow.ViewItemId).createSearchArea(true, initSearchArea.id);

        viewModel.setDataItems();

        viewModel.getUrlParameters();

        changeValuesFromServer(viewModel.ViewItems);

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
        <td class="applyCell">
            <input type="checkbox" class="applyCellContent">
        </td>
        <td class="nameCell">
            <span class="nameCellContent">#= (data.NameItem == null) ? ' ' : data.NameItem # </span>
        </td>
        <td class="nameParentCell">
            <span class="nameParentCellContent">#= (data.NameParent == null) ? ' ' : data.NameParent # </span>
        </td>
        <td class="nameAttributeTypeCell">
            <span class="nameAttributeTypeCellContent">#= (data.NameAttributeType == null) ? ' ' : data.NameAttributeType # </span>
        </td>
        <td class="valueCell">
            <span class="valueContent">#= (data.ValueNamed == null) ? ' ' : data.ValueNamed # </span>
        </td>
        <td class="typeCell">
            <span class="typeCellContent">#= (data.Type == null) ? ' ' : data.Type # </span>
        </td>
    </tr>
</script>

<div id="@(Model.rootContainer.ViewItemId)">
    <div id="@(Model.searchArea.ViewItemId)">
        <div class="container-fluid">
            <div class="row" id="@(Model.searchCriteriaRow.ViewItemId)">

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul id="@(Model.panelBar.ViewItemId)">
                        <li class="k-state-active">
                            <span id="@(Model.resultPanel.ViewItemId)">Result:&nbsp;<span class="badge" id="@(Model.resultCount.ViewItemId)">0</span></span>
                            <div>
                                <div id="@(Model.resultToolbar.ViewItemId)"></div>
                                <div id="@(Model.grid.ViewItemId)" class="@(Model.fullHeight)">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
