﻿@model OModules.Models.TimeManagementEntryEditViewModel
@{
    ViewBag.Title = "TimeManagementEntryEdit";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .execution-log {
        padding-top: 3px;
        padding-left: 5px;
        height: 40px;
        width: 100%;
        background-color: #eae8e8;
        color: white;
        opacity: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .button-col {
        padding-top: 3px;
        height: 43px;
        background-color: #eae8e8;
    }

    .time-management-entry-container,
    .time-management-list {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 82%; /* DO NOT USE !important for setting the Grid height! */
    }

    .grid .k-grid-content {
        overflow-y: scroll;
    }

    .object-list-container {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 98%; /* DO NOT USE !important for setting the Grid height! */
    }

    .omodules-splitter,
    .class-object-selector-window {
        height: 98%;
        margin: 0 auto;
    }
</style>
<script src="~/Scripts/ObjectEdit/ItemComBar.js"></script>
<script src="~/Scripts/TimeManagement/TimeManagementEdit.js"></script>
<script src="~/Scripts/TimeManagement/TimeManagementList.js"></script>
<script src="~/Scripts/ClassTree/ClassTree.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script type="text/x-kendo-template" id="templateObjectList">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.templates =
    {
        executionLog: `
            <div class="execution-log">
            </div>`
    }

    stateMachineTimeManagementEdit = {
        state: 0,
        states: {
            createItemComComponent: 2,
            createdItemComComponent: 4,
            createEditComponent: 8,
            createdEditComponent: 16,
            createdComponents: 32,
            validateReferenceItemCom: 64,
            validatedReferenceItemCom: 128,
            validateReferenceEdit: 256,
            validatedReferenceEdit: 512,
            validatedReferences: 1024,
            groupsLoading: 2048,
            groupsLoaded: 4096,
            groupSet: 8192
        },
        hasState: function (state) {
            if ((stateMachineTimeManagementEdit.state & state) == state) {
                return true;
            }
            else {
                return false;
            }
        },
        addState: function (state) {
            stateMachineTimeManagementEdit.state += state;
            stateMachineTimeManagementEdit.checkState();
        },
        removeState: function (state) {
            stateMachineTimeManagementEdit.state -= state;
            stateMachineTimeManagementEdit.checkState();
        },
        checkState: function () {
            console.log("Check State")
            var componentsCreating = (stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createItemComComponent) &&
                !stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createdItemComComponent)) ||
                (stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createEditComponent) &&
                !stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createdEditComponent));
            var componentsCreated = stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createItemComComponent) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createdItemComComponent) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createEditComponent) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createdEditComponent) &&
                !stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.createdComponents);

            var validatedReferences = stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.validateReferenceItemCom) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.validatedReferenceItemCom) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.validateReferenceEdit) &&
                stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.validatedReferenceEdit) &&
                !stateMachineTimeManagementEdit.hasState(stateMachineTimeManagementEdit.states.validatedReferences);


            if (componentsCreating) {
                console.log("Check State", "Components Creating")
                $('body').openPageLoader();
            }

            if (componentsCreated) {
                stateMachineTimeManagementEdit.removeState(stateMachineTimeManagementEdit.states.createdItemComComponent +
                    stateMachineTimeManagementEdit.states.createItemComComponent +
                    stateMachineTimeManagementEdit.states.createEditComponent +
                    stateMachineTimeManagementEdit.states.createdEditComponent);

                viewModel.timeManagementEntryComponent.handler.addElementToPlaceholder($(viewModel.templates.executionLog), viewModel.timeManagementEntryComponent);
                stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.createdComponents);


                console.log("Check State", "Components Created")
                $('body').closePageLoader();
                viewModel.getUrlParameters();
            }

            if (validatedReferences) {
                stateMachineTimeManagementEdit.removeState(stateMachineTimeManagementEdit.states.validateReferenceItemCom +
                    stateMachineTimeManagementEdit.states.validatedReferenceItemCom +
                    stateMachineTimeManagementEdit.states.validateReferenceEdit +
                    stateMachineTimeManagementEdit.states.validatedReferenceEdit);

                stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.validatedReferences);
            }


        }
    }

    //viewModel.clickedButton = function (e) {
    //    var id = $(e.event.target).closest(".k-button").attr("id");
    //    var button = $(e.event.target).closest(".k-button");
    //    if (id === viewModel.isListen.ViewItemId) {
    //        $('#' + viewModel.isListen.ViewItemId).toggleMode();
    //    }
    //    else if (id === viewModel.buttonListenRelated.ViewItemId) {
    //        $('#' + viewModel.buttonListenRelated.ViewItemId).toggleMode();
    //    }

    //}

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };

        stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.validateReferenceItemCom +
            stateMachineTimeManagementEdit.states.validateReferenceEdit);

        viewModel.itemComToolbar.handler.validateReference(viewModel.itemComToolbar, oItem.GUID);

        if (idRef == null) {
            oItem = null;
        }
        viewModel.timeManagementEntryComponent.handler.validateReference(viewModel.timeManagementEntryComponent, oItem);

    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            $('.execution-log').outputMessage({
                message: message.GenericParameterItems[0],
                clearTimeout: {
                    info: true,
                    warning: true,
                    error: false,
                    critical: false
                },
                colors: {
                    backColorInfo: "#eae8e8",
                    backColorWarning: "black",
                    backColorError: "black",
                    backColorCritical: "red",
                    foreColorInfo: "black",
                    foreColorError: "red",
                    foreColorWarning: "yellow",
                    foreColorCritical: "black"
                }
            });
        }

        var listen = viewModel.itemComToolbar.data.isListen(viewModel.itemComToolbar);
        var applied = viewModel.timeManagementEntryComponent.data.isListenForRelateion(viewModel.timeManagementEntryComponent);

        if (applied && message.ChannelId == viewModel.ChannelAppliedObject) {
            viewModel.timeManagementEntryComponent.handler.appliedObjects(viewModel.timeManagementEntryComponent, message.OItems);
        }

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        viewModel.validateReference(urlParameterConfig.objectParam)
        var group = urlParameterConfig.getParameterValue("Group");
        if (typeof(group) !== 'undefined') {
            viewModel.groupToSelect = group;
        }
    }

    //viewModel.setDataItems = function () {
    //    $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
    //    $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
    //    $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);

    //    $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
    //    $("#" + viewModel.inpName.ViewItemId).data("viewItem", viewModel.inpName);

    //    $("#" + viewModel.lblStart.ViewItemId).data("viewItem", viewModel.lblStart);
    //    $("#" + viewModel.inpStart.ViewItemId).data("viewItem", viewModel.inpStart);

    //    $("#" + viewModel.lblEnde.ViewItemId).data("viewItem", viewModel.lblEnde);
    //    $("#" + viewModel.inpEnde.ViewItemId).data("viewItem", viewModel.inpEnde);

    //    $("#" + viewModel.lblWork.ViewItemId).data("viewItem", viewModel.lblWork);
    //    $("#" + viewModel.lblPrivate.ViewItemId).data("viewItem", viewModel.lblPrivate);
    //    $("#" + viewModel.lblUrlaub.ViewItemId).data("viewItem", viewModel.lblUrlaub);
    //    $("#" + viewModel.lblKrankheit.ViewItemId).data("viewItem", viewModel.lblKrankheit);

    //    $("#" + viewModel.radioWork.ViewItemId).data("viewItem", viewModel.radioWork);
    //    $("#" + viewModel.radioPrivate.ViewItemId).data("viewItem", viewModel.radioPrivate);
    //    $("#" + viewModel.radioUrlaub.ViewItemId).data("viewItem", viewModel.radioUrlaub);
    //    $("#" + viewModel.radioKrankheit.ViewItemId).data("viewItem", viewModel.radioKrankheit);

    //    $("#" + viewModel.lblRelated.ViewItemId).data("viewItem", viewModel.lblRelated);
    //    $("#" + viewModel.inpRelated.ViewItemId).data("viewItem", viewModel.inpRelated);
    //    $("#" + viewModel.buttonListenRelated.ViewItemId).data("viewItem", viewModel.buttonListenRelated);
    //}

    function init() {
        stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.createItemComComponent + stateMachineTimeManagementEdit.states.createEditComponent);
        //$("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
        //    items: [
        //        {
        //            template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

        //        }

        //    ]
        //});

        //$('.k-button').kendoButton({
        //    click: viewModel.clickedButton
        //});

        //$("#" + viewModel.inpStart.ViewItemId).kendoDateTimePicker({
        //    value: (new Date()).setTime(0),
        //    timeFormat: "HH:mm",
        //    dateInput: true,
        //    change: function () {
        //        var value = kendo.toString(new Date(this.value().toJSON()), "dd.MM.yyyy HH:mm:ss");

        //        changeValue(viewModel.inpStart, "Content", value, true);
        //    }
        //});

        //$("#" + viewModel.inpEnde.ViewItemId).kendoDateTimePicker({
        //    value: (new Date()).setTime(0),
        //    timeFormat: "HH:mm",
        //    dateInput: true,
        //    change: function () {
        //        var value = kendo.toString(new Date(this.value().toJSON()), "dd.MM.yyyy HH:mm:ss");

        //        changeValue(viewModel.inpEnde, "Content", value, true);
        //    }
        //});

        //$('input').change(function () {
        //    var viewItem = $(this).data("viewItem");

        //    if (viewItem.ViewItemId == viewModel.inpStart.ViewItemId ||
        //        viewItem.ViewItemId == viewModel.inpEnde.ViewItemId ||
        //        viewItem.ViewItemId == viewModel.inpRelated.ViewItemId) {
        //        return;
        //    }
        //    if (viewItem == undefined) return;

        //    if (viewItem.ViewItemId == viewModel.radioWork.ViewItemId) {
        //        var checkState = $(this).getCheckedMode();
        //        changeValue(viewItem, "Checked", checkState, true);
        //        return;
        //    }

        //    var value = $(this).getContent();

        //    changeValue(viewItem, "Content", value, true);
        //})

        //viewModel.setDataItems();

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                /*viewModel.getUrlParameters();*/

                    $('.toolbar').createItemComToolBar({
                        selectorPath: [".toolbar"],
                        setWindowTitle: true,
                        actions: {
                            init: viewModel.ActionItemComBarInit
                        },
                        events: {
                            completed: function (component) {
                                viewModel.itemComToolbar = component;
                                stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.createdItemComComponent);
                                var selectorPath = [];
                                for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                                    var selector = component.configuration.selectorPath[i];
                                    selectorPath.push(selector);
                                }

                                var configurationEdit = {
                                    setDocumentTitle: true,
                                    actionInit: viewModel.ActionTimeManagementEntryEditInit,
                                    selectorPath: ['.time-management-entry-container'],
                                    managerConfig: viewModel.managerConfig,
                                    IdInstance: viewModel.IdInstance,
                                    events: {
                                        createdComponent: function (timeManagementEntryComponent) {
                                            viewModel.timeManagementEntryComponent = timeManagementEntryComponent;
                                            stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.createdEditComponent);
                                        },
                                        dropDownLoading: function (timeManagementEntryComponent) {
                                            stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.groupsLoading);
                                        },
                                        dropDownLoaded: function (timeManagementEntryComponent) {
                                            stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.groupsLoaded);
                                        },
                                        validatedReference: function (timeManagementEntryComponent) {
                                            stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.validatedReferenceEdit);
                                        }
                                    }
                                }


                                $('.time-management-entry-container').createTimeManagementEntry(configurationEdit);

                            },
                            validatedReference: function (refItem) {
                                stateMachineTimeManagementEdit.addState(stateMachineTimeManagementEdit.states.validatedReferenceItemCom);
                            }
                        }
                    });


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        //for (var ix in viewModel.ViewItems) {
        //    var viewItem = viewModel.ViewItems[ix];

        //    for (var jx in viewItem.ViewItemValues) {
        //        var viewItemValue = viewItem.ViewItemValues[jx];

        //        if (viewItemValue.ViewItemType == "Enable") {
        //            $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "Visible") {
        //            $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "Checked") {
        //            $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "Content") {
        //            $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
        //        }
        //        else if (viewItemValue.ViewItemType == "PlaceHolder") {
        //            $('#' + viewItem.ViewItemId).setPlaceHolder(viewItemValue.Value, false);
        //        }
        //        else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
        //            var title = viewItemValue.Value;
        //            document.title = title;
        //        }
        //    }
        //}



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div class="toolbar"></div>
<div class="time-management-entry-container">

</div>


