﻿@model OModules.Models.TimeManagementEntryListViewModel
@{
    ViewBag.Title = "TimeManagementEntryList";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .dropdown {
        width: 250px;
    }

    .textbox-query {
        width: 100%;
    }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 90%; /* DO NOT USE !important for setting the Grid height! */
    }

    .alert {
        width: 100%;
    }

    .k-grid tbody tr{
        height: 50px;
    }

    .k-grid td{
        white-space: nowrap;
    }
</style>


<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.stateMachineTimeManagement = {
        isInitialized: false,
        isLoadedReference: false,
        isLoadedGroups: false,
        isSelectedGroup: false,
        checkState: function () {
            if (viewModel.stateMachineTimeManagement.isInitialized &&
                viewModel.stateMachineTimeManagement.isLoadedGroups &&
                viewModel.stateMachineTimeManagement.isSelectedGroup) {
                viewModel.reloadGrid();
            } else {
                $('body').closePageLoader();
            }

        },

        initialized: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTimeManagement.isInitialized = true;
            viewModel.stateMachineTimeManagement.checkState();
        },

        loadedGroups: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTimeManagement.isLoadedGroups = true;
            viewModel.stateMachineTimeManagement.checkState();
        },
        selectedGroup: function () {
            if (viewModel.idGroup !== undefined) {
                viewModel.stateMachineTimeManagement.isSelectedGroup = true;
            } else {
                viewModel.stateMachineTimeManagement.isSelectedGroup = false;
            }
            viewModel.stateMachineTimeManagement.checkState();
        },
        pendingReference: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTimeManagement.isLoadedReference = false;
            // Reset view


            viewModel.stateMachineTimeManagement.checkState();
        }
    }

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {

        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        viewModel.stateMachineTimeManagement.pendingReference();
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                viewModel.stateMachineTimeManagement.loadedReference();
                


                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.reloadGrid = function () {
        //viewModel.gridItem.dataSource.read();
        viewModel.gridItem.dataSource.read();

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.inpGroup.ViewItemId).data("viewItem", viewModel.inpGroup);

    }

    function init() {
        $.post(viewModel.ActionGetGridConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {


                if (viewModel.dataSource === undefined) {
                    viewModel.dataSource = new kendo.data.DataSource(response.dataSource);

                } else {
                    $("#" + viewModel.grid.ViewItemId).data("kendoGrid").destroy(); // destroy the Grid

                    $("#" + viewModel.grid.ViewItemId).empty(); // empty the Grid content (inner HTML)
                }


                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return {
                            idInstance: viewModel.IdInstance,
                            idGroup: viewModel.idGroup
                        };
                    }
                })

                response.dataSource = viewModel.dataSource;

                $.extend(response, {
                    change: function () {
                        var currentDataItem = viewModel.gridItem.dataItem(this.select());

                        if (currentDataItem != undefined) {
                            console.log(currentDataItem);
                            var items = [
                                {
                                    GUID: currentDataItem.IdTimeManagement,
                                    GUID_Parent: viewModel.idClassTimeManagement
                                }];
                            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                ChannelId: viewModel.ChannelSelectedObject,
                                SenderId: viewModel.managerConfig.idEndpoint,
                                SessionId: viewModel.managerConfig.idSession,
                                UserId: viewModel.IdUser,
                                OItems: items
                            });
                        }


                    }, toolbar: kendo.template($("#template").html())
                })

                $("#" + viewModel.grid.ViewItemId).kendoGrid(response);
                //setTimeout(function () {
                //    dataSource.read();
                //}, 500);

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).data("kendoGrid");



                $('.k-button').kendoButton({
                    click: viewModel.clickedButton
                });

                $("#" + viewModel.grid.ViewItemId).on('cellselect', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });

                $("#" + viewModel.grid.ViewItemId).on('cellvaluechanged', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $("#" + viewModel.gridParent.ViewItemId).kendoTooltip({
            filter: "td",
            position: "top",
            animation: {
                open: {
                    effects: "zoom",
                    duration: 150
                }
            },
            content: function (e) {
                return e.target.html();
            }
        });

        $.post(viewModel.ActionGetDropDownConfigGroups, { idClass: viewModel.idClassGroup })
            .done(function (response) {
                console.log(response);
                jQuery.extend(response, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(response, {
                    select: function (e) {
                        var dataItem = this.dataItem(e.item);

                        viewModel.idGroup = dataItem.Value;
                        viewModel.stateMachineTimeManagement.selectedGroup();
                    },
                    dataBound: function (e) {
                        viewModel.stateMachineTimeManagement.loadedGroups();
                    }
                });

                $('#' + viewModel.inpGroup.ViewItemId).kendoDropDownList(response);
                viewModel.groupSelect = $('#' + viewModel.inpGroup.ViewItemId).data("kendoDropDownList")
                viewModel.groupSelect.enable(true);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                    viewModel.stateMachineTimeManagement.initialized();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar" id="@(Model.toolbar.ViewItemId)">
        <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <label id="@(Model.lblGroup.ViewItemId)">Group:</label>
        <input id="@(Model.inpGroup.ViewItemId)" />
    </div>
</script>

<div id="@(Model.gridParent.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)"></div>
</div>

