﻿@model OModules.Models.CheckListViewModel
@{
    ViewBag.Title = "Checklist";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .execution-log {
        height: 40px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        background-color: #393838;
        color: white;
        opacity: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .checklist-container, .report-viewer {
        height: 95%;
    }
</style>
<script src="~/Scripts/ajax.autocomplete/jquery.autocomplete.js"></script>
<script src="~/Scripts/Process/Checklist.js"></script>
<script src="~/Scripts/ObjectEdit/ItemComBar.js"></script>
<script src="~/Scripts/Report/Report.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button openModuleStarter"><i class="fa fa-external-link" aria-hidden="true"></i></button>
        <button class="k-button openObjectEditor"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="syncData k-button"><i class="fa fa-retweet" aria-hidden="true"></i></button>
        <button class="applyItem k-button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button k-button-icontext k-grid-excel">Export Excel</button>
        <button class='openEntries state-select k-button'><i class="fa fa-battery-empty" aria-hidden="true"></i></button>
        <button class='doneEntries state-select k-button'><i class="fa fa-check" aria-hidden="true"></i></button>
        <button class='editEntries state-select k-button'><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class='cancelledEntries state-select k-button'><i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            var outputMessage = message.GenericParameterItems[0];
            if (outputMessage.MessageType == 3) {
                $('.onto-status-bar').data('messageout-config').showError(message.GenericParameterItems[0].Message, 5000);
            } else {
                $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0].Message, 5000);
            }
        }

        var listen = viewModel.itemComToolbar.data.isListen(viewModel.itemComToolbar);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $('.execution-log').show();
        viewModel.checklistComponent.handler.validateReference(viewModel.checklistComponent, oItem);
        viewModel.itemComToolbar.handler.validateReference(viewModel.itemComToolbar, oItem.GUID);
    }

    function init() {
        viewModel.connectCallback = function () {
            $("#" + viewModel.toolbar.ViewItemId).createItemComToolBar({
                selectorPath: ["#" + viewModel.toolbar.ViewItemId],
                managerConfig: viewModel.managerConfig,
                setWindowTitle: true,
                actions: {
                    init: viewModel.ActionItemComBarInit
                },
                events: {
                    completed: function (component) {
                        viewModel.itemComToolbar = component;
                        var selectorPath = [];
                        for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                            var selector = component.configuration.selectorPath[i];
                            selectorPath.push(selector);
                        }

                        $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                            .done(function (response) {
                                console.log("connected", response);
                                changeValuesFromServer(response);
                                $(".checklist-container").createChecklist({
                                    selectorPath: [".checklist-container"],
                                    managerConfig: viewModel.managerConfig,
                                    setWindowTitle: false,
                                    actionInit: viewModel.ActionChecklistInit,
                                    events: {
                                        createdComponent: function (component) {
                                            viewModel.checklistComponent = component;
                                            viewModel.getUrlParameters();
                                        },
                                        validatedReference: function (refItem) {

                                        }
                                    }
                                });
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                // stuff
                            });
                    },
                    validatedReference: function (refItem) {

                    }
                }
            });

        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        createStatusBar(viewModel.PageInitState);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="toolbar"></div>
<div class="checklist-container">

</div>
<div class="execution-log">

</div>