﻿@model OModules.Models.ProcessTreeViewModel

@{
    ViewBag.Title = "ProcessTree";
}
<style>
     html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: calc(100vh - 45px) /* DO NOT USE !important for setting the Grid height! */
    }

    .@(Model.fullHeight)
     {
         height: calc(100vh - 45px)
     }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.validateReference = function (oItem) {
        viewModel.oItem = oItem;

        $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0]);
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id === viewModel.listenLink.ViewItemId) {
            $('#' + viewModel.listenLink.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.listenLink.ViewItemId).hasClass('k-state-active')) {
                $('#' + viewModel.listenAnchor.ViewItemId).setCheckedMode(false, false);
            }

        } else if (id === viewModel.listenAnchor.ViewItemId) {
            $('#' + viewModel.listenAnchor.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.listenAnchor.ViewItemId).hasClass('k-state-active')) {
                $('#' + viewModel.listenLink.ViewItemId).setCheckedMode(false, false);
            }
        }

    }

    function init() {
        viewModel.setDataItems = function () {
            $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.toolbar);

            $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
                items: [
                    {
                        template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                    }
                ]
            });
        }

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        viewModel.getUrlParameters()

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div class="@(Model.fullHeight)">
    <div id="@(Model.toolbar.ViewItemId)">
    </div>
    <div id="@(Model.grid.ViewItemId)" class="@(Model.fullHeight)"></div>
</div>


