﻿@model OModules.Models.CommandLineRunViewerViewModel
@{
    ViewBag.Title = "CommandLineRunViewer";
}
<style>
    html, body {
        height:100%;
        width:100%;
    }

    .root-container {
        height:100%;
    }

    #@(Model.splitter.ViewItemId) {
        height:100%;
    }

    .script-container {
        height:100%;
    }



    #@(Model.scriptParsed.ViewItemId) {
        margin: 0;
        height: 400px;
        width: 100%;
    }

    #@(Model.scriptRaw.ViewItemId) {
        margin: 0;
        height: 400px;
        width: 100%;
    }

    #@(Model.objectTree.ViewItemId) {
        height:100%;
        width:100%;
        border:0;
    }

    input {
        width:100%;
    }

    .ace_bracketx {
        background-color: gray;
        position: absolute;
    }
</style>

<script src="~/Scripts/ace/ace.js"></script>
<script src="~/Scripts/ObjectTree/ObjectTree.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script type="text/x-kendo-template" id="templateObjectList">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        }

    }

    viewModel.validateReference = function (idRef, onlyCMD) {
        $('body').openPageLoader();
        if (typeof onlyCMD === 'undefined' || onlyCMD == null) {
            onlyCMD = false;
        }
        if (!onlyCMD) {
            viewModel.objectTreeComponent.handler.checkObject(viewModel.objectTreeComponent, idRef);
        }
        var variableValue = [];
        if (typeof viewModel.processReportData !== 'undefined' &&
            typeof viewModel.commandLineRuns !== 'undefined' &&
            viewModel.processReportData !== null &&
            viewModel.commandLineRuns.length > 0) {
                for (var ix = 0; ix < viewModel.commandLineRuns.length; ix++) {
                    var commandLineRun = viewModel.commandLineRuns[ix];
                    if (commandLineRun.IdReport == viewModel.processReportData.reportItem.GUID && commandLineRun.IdCommandLineRun == idRef) {
                        
                        for (var jx = 0; jx < viewModel.processReportData.data.length; jx++) {
                            var dataItem = viewModel.processReportData.data[jx];
                            var row = [];
                            for (var kx = 0; kx < commandLineRun.VariablesToFields.length; kx++) {
                                var variableToField = commandLineRun.VariablesToFields[kx];
                                var variable = variableToField.Variable.NameVariable;
                                var nameCol = variableToField.ReportField.NameCol;
                                var value = dataItem[nameCol];
                                row.push( { Variable: variable, Value: utf8_to_b64(value) });
                            }
                            variableValue.push({ Rows: row });
                        }
                        
                        break;
                    }
            }
        }
        $.post(viewModel.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance, reportData: variableValue })
            .done(function (response) {
                console.log("connected", response);
                var scriptParsed = getViewItemsValue(response.ViewItems, viewModel.scriptParsed.ViewItemId, "Other");
                if (scriptParsed != undefined) {
                    var codeParsed = b64DecodeUnicode(scriptParsed.CodeParsed);
                    var code = b64DecodeUnicode(scriptParsed.Code);

                    viewModel.editorCode = ace.edit(viewModel.scriptRaw.ViewItemId);
                    viewModel.editorCode.setTheme("ace/theme/twilight");
                    if (scriptParsed.Name_SyntaxHighlight !== undefined) {
                        viewModel.editorCode.session.setMode("ace/mode/" + scriptParsed.Name_SyntaxHighlight);
                    }

                    viewModel.editorCode.setReadOnly(true)
                    viewModel.editorCode.on('change', function () {

                        var isReadOnly = viewModel.editorCode.getReadOnly();
                        if (isReadOnly) return;
                        for (var ix in markerIds) {
                            viewModel.editorCode.session.removeMarker(markerIds[ix]);
                        }
                        rangesVariable = [];


                    });

                    viewModel.editorCode.setValue(code);
                    viewModel.editorCode.setReadOnly(false);
                    viewModel.editorCode.container.style.opacity = 1;

                    viewModel.editorCodeParsed = ace.edit(viewModel.scriptParsed.ViewItemId);
                    viewModel.editorCodeParsed.setTheme("ace/theme/twilight");
                    if (scriptParsed.Name_SyntaxHighlight !== undefined) {
                        viewModel.editorCodeParsed.session.setMode("ace/mode/" + scriptParsed.Name_SyntaxHighlight);
                    }

                    viewModel.editorCodeParsed.setReadOnly(true)
                    viewModel.editorCodeParsed.on('change', function () {

                        var isReadOnly = viewModel.editorCodeParsed.getReadOnly();
                        if (isReadOnly) return;
                        for (var ix in markerIds) {
                            viewModel.editorCodeParsed.session.removeMarker(markerIds[ix]);
                        }
                        rangesVariable = [];


                    });

                    viewModel.editorCodeParsed.setValue(codeParsed);
                    viewModel.editorCodeParsed.setReadOnly(false);
                    viewModel.editorCodeParsed.container.style.opacity = 1;

                }
                changeValuesFromServer(response.ViewItems);

                $('body').closePageLoader();

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        } else {
            viewModel.objectTreeComponent.handler.checkClass(viewModel.objectTreeComponent, viewModel.idClassCommandLineRun);
        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);


        if (message.ChannelId === viewModel.ChannelProcessReport) {
            $('body').openPageLoader();
            viewModel.sessionFile = message.GenericParameterItems[0];
            $.post(viewModel.ActionCheckReportDataFromSessionFile, { idInstance: viewModel.IdInstance, sessionFile: viewModel.sessionFile })
                .done(function (response) {
                    viewModel.commandLineRuns = response.Result;
                    var ids = [];
                    for (var ix in viewModel.commandLineRuns) {
                        var commandLineRun = viewModel.commandLineRuns[ix];
                        ids.push(commandLineRun.IdCommandLineRun);
                    }
                    viewModel.objectTreeComponent.handler.filterTree(viewModel.objectTreeComponent, ids, true);
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        var listen = $('#' + viewModel.isListen.ViewItemId).getCheckedMode();

        if (!listen) return;
        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
        $("#" + viewModel.inpName.ViewItemId).data("viewItem", viewModel.inpName);
        $("#" + viewModel.lblProgramingLanguage.ViewItemId).data("viewItem", viewModel.lblProgramingLanguage);
        $("#" + viewModel.inpProgramingLanguage.ViewItemId).data("viewItem", viewModel.inpProgramingLanguage);
        $("#" + viewModel.lblEncoding.ViewItemId).data("viewItem", viewModel.lblEncoding);
        $("#" + viewModel.inpEncoding.ViewItemId).data("viewItem", viewModel.inpEncoding);
        $("#" + viewModel.lblCodeParsed.ViewItemId).data("viewItem", viewModel.lblCodeParsed);
        $("#" + viewModel.scriptParsed.ViewItemId).data("viewItem", viewModel.scriptParsed);
        $("#" + viewModel.lblCodeRaw.ViewItemId).data("viewItem", viewModel.lblCodeRaw);
        $("#" + viewModel.scriptRaw.ViewItemId).data("viewItem", viewModel.scriptRaw);


    }

    function init() {


        $("#" + viewModel.splitter.ViewItemId).kendoSplitter({
            panes: [
                {},
                {}
            ]
        });

        $('#' + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                }
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.setDataItems();

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var configurationTree = {
                        setDocumentTitle: true,
                        expandAll: true,
                        actionInit: viewModel.ActionObjectTreeInit,
                        selectorPath: ['.root-container', '.objectTree'],
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createdComponent: function (objectTreeComponent) {
                                viewModel.objectTreeComponent = objectTreeComponent;
                                viewModel.getUrlParameters();
                            },
                            validatedReference: function (objectTreeComponent) {

                            },
                            selectedObject: function (objectTreeComponent, oItems) {
                                viewModel.validateReference(oItems[0].GUID, true);
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedObject,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    SessionId: viewModel.managerConfig.idSession,
                                    ViewId: viewModel.View.IdView,
                                    UserId: viewModel.IdUser,
                                    OItems: oItems
                                });
                            }
                        }
                    }


                    $('.root-container').find('.objectTree').createObjectTree(configurationTree);

                    $.post(viewModel.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                        .done(function (response) {
                            console.log("ViewReady to Sender", viewModel.idSender);
                            if (viewModel.idSender != undefined) {
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelConfig.ChannelViewReady,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    SessionId: viewModel.managerConfig.idSession,
                                    ReceiverId: viewModel.idSender,
                                    UserId: viewModel.IdUser,
                                    ViewId: viewModel.View.IdView
                                });
                            }
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }



        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelProcessReport);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="root-container">
    <div id="@(Model.toolbar.ViewItemId)"></div>
    <div id="@(Model.splitter.ViewItemId)">
        <div>
            @*<iframe id="@(Model.iFrameTree.ViewItemId)" src="about:blank"></iframe>*@
            <div class="@(Model.objectTree.ViewItemId)"></div>
        </div>
        <div>
            <div class="container script-container">
                <div class="row">
                    <div class="col-lg-2">
                        <label id="@(Model.lblName.ViewItemId)"></label>
                    </div>
                    <div class="col-lg-10">
                        <input id="@(Model.inpName.ViewItemId)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label id="@(Model.lblProgramingLanguage.ViewItemId)"></label>
                    </div>
                    <div class="col-lg-10">
                        <input id="@(Model.inpProgramingLanguage.ViewItemId)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label id="@(Model.lblEncoding.ViewItemId)"></label>
                    </div>
                    <div class="col-lg-10">
                        <input id="@(Model.inpEncoding.ViewItemId)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label id="@(Model.lblCodeParsed.ViewItemId)"></label>
                    </div>
                    <div class="col-lg-10">
                        <pre id="@(Model.scriptParsed.ViewItemId)"></pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label id="@(Model.lblCodeRaw.ViewItemId)"></label>
                    </div>
                    <div class="col-lg-10">
                        <pre id="@(Model.scriptRaw.ViewItemId)"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




