﻿@model OModules.Models.ScriptEditorViewModel
@{
    ViewBag.Title = "ScriptEditor";
}

<style>
    body {
            overflow: hidden;
        }

    #@(Model.script.ViewItemId) {
        margin: 0;
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .ace_bracketx {
        background-color: gray;
        position: absolute;
    }
</style>

<script src="~/Scripts/ace/ace.js"></script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.validateReference = function (idRef) {
        $('.loader').show();
        $.post(viewModel.ActionValidateReference, { refItem: { GUID: idRef }, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);
                $.post(viewModel.ActionGetCodeSnipplet, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        viewModel.editor = ace.edit(viewModel.script.ViewItemId);
                        viewModel.editor.setTheme("ace/theme/twilight");
                        if (response.Result.NameSyntaxHighlight !== undefined) {
                            viewModel.editor.session.setMode("ace/mode/" + response.Result.NameSyntaxHighlight);
                        }
                        
                        viewModel.editor.setReadOnly(true)
                        viewModel.editor.on('change', function () {

                            var isReadOnly = viewModel.editor.getReadOnly();
                            if (isReadOnly) return;
                            for (var ix in markerIds) {
                                viewModel.editor.session.removeMarker(markerIds[ix]);
                            }
                            rangesVariable = [];
                            

                        });

                        viewModel.editor.on('changeSelection', function () {
                            //console.log(viewModel.editor.selection.getRange());
                            console.log(viewModel.editor.getSelectedText());
                        });

                        viewModel.editor.setValue(response.Result.Code);
                        viewModel.editor.setReadOnly(false);
                        viewModel.editor.container.style.opacity = 1;

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        viewModel.idSender = urlParameterConfig.senderParam;
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID);
        }
    }

    viewModel.setDataItems = function () {
        //$("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);


    }

    function init() {

        $('#' + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.listen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                }
            ],
            toggle: function (e) {
                console.log("toggle", e.target.text(), e.checked);
                var id = e.target.attr('id');

                if (id == viewModel.listen.ViewItemId) {

                }
                else if (id == viewModel.bookmark.ViewItemId) {

                }

            }
        });

        $('.k-button').kendoButton({
            click: function () {

            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div>
    <div id="@(Model.toolbar.ViewItemId)"></div>
    <pre id="@(Model.script.ViewItemId)"></pre>
    
</div>

