﻿@model OModules.Models.AppointmentViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .@(Model.fullHeight)
     {
         height: calc(100vh - 10px)
     }

    .fullPanelContentHeight {
        height: calc(100vh - 120px)
    }
    .smallText {
        font-size: 12px;
    }
</style>

<script src="~/Scripts/Appointment/Calendar.js"></script>

<script id="monthEventTemplate" type="text/x-kendo-template">
    <div class="smallText">
            #: title # (#: kendo.toString(start, "HH:mm") # - #: kendo.toString(end, "HH:mm") #)
    </div>
</script>

<script id="dayWeekEventTemplate" type="text/x-kendo-template">
    <div>
        #: title # (#: kendo.toString(start, "HH:mm") # - #: kendo.toString(end, "HH:mm") #)
    </div>
</script>

<script>
    
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function getUrlParameters() {
        urlParameterConfig.initialize();


    }

    function init() {
        $('body').openPageLoader();
        //viewModel.setDataItems = function () {
        //    $("#" + viewModel.rootContainer.ViewItemId).data("viewItem", viewModel.rootContainer);
        //    $("#" + viewModel.contentContainer.ViewItemId).data("viewItem", viewModel.contentContainer);
        //    $("#" + viewModel.scheduler.ViewItemId).data("viewItem", viewModel.scheduler);

        //}

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            $.post(viewModel.ActionConfig.ActionSetViewReady, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    var configuration = {
                        idInstance: viewModel.IdInstance,
                        actionGetDataSource: viewModel.ActionConfig.ActionGetDataSource,
                        viewTemplateDay: viewModel.ViewTemplateDay,
                        viewTemplateWorkWeek: viewModel.ViewTemplateWorkWeek,
                        viewTemplateWeek: viewModel.ViewTemplateWeek,
                        viewTemplateMonth: viewModel.ViewTemplateMonth,
                        idParentAppointment: viewModel.IdParentAppointment,
                        typeObject: viewModel.TypeObject,
                        channelSelectedObject: viewModel.ChannelConfig.ChannelSelectedObject,
                        managerConfig: viewModel.managerConfig,
                        idSender: viewModel.idSender,
                        idUser: viewModel.idUser,
                        idView: viewModel.View.IdView

                    }
                    var calendarConfig = $('.calendar-container').createCalendar(configuration);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);
        }

        //viewModel.setDataItems();

        //$.post(viewModel.ActionConfig.ActionGetDataSource, { idInstance: viewModel.IdInstance })
        //    .done(function (response) {
                
        //        $.extend(response.transport.read, {
        //            data: function () {
        //                return { idInstance: viewModel.IdInstance };
        //            }
        //        });

        //        $.extend(response.transport, {
        //            parameterMap: function (options, operation) {
        //                if (operation !== "read") {
        //                    options.Start = moment(options.Start).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
        //                    options.End = moment(options.End).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss")
        //                    return options;
                            
        //                }
        //            }
        //        });

        //        console.log(JSON.stringify(response));

        //        //var dataSource = new kendo.data.SchedulerDataSource(response);
        //        var scheduler = $("#" + viewModel.scheduler.ViewItemId).kendoScheduler({
        //        date: new Date(),
        //        //startTime: new Date(viewModel.startTime),
        //        majorTimeHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'HH')#</strong><sup>00</sup>"),
        //        height: '100%',
        //        views: [
        //            { type: viewModel.ViewTemplateDay.type, selected: viewModel.ViewTemplateDay.selected, dateHeaderTemplate: kendo.template(viewModel.ViewTemplateDay.dateHeaderTemplate), eventTemplate: kendo.template($("#dayWeekEventTemplate").html()) },
        //            { type: viewModel.ViewTemplateWorkWeek.type, selected: viewModel.ViewTemplateDay.selected, dateHeaderTemplate: kendo.template(viewModel.ViewTemplateWorkWeek.dateHeaderTemplate), eventTemplate: kendo.template($("#dayWeekEventTemplate").html()) },
        //            { type: viewModel.ViewTemplateWeek.type, selected: viewModel.ViewTemplateWeek.selected, dateHeaderTemplate: kendo.template(viewModel.ViewTemplateWeek.dateHeaderTemplate), eventTemplate: kendo.template($("#dayWeekEventTemplate").html()) },
        //            { type: viewModel.ViewTemplateMonth.type, selected: viewModel.ViewTemplateMonth.selected, dateHeaderTemplate: kendo.template(viewModel.ViewTemplateMonth.dateHeaderTemplate), eventTemplate: kendo.template($("#monthEventTemplate").html()) }
        //        ],
        //        dataSource: response,
        //            filter: {
        //                logic: "or",
        //                filters: [
        //                    { field: "ownerId", operator: "eq", value: 1 },
        //                    { field: "ownerId", operator: "eq", value: 2 }
        //                ]
        //            },
        //            dataBound: function (e) {
        //                $('body').closePageLoader();
        //            },
        //        //add: function (e) {
        //        //    console.log("Add", e.event.title);
        //        //},
        //        //save: function (e) {
        //        //    console.log("Saving", e.event.title);

        //        //    var eventItem = {
        //        //        id: e.event.id,
        //        //        taskId: e.event.taskId,
        //        //        title: e.event.title,
        //        //        start: e.event.start.toJSON(),
        //        //        end: e.event.end.toJSON(),
        //        //        uid: e.event.uid,
        //        //        isAllDay: e.event.isAllDay
        //        //    };

        //        //    $.post(viewModel.ActionConfig.ActionSaveAppointent, { idInstance: viewModel.IdInstance, schedulerEvent: eventItem })
        //        //        .done(function (response) {

        //        //        })
        //        //        .fail(function (jqxhr, textStatus, error) {
        //        //            // stuff
        //        //        });
        //        //    e.preventDefault();
        //        //},
        //        //change: function (e) {
        //        //    console.log("Change", e.event.title);

                    


        //        //},
        //        edit: function (e) {
        //            console.log("edit", e.event);
        //            if (e.event.taskId !== '') {
        //                var appointment = {
        //                    GUID: e.event.taskId,
        //                    Name: e.event.title,
        //                    GUID_Parent: viewModel.IdParentAppointment,
        //                    Type: viewModel.TypeObject
        //                };

        //                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
        //                    ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
        //                    SenderId: viewModel.managerConfig.idEndpoint,
        //                    SessionId: viewModel.managerConfig.idSession,
        //                    UserId: viewModel.IdUser,
        //                    ReceiverId: viewModel.idSender,
        //                    ViewId: viewModel.View.IdView,
        //                    OItems: [appointment]

        //                });
        //            }
                    
        //        //    //$.post(viewModel.ActionConfig.ActionSaveAppointent, { idInstance: viewModel.IdInstance, schedulerEvent: e.event })
        //        //    //    .done(function (response) {

        //        //    //    })
        //        //    //    .fail(function (jqxhr, textStatus, error) {
        //        //    //        // stuff
        //        //    //    });


        //        }
        //    });
        //    })
        //    .fail(function (jqxhr, textStatus, error) {
        //        // stuff
        //    });


        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

</script>
<div class="calendar-container">
    @*<div id="@(Model.contentContainer.ViewItemId)" class="demo-section k-content">
        <div id="@(Model.scheduler.ViewItemId)"></div>
    </div>*@
</div>

