﻿@model OModules.Models.TransactionDetailViewModel
@{
    ViewBag.Title = "TransactionDetail";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .redLabel {
        color: red;
    }

    #@(Model.splitter.ViewItemId) {
        height:100%
    }

    .root-container {
        height:100%
    }

    #@(Model.objectListFrame.ViewItemId) {
        height:100%;
        width:100%;
        border:0;
    }

    #@(Model.mewObjectFrame.ViewItemId) {
        height:100%;
        width:100%;
        border:0;
    }
    
    .form-group {
        margin-left:4px;
        margin-right: 5px;
    }
</style>
<link href="~/Scripts/jquery.calculator.package-2.0.1/jquery.calculator.css" rel="stylesheet" />
<script src="~/Scripts/jquery.calculator.package-2.0.1/jquery.plugin.min.js"></script>
<script src="~/Scripts/jquery.calculator.package-2.0.1/jquery.calculator.min.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.stateMachineTransactionDetail = {
        isInitialized: false,
        isLoadedReference: false,
        isLoadedCurrencies: false,
        isLoadedTaxRates: false,
        isLoadedUnit: false,

        checkState: function () {
            if (viewModel.stateMachineTransactionDetail.isInitialized &&
                viewModel.stateMachineTransactionDetail.isLoadedReference &&
                viewModel.stateMachineTransactionDetail.isLoadedCurrencies &&
                viewModel.stateMachineTransactionDetail.isLoadedTaxRates &&
                viewModel.stateMachineTransactionDetail.isLoadedUnit) {
                $.post(viewModel.ActionGetTransactionData, { idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            changeValuesFromServer(response.ViewItems);
                            viewModel.dataItem = getViewItemsValue(response.ViewItems, "dataItem", "DataSource");

                            if (viewModel.dataItem == null) return;
                            viewModel.setTransactionData(viewModel.dataItem);


                        }
                        $('body').closePageLoader();
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });
            } else {
                $('body').closePageLoader();
            }

        },

        initialized: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTransactionDetail.isInitialized = true;
            viewModel.stateMachineTransactionDetail.checkState();
        },

        loadedTaxRates: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTransactionDetail.isLoadedTaxRates = true;
            viewModel.stateMachineTransactionDetail.checkState();
        },

        loadedUnits: function () {
            viewModel.stateMachineTransactionDetail.isLoadedUnit = true;
            viewModel.stateMachineTransactionDetail.checkState();
        },

        loadedReference: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTransactionDetail.isLoadedReference = true;
            viewModel.stateMachineTransactionDetail.checkState();
        },

        loadedCurrencies: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTransactionDetail.isLoadedCurrencies = true;
            viewModel.stateMachineTransactionDetail.checkState();
        },

        pendingReference: function () {
            $('body').openPageLoader();
            viewModel.stateMachineTransactionDetail.isLoadedReference = false;
            // Reset view


            viewModel.stateMachineTransactionDetail.checkState();
        }
    };

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id === viewModel.btnListenVertragsnehmer.ViewItemId) {
            $('#' + viewModel.btnListenVertragsnehmer.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.btnListenVertragsnehmer.ViewItemId).getCheckedMode()) {
                $('#' + viewModel.btnListenVertragsgeber.ViewItemId).setCheckedMode(false, true);

                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelSelectedClass,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView,
                    OItems: [{ GUID: viewModel.idClassPartner }]
                });
            }
        } else if (id === viewModel.btnListenVertragsgeber.ViewItemId) {
            $('#' + viewModel.btnListenVertragsgeber.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.btnListenVertragsgeber.ViewItemId).getCheckedMode()) {
                $('#' + viewModel.btnListenVertragsnehmer.ViewItemId).setCheckedMode(false, true);
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelSelectedClass,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView,
                    OItems: [{ GUID: viewModel.idClassPartner }]
                });
            }
        } else if (id === viewModel.openNewTransaction.ViewItemId) {
            $('#' + viewModel.newTransactionWindow.ViewItemId).data("kendoWindow").open();
        } else if (id === viewModel.openPdfList.ViewItemId) {
            $.post(viewModel.ActionGetPDFListUrl, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        window.open(response.Result, "_blank");
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        viewModel.stateMachineTransactionDetail.pendingReference();
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                if (response.IsSuccessful) {
                    changeValuesFromServer(response.ViewItems);
                    viewModel.stateMachineTransactionDetail.loadedReference();

                }
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.setTransactionData = function (dataItem) {
        $('#' + viewModel.inpAmount.ViewItemId).setContent(dataItem.Amount);


        $('#' + viewModel.inpVertragsnehmer.ViewItemId).setContent(dataItem.Contractee);



        $('#' + viewModel.inpVertragsgeber.ViewItemId).setContent(dataItem.Contractor);


        $('#' + viewModel.chkGross.ViewItemId).setCheckedMode(dataItem.Gross);

        $('#' + viewModel.inpPay.ViewItemId).setContent(dataItem.ToPay);

        $('#' + viewModel.inpTaxRate.ViewItemId).setContent(dataItem.IdTaxRate);

        $('#' + viewModel.inpUnit.ViewItemId).setContent(dataItem.IdUnit);

        $('#' + viewModel.inpTransactionName.ViewItemId).setContent(dataItem.TransactionName);

        $('#' + viewModel.dateTransactionDate.ViewItemId).setContent(dataItem.TransactionDate);

        $('#' + viewModel.inpTransactionId.ViewItemId).setContent(dataItem.Id);

        $('#' + viewModel.inpCurrency.ViewItemId).setContent(dataItem.IdCurrency);
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);


        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (message.ChannelId == viewModel.ChannelAppliedObject) {
            var idObject = message.OItems[0].GUID;
            $.post(viewModel.ActionAppliedObject, { idObject: idObject, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    if (response.IsSuccessful) {
                        changeValuesFromServer(response.ViewItems);


                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
        }

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }


    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.lblTransactionName.ViewItemId).data("viewItem", viewModel.lblTransactionName);
        $("#" + viewModel.inpTransactionName.ViewItemId).data("viewItem", viewModel.inpTransactionName);
        $("#" + viewModel.lblTransactionDate.ViewItemId).data("viewItem", viewModel.lblTransactionDate);
        $("#" + viewModel.dateTransactionDate.ViewItemId).data("viewItem", viewModel.dateTransactionDate);
        $("#" + viewModel.lblTransactionId.ViewItemId).data("viewItem", viewModel.lblTransactionId);
        $("#" + viewModel.inpTransactionId.ViewItemId).data("viewItem", viewModel.inpTransactionId);
        $("#" + viewModel.lblPay.ViewItemId).data("viewItem", viewModel.lblPay);
        $("#" + viewModel.inpPay.ViewItemId).data("viewItem", viewModel.inpPay);
        $("#" + viewModel.inpCurrency.ViewItemId).data("viewItem", viewModel.inpCurrency);
        $("#" + viewModel.lblGross.ViewItemId).data("viewItem", viewModel.lblGross);
        $("#" + viewModel.chkGross.ViewItemId).data("viewItem", viewModel.chkGross);
        $("#" + viewModel.lblTaxRate.ViewItemId).data("viewItem", viewModel.lblTaxRate);
        $("#" + viewModel.inpTaxRate.ViewItemId).data("viewItem", viewModel.inpTaxRate);
        $("#" + viewModel.lblAmount.ViewItemId).data("viewItem", viewModel.lblAmount);
        $("#" + viewModel.inpAmount.ViewItemId).data("viewItem", viewModel.inpAmount);
        $("#" + viewModel.inpUnit.ViewItemId).data("viewItem", viewModel.inpUnit);

        $("#" + viewModel.lblVertragsgeber.ViewItemId).data("viewItem", viewModel.lblVertragsgeber);
        $("#" + viewModel.inpVertragsgeber.ViewItemId).data("viewItem", viewModel.inpVertragsgeber);
        $("#" + viewModel.btnListenVertragsgeber.ViewItemId).data("viewItem", viewModel.btnListenVertragsgeber);

        $("#" + viewModel.lblVertragsnehmer.ViewItemId).data("viewItem", viewModel.lblVertragsnehmer);
        $("#" + viewModel.inpVertragsnehmer.ViewItemId).data("viewItem", viewModel.inpVertragsnehmer);
        $("#" + viewModel.btnListenVertragsnehmer.ViewItemId).data("viewItem", viewModel.btnListenVertragsnehmer);

        $("#" + viewModel.status.ViewItemId).data("viewItem", viewModel.status);

        $("#" + viewModel.openNewTransaction.ViewItemId).data("viewItem", viewModel.openNewTransaction);

        $("#" + viewModel.openPdfList.ViewItemId).data("viewItem", viewModel.openPdfList);
        
    }

    function init() {

        viewModel.stateMachineTransactionDetail.initialized();

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $("#" + viewModel.dateTransactionDate.ViewItemId).kendoDateTimePicker({
            value: (new Date()).setTime(0),
            timeFormat: "HH:mm",
            dateInput: true,
            change: function () {
                var value = kendo.toString(new Date(this.value().toJSON()), "dd.MM.yyyy HH:mm:ss");

                changeValue(viewModel.dateTransactionDate, "Content", value, true);
            }
        });

        $("#" + viewModel.splitter.ViewItemId).kendoSplitter({
            panes: [
                {},
                {}
            ]
        });

        $('#' + viewModel.objectListFrame.ViewItemId).attr('src', viewModel.ActionObjectList + '?Sender=' + viewModel.IdInstance);

        $('#' + viewModel.newTransactionWindow.ViewItemId).kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Transaction',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        $('#' + viewModel.mewObjectFrame.ViewItemId).attr('src', viewModel.ActionNewTransaction);

        $.post(viewModel.ActionGetDropDownConfigTaxrates, { idClass: viewModel.idClassTaxRates })
            .done(function (response) {
                var dropDownConfig = response.DropDownConfig;
                jQuery.extend(dropDownConfig, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(dropDownConfig, {
                    change: function (e) {

                    },
                    dataBound: function (e) {
                        viewModel.stateMachineTransactionDetail.loadedTaxRates();
                    }
                });

                $('#' + viewModel.inpTaxRate.ViewItemId).kendoDropDownList(dropDownConfig);
                viewModel.taxRateSelect = $('#' + viewModel.inpTaxRate.ViewItemId).data("kendoDropDownList")
                viewModel.taxRateSelect.enable(false);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $.post(viewModel.ActionGetDropDownConfigUnits, { idClass: viewModel.idClassUnits })
            .done(function (response) {
                var dropDownConfig = response.DropDownConfig;
                jQuery.extend(dropDownConfig, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(dropDownConfig, {
                    change: function (e) {

                    },
                    dataBound: function (e) {
                        viewModel.stateMachineTransactionDetail.loadedUnits();
                    }
                });

                $('#' + viewModel.inpUnit.ViewItemId).kendoDropDownList(dropDownConfig);
                viewModel.unitList = $('#' + viewModel.inpUnit.ViewItemId).data("kendoDropDownList")
                viewModel.unitList.enable(false);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $.post(viewModel.ActionGetDropDownConfigCurrencies, { idClass: viewModel.idClassCurrency })
            .done(function (response) {
                var dropDownConfig = response.DropDownConfig;
                jQuery.extend(dropDownConfig, {
                    filter: "contains",
                    suggest: true
                });

                $.extend(dropDownConfig, {
                    change: function (e) {

                    },
                    dataBound: function (e) {
                        viewModel.stateMachineTransactionDetail.loadedCurrencies();
                    }
                });

                $('#' + viewModel.inpCurrency.ViewItemId).kendoDropDownList(dropDownConfig);
                viewModel.currencyList = $('#' + viewModel.inpCurrency.ViewItemId).data("kendoDropDownList")
                viewModel.currencyList.enable(false);
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $("#" + viewModel.inpPay.ViewItemId).kendoNumericTextBox({
            culture: viewModel.culture,
            decimals: 2,
            format: "c2",
            change: function () {
                var dblValue = parseFloat(this.value());
                changeValue(viewModel.inpPay, "Content", dblValue, true);

            }
        });

        $("#" + viewModel.inpPay.ViewItemId).calculator({ decimalChar: ',' });

        $("#" + viewModel.inpAmount.ViewItemId).kendoNumericTextBox({
            culture: viewModel.culture,
            decimals: 2,
            format: "N2",
            change: function () {
                var dblValue = parseFloat(this.value());
                changeValue(viewModel.inpAmount, "Content", dblValue, true);

            }
        });
        $("#" + viewModel.dateTransactionDate.ViewItemId).val("")

        viewModel.setDataItems();
        $('input').change(function () {
            var viewItem = $(this).data("viewItem");

            if (viewItem.ViewItemId == viewModel.inpPay.ViewItemId ||
                viewItem.ViewItemId == viewModel.inpAmount.ViewItemId ||
                viewItem.ViewItemId == viewModel.dateTransactionDate.ViewItemId) {
                return;
            }
            if (viewItem == undefined) return;

            var value = $(this).getContent();

            changeValue(viewItem, "Content", value, true);
        })

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }



        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "PlaceHolder") {
                    $('#' + viewItem.ViewItemId).setPlaceHolder(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div>
    <div id="@(Model.newTransactionWindow.ViewItemId)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <iframe id="@(Model.mewObjectFrame.ViewItemId)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
        </div>
    </div>
</div>

<div class="root-container">
    

    <div class="toolbar" id="@(Model.splitter.ViewItemId)">
        <div>
            <div class="toolbar" id="@(Model.toolbar.ViewItemId)">
                <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                <button id="@(Model.openNewTransaction.ViewItemId)" class="k-button"><i class="fa fa-file-o" aria-hidden="true"></i></button>
                <button id="@(Model.openPdfList.ViewItemId)" class="k-button"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></button>
            </div>
            <div class="form-group row">
                <label for="@(Model.inpTransactionName.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblTransactionName.ViewItemId)">Vorname</label>
                <input id="@(Model.inpTransactionName.ViewItemId)" class="form-control col-lg-10" type="text" placeholder="Vorname" required />
            </div>

            <div class="form-group row">
                <label for="@(Model.dateTransactionDate.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblTransactionDate.ViewItemId)">Nachname</label>
                <input id="@(Model.dateTransactionDate.ViewItemId)" required class="form-control col-lg-10" />
            </div>
            <div class="form-group row">
                <label for="@(Model.inpTransactionId.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblTransactionId.ViewItemId)">Nachname</label>
                <input id="@(Model.inpTransactionId.ViewItemId)" class="form-control col-lg-10" type="text" placeholder="Nachname" />
            </div>
            <div class="form-inline row">
                <span>
                    <label for="@(Model.inpPay.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblPay.ViewItemId)">Nachname</label>
                    <input id="@(Model.inpPay.ViewItemId)" class="form-control col-lg-8" required />
                </span>
                <span class="col-lg-2">
                    <input id="@(Model.inpCurrency.ViewItemId)" class="form-control" required />
                </span>
            </div>

            <div class="form-inline row">
                <span class="col-lg-2">
                    <label for="@(Model.chkGross.ViewItemId)" class="col-form-label" id="@(Model.lblGross.ViewItemId)">Familienstand</label>
                    <input type="checkbox" id="@(Model.chkGross.ViewItemId)" class="form-control form-check" required />
                </span>
                <span class="col-lg-8">
                    <label for="@(Model.inpTaxRate.ViewItemId)" class="col-form-label" id="@(Model.lblTaxRate.ViewItemId)">Familienstand</label>
                    <input id="@(Model.inpTaxRate.ViewItemId)" class="form-control" required />
                </span>
            </div>

            <div class="form-inline row">
                <span>
                    <label for="@(Model.inpAmount.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblAmount.ViewItemId)">Nachname</label>
                    <input id="@(Model.inpAmount.ViewItemId)" class="form-control col-lg-8" required />
                </span>
                <span>
                    <input id="@(Model.inpUnit.ViewItemId)" class="form-control" required />
                </span>
            </div>
            <div class="form-inline row">
                <span>
                    <label for="@(Model.inpVertragsgeber.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblVertragsgeber.ViewItemId)">Nachname</label>
                    <input id="@(Model.inpVertragsgeber.ViewItemId)" class="form-control col-lg-3" required />
                </span>
                <span class="col-lg-2">
                    <button id="@(Model.btnListenVertragsgeber.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="form-inline row">
                <span>
                    <label for="@(Model.inpVertragsnehmer.ViewItemId)" class="col-form-label col-lg-2" id="@(Model.lblVertragsnehmer.ViewItemId)">Nachname</label>
                    <input id="@(Model.inpVertragsnehmer.ViewItemId)" class="form-control col-lg-8" required />
                </span>
                <span class="col-lg-2">
                    <button id="@(Model.btnListenVertragsnehmer.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="form-inline row">
                <span>
                    <label class="col-form-label col-lg-2 redLabel" id="@(Model.status.ViewItemId)"></label>
                </span>
            </div>
        </div>
        <div>
            <iframe id="@(Model.objectListFrame.ViewItemId)"></iframe>
        </div>
    </div>
</div>