﻿@model OModules.Models.TransactionViewModel
@{
    ViewBag.Title = "Transaction";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .dropdown {
        width: 250px;
    }

    .textbox-query {
        width: 100%;
    }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 90%; /* DO NOT USE !important for setting the Grid height! */
    }

    .alert {
        width: 100%;
    }

    .k-grid tbody tr{
        height: 50px;
    }

    .k-grid td{
        white-space: nowrap;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {

        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                viewModel.reloadGrid();


                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);


        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.reloadGrid = function () {
        //viewModel.gridItem.dataSource.read();
        viewModel.gridItem.dataSource.read();

    }


    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.datepStart.ViewItemId).data("viewItem", viewModel.datepStart);
        $("#" + viewModel.datepEnd.ViewItemId).data("viewItem", viewModel.datepEnd);

    }


    function init() {

        var dateValue = new Date();
        dateValue.setDate(dateValue.getDate() - 360);
        viewModel.startDate = kendo.toString(kendo.parseDate(dateValue), 'MM/dd/yyyy');
        viewModel.endDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');

        $.post(viewModel.ActionGetGridConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {


                if (viewModel.dataSource === undefined) {
                    viewModel.dataSource = new kendo.data.DataSource(response.dataSource);

                } else {
                    $("#" + viewModel.grid.ViewItemId).data("kendoGrid").destroy(); // destroy the Grid

                    $("#" + viewModel.grid.ViewItemId).empty(); // empty the Grid content (inner HTML)
                }


                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return {
                            idInstance: viewModel.IdInstance,
                            start: viewModel.startDate,
                            end: viewModel.endDate
                        };
                    }
                })

                response.dataSource = viewModel.dataSource;

                $.extend(response, {
                    change: function () {
                        var currentDataItem = viewModel.gridItem.dataItem(this.select());

                        if (currentDataItem != undefined) {
                            console.log(currentDataItem);
                            var items = [
                                {
                                    GUID: currentDataItem.IdTransaction,
                                    GUID_Parent: viewModel.idClassFinancialTransaction
                                }];
                            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                ChannelId: viewModel.ChannelSelectedObject,
                                SenderId: viewModel.managerConfig.idEndpoint,
                                SessionId: viewModel.managerConfig.idSession,
                                UserId: viewModel.IdUser,
                                OItems: items
                            });
                        }


                    }, toolbar: kendo.template($("#template").html())
                })

                $("#" + viewModel.grid.ViewItemId).kendoGrid(response);
                //setTimeout(function () {
                //    dataSource.read();
                //}, 500);

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).data("kendoGrid");

                
                $('#' + viewModel.datepStart.ViewItemId).kendoDatePicker({
                    format: 'dd.MM.yyyy',
                    value: viewModel.startDate,
                    change: function () {
                        var value = this.value();
                        value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                        console.log('Start', value);
                        viewModel.startDate = value;

                        viewModel.reloadGrid();
                    }
                });

                $('#' + viewModel.datepEnd.ViewItemId).kendoDatePicker({
                    format: 'dd.MM.yyyy',
                    value: viewModel.endDate,
                    change: function () {
                        var value = this.value();
                        value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                        console.log('End', value);
                        viewModel.endDate = value;

                        viewModel.reloadGrid();
                    }
                });

                $('.k-button').kendoButton({
                    click: viewModel.clickedButton
                });

                $("#" + viewModel.grid.ViewItemId).on('cellselect', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });

                $("#" + viewModel.grid.ViewItemId).on('cellvaluechanged', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $("#" + viewModel.gridParent.ViewItemId).kendoTooltip({
            filter: "td",
            position: "top",
            animation: {
                open: {
                    effects: "zoom",
                    duration: 150
                }
            },
            content: function (e) {
                return e.target.html();
            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar" id="@(Model.toolbar.ViewItemId)">
        <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <label id="@(Model.lblStart.ViewItemId)">Start:</label>
        <input id="@(Model.datepStart.ViewItemId)" />
        <label id="@(Model.lblEnd.ViewItemId)">Ende:</label>
        <input id="@(Model.datepEnd.ViewItemId)" />
    </div>
</script>

<div id="@(Model.gridParent.ViewItemId)">
    <div id="@(Model.grid.ViewItemId)"></div>
</div>
