﻿@model OModules.Models.VoucherAddViewModel
@{
    ViewBag.Title = "Add Voucher";
}

<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .voucher-add-area {
        height: 100%;
    }
</style>
<link href="~/Content/Bill/voucher-add.css" rel="stylesheet" />

<script src="~/Scripts/Bill/VoucherAdd.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);


        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    function init() {
        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    viewModel.componentSelectorPath = [".voucher-add-area"]

                    $(".voucher-add-area").createVoucherAddComponent({
                        selectorPath: [".voucher-add-area"],
                        managerConfig: viewModel.managerConfig,
                        setWindowTitle: true,
                        actions: {
                            init: viewModel.ActionVoucherAddInit
                        },
                        events: {
                            createdComponent: function (component) {
                                viewModel.voucherAddComponent = component;
                                changeValuesFromServerChildren(viewModel.ViewItems, viewModel.componentSelectorPath);
                            },
                            completedComponent: function (component) {
                                
                            },
                            validatedReference: function (refItem) {

                            }
                        }
                    });
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="voucher-add-area">

</div>
