﻿@model OModules.Models.ExportOntologyViewModel
@{
    ViewBag.Title = "ExportOntology";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

   
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            button.toggleMode(true);
        } else if (id === viewModel.exportOntology.ViewItemId) {
            window.open(viewModel.ActionExportOntology + '?idInstance=' + viewModel.IdInstance, '_blank');
            //$.post(viewModel.ActionExportOntology, { idInstance: viewModel.IdInstance })
            //    .done(function (response) {
            //        console.log("connected", response);


            //        if (response.IsSuccessful) {

            //        }
            //        changeValuesFromServer(response.ViewItems);

            //        $('body').closePageLoader();
            //    })
            //    .fail(function (jqxhr, textStatus, error) {
            //        // stuff
            //        $('body').closePageLoader();
            //    });
        }
    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);


                if (response.IsSuccessful) {
                    
                }
                changeValuesFromServer(response.ViewItems);

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.listen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        } 
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.outputOntology.ViewItemId).data("viewItem", viewModel.outputOntology);
        $("#" + viewModel.exportOntology.ViewItemId).data("viewItem", viewModel.exportOntology);
        $("#" + viewModel.referenceName.ViewItemId).data("viewItem", viewModel.referenceName);     
        
    }

    function init() {
        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'

                },
                {
                    template: '<button class="k-button" id="' + viewModel.exportOntology.ViewItemId + '"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>'
                },
                {
                    template: '<label id="' + viewModel.lblReference.ViewItemId + '"></label><label id="' + viewModel.referenceName.ViewItemId + '" class="toolbar-ref">-</label>'
                }
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }


        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelSelectedNavigationItem);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div id="@(Model.toolbar.ViewItemId)"></div>
<div class="form-group" id="@(Model.outputOntology.ViewItemId)">
    
</div>