﻿@model OModules.Models.ImportOntologyAssemblyViewModel
@{
    ViewBag.Title = "ImportOntologyAssembly";
}

<style>
    div.k-dropzone {
        border: 1px solid #c5c5c5; /* For Default; Different for each theme */
    }

        div.k-dropzone em {
            visibility: visible;
        }

    .successful {
        color:green
    }

    .failure {
        color:red
    }
</style>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.fileItem.ViewItemId).data("viewItem", viewModel.fileItem);
        $("#" + viewModel.outputResult.ViewItemId).data("viewItem", viewModel.outputResult);
    }

    function init() {
        viewModel.fileItems = [];

        $("#" + viewModel.fileItem.ViewItemId).kendoUpload({
            select: function (e) {
                console.log(e);

            },
            remove: function (e) {


            },
            complete: function (e) {
                console.log(e);

                
                
            },
            async: {
                saveUrl: viewModel.ActionUpload,
                autoUpload: true
            },
            upload: function (e) {
                $('#' + viewModel.outputResult.ViewItemId).html('');
                $('#' + viewModel.outputResult.ViewItemId).removeClass('successful');
                $('#' + viewModel.outputResult.ViewItemId).removeClass('failure');
                e.data = { idInstance: viewModel.IdInstance };
            },
            success: function (e) {
                console.log(e);
                viewModel.setOrderId = e.response.Result.length;
                for (var i in e.response.Result) {
                    viewModel.fileItems.push(e.response.Result[i]);
                }

                if (e.response.IsSuccessful) {
                    for (var i in e.response.Result) {
                        var result = e.response.Result[i];

                        var resultItem = $('<p>' + result.FilePath + ': Type (ToDo/Imported)</p>' +
                            '<p>AttributeTypes (' + result.CountToDoAttributeTypes + '/' + result.CountImportClassAttributes + ')</p>' + 
                            '<p>RelationTypes (' + result.CountToDoRelationTypes + '/' + result.CountImportRelationTypes + ')</p>' + 
                            '<p>Classes (' + result.CountToDoClasses + '/' + result.CountImportClasses + ')</p>' + 
                            '<p>Objects (' + result.CountToDoObjects + '/' + result.CountImportObjects + ')</p>' + 
                            '<p>ClassAttributes (' + result.CountToDoClassAttributes + '/' + result.CountImportClassAttributes + ')</p>' + 
                            '<p>ClassRelations (' + result.CountToDoClassRelations + '/' + result.CountImportClassRelations + ')</p>' + 
                            '<p>ObjectAttributes (' + result.CountToDoObjectAttributes + '/' + result.CountImportObjectAttributes + ')</p>' + 
                            '<p>ObjectRelations (' + result.CountToDoObjectRelations + '/' + result.CountImportObjectRelations + ')</p>');

                        if (result.IsOk) {
                            resultItem.removeClass('failure');
                            resultItem.addClass('successful');
                        } else {
                            resultItem.addClass('failure');
                            resultItem.removeClass('successful');
                        }

                        $('#' + viewModel.outputResult.ViewItemId).append(resultItem);
                    }
                } else {
                    $('#' + viewModel.outputResult.ViewItemId).html('Error while import');
                }

            },
            error: function (e) {

            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div id="@(Model.toolbar.ViewItemId)"></div>
<div id="@(Model.uploadContainer.ViewItemId)">
    <form method="post" action="@(Model.ActionUpload)">
        <div class="demo-section k-content">
            <input name="@(Model.fileItem.ViewItemId)" id="@(Model.fileItem.ViewItemId)" type="file" aria-label="files" />
        </div>
        <input type="hidden" name="idInstance" value="@(Model.IdInstance)" />
    </form>

</div>
<div class="form-group" id="@(Model.outputResult.ViewItemId)">

</div>

