﻿@model OModules.Models.PartnerViewModel
@{
    Layout = "~/Views/Shared/_LayoutNoDefault.cshtml";
}

<link href="~/Content/kendo/2020.1.114/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2020.1.114/kendo.material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2020.1.114/kendo.material.mobile.min.css" rel="stylesheet" />


<style>
    body, html {
        height:100%;
    }

    #@(Model.applyMultipleItem.ViewItemId) {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    #@(Model.multipleGrid.ViewItemId) {
        width: 100%;
        height: 300px;
    }

    #@(Model.comGrid.ViewItemId) {
        min-height: 600px;
    }

</style>

<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");

        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id === viewModel.isListenEmail.ViewItemId) {
            $('#' + viewModel.isListenEmail.ViewItemId).toggleMode(true);

            if (!$('#' + viewModel.isListenEmail.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassEmail }]
            });
           
        } else if (id === viewModel.isListenETin.ViewItemId) {
            $('#' + viewModel.isListenETin.ViewItemId).toggleMode(true);

            if (!$('#' + viewModel.isListenETin.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassETin }]
            });
        } else if (id === viewModel.isListenFamilienstand.ViewItemId) {
            $('#' + viewModel.isListenFamilienstand.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenFamilienstand.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassFamienstand }]
            });

        } else if (id === viewModel.isListenFax.ViewItemId) {
            $('#' + viewModel.isListenFax.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenFax.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassPhone }]
            });
        } else if (id === viewModel.isListenGebursort.ViewItemId) {
            $('#' + viewModel.isListenGebursort.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenGebursort.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassGeburtsort }]
            });
        } else if (id === viewModel.isListenGeschlecht.ViewItemId) {
            $('#' + viewModel.isListenGeschlecht.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenGeschlecht.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassGeschlecht }]
            });
        } else if (id === viewModel.isListenIndentifikationsNr.ViewItemId) {
            $('#' + viewModel.isListenIndentifikationsNr.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenIndentifikationsNr.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassIdentificationsnummer }]
            });
        } else if (id === viewModel.isListenLand.ViewItemId) {
            $('#' + viewModel.isListenLand.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenLand.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassLand }]
            });
        } else if (id === viewModel.isListenOrt.ViewItemId) {
            $('#' + viewModel.isListenOrt.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenOrt.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassOrt }]
            });
        } else if (id === viewModel.isListenPlz.ViewItemId) {
            $('#' + viewModel.isListenPlz.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenPlz.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassPLZ }]
            });
        } else if (id === viewModel.isListenSozialsversicherungsnummer.ViewItemId) {
            $('#' + viewModel.isListenSozialsversicherungsnummer.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenSozialsversicherungsnummer.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassSozialversicherungsnummer }]
            });
        } else if (id === viewModel.isListenSteuernummer.ViewItemId) {
            $('#' + viewModel.isListenSteuernummer.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenSteuernummer.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassSteuernummer }]
            });
        } else if (id === viewModel.isListenTelephone.ViewItemId) {
            $('#' + viewModel.isListenTelephone.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenTelephone.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassPhone }]
            });
        } else if (id === viewModel.isListenUrl.ViewItemId) {
            $('#' + viewModel.isListenUrl.ViewItemId).toggleMode(true);
            if (!$('#' + viewModel.isListenUrl.ViewItemId).getCheckedMode()) return;
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelSelectedClass,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                UserId: viewModel.IdUser,
                OItems: [{ GUID: viewModel.idClassUrl }]
            });
        } else if (id === viewModel.openNewPartner.ViewItemId) {
            $('#' + viewModel.newPartnerWindow.ViewItemId).data("kendoWindow").open();
        }

    }

    viewModel.validateReference = function (oItem) {
        $('body').openPageLoader();
        viewModel.oItem = oItem;
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                viewModel.reloadGrid();

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var isListen = $('#' + viewModel.isListen.ViewItemId).getCheckedMode();

        if (message.ChannelId == viewModel.ChannelSelectedObject && isListen) {
            var objectItem = message.OItems[0];
            if (objectItem.GUID_Parent === viewModel.idClassPartner) {
                viewModel.validateReference(objectItem);
            }
            
        }
        if (message.ChannelId == viewModel.ChannelAppliedObjects) {
            var objectItem = message.OItems[0];
            if (objectItem.GUID_Parent === viewModel.idClassEmail && $('#' + viewModel.isListenEmail.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSaveEmailAddress, { emailAddress: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            var viewItem = response.ViewItems[0];
                            var rows = getViewItemValue(viewItem, "AddRow", []);
                            for (var ix in rows) {
                                viewModel.gridItem.dataSource.add(rows[ix]);
                            }

                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassPhone && $('#' + viewModel.isListenTelephone.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSaveTelephone, { telNumber: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            var viewItem = response.ViewItems[0];
                            var rows = getViewItemValue(viewItem, "AddRow", []);
                            for (var ix in rows) {
                                viewModel.gridItem.dataSource.add(rows[ix]);
                            }

                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassPhone && $('#' + viewModel.isListenFax.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSaveFax, { telNumber: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            var viewItem = response.ViewItems[0];
                            var rows = getViewItemValue(viewItem, "AddRow", []);
                            for (var ix in rows) {
                                viewModel.gridItem.dataSource.add(rows[ix]);
                            }

                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassUrl && $('#' + viewModel.isListenUrl.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSaveUrl, { url: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            var viewItem = response.ViewItems[0];
                            var rows = getViewItemValue(viewItem, "AddRow", []);
                            for (var ix in rows) {
                                viewModel.gridItem.dataSource.add(rows[ix]);
                            }

                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassGeschlecht && $('#' + viewModel.isListenGeschlecht.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassFamienstand && $('#' + viewModel.isListenFamilienstand.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassGeburtsort && $('#' + viewModel.isListenGebursort.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassETin && $('#' + viewModel.isListenETin.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassIdentificationsnummer && $('#' + viewModel.isListenIndentifikationsNr.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassSozialversicherungsnummer && $('#' + viewModel.isListenSozialsversicherungsnummer.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassSteuernummer && $('#' + viewModel.isListenSteuernummer.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePersonalData, { personalItem: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassOrt && $('#' + viewModel.isListenOrt.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePlzOrt, { plzOrOrt: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } else if (objectItem.GUID_Parent === viewModel.idClassPLZ && $('#' + viewModel.isListenPlz.ViewItemId).getCheckedMode()) {
                $.post(viewModel.ActionSavePlzOrt, { plzOrOrt: objectItem, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }

    viewModel.gridChangeHandler = function (e) {
        var selectedRows = this.select();


        if (selectedRows.length !== 1) {
            return;
        }
        viewModel.dataItemRow = viewModel.gridItem.select();
        viewModel.dataItem = viewModel.gridItem.dataItem(viewModel.gridItem.select());

    };

    viewModel.reloadGrid = function () {
        if (viewModel.gridItem == undefined || viewModel.gridItem === null) return;
        viewModel.gridItem.dataSource.read();

    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.addressTab.ViewItemId).data("viewItem", viewModel.addressTab);
        $("#" + viewModel.partnerEditors.ViewItemId).data("viewItem", viewModel.partnerEditors);
        $("#" + viewModel.partnerTabs.ViewItemId).data("viewItem", viewModel.partnerTabs);
        $("#" + viewModel.personalTab.ViewItemId).data("viewItem", viewModel.personalTab);
        $("#" + viewModel.communicationTab.ViewItemId).data("viewItem", viewModel.communicationTab);

        $("#" + viewModel.inpName.ViewItemId).data("viewItem", viewModel.inpName);
        $("#" + viewModel.inpStrasse.ViewItemId).data("viewItem", viewModel.inpStrasse);
        $("#" + viewModel.lblStrasse.ViewItemId).data("viewItem", viewModel.lblStrasse);
        $("#" + viewModel.inpPostfach.ViewItemId).data("viewItem", viewModel.inpPostfach);
        $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
        $("#" + viewModel.lblPostfach.ViewItemId).data("viewItem", viewModel.lblPostfach);
        $("#" + viewModel.inpPLZ.ViewItemId).data("viewItem", viewModel.inpPLZ);
        $("#" + viewModel.isListenPlz.ViewItemId).data("viewItem", viewModel.isListenPlz);
        $("#" + viewModel.lblPLZ.ViewItemId).data("viewItem", viewModel.lblPLZ);
        $("#" + viewModel.inpOrt.ViewItemId).data("viewItem", viewModel.inpOrt);
        $("#" + viewModel.isListenOrt.ViewItemId).data("viewItem", viewModel.isListenOrt);
        $("#" + viewModel.lblOrt.ViewItemId).data("viewItem", viewModel.lblOrt);
        $("#" + viewModel.inpLand.ViewItemId).data("viewItem", viewModel.inpLand);
        $("#" + viewModel.isListenLand.ViewItemId).data("viewItem", viewModel.isListenLand);
        $("#" + viewModel.lblLand.ViewItemId).data("viewItem", viewModel.lblLand);
        $("#" + viewModel.inpVorname.ViewItemId).data("viewItem", viewModel.inpVorname);
        $("#" + viewModel.lblVorname.ViewItemId).data("viewItem", viewModel.lblVorname);
        $("#" + viewModel.inpNachname.ViewItemId).data("viewItem", viewModel.inpNachname);
        $("#" + viewModel.lblNachname.ViewItemId).data("viewItem", viewModel.lblNachname);
        $("#" + viewModel.inpGeschlecht.ViewItemId).data("viewItem", viewModel.inpGeschlecht);
        $("#" + viewModel.isListenGeschlecht.ViewItemId).data("viewItem", viewModel.isListenGeschlecht);
        $("#" + viewModel.lblGeschlecht.ViewItemId).data("viewItem", viewModel.lblGeschlecht);
        $("#" + viewModel.inpFamilienstand.ViewItemId).data("viewItem", viewModel.inpFamilienstand);
        $("#" + viewModel.isListenFamilienstand.ViewItemId).data("viewItem", viewModel.isListenFamilienstand);
        $("#" + viewModel.lblFamilienstand.ViewItemId).data("viewItem", viewModel.lblFamilienstand);
        $("#" + viewModel.lblGeburtsdatum.ViewItemId).data("viewItem", viewModel.lblGeburtsdatum);
        $("#" + viewModel.datepGeburtsdatum.ViewItemId).data("viewItem", viewModel.datepGeburtsdatum);
        $("#" + viewModel.lblTodesdatum.ViewItemId).data("viewItem", viewModel.lblTodesdatum);
        $("#" + viewModel.datepTodesdatum.ViewItemId).data("viewItem", viewModel.datepTodesdatum);
        $("#" + viewModel.inpGebursort.ViewItemId).data("viewItem", viewModel.inpGebursort);
        $("#" + viewModel.isListenGebursort.ViewItemId).data("viewItem", viewModel.isListenGebursort);
        $("#" + viewModel.lblGeburtsort.ViewItemId).data("viewItem", viewModel.lblGeburtsort);
        $("#" + viewModel.inpSozialsversicherungsnummer.ViewItemId).data("viewItem", viewModel.inpSozialsversicherungsnummer);
        $("#" + viewModel.isListenSozialsversicherungsnummer.ViewItemId).data("viewItem", viewModel.isListenSozialsversicherungsnummer);
        $("#" + viewModel.lblSozialsversicherungsnummer.ViewItemId).data("viewItem", viewModel.lblSozialsversicherungsnummer);
        $("#" + viewModel.inpETin.ViewItemId).data("viewItem", viewModel.inpETin);
        $("#" + viewModel.isListenETin.ViewItemId).data("viewItem", viewModel.isListenETin);
        $("#" + viewModel.lblETin.ViewItemId).data("viewItem", viewModel.lblETin);
        $("#" + viewModel.inpIdentifkationsnummer.ViewItemId).data("viewItem", viewModel.inpIdentifkationsnummer);
        $("#" + viewModel.isListenIndentifikationsNr.ViewItemId).data("viewItem", viewModel.isListenIndentifikationsNr);
        $("#" + viewModel.lblIdentifkationsnummer.ViewItemId).data("viewItem", viewModel.lblIdentifkationsnummer);
        $("#" + viewModel.inpSteuernummer.ViewItemId).data("viewItem", viewModel.inpSteuernummer);
        $("#" + viewModel.isListenSteuernummer.ViewItemId).data("viewItem", viewModel.isListenSteuernummer);
        $("#" + viewModel.lblSteuernummer.ViewItemId).data("viewItem", viewModel.lblSteuernummer);
        $("#" + viewModel.comToolBar.ViewItemId).data("viewItem", viewModel.comToolBar);
        $("#" + viewModel.comGrid.ViewItemId).data("viewItem", viewModel.comGrid);
        $("#" + viewModel.isListenTelephone.ViewItemId).data("viewItem", viewModel.isListenTelephone);
        $("#" + viewModel.isListenFax.ViewItemId).data("viewItem", viewModel.isListenFax);
        $("#" + viewModel.isListenEmail.ViewItemId).data("viewItem", viewModel.isListenEmail);
        $("#" + viewModel.isListenUrl.ViewItemId).data("viewItem", viewModel.isListenUrl);
        $("#" + viewModel.multipleChooserViewItemId).data("viewItem", viewModel.multipleChooser);
        $("#" + viewModel.multipleGrid.ViewItemId).data("viewItem", viewModel.multipleGrid);

        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.openNewPartner.ViewItemId).data("viewItem", viewModel.openNewPartner);
    }

    function init() {

        $('#' + viewModel.newPartnerWindow.ViewItemId).kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Transaction',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        $('#' + viewModel.newObjectFrame.ViewItemId).attr('src', viewModel.ActionNewPartner);

        $('#' + viewModel.inpStrasse.ViewItemId).on("input", function () {
            if (viewModel.timerStrasse !== null) {
                clearTimeout(viewModel.timerStrasse);
            }

            viewModel.timerStrasse = setTimeout(function () {
                var strasse = $('#' + viewModel.inpStrasse.ViewItemId).val();
                $.post(viewModel.ActionSaveStrasse, { strasse: strasse, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 300);

        });

        $('#' + viewModel.inpPostfach.ViewItemId).on("input", function () {
            if (viewModel.timerPostfach !== null) {
                clearTimeout(viewModel.timerPostfach);
            }

            viewModel.timerPostfach = setTimeout(function () {
                var postfach = $('#' + viewModel.inpPostfach.ViewItemId).val();
                $.post(viewModel.ActionSavePostfach, { postfach: postfach, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 300);

        });

        $('#' + viewModel.inpVorname.ViewItemId).on("input", function () {
            if (viewModel.timerVorname !== null) {
                clearTimeout(viewModel.timerVorname);
            }

            viewModel.timerVorname = setTimeout(function () {
                var vorname = $('#' + viewModel.inpVorname.ViewItemId).val();
                $.post(viewModel.ActionSaveVorname, { vorname: vorname, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 300);
            
        });

        $('#' + viewModel.inpNachname.ViewItemId).on("input", function () {
            if (viewModel.timerNachname !== null) {
                clearTimeout(viewModel.timerNachname);
            }

            viewModel.timerNachname = setTimeout(function () {
                var vorname = $('#' + viewModel.inpNachname.ViewItemId).val();
                $.post(viewModel.ActionSaveNachname, { nachname: vorname, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 300);

        });

        $('#' + viewModel.inpName.ViewItemId).on("input", function () {
            if (viewModel.timerName !== null) {
                clearTimeout(viewModel.timerName);
            }

            viewModel.timerName = setTimeout(function () {
                var name = $('#' + viewModel.inpName.ViewItemId).val();
                $.post(viewModel.ActionSaveName, { name: name, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }, 300);

        });

        $('#' + viewModel.partnerTabs.ViewItemId).kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });


        $('#' + viewModel.datepGeburtsdatum.ViewItemId).kendoDatePicker({
            format: 'dd.MM.yyyy',
            change: function () {
                var value = this.value();
                value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                console.log('Geburtsdatum', value);
                $.post(viewModel.ActionSaveGeburtsdatum, { geburtsdatum: value, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }
        });
        $('#' + viewModel.datepTodesdatum.ViewItemId).kendoDatePicker({
            format: 'dd.MM.yyyy',
            change: function () {
                var value = this.value();
                value = moment(value).tz('Europe/Berlin').format("YYYY-MM-DD HH:mm:ss");
                console.log('Todesdatum', value);
                $.post(viewModel.ActionSaveTodesdatum, { todesdatum: value, idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.ViewItems !== undefined && response.ViewItems !== null && response.ViewItems.length > 0) {
                            changeValuesFromServer(response.ViewItems);
                        }

                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            }
        });

        $('#' + viewModel.comToolBar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<label>Telefon:</label>'
                },
                {
                    template: '<button id="' + viewModel.isListenTelephone.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'
                },
                { type: "separator" },
                {
                    template: '<label>Fax:</label>'
                },
                {
                    template: '<button id="' + viewModel.isListenFax.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'
                },
                { type: "separator" },
                {
                    template: '<label>Email:</label>'
                },
                {
                    template: '<button id="' + viewModel.isListenEmail.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'
                },
                { type: "separator" },
                {
                    template: '<label>Url:</label>'
                },
                {
                    template: '<button id="' + viewModel.isListenUrl.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>'
                },
                { type: "separator" },
            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        $.post(viewModel.ActionGetGridConfig)
            .done(function (response) {

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return { idInstance: viewModel.IdInstance };
                    }
                })

                var dataSource = new kendo.data.DataSource(response.dataSource);
                response.dataSource = dataSource;
                response.dataBound = function () {


                };

                $.extend(response, {
                    change: viewModel.gridChangeHandler
                });

                viewModel.gridItem = $("#" + viewModel.comGrid.ViewItemId).kendoGrid(response).data("kendoGrid");

                viewModel.gridItem.wrapper.find(".k-pager")
                    .before('<a href="#" class="k-link prev">Prev</a>')
                    .after('<a href="#" class="k-link next">Next</a>')
                    .parent()
                    .append('<span class="pagesize" style="margin-left:40px">Page To: <input /></span>')
                    .delegate("a.prev", "click", function () {
                        dataSource.page(dataSource.page() - 1);
                    })
                    .delegate("a.next", "click", function () {
                        dataSource.page(dataSource.page() + 1);
                    })
                    .delegate(".pagesize input", "change", function () {
                        dataSource.page(parseInt(this.value, 10));
                    })

                viewModel.reloadGrid();


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObjects);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);

    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div>
    <div id="@(Model.newPartnerWindow.ViewItemId)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <iframe id="@(Model.newObjectFrame.ViewItemId)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
        </div>
    </div>
</div>
<div class="toolbar" id="@(Model.toolbar.ViewItemId)">
    <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
    <button id="@(Model.openNewPartner.ViewItemId)" class="k-button"><i class="fa fa-file-o" aria-hidden="true"></i></button>
</div>
<div id="@(Model.partnerEditors.ViewItemId)">
    <div class="k-content">
        <div id="@(Model.partnerTabs.ViewItemId)">
            <ul>
                <li id="@(Model.addressTab.ViewItemId)" class="k-state-active">
                    Address
                </li>
                <li id="@(Model.personalTab.ViewItemId)">
                    Personal
                </li>
                <li id="@(Model.communicationTab.ViewItemId)">
                    Communication
                </li>
            </ul>
            <div>

                <div class="form-group">
                    <label for="@(Model.inpName.ViewItemId)" class="col-form-label" id="@(Model.lblName.ViewItemId)">Name</label>
                    <input id="@(Model.inpName.ViewItemId)" class="form-control" type="text" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label for="@(Model.inpStrasse.ViewItemId)" class="col-form-label" id="@(Model.lblStrasse.ViewItemId)">Straße</label>
                    <input id="@(Model.inpStrasse.ViewItemId)" class="form-control" type="text" placeholder="Straße" />

                </div>
                <div class="form-group">
                    <label for="@(Model.inpPostfach.ViewItemId)" class="col-form-label" id="@(Model.lblPostfach.ViewItemId)">Postfach</label>
                    <input id="@(Model.inpPostfach.ViewItemId)" class="form-control" type="text" placeholder="Postfach" />
                </div>

                <div class="form-group">
                    <span>
                        <label for="@(Model.inpPLZ.ViewItemId)" class="col-form-label" id="@(Model.lblPLZ.ViewItemId)">PLZ</label>
                        <button id="@(Model.isListenPlz.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpPLZ.ViewItemId)" class="form-control" disabled type="text" placeholder="PLZ" />
                </div>

                <div class="form-group">
                    <span>
                        <label for="@(Model.inpOrt.ViewItemId)" class="col-form-label" id="@(Model.lblOrt.ViewItemId)">Ort</label>
                        <button id="@(Model.isListenOrt.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpOrt.ViewItemId)" class="form-control" disabled type="text" placeholder="Ort" />
                </div>

                <div class="form-group">
                    <span>
                        <label for="@(Model.inpLand.ViewItemId)" class="col-form-label" id="@(Model.lblLand.ViewItemId)">Land</label>
                        <button id="@(Model.isListenLand.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpLand.ViewItemId)" class="form-control" disabled type="text" placeholder="Land" />
                </div>

            </div>
            <div>

                <div class="form-group">
                    <label for="@(Model.inpVorname.ViewItemId)" class="col-form-label" id="@(Model.lblVorname.ViewItemId)">Vorname</label>
                    <input id="@(Model.inpVorname.ViewItemId)" class="form-control" type="text" placeholder="Vorname" />
                </div>

                <div class="form-group">
                    <label for="@(Model.inpNachname.ViewItemId)" class="col-form-label" id="@(Model.lblNachname.ViewItemId)">Nachname</label>
                    <input id="@(Model.inpNachname.ViewItemId)" class="form-control" type="text" placeholder="Nachname" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpGeschlecht.ViewItemId)" class="col-form-label" id="@(Model.lblGeschlecht.ViewItemId)">Geschlecht</label>
                        <button id="@(Model.isListenGeschlecht.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpGeschlecht.ViewItemId)" class="form-control" disabled type="text" placeholder="Geschlecht" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpFamilienstand.ViewItemId)" class="col-form-label" id="@(Model.lblFamilienstand.ViewItemId)">Familienstand</label>
                        <button id="@(Model.isListenFamilienstand.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpFamilienstand.ViewItemId)" class="form-control" disabled type="text" placeholder="Familienstand" />
                </div>

                <div class="form-group">
                    <label class="col-form-label" id="@(Model.lblGeburtsdatum.ViewItemId)">Geburtsdatum</label>
                    <input id="@(Model.datepGeburtsdatum.ViewItemId)" value="" style="width: 100%" />


                    <label class="col-form-label" id="@(Model.lblTodesdatum.ViewItemId)">Todesdatum</label>
                    <input id="@(Model.datepTodesdatum.ViewItemId)" value="" style="width: 100%" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpGebursort.ViewItemId)" class="col-form-label" id="@(Model.lblGeburtsort.ViewItemId)">Geburtsort</label>
                        <button id="@(Model.isListenGebursort.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>

                    <input id="@(Model.inpGebursort.ViewItemId)" class="form-control" disabled type="text" placeholder="Gebursort" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpSozialsversicherungsnummer.ViewItemId)" class="col-form-label" id="@(Model.lblSozialsversicherungsnummer.ViewItemId)">Sozialsversicherungsnummer</label>
                        <button id="@(Model.isListenSozialsversicherungsnummer.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>

                    <input id="@(Model.inpSozialsversicherungsnummer.ViewItemId)" class="form-control" disabled type="text" placeholder="Sozialsversicherungsnummer" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpETin.ViewItemId)" class="col-form-label" id="@(Model.lblETin.ViewItemId)">eTin</label>
                        <button id="@(Model.isListenETin.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpETin.ViewItemId)" class="form-control" disabled type="text" placeholder="eTin" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpIdentifkationsnummer.ViewItemId)" class="col-form-label" id="@(Model.lblIdentifkationsnummer.ViewItemId)">Indentifikationsnummer (Nr)</label>
                        <button id="@(Model.isListenIndentifikationsNr.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>

                    <input id="@(Model.inpIdentifkationsnummer.ViewItemId)" class="form-control" disabled type="text" placeholder="Indentifikationsnummer (Nr)" />
                </div>
                <div class="form-group">
                    <span>
                        <label for="@(Model.inpSteuernummer.ViewItemId)" class="col-form-label" id="@(Model.lblSteuernummer.ViewItemId)">Steuernummer</label>
                        <button id="@(Model.isListenSteuernummer.ViewItemId)" class="k-default k-button"> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>
                    <input id="@(Model.inpSteuernummer.ViewItemId)" class="form-control" disabled type="text" placeholder="Steuernummer" />
                </div>

            </div>
            <div>
                <div class="k-content">
                    <div id="@(Model.comToolBar.ViewItemId)"></div>
                    <div id="@(Model.comGrid.ViewItemId)">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="@(Model.multipleChooser.ViewItemId)">
    <div id="@(Model.multipleGrid.ViewItemId)"></div>
    <button id="@(Model.applyMultipleItem.ViewItemId)"></button>
</div>

