﻿@model OModules.Models.HtmlEditViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #editTaggingSplitter  {
        height: 100%;
        margin: 0 auto;
    }

    .@(Model.fullHeight)
    {
        height: calc(100vh - 15px)
    }

        .tox-tinymce {
            height: 94% !important;
        }

        .fullPanelContentHeight {
            height: calc(100vh - 120px)
        }

    .htmlTextArea {
        height: calc(100vh - 160px);
        width: 100%;
    }

    .content-check {
        margin-top: 0px !important;
        margin-right: 2px !important;
        min-width: 20px !important;
        max-width: 20px !important;
    }
</style>

<link href="~/Content/AutoRelator/auto-relator.css" rel="stylesheet" />
<link href="~/Content/prism.css" rel="stylesheet" />
<script src="~/Scripts/TypedTagging/AutoRelator.js"></script>
<script src="~/Scripts/prism.js" data-manual></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/ModuleMgmt/ModuleStarter.js"></script>
<script src="~/Scripts/ace/ace.js"></script>
<script src="~/Scripts/HTMLEditor/TemplateChoose.js"></script>
<script src="~/Scripts/ajax.autocomplete/jquery.autocomplete.js"></script>
<script src="~/Scripts/TypedTagging/TypedTagging.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ObjectEdit/EmbeddedNameEdit.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    var saveButton;
    var templateButton;
    var anchorButton;
    var moduleStarterButton;
    var applyButton;
    var timeoutId;

    viewModel.saveContent = function() {
        clearTimeout(timeoutId);
        var content = tinyMCE.get(viewModel.textArea.ViewItemId).getContent();
        var content64 = utf8_to_b64(content);
        $.post(viewModel.ActionConfig.ActionSaveHtmlContent, { request: { content: content64, idInstance: viewModel.IdInstance } })
            .done(function (response) {

                console.log(response);

                if (response.IsSaved) {
                    saveButton.setDisabled(true);
                    tinyMCE.activeEditor.save();

                    if (!viewModel.refreshable) {
                        viewModel.refreshable = true;
                        viewModel.autoRelatorContainer.handler.validateReference(viewModel.oItem);
                    }
                }

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

    }

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        if (id === viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id === viewModel.listenLink.ViewItemId) {
            $('#' + viewModel.listenLink.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.listenLink.ViewItemId).hasClass('k-primary')) {
                $('#' + viewModel.listenAnchor.ViewItemId).setCheckedMode(false, false);
            }

        } else if (id === viewModel.listenAnchor.ViewItemId) {
            $('#' + viewModel.listenAnchor.ViewItemId).toggleMode(true);
            if ($('#' + viewModel.listenAnchor.ViewItemId).hasClass('k-primary')) {
                $('#' + viewModel.listenLink.ViewItemId).setCheckedMode(false, false);
            }
        } else if (id === viewModel.sendObject.ViewItemId) {
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                ReceiverId: viewModel.idSender,
                UserId: viewModel.IdUser,
                ViewId: viewModel.View.IdView,
                OItems: [viewModel.oItem ]
            });
        } else if (id === viewModel.applyObject.ViewItemId) {
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelConfig.ChannelAppliedObject,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                ReceiverId: viewModel.idSender,
                UserId: viewModel.IdUser,
                ViewId: viewModel.View.IdView,
                OItems: [viewModel.oItem]
            });
        }

    }

    viewModel.validateReference = function (oItem) {
        $('body').openPageLoader();
        viewModel.oItem = oItem;

        $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response);

                var link = viewModel.ActionConfig.ActionHtmlViewer + '?Object=' + oItem.GUID;
                $('#' + viewModel.openInViewer.ViewItemId).attr('href', link);

                link = viewModel.ActionConfig.ActionDiffViewer + '?Object=' + oItem.GUID;
                $('#' + viewModel.openDiffViewer.ViewItemId).attr('href', link);

                link = viewModel.ActionConfig.ActionAutoRelator + '?Object=' + oItem.GUID + '&Sender=' + viewModel.IdInstance;
                $('#' + viewModel.openAutoRelator.ViewItemId).attr('href', link);

                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                var viewItemTitel = $.grep(response, function (viewItem) {
                    return viewItem.ViewItemId == viewModel.windowTitle.ViewItemId;
                })

                var viewItemTextArea = $.grep(response, function (viewItem) {
                    return viewItem.ViewItemId == viewModel.textArea.ViewItemId;
                })

                if (viewItemTextArea.length > 0) {
                    var refrashable = getViewItemValue(viewItemTextArea[0], "Refreshable", false);
                    var viewItemValueEnable = getViewItemValue(viewItemTextArea[0], "Enable", false);
                    viewModel.refreshable = refrashable;
                    if (viewModel.refreshable) {
                        $.post(viewModel.ActionConfig.ActionGetHtmlContent, { idInstance: viewModel.IdInstance })
                            .done(function (response) {
                                if (response === undefined) return;
                                console.log(response);
                                viewModel.autoRelatorContainer.handler.validateReference(viewModel.oItem);
                                var viewItemValue = getViewItemValue(response, "Content", "");
                                var content = b64_to_utf8(viewItemValue);
                                tinyMCE.get(viewModel.textArea.ViewItemId).setContent(content, { format: 'html' });
                                $.post(viewModel.ActionConfig.ActionGetTags, { idInstance: viewModel.IdInstance })
                                    .done(function (response) {
                                        if (response === undefined) return;
                                        console.log(response);


                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        // stuff
                                    });
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                // stuff
                            });
                    }
                    viewModel.editorEnabled = false;
                    
                    viewModel.editorEnabled = viewItemValueEnable;
                    if (viewModel.editorEnabled) {
                        tinyMCE.get(viewModel.textArea.ViewItemId).setMode('design');
                    }
                    else {
                        tinyMCE.get(viewModel.textArea.ViewItemId).setMode('readonly');
                    }
                    
                }

                if (viewItemTitel.length > 0) {
                    document.title = getViewItemValue(viewItemTitel[0], "Content", "Html-Editor");
                }

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });
    }

    viewModel.appliedObjectsForAnchorOrLink = function (oItems) {
        var isListenLink = $('#' + viewModel.listenLink.ViewItemId).hasClass('k-primary');

        $('body').openPageLoader();

        if (isListenLink) {
            $.post(viewModel.ActionConfig.ValidateReceivedRefForLinkOrAnchor, { refItems: oItems, insertLink:true, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    if (response.IsSuccessful) {

                        var itemCount = response.Result.length;
                        var separator = "</br>";
                        var separatorEntered = $('.input-separator').val();
                        if (typeof separatorEntered != 'undefined') {
                            separator = separatorEntered;
                        }
                        for (var ix in response.Result) {
                            var linkItem = response.Result[ix];

                            var content = tinymce.activeEditor.selection.getContent();
                            if (content === '') {
                                if (typeof linkItem.EncodedNameObject !== 'undefined' && linkItem.EncodedNameObject !== null) {
                                    content = b64_to_utf8(linkItem.EncodedNameObject)
                                }
                                else {
                                    content = linkItem.NameObject;
                                }

                            }
                            if (linkItem.IsImage) {

                                var imageHtmlHeader = '';
                                var imageHtmlFooter = '';
                                imageHtmlHeader = '<figure class="image">';
                                imageHtmlFooter = '<figcaption>' + content + '</figure >';

                                var link = "<img class='ontologyItem' name='" + linkItem.IdObject + "' src='" + linkItem.Url + "' width=\"720px\" height=\"572px\">";
                                tinyMCE.activeEditor.selection.setContent(imageHtmlHeader + link + imageHtmlFooter, { format: 'raw' });
                            }
                            else if (linkItem.IsAudio) {
                                var link = "<audio controls width=\"720px\" height=\"572px\"><source class='ontologyItem' name='" + linkItem.IdObject + "' src='" + linkItem.Url + "'>" + content + "</audio>";
                                tinyMCE.activeEditor.selection.setContent(link, { format: 'raw' });
                            }
                            else if (linkItem.IsVideo) {
                                var link = "<video controls width=\"720px\" height=\"572px\"><source class='ontologyItem' name='" + linkItem.IdObject + "' src='" + linkItem.Url + "'>" + content + "</video>";
                                tinyMCE.activeEditor.selection.setContent(link, { format: 'raw' });
                            }
                            else if (linkItem.IsPDF) {
                                var link = "<embed class='ontologyItem' name='" + linkItem.IdObject + "' src='" + linkItem.Url + "' width='720' height='572'>";
                                tinyMCE.activeEditor.selection.setContent(link, { format: 'raw' });
                            }
                            else {
                                var link = "<a class='ontologyItem' name='" + linkItem.IdObject + "' href='" + linkItem.Url + "' target='_blank' >" + content + "</a>";
                                tinyMCE.activeEditor.selection.setContent(link, { format: 'raw' });
                            }
                            
                            if (ix < itemCount - 1) {
                                tinyMCE.activeEditor.selection.setContent(separator, { format: 'raw' });
                            }
                        }
                        viewModel.saveContent();
                    }
                    $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });
        }
        else {
            $.post(viewModel.ActionConfig.ValidateReceivedRefForLinkOrAnchor, { refItems: oItems, insertLink: false, idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    if (response.IsSuccessful) {
                        var itemCount = response.Result.length;
                        var separator = "</br>";
                        var separatorEntered = $('.input-separator').val();
                        if (typeof separatorEntered != 'undefined') {
                            separator = separatorEntered;
                        }
                        for (var ix in response.Result) {
                            var linkItem = response.Result[ix];
                            var content = tinymce.activeEditor.selection.getContent();
                            if (content === "") {
                                if (typeof linkItem.EncodedNameObject !== 'undefined' && linkItem.EncodedNameObject !== null) {
                                    content = b64_to_utf8(linkItem.EncodedNameObject);
                                } else {
                                    content = linkItem.NameObject;
                                }

                            }

                            var html = '<span name="' + linkItem.NameLink + '"><a ';
                            if ($('.content-check').prop('checked')) {
                                html += 'class="ontologyItem Content"' + ' name="' + linkItem.IdObject + '"></a>';
                            } else {
                                html += ' name="' + linkItem.IdObject + '"></a>' + content;
                            }
                            html +=  '</span>'

                            tinyMCE.activeEditor.selection.setContent(html, { format: 'raw' });
                            if (ix < itemCount - 1) {
                                tinyMCE.activeEditor.selection.setContent(separator, { format: 'raw' });
                            }
                        }
                        viewModel.saveContent();
                    }
                    $('body').closePageLoader();
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                    $('body').closePageLoader();
                });
            }
    }

    viewModel.selectedObjects = function (oItems) {
        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView,
                            OItems: oItems
                        });
    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelConfig.ChannelControllerMessage) {
            var outputMessage = message.GenericParameterItems[0];
            if (outputMessage.MessageType == 3) {
                $('.onto-status-bar').data('messageout-config').showError(message.GenericParameterItems[0].Message, 5000);
            } else {
                $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0].Message, 5000);
            }

        }

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedClass) {
            var classId = message.OItems[0].GUID;
            viewModel.autoRelatorContainer.handler.selectClassItem(classId);
        }

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);
        var isListenLink = $('#' + viewModel.listenLink.ViewItemId).hasClass('k-primary');
        var isListenAnchor = $('#' + viewModel.listenAnchor.ViewItemId).hasClass('k-primary');

        if (isListenLink && message.ChannelId == viewModel.ChannelConfig.ChannelAppliedObject) {
            viewModel.appliedObjectsForAnchorOrLink(message.OItems);
        }

        if (isListenAnchor && message.ChannelId == viewModel.ChannelConfig.ChannelAppliedObject) {
            viewModel.appliedObjectsForAnchorOrLink(message.OItems);
        }

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {

            viewModel.validateReference(message.OItems[0]);
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam != undefined) {
            var oItem = {
                GUID: urlParameterConfig.objectParam
            };

            viewModel.validateReference(oItem);
        }
    }


    function init() {

        $("#editTaggingSplitter")
            .kendoSplitter({
                orientation: "horizontal",
                panes: [
                    { size: "50%" },
                    { collapsible: true, collapsed: true }
                ]
            });


        $('#' + viewModel.moduleFunctionsWindow.ViewItemId).kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'Function',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        $('#' + viewModel.chooseTemplateWindow.ViewItemId).kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'Templates',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        var nameInputLbl = getViewItemValue(viewModel.nameInput, "Caption", "");

        var configurationModuleStarter = {
            actionModuleStarter: viewModel.ActionConfig.ActionModuleStarterInit,
            sender: urlParameterConfig.senderParam,
            idObject: urlParameterConfig.objectParam
        };

        $('.modulesContainer').createModuleStarter(configurationModuleStarter);

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<label>' + nameInputLbl + '</label>'
                },
                {
                    template: '<input id= "' + viewModel.nameInput.ViewItemId + '" class="k-textbox" style="width: 250px;" />'

                },
                {
                    type: "separator"
                },
                {
                    template: `<div class="btn-group" role="group" aria-label="Media-Views">
                                  <button id="openMediaViewerImage" type="button" class="btn btn-secondary"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                                  <button id="openMediaViewerPDF" type="button" class="btn btn-secondary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                                  <button id="openMediaViewerVideo" type="button" class="btn btn-secondary"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                                </div>`,

                },
                {
                    type: "separator"
                },
                {
                    template: '<button id="' + viewModel.listenLink.ViewItemId + '" class="k-button"><i class="fa fa-external-link-square" aria-hidden="true"></i> Insert Link</button>',

                },
                {
                    template: '<button id="' + viewModel.listenAnchor.ViewItemId + '" class="k-button"><input type="checkbox" class="content-check" title="Check for content-insert"> Insert Anchor</button>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<button id="' + viewModel.sendObject.ViewItemId + '" class="k-button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Select</button>',

                },
                {
                    template: '<button id="' + viewModel.applyObject.ViewItemId + '" class="k-button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Apply</button>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<a id="' + viewModel.openInViewer.ViewItemId + '" target="_blank" href="">Open in Viewer</a>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<a id="' + viewModel.openDiffViewer.ViewItemId + '" target="_blank" href="">History</a>',

                },
                {
                    type: "separator"
                },
                {
                    template: '<label>Insert-Separator:</label>',
                },
                {
                    template: '<input type="text" class="input-seperator" />',
                }


            ]
        });
        


        tinyMCE.init({
            selector: '#' + viewModel.textArea.ViewItemId,
            theme: 'silver',
            extended_valid_elements: 'span',
            setup: function (ed) {
                ed.ui.registry.addButton('saveContent', {
                    icon: 'save',
                    text: 'save',
                    onAction: function () {
                        viewModel.saveContent();
                    },
                    onSetup: function(buttonApi) {
                        saveButton = buttonApi;
                        saveButton.setDisabled(true);
                    }
                });
                ed.ui.registry.addButton('moduleStarterAnchor', {
                    icon: 'more-drawer',
                    onAction: function () {
                        var url = viewModel.ActionConfig.ActionModuleStarter + "?Sender=" + viewModel.IdInstance + "&Object=" + viewModel.anchorItem;
                        $('.modulesContainer').data('modulestarter-config').validateReference(viewModel.anchorItem, function () {
                            $('#' + viewModel.moduleFunctionsWindow.ViewItemId).data("kendoWindow").open();
                        });

                    },
                    onSetup: function (buttonApi) {
                        moduleStarterButton= buttonApi;
                    }
                });
                ed.ui.registry.addButton('selectItem', {
                    icon: 'new-tab',
                    onAction: function () {
                        var oItem = {
                            GUID: viewModel.anchorItem
                        };
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView,
                            OItems: [oItem]
                        });
                    },
                    onSetup: function (buttonApi) {
                        applyButton = buttonApi;
                    }
                });
                ed.ui.registry.addButton('apllyItem', {
                    icon: 'checkmark',
                    onAction: function () {
                        var oItem = {
                            GUID: viewModel.anchorItem
                        };
                        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                            ChannelId: viewModel.ChannelConfig.ChannelAppliedObject,
                            SenderId: viewModel.managerConfig.idEndpoint,
                            SessionId: viewModel.managerConfig.idSession,
                            ReceiverId: viewModel.idSender,
                            UserId: viewModel.IdUser,
                            ViewId: viewModel.View.IdView,
                            OItems: [oItem]
                        });
                    },
                    onSetup: function (buttonApi) {
                        applyButton = buttonApi;
                    }
                });
                ed.ui.registry.addButton('editAnchor', {
                    icon: 'edit-block',
                    onAction: function () {
                        var url = viewModel.ActionConfig.ActionRelationEditor + "?Sender=" + viewModel.IdInstance + "&Object=" + viewModel.anchorItem;
                        window.open(url, "_blank");
                    },
                    onSetup: function (buttonApi) {
                        anchorButton = buttonApi;
                    }
                });
                ed.ui.registry.addButton('updateName', {
                    icon: 'reload',
                    onAction: function () {
                        var idSelected = viewModel.anchorItem;
                        $('body').openPageLoader();
                        $.post(viewModel.ActionConfig.ActionGetUpdatedName, { idItem: idSelected, idInstance: viewModel.IdInstance })
                        .done(function (response) {
                            console.log("connected", response);
                            if (!response.IsSuccessful) {
                                $('.onto-status-bar').data('messageout-config').showError(response.Message, 5000);
                            }
                            else {
                                if (response.Result.Mark) {
                                    content = b64_to_utf8(response.Result.Val_String);
                                } else {
                                    content = response.Result.Name;
                                }
                                var $1 = tinyMCE.dom.DomQuery;

                                content = '<a name="' + viewModel.anchorItem + '"></a>' + content;
                                $1(viewModel.selectedNode).closest('span').html(content);
                            }
                            $('body').closePageLoader();

                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });
                    },
                    onSetup: function (buttonApi) {
                        updateButton= buttonApi;
                    }
                });
                ed.ui.registry.addButton('insertTemplate', {
                    icon: 'document-properties',
                    onAction: function () {
                        var configuration = {
                            actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigTemplate,
                            actionValidateReference: viewModel.ActionConfig.ActionValidateReferenceTemplate,
                            actionGetTemplateContent: viewModel.ActionConfig.ActionGetTemplateContent,
                            dataBoundHandler: function () {

                            },
                            gridComplete: function (e) {
                                $('#' + viewModel.chooseTemplateWindow.ViewItemId).find('.templateChoose').data('template-choose-config').validateReference(viewModel.oItem.GUID);
                                $('#' + viewModel.chooseTemplateWindow.ViewItemId).data("kendoWindow").open();
                            },
                            idInstance: viewModel.IdInstance,
                            templateReceived: function (content) {
                                content = b64_to_utf8(content);
                                tinyMCE.get(viewModel.textArea.ViewItemId).setContent(content);
                                $('#' + viewModel.chooseTemplateWindow.ViewItemId).data("kendoWindow").close();
                            }
                        };
                        $('#' + viewModel.chooseTemplateWindow.ViewItemId).find('.templateChoose').createTemplateChoose(configuration);

                    },
                    onSetup: function(buttonApi) {
                        templateButton = buttonApi;


                    }
                });
                ed.on('NodeChange', function (e) {
                    console.log('selected');
                    
                    var node = tinyMCE.activeEditor.selection.getNode();

                    var nameAnchor = $(node).attr('name');
                    viewModel.selectedNode = node;
                    updateButton.setDisabled(true);
                    if (nameAnchor != undefined) {
                        var guidPos = nameAnchor.search(/[a-f0-9]{32}/i);
                        if (guidPos == 0 && nameAnchor.length == 32) {
                            viewModel.anchorItem = nameAnchor;
                            updateButton.setDisabled(false);
                        }
                    }
                    var content = tinyMCE.activeEditor.selection.getContent();
                    if (content !== '') {
                        //var oItems = [
                        //    {
                        //        GUID: viewModel.oItem.GUID,
                        //        Val_String: content
                        //    }
                        //];

                        //viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        //    ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                        //    SenderId: viewModel.managerConfig.idEndpoint,
                        //    SessionId: viewModel.managerConfig.idSession,
                        //    ReceiverId: viewModel.idSender,
                        //    UserId: viewModel.IdUser,
                        //    ViewId: viewModel.View.IdView,
                        //    OItems: oItems
                        //});
                        viewModel.autoRelatorContainer.handler.validateText(content);
                    }
                });

                ed.on("change", function (e) {
                    console.log(ed);

                });

                ed.on("Dirty", function (e) {
                    if (tinymce.activeEditor.isDirty()) {
                        viewModel.InitSave();
                        saveButton.setDisabled(false);
                    }
                    else {
                        saveButton.setDisabled(true);
                        if (timeoutId != undefined)
                            clearTimeout(timeoutId);
                    }
                });

                ed.on("KeyDown", function (e) {
                    viewModel.InitSave();
                });

                ed.on('init', function (e) {
                    tinyMCE.get(viewModel.textArea.ViewItemId).setMode('readonly');

                });

            },
            plugins: "lists print preview hr pagebreak searchreplace fullscreen insertdatetime table textcolor colorpicker link anchor image media code codesample",
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                { text: 'JavaScript', value: 'javascript' },
                {text: 'Json', value: 'json'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp' },
                {text: 'SQL', value: 'sql' },
                {text: 'Powershell', value: 'powershell' },
                {text: 'Bash', value: 'bash'},
            ],
            codesample_global_prismjs: true,
            toolbar: "| editAnchor | selectItem | apllyItem | moduleStarterAnchor | saveContent | btnListen | undo redo | styleselect | fontselect | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview | forecolor backcolor | image | media | link | code | codesample | updateName | insertTemplate",
            browser_spellcheck: true,
            contextmenu: false,
            save_enablewhendirty: true,
            save_onsavecallback: function () {
                var content = tinyMCE.get(viewModel.textArea.ViewItemId).getContent();


            }
        });

        viewModel.InitSave = function() {
            if (timeoutId != undefined)
                clearTimeout(timeoutId);
            timeoutId = setTimeout(function () {
                viewModel.saveContent();
            }, 2000);
        }

        viewModel.setDataItems = function () {
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
            $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
            $("#" + viewModel.nameInput.ViewItemId).data("viewItem", viewModel.nameInput);
            $("#" + viewModel.textArea.ViewItemId).data("viewItem", viewModel.textArea);

            $("#" + viewModel.listenLink.ViewItemId).data("viewItem", viewModel.listenLink);
            $("#" + viewModel.listenAnchor.ViewItemId).data("viewItem", viewModel.listenAnchor);

            $("#" + viewModel.openMediaViewerImage.ViewItemId).data("viewItem", viewModel.openMediaViewerImage);
            $("#" + viewModel.openMediaViewerPDF.ViewItemId).data("viewItem", viewModel.openMediaViewerPDF);
            $("#" + viewModel.openMediaViewerVideo.ViewItemId).data("viewItem", viewModel.openMediaViewerVideo);

            $("#" + viewModel.sendObject.ViewItemId).data("viewItem", viewModel.sendObject);
            $("#" + viewModel.applyObject.ViewItemId).data("viewItem", viewModel.applyObject);

            $("#" + viewModel.openInViewer.ViewItemId).data("viewItem", viewModel.openInViewer);
            $("#" + viewModel.chooseTemplateWindow.ViewItemId).data("viewItem", viewModel.chooseTemplateWindow);

        }

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        // Media-Viewers
        $('.btn').kendoButton({
            click: function (element) {

                var url = '';
                if (typeof viewModel.oItem !== 'undefined' && viewModel.oItem != null) {
                    url = '?Object=' + viewModel.oItem.GUID;
                }
                if ($(element.sender.element).attr('id') == 'openMediaViewerImage') {
                    url = viewModel.ActionConfig.ActionOpenMediaViewerImage + url;

                } else if ($(element.sender.element).attr('id') == 'openMediaViewerPDF') {
                    url = viewModel.ActionConfig.ActionOpenMediaViewerPDF+ url;

                } else if ($(element.sender.element).attr('id') == 'openMediaViewerVideo') {
                    url = viewModel.ActionConfig.ActionOpenMediaViewerVideo + url;

                }
                window.open(url, "_blank");
            }
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var configuration = {
                        actionAutoRelatorInit: '/TypedTagging/AutoRelatorInit',
                        complete: function (autoRelatorContainer) {
                            viewModel.autoRelatorContainer = autoRelatorContainer;
                            viewModel.getUrlParameters();
                        },
                        applyItems: function (oItems) {
                            viewModel.appliedObjectsForAnchorOrLink(oItems);
                        },
                        selectItems: function (oItems) {
                            viewModel.selectedObjects(oItems);
                        },
                        managerConfig: viewModel.managerConfig
                    }
                    $('#autoRelatorContainer').createAutoRelator(configuration);


                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();



        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelAppliedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedClass);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div>
    <div id="@(Model.chooseTemplateWindow.ViewItemId)">
        <div style="overflow: hidden;" id="windowContentChooseTemplate">
            <div class="templateChoose">

            </div>
        </div>

    </div>

</div>

<div>
    <div id="@(Model.moduleFunctionsWindow.ViewItemId)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <div class="modulesContainer">

            </div>
        </div>

    </div>

</div>

<div id="editTaggingSplitter">
    <div class="@(Model.fullHeight)">
        <div id="@(Model.toolbar.ViewItemId)">
        </div>
        <textarea id="@(Model.textArea.ViewItemId)" class="htmlTextArea"></textarea>
    </div>
    <div id="autoRelatorContainer">

    </div>
</div>


