﻿@model OModules.Models.HtmlHistoryViewModel
@{
    ViewBag.Title = "HistoryView";
}

<link href="~/Content/jsdifflib/diffview.css" rel="stylesheet" />
<style type="text/css">

    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


    #@(Model.splitter.ViewItemId)  {
        height: 100%;
    }

    #@(Model.contentContainer.ViewItemId)  {
        height: 100%;
    }

     #@(Model.diffOutput.ViewItemId) {
            width: 100%;
     }

    #@(Model.gridParent.ViewItemId),
    #@(Model.grid.ViewItemId) {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>

<script src="~/Scripts/jsdifflib/difflib.js"></script>
<script src="~/Scripts/jsdifflib/diffview.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");

        if (id == viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        } else if (id == viewModel.btnDelete.ViewItemId) {
            if (viewModel.selectedRowData.length == 0) return;

            kendo.confirm("Do you really want to delete the entries?").then(function () {
                $('body').openPageLoader();


                var historyItems = [];
                for (var ix in viewModel.selectedRowData) {
                    historyItems.push(
                        viewModel.selectedRowData[ix].IdEsDoc
                    );
                }

                $.post(viewModel.ActionDeleteHisotryItems, { idInstance: viewModel.IdInstance, historyItemIds: historyItems })
                    .done(function (response) {
                        console.log("connected", response);

                        if (response.IsSuccessful) {
                            for (var ix in viewModel.selectedRowData) {
                                var historyItem = viewModel.selectedRowData[ix];
                                viewModel.gridItem.dataSource.remove(historyItem);
                            }

                            viewModel.gridItem.dataSource.sync();
                        }


                        $('body').closePageLoader();
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });
            }, function () {

            });
            
        } else if (id == viewModel.buttonOpen.ViewItemId && viewModel.selectedRowData.length == 1) {
            var rows = viewModel.gridItem.select();

            if (rows.length == 1) {
                //var currentDataItem = viewModel.gridItem.dataItem(this.select());
                var currentDataItem = viewModel.gridItem.dataItem(rows[0]);
                $('body').openPageLoader();
                $.post(viewModel.ActionGetHtmlForPreview, { idInstance: viewModel.IdInstance, idEsDoc: currentDataItem.IdEsDoc })
                    .done(function (response) {
                        console.log("connected", response);
                        if (response.IsSuccessful) {
                            $('#' + viewModel.htmlPreviewWindowContent.ViewItemId).html(atob(response.Result));


                        }
                        $('body').closePageLoader();
                        $('#' + viewModel.htmlPreviewWindow.ViewItemId).data("kendoWindow").open();
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                        $('body').closePageLoader();
                    });
            } else {
                rows.each(function (e) {
                    var dataItem = viewModel.gridItem.dataItem(this);

                    viewModel.selectedRowData.push(dataItem);

                })
            }
        } else if (id == viewModel.buttonRecover.ViewItemId && viewModel.selectedRowData.length == 1) {
            var rows = viewModel.gridItem.select();

            if (rows.length == 1) {
                kendo.confirm("Do you really want to restore the entry?").then(function () {
                    $('body').openPageLoader();
                    var currentDataItem = viewModel.gridItem.dataItem(rows[0]);
                    $.post(viewModel.ActionRestoreHistoryEntry, { idInstance: viewModel.IdInstance, idEsDoc: currentDataItem.IdEsDoc })
                        .done(function (response) {
                            console.log("connected", response);
                            if (response.IsSaved) {
                                kendo.alert("The entry is restored!");


                            }
                            $('body').closePageLoader();
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                            $('body').closePageLoader();
                        });
                }, function () {

                });
            }
        }
    }

    viewModel.validateReference = function (idRef, type) {
        var oItem = {
            GUID: idRef,
            Type: type
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                
                changeValuesFromServer(response.ViewItems);
                viewModel.gridItem.dataSource.read();

                
                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);
        var listen = false;
        var listen = $("#" + viewModel.isListen.ViewItemId).getCheckedMode();

        if (!listen) return;

        if (message.SenderId == viewModel.managerConfig.idEndpoint) return;
        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID, 'Object')

        } 
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam, 'Object')
        } else if (urlParameterConfig.classParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.classParam, 'Class')
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.gridParent.ViewItemId).data("viewItem", viewModel.gridParent);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
        
    }

    function diffUsingJS(viewType, left, right) {
        "use strict";
        var byId = function (id) { return document.getElementById(id); },
            base = difflib.stringAsLines(left),
            newtxt = difflib.stringAsLines(right),
            sm = new difflib.SequenceMatcher(base, newtxt),
            opcodes = sm.get_opcodes(),
            diffoutputdiv = byId(viewModel.diffOutput.ViewItemId),
            contextSize = 10;

        diffoutputdiv.innerHTML = "";
        contextSize = contextSize || null;

        diffoutputdiv.appendChild(diffview.buildView({
            baseTextLines: base,
            newTextLines: newtxt,
            opcodes: opcodes,
            baseTextName: "Current",
            newTextName: "History",
            contextSize: contextSize,
            viewType: viewType
        }));
    }

    function init() {
        $('#' + viewModel.htmlPreviewWindow.ViewItemId).kendoWindow({
            width: '1024px',
            height: '600px',
            title: 'New Transaction',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                }
            ]
        });

        $.post(viewModel.ActionGetGridConfig, { idInstance: viewModel.IdInstance })
            .done(function (response) {

                $.extend(response.dataSource, {
                    sort: { field: "HistoryStamp", dir: "desc" }
                });
                if (viewModel.dataSource === undefined) {
                    viewModel.dataSource = new kendo.data.DataSource(response.dataSource);

                } else {
                    $("#" + viewModel.grid.ViewItemId).data("kendoGrid").destroy(); // destroy the Grid

                    $("#" + viewModel.grid.ViewItemId).empty(); // empty the Grid content (inner HTML)
                }

                

                $.extend(response.dataSource.transport.read, {
                    data: function () {
                        return {
                            idInstance: viewModel.IdInstance
                        };
                    }
                })

                response.dataSource = viewModel.dataSource;

                viewModel.selectedRowData = [];
                $.extend(response, {
                    change: function (e) {
                        viewModel.selectedRowData = [];
                        var rows = e.sender.select();

                        if (rows.length == 1) {
                            //var currentDataItem = viewModel.gridItem.dataItem(this.select());
                            var currentDataItem = viewModel.gridItem.dataItem(rows[0]);
                            viewModel.selectedRowData.push(currentDataItem);
                            $('body').openPageLoader();
                            $.post(viewModel.ActionGetHtmlCodeCombi, { idInstance: viewModel.IdInstance, idEsDoc: currentDataItem.IdEsDoc })
                                .done(function (response) {
                                    console.log("connected", response);
                                    if (response.IsSuccessful) {
                                        diffUsingJS(1, atob(response.Result.EncodedHtmlDoc), atob(response.Result.EncodedHistoryHtml));


                                    }
                                    $('body').closePageLoader();
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    // stuff
                                    $('body').closePageLoader();
                                });
                        } else {
                            rows.each(function (e) {
                                var dataItem = viewModel.gridItem.dataItem(this);

                                viewModel.selectedRowData.push(dataItem);

                            })
                        }
                        

                        

                    }, toolbar: kendo.template($("#template").html())
                })

                $("#" + viewModel.grid.ViewItemId).kendoGrid(response);
                //setTimeout(function () {
                //    dataSource.read();
                //}, 500);

                viewModel.gridItem = $("#" + viewModel.grid.ViewItemId).data("kendoGrid");

                $("#" + viewModel.grid.ViewItemId).on('cellselect', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });

                $("#" + viewModel.grid.ViewItemId).on('cellvaluechanged', function (event) {
                    // event arguments.
                    var args = event.args;
                    // column data field.
                    var datafield = event.args.datafield;
                    // row's bound index.
                    var rowBoundIndex = args.rowindex;
                    // new cell value.
                    var value = args.newvalue;
                    // old cell value.
                    var oldvalue = args.oldvalue;

                });

                $('.k-button').kendoButton({
                    click: viewModel.clickedButton
                });

            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        $("#" + viewModel.splitter.ViewItemId)
            .kendoSplitter({
                orientation: "horizontal",
                panes: [
                    { collapsible: true, size: "20%" },
                    { collapsible: true }
                ]
            });

        viewModel.setDataItems();

        

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "PlaceHolder") {
                    $('#' + viewItem.ViewItemId).setPlaceHolder(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div>
    <div id="@(Model.htmlPreviewWindow.ViewItemId)">
        <div style="overflow: hidden;" id="@(Model.htmlPreviewWindowContent.ViewItemId)">
            
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="toolbar" id="@(Model.toolbar.ViewItemId)">
        <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <button id="@(Model.buttonOpen.ViewItemId)" class="k-button"><i class="fa fa-external-link" aria-hidden="true"></i></button>
        <button id="@(Model.buttonRecover.ViewItemId)" class="k-button"><i class="fa fa-recycle" aria-hidden="true"></i></button>
        <button id="@(Model.btnDelete.ViewItemId)" class="k-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</script>

<div id="@(Model.contentContainer.ViewItemId)">
    <div id="@(Model.splitter.ViewItemId)">
        <div>
            <div id="@(Model.gridParent.ViewItemId)">
                <div id="@(Model.grid.ViewItemId)"></div>
            </div>
        </div>
        <div>
            <div id="@(Model.diffOutput.ViewItemId)"> </div>
        </div>
    </div>
</div>