﻿@model OModules.Models.HtmlSearchViewModel
@{
    ViewBag.Title = "HtmlSearch";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }


    .html-search-gridcontainer {
        height: 100%;
    }

    .html-search-grid {
        height: 100%;
    }

    .html-search {
        height: 100%;
    }

    .@(Model.fullHeight) {
        height: 95%;
    }
</style>
<script src="~/Scripts/HTMLEditor/HtmlSearch.js"></script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.setDataItems = function () {
       

    }

    function init() {
        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var configurationSearch = {
                        actionGetGridConfig: viewModel.ActionGetGridConfigSearch,
                        sender: urlParameterConfig.senderParam,
                        idInstance: viewModel.IdInstance,
                        idUser: viewModel.IdUser,
                        managerConfig: viewModel.managerConfig,
                        channelSelectedObject: viewModel.ChannelSelectedObject
                    };

                    $('#' + viewModel.searchContainer.ViewItemId).createHtmlSearch(configurationSearch);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);


        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="@(Model.fullHeight)">
    <div id="@(Model.searchContainer.ViewItemId)">
    </div>
    
</div>

