﻿@model OModules.Models.ObjectRelationTreeViewModel
@{
    ViewBag.Title = "ObjectRelationTree";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .fullPanelContentHeight {
        height: calc(100vh - 120px)
    }

    .smallText {
        font-size: 12px;
    }

    .smallFont {
        font-size: 8px;
    }

    .k-tabstrip-wrapper,
    .k-tabstrip,
    .k-tabstrip.k-content {
        height: 100%;
    }

    .gridParent,
    .grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }

    .window-objects,
    .objectWindowContainer,
    .object-list-container,
    .object-list,
    .objectlist-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" />
<script src="~/Scripts/ObjectTree/ObjectRelationTree.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/Clipboard/OClipboard.js"></script>
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script src="~/Scripts/ObjectEdit/EmbeddedNameEdit.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    var sendersIgnoreRelationEditor = [];
    viewModel.components = {

    };
    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();
        if (urlParameterConfig.objectParam != undefined) {
            viewModel.components.treeViewComponent.handler.validateReference(viewModel.components.treeViewComponent, urlParameterConfig.objectParam);

        }

    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.SenderId == viewModel.IdInstance) return;

        if (!$('#' + viewModel.isListen.ViewItemId).getCheckedMode()) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;
        if (viewModel.idSender != undefined) {
            if (message.SenderId != viewModel.idSender) {
                return;
            }
        }

        if (message.ChannelId == viewModel.ChannelSelectedObject) {

            if (message.OItems != undefined) {
                var objectItem = message.OItems[0];

            }
        }
    }

    function init() {
        $('body').openPageLoader();

        $("#" + viewModel.treeToolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',
                }

            ],
            overflowOpen: function (e) {

            },
            overflowClose: function (e) {
            },
            open: function (e) {
            },
            close: function (e) {
            }
        });

        $('.k-button').kendoButton();

        $('.k-button').click(function () {
            var id = $(this).attr('id');
            if (id === viewModel.isListen.ViewItemId) {
                $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
            }

        })



        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var configuration = {
                        selectorPath: ['.controlArea'],
                        actionInit: viewModel.ActionInit,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createComponent: function (component) {

                            },
                            createdComponent: function (component) {
                                viewModel.components.treeViewComponent = component;
                                viewModel.getUrlParameters();
                            }
                        }
                    }

                    $('.controlArea').createObjectRelationTree(configuration);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="@(Model.controlArea.ViewItemId)">

</div>

