﻿@model OModules.Models.ObjectEditViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .fullPanelContentHeight {
        height: calc(100vh - 120px)
    }

    .k-tabstrip-wrapper,
    .k-tabstrip,
    .k-tabstrip.k-content {
        height: 100%;
    }

    #@(Model.lblGuid.ViewItemId),
    #@(Model.lblName.ViewItemId) {
        margin-left:8px;
        margin-right:3px;
    }

    #@(Model.nameInput.ViewItemId) {
        min-width: calc(100vw - 600px) !important;
    }

    .input-group {
        width:100%;
    }


    .gridParent,
    .grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }

    .window-relationtree,
    .object-list-container,
    .object-list,
    .objectlist-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }

    .name-edit {
        background-color: yellow;
    }

</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" />
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script src="~/Scripts/RelationTree/RelationTree.js"></script>
<script src="~/Scripts/OItems/ORelList.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/Clipboard/OClipboard.js"></script>
<script src="~/Scripts/ObjectEdit/EmbeddedNameEdit.js"></script>
<script src="~/Scripts/OItems/AttributeList.js"></script>
<script src="~/Scripts/EditOItem/EditAttribute.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script id="treeview-template" type="text/kendo-ui-template">
    # if (item.Class1 != undefined) { #
    <i class="#: item.Class1 #" aria-hidden="true"></i>
    # } #
    # if (item.FontClass2 != undefined) { #
    <i class="#: item.Class2 #" aria-hidden="true"></i>
    # } #
    <span style="
    # if (item.ForeColor != undefined) { #
    color:#: item.ForeColor #;
    # } #
    # if (item.BackColor != undefined) { #
    background-color: #: item.BackColor #;
    # } #


    ">
        # if (item.Bold) { #
        <b>
            # } # #: item.NodeName #
            # if (item.Bold && item.NodeType == 4) { #
            <button class="btn btn-primary btn-xs refresh-other-backward" style="display: none;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            #} #
        </b>
        # if (!item.Bold && (item.NodeType == 1 || item.NodeType == 2 || item.NodeType == 3)) { #
        <button class="btn btn-primary btn-xs btn-listen-node"><i class="fa fa-plus smallFont" aria-hidden="true"></i></button>
        # } #
        # if (!item.Bold && item.NodeType == 0) { #
        <button class="btn btn-primary btn-xs btn-add-attribute"><i class="fa fa-plus smallFont" aria-hidden="true"></i></button>
        # } #


    </span>


</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
    viewModel.deleteIds = [];
    var sendersIgnoreRelationEditor = [];
    viewModel.onActivateTabPage = function (e) {
        console.log(e);
        var idTabPage = $(e.item).attr('id');
        var idIFrame = $(e.item).attr('aria-controls');
        console.log(idTabPage);
        viewModel.messageRelationNodeAttributes.SenderId = viewModel.IdInstance;
        viewModel.messageRelationNodeAttributes.IsInactive = true;
        viewModel.messageRelationNodeLeftRightOther.IsInactive = true;
        viewModel.messageRelationNodeLeftRightOther.SenderId = viewModel.IdInstance;
        viewModel.messageRelationNodeRightLeftOther.IsInactive = true;
        viewModel.messageRelationNodeRightLeftOther.SenderId = viewModel.IdInstance;
        viewModel.messageObjectOmni.IsInactive = true;

        if (idTabPage == "attributes") {

            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", true, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", false, true);

            viewModel.messageRelationNodeAttributes.IsInactive = false;

        } else if (idTabPage == "leftRight") {
            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", true, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", false, true);
        } else if (idTabPage == "rightLeft") {

            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", true, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", false, true);


        } else if (idTabPage == "leftRightOther") {

            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", true, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", false, true);

            viewModel.messageRelationNodeLeftRightOther.IsInactive = false;

        } else if (idTabPage == "rightLeftOther") {

            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", true, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", false, true);

            viewModel.messageRelationNodeRightLeftOther.IsInactive = false;

        } else if (idTabPage == "omni") {

            $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRight.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeft.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Active", false, true);
            $('#' + viewModel.pageOmni.ViewItemId).changeValue("Active", true, true);

            viewModel.messageObjectOmni.IsInactive = false;

        }

    }

    viewModel.clickedButton = function (e) {
        var button = $(e.event.target).closest(".k-button");
        var id = $(button).attr("id");
        if (id == viewModel.isListen.ViewItemId) {
            $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        }
        else if ($(button).hasClass(viewModel.addToClipboardRelationEditor.ViewItemId)) {
            if (typeof viewModel.refItem !== 'undefined' && viewModel.refItem !== null) {
                var clipboardItems = [];
                clipboardItems.push({
                    GUID: viewModel.refItem.GUID,
                    GUID_Parent: viewModel.refItem.GUID_Parent
                });

                $.post(viewModel.ActionConfig.ActionAddToClipboard, { oItems: clipboardItems, idInstance: viewModel.IdInstance })
                    .done(function (response) {

                        $('#dialogClipboard').kendoDialog({
                            width: "450px",
                            title: "Add to Clipboard Result",
                            closable: false,
                            modal: false,
                            content: "<p>Added " + response.Result.length + " Items<p>",
                            actions: [
                                { text: 'OK', primary: true }
                            ],
                            close: function (e) {

                            }
                        });

                        $('#windowContainerClipboard').data('kendoDialog').open();
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });
            } 
        } else if ($(button).hasClass(viewModel.deleteObject.ViewItemId)) {
            viewModel.deleteIds.push(viewModel.refItem.GUID);

            $('body').openPageLoader();
            $.post(viewModel.ActionConfig.ActionHasRelations, { objectIds: viewModel.deleteIds })
                .done(function (response) {
                    if (response.IsSuccessful) {
                        if (response.Result) {
                            viewModel.forceDelete = false;
                            if (confirm(response.Message + ". Do you want to force delete?")) {
                                viewModel.forceDelete = true;
                            }
                            $('body').closePageLoader();
                            if (viewModel.forceDelete) {
                                $.post(viewModel.ActionConfig.ActionDeleteObjects, { viewModelId: viewModel.IdInstance, idObjects: viewModel.deleteIds })
                                    .done(function (response) {
                                        if (response.IsSuccessful) {
                                            window.close();
                                        }
                                        else {

                                        }
                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        // stuff
                                    });

                                
                            }
                            
                        }
                        else {

                        }
                    }
                    else {

                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        } else if ($(button).hasClass(viewModel.selectObject.ViewItemId)) {
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelConfig.ChannelSelectedObject,
                SenderId: viewModel.IdEndpoint,
                SessionId: viewModel.IdInstance,
                UserId: viewModel.IdUser,
                OItems: [ viewModel.refItem ] 
            });
            
        } else if ($(button).hasClass(viewModel.applyObject.ViewItemId)) {
            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelConfig.ChannelAppliedObjects,
                SenderId: viewModel.IdEndpoint,
                SessionId: viewModel.IdInstance,
                UserId: viewModel.IdUser,
                OItems: [viewModel.refItem]
            });
        }
    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();


        if (urlParameterConfig.objectParam != undefined) {

            oItems = [
                {
                    GUID: urlParameterConfig.objectParam
                }
            ];


            viewModel.messageObjectOmni.OItems = oItems;
            viewModel.messageObjectOmni.SenderId = viewModel.IdInstance;
            viewModel.refItem = oItems[0];
            $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: oItems[0], idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var viewItem = $.grep(response, function (viewItem) {
                        return viewItem.ViewItemId == "windowTitle";
                    })

                    if (viewItem.length > 0) {
                        document.title = getViewItemValue(viewItem[0], "Content", "");
                    }

                    $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').validateReference(oItems[0].GUID);
                    $('#' + viewModel.pageOmni.ViewItemId).data('relation-list-omni').validateReference(oItems[0]);

                    var configurationEmbeddedNameEdit = {
                        selectorPath: ["#@(Model.nameInput.ViewItemId)"],
                        idItem: oItems[0].GUID,
                        typeItem: 'Object',
                        showWithoutEvent: true,
                        actions: {
                            init: viewModel.ActionConfig.ActionEmbeddedNameEditInit
                        },
                        events: {
                            completed: function (component) {
                                var selectorPath = [];
                                for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                                    var selector = component.configuration.selectorPath[i];
                                    selectorPath.push(selector);
                                }
                                var elements = getElementsBySelectorPath(component.configuration.selectorPath);
                                selectorPath.push('.cancel-edit');
                            },
                            savedName: function (selectorPath, name) {

                                foundElements = getElementsBySelectorPath(selectorPath);
                                if (foundElements.length > 0) {
                                    $(foundElements).find('label').html(name);
                                }

                            }
                        }
                    }
                    $("#@(Model.nameInput.ViewItemId)").createEmbeddedNameEdit(configurationEmbeddedNameEdit);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

        }
    }

    function init() {

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });


        viewModel.windowAttributeItem = $('#' + viewModel.windowAttribute.ViewItemId).kendoWindow({
            width: "600px",
            title: "Attribute-Edit",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow");

        tabStripElement = $("#" + viewModel.tabStrip.ViewItemId).kendoTabStrip({
            animation: {
                open: {
                    effects: "fade"
                }
            },
            activate: viewModel.onActivateTabPage
        });



        tabStripElement.parent().attr("id", "tabstrip-parent");

        viewModel.tabStripElement = tabStripElement.data("kendoTabStrip");

        $('#' + viewModel.treeRestSplitter.ViewItemId).kendoSplitter({
            panes: [
                { collapsible: true, resizable: true, size: '30%' },
                { collapsible: true, resizable: true, size: '30%' },
                { collapsible: true, resizable: true, size: '20%', collapsed: true },
                { collapsible: true, resizable: true, size: '20%', collapsed: true },
            ]
        });


        resizeAll();


        viewModel.messageFromWebsocket = function (name, message) {
            // Add the message to the page.
            console.log(message);


            if (message.SenderId === viewModel.IdInstance) return;
            var listen = getViewItemValue(viewModel.isListen, "Checked", false);
            
            if (message.ChannelId == viewModel.ChannelConfig.ChannelViewLoaded) {


                if (message.ViewId == "6009ef41b9be459b9c2b62e89e5c155d") {
                    console.log("View Ready", "Object-Attribute");
                    $('#' + viewModel.pageAttributes.ViewItemId).changeValue("Ready", true, true);
                    $('#' + viewModel.pageAttributes.ViewItemId).changeValue("RelatedView", message.SenderId);

                    viewModel.messageRelationNodeAttributes.IsInactive = true;

                    viewModel.messageRelationNodeAttributes.SenderId = viewModel.IdInstance;
                    viewModel.messageRelationNodeAttributes.ReceiverId = message.SenderId;
                    viewModel.messageRelationNodeAttributes.UserId = viewModel.IdUser;

                } else if (message.ViewId == "cb405518af064996812c45f51d13b6e2") {
                    console.log("View Ready", "Left-Right Other");
                    $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("Ready", true, true);
                    $('#' + viewModel.pageLeftRightOther.ViewItemId).changeValue("RelatedView", message.SenderId);

                    viewModel.messageRelationNodeLeftRightOther.IsInactive = true;

                    viewModel.messageRelationNodeLeftRightOther.SenderId = viewModel.IdInstance;
                    viewModel.messageRelationNodeLeftRightOther.ReceiverId = message.SenderId;
                    viewModel.messageRelationNodeLeftRightOther.UserId = viewModel.IdUser;

                } else if (message.ViewId == "8f1da317a4f34b608cee0eb750f0a773") {
                    console.log("View Ready", "Right-Left Other");
                    $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("Ready", true, true);
                    $('#' + viewModel.pageRightLeftOther.ViewItemId).changeValue("RelatedView", message.SenderId);

                    viewModel.messageRelationNodeRightLeftOther.IsInactive = true;

                    viewModel.messageRelationNodeRightLeftOther.SenderId = viewModel.IdInstance;
                    viewModel.messageRelationNodeRightLeftOther.ReceiverId = message.SenderId;
                    viewModel.messageRelationNodeRightLeftOther.UserId = viewModel.IdUser;

                } else if (message.ViewId == "44dd044245574fb2bc82aed00e9fba7a") {
                    console.log("View Ready", "Omni");
                    $('#' + viewModel.pageOmni.ViewItemId).changeValue("Ready", true, true);
                    $('#' + viewModel.pageOmni.ViewItemId).changeValue("RelatedView", message.SenderId);

                    viewModel.messageObjectOmni.IsInactive = true;

                    viewModel.messageObjectOmni.SenderId = viewModel.IdInstance;
                    viewModel.messageObjectOmni.ReceiverId = message.SenderId;
                    viewModel.messageObjectOmni.UserId = viewModel.IdUser;

                }

                var tabStrip = $('#' + viewModel.tabStrip.ViewItemId).data("kendoTabStrip");
                viewModel.onActivateTabPage({ item: tabStrip.select() });

            } else if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedObject) {

                viewModel.messageObjectOmni.OItems = message.OItems;
                viewModel.messageObjectOmni.SenderId = viewModel.IdInstance;
                viewModel.messageObjectOmni.UserId = viewModel.IdUser;


                if (!listen) return;
                if (checkSendeserForIgnore(sendersIgnoreRelationEditor, message)) return;

                viewModel.refItem = message.OItems[0];
                $.post(viewModel.ActionConfig.ActionValidateReference, { refItem: message.OItems[0], idInstance: viewModel.IdInstance })
                    .done(function (response) {
                        console.log("connected", response);
                        changeValuesFromServer(response);

                        var viewItem = $.grep(response, function (viewItem) {
                            return viewItem.ViewItemId == "windowTitle";
                        })

                        if (viewItem.length > 0) {
                            document.title = getViewItemValue(viewItem[0], "Content", "");
                        }

                        $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').validateReference(message.OItems[0].GUID);
                        $('#' + viewModel.pageOmni.ViewItemId).data('relation-list-omni').validateReference(message.OItems[0]);

                        var configurationEmbeddedNameEdit = {
                            selectorPath: ["#@(Model.nameInput.ViewItemId)"],
                            idItem: message.OItems[0].GUID,
                            typeItem: 'Object',
                            showWithoutEvent: true,
                            actions: {
                                init: viewModel.ActionConfig.ActionEmbeddedNameEditInit
                            },
                            events: {
                                completed: function (component) {
                                    var selectorPath = [];
                                    for (var i = 0; i < component.configuration.selectorPath.length; i++) {
                                        var selector = component.configuration.selectorPath[i];
                                        selectorPath.push(selector);
                                    }
                                    var elements = getElementsBySelectorPath(component.configuration.selectorPath);
                                    selectorPath.push('.cancel-edit');
                                },
                                savedName: function (selectorPath, name) {

                                    foundElements = getElementsBySelectorPath(selectorPath);
                                    if (foundElements.length > 0) {
                                        $(foundElements).html(name);
                                    }

                                }
                            }
                        }
                        $("#@(Model.nameInput.ViewItemId)").createEmbeddedNameEdit(configurationEmbeddedNameEdit);
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });


                if (!viewModel.messageObjectOmni.IsInactive) {
                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage(viewModel.messageObjectOmni);
                }

            } else if (message.ChannelId == viewModel.ChannelConfig.ChannelSelectedRelationNode) {
                if (!listen) return;

                var relationNode = message.GenericParameterItems[0];
                viewModel.messageRelationNodeAttributes.GenericParameterItems = message.GenericParameterItems;

                viewModel.messageRelationNodeLeftRightOther.GenericParameterItems = message.GenericParameterItems;

                viewModel.messageRelationNodeRightLeftOther.GenericParameterItems = message.GenericParameterItems;

                if (!viewModel.messageRelationNodeAttributes.IsInactive) {


                }
                else if (getViewItemValue($('#' + viewModel.pageLeftRight.ViewItemId).data('viewItem'), "Active", false) && relationNode.NodeType == 1) {




                }
                else if (getViewItemValue($('#' + viewModel.pageLeftRight.ViewItemId).data('viewItem'), "Active", false) && relationNode.NodeType == 1) {


                }
                else if (!viewModel.messageRelationNodeLeftRightOther.IsInactive) {

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage(viewModel.messageRelationNodeLeftRightOther);
                }
                else if (!viewModel.messageRelationNodeRightLeftOther.IsInactive) {

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage(viewModel.messageRelationNodeRightLeftOther);
                }

            }
            else if (message.ChannelId == viewModel.ChannelConfig.ChannelAppliedObjects) {
                $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').checkListenNode(message.OItems, 'Object');
            }
            else if (message.ChannelId == viewModel.ChannelConfig.ChannelAppliedClasses) {
                $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').checkListenNode(message.OItems, 'Class');
            }
            else if (message.ChannelId == viewModel.ChannelConfig.ChannelAppliedAttributeTypes) {
                $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').checkListenNode(message.OItems, 'AttributeType');
            }
            else if (message.ChannelId == viewModel.ChannelConfig.ChannelAppliedRelationTypes) {
                $('#' + viewModel.objectRelation.ViewItemId).data('relationtree-item').checkListenNode(message.OItems, 'RelationType');
            }
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConfig.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);

                    var configuration = {
                        managerConfig: viewModel.managerConfig,
                        actionRelationTreeInit: viewModel.ActionConfig.ActionRelationTreeInit,
                        channelSelectedClassNode: viewModel.ChannelConfig.ChannelSelectedClasssNode,
                        managerConfig: viewModel.managerConfig,
                        treeSelectCallback: function (node) {
                            if (node.NodeType == 0) {
                                $('#' + viewModel.pageAttributes.ViewItemId).data('relation-list-attribute').handler.validateReference(viewModel.relationListAttributeComponent, node.IdLeft, node.IdRight);
                            }
                            else if (node.NodeType == 1) {
                                $('#' + viewModel.pageLeftRight.ViewItemId).data('relation-list-left-right').validateReference(node);
                            } else if (node.NodeType == 2) {
                                $('#' + viewModel.pageRightLeft.ViewItemId).data('relation-list-right-left').validateReference(node);
                            } else if (node.NodeType == 3) {
                                $('#' + viewModel.pageLeftRightOther.ViewItemId).data('relation-list-left-right-other').validateReference(node);
                            } else if (node.NodeType == 4) {
                                $('#' + viewModel.pageRightLeftOther.ViewItemId).data('relation-list-right-left-other').validateReference(node);
                            }

                            var tabStrip = $('#' + viewModel.tabStrip.ViewItemId).data("kendoTabStrip");
                            if (node.NodeType == 0) {
                                tabStrip.select(0)
                            } else if (node.NodeType == 1) {
                                tabStrip.select(1)
                            } else if (node.NodeType == 2) {
                                tabStrip.select(2)
                            } else if (node.NodeType == 3) {
                                tabStrip.select(3)
                            } else if (node.NodeType == 4) {
                                tabStrip.select(4)
                            }

                        },
                        events: {
                            addAttribute: function (relationTreeItem, idObject, idAttributeType) {
                                viewModel.relationListAttributeComponent.data.idAttribute = null;
                                viewModel.relationListAttributeComponent.data.idObject = idObject;
                                viewModel.relationListAttributeComponent.data.idAttributeType = idAttributeType;
                                viewModel.relationListAttributeComponent.handler.editAttribute(viewModel.relationListAttributeComponent)
                            }
                        }
                    };

                    $('#' + viewModel.objectRelation.ViewItemId).createRelationTree(configuration);


                    var configurationListAttribute = {
                        setDocumentTitle: true,
                        actionInit: viewModel.ActionConfig.ActionObjectAttributeListInit,
                        idInstance: viewModel.IdInstance,
                        selectorPath: ['#' + viewModel.pageAttributes.ViewItemId],
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createdComponent: function (relationListAttribute) {
                                viewModel.relationListAttributeComponent = relationListAttribute;
                                viewModel.getUrlParameters();
                            },
                            validatedReference: function (relationListAttribute, oItem) {

                            }
                        }
                    }
                    $('#' + viewModel.pageAttributes.ViewItemId).createAttributeRelation(configurationListAttribute);

                    var configurationListLeftRight = {
                        actionComponentObjectRelationLeftRightList: viewModel.ActionConfig.ActionComponentObjectRelationLeftRightList,
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigObjectRelationsLeftRight,
                        actionSetSelectedItem: viewModel.ActionConfig.ActionSetSelectedItem,
                        actionSetOrderId: viewModel.ActionConfig.ActionSetOrderId,
                        actionAddToClipboard: viewModel.ActionConfig.ActionAddToClipboard,
                        actionRelationEditor: viewModel.ActionConfig.ActionRelationEditor,
                        actionModuleStarter: viewModel.ActionConfig.ActionModuleStarter,
                        channelSelectedItem: viewModel.ChannelConfig.ChannelSelectedObject,
                        channelAppliedItems: viewModel.ChannelConfig.ChannelAppliedObjects,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        idUser: viewModel.IdUser,
                        useIdParent: true
                    };

                    $('#' + viewModel.pageLeftRight.ViewItemId).createRelationListLeftRight(configurationListLeftRight);

                    var configurationListLeftRightOther = {
                        actionComponentObjectRelationLeftRightOtherList: viewModel.ActionConfig.ActionComponentObjectRelationLeftRightListOther,
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigObjectRelationsLeftRightListOther,
                        actionSetSelectedItem: viewModel.ActionConfig.ActionSetSelectedItem,
                        actionSetOrderId: viewModel.ActionConfig.ActionSetOrderId,
                        actionAddToClipboard: viewModel.ActionConfig.ActionAddToClipboard,
                        actionRelationEditor: viewModel.ActionConfig.ActionRelationEditor,
                        actionModuleStarter: viewModel.ActionConfig.ActionModuleStarter,
                        channelSelectedItem: viewModel.ChannelConfig.ChannelSelectedObject,
                        channelAppliedItems: viewModel.ChannelConfig.ChannelAppliedObjects,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        idUser: viewModel.IdUser,
                        useIdParent: true
                    };

                    $('#' + viewModel.pageLeftRightOther.ViewItemId).createRelationListLeftRightOther(configurationListLeftRightOther);

                    var configurationListRightLeft = {
                        actionComponentObjectRelationRightLeftList: viewModel.ActionConfig.ActionComponentObjectRelationRightLeftList,
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigObjectRelationsRightLeft,
                        actionSetSelectedItem: viewModel.ActionConfig.ActionSetSelectedItem,
                        actionSetOrderId: viewModel.ActionConfig.ActionSetOrderId,
                        actionAddToClipboard: viewModel.ActionConfig.ActionAddToClipboard,
                        actionRelationEditor: viewModel.ActionConfig.ActionRelationEditor,
                        actionModuleStarter: viewModel.ActionConfig.ActionModuleStarter,
                        channelSelectedItem: viewModel.ChannelConfig.ChannelSelectedObject,
                        channelAppliedObjects: viewModel.ChannelConfig.ChannelAppliedObjects,
                        channelAppliedAttributeTypes: viewModel.ChannelConfig.ChannelAppliedAttributeTypes,
                        channelAppliedRelationTypes: viewModel.ChannelConfig.ChannelAppliedRelationTypes,
                        channelAppliedClasses: viewModel.ChannelConfig.ChannelAppliedClasses,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        idUser: viewModel.IdUser,
                        useIdParent: true
                    };

                    $('#' + viewModel.pageRightLeft.ViewItemId).createRelationListRightLeft(configurationListRightLeft);

                    var configurationListRightLeftOther = {
                        actionComponentObjectRelationRightLeftList: viewModel.ActionConfig.ActionComponentObjectRelationRightLeftListOther,
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigObjectRelationsRightLeftListOther,
                        actionSetSelectedItem: viewModel.ActionConfig.ActionSetSelectedItem,
                        actionSetOrderId: viewModel.ActionConfig.ActionSetOrderId,
                        actionAddToClipboard: viewModel.ActionConfig.ActionAddToClipboard,
                        actionRelationEditor: viewModel.ActionConfig.ActionRelationEditor,
                        actionModuleStarter: viewModel.ActionConfig.ActionModuleStarter,
                        channelSelectedItem: viewModel.ChannelConfig.ChannelSelectedObject,
                        channelAppliedItems: viewModel.ChannelConfig.ChannelAppliedObjects,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        idUser: viewModel.IdUser,
                        useIdParent: true
                    };

                    $('#' + viewModel.pageRightLeftOther.ViewItemId).createRelationListRightLeftOther(configurationListRightLeftOther);

                    var configurationListOmni = {
                        actionComponentObjectRelationOmniList: viewModel.ActionConfig.ActionComponentObjectRelationOmni,
                        actionGetGridConfig: viewModel.ActionConfig.ActionGetGridConfigObjectRelationsOmni,
                        actionSetSelectedItem: viewModel.ActionConfig.ActionSetSelectedItem,
                        actionSetOrderId: viewModel.ActionConfig.ActionSetOrderId,
                        actionAddToClipboard: viewModel.ActionConfig.ActionAddToClipboard,
                        actionRelationEditor: viewModel.ActionConfig.ActionRelationEditor,
                        actionModuleStarter: viewModel.ActionConfig.ActionModuleStarter,
                        channelSelectedItem: viewModel.ChannelConfig.ChannelSelectedObject,
                        channelAppliedItems: viewModel.ChannelConfig.ChannelAppliedObjects,
                        idInstance: viewModel.IdInstance,
                        managerConfig: viewModel.managerConfig,
                        idUser: viewModel.IdUser,
                        useIdParent: true
                    };

                    $('#' + viewModel.pageOmni.ViewItemId).createRelationListOmni(configurationListOmni);

                    resizeAll();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionConfig.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems = function () {
            $("#" + viewModel.toolbar.ViewItemId).data("viewItem", viewModel.toolbar);
            $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
            $("#" + viewModel.lblGuid.ViewItemId).data("viewItem", viewModel.lblGuid);
            $("#" + viewModel.lblName.ViewItemId).data("viewItem", viewModel.lblName);
            $("#" + viewModel.guidInput.ViewItemId).data("viewItem", viewModel.guidInput);
            $("#" + viewModel.nameInput.ViewItemId).data("viewItem", viewModel.nameInput);

            $("#" + viewModel.treeRestSplitter.ViewItemId).data("viewItem", viewModel.treeRestSplitter);
            $("#" + viewModel.objectRelation.ViewItemId).data("viewItem", viewModel.objectRelation);
            $("#" + viewModel.tabStrip.ViewItemId).data("viewItem", viewModel.tabStrip);

            $("#" + viewModel.pageAttributes.ViewItemId).data("viewItem", viewModel.pageAttributes);
            $("#" + viewModel.pageLeftRight.ViewItemId).data("viewItem", viewModel.pageLeftRight);
            $("#" + viewModel.pageRightLeft.ViewItemId).data("viewItem", viewModel.pageRightLeft);
            $("#" + viewModel.pageLeftRightOther.ViewItemId).data("viewItem", viewModel.pageLeftRightOther);
            $("#" + viewModel.pageRightLeftOther.ViewItemId).data("viewItem", viewModel.pageRightLeftOther);
            $("#" + viewModel.pageOmni.ViewItemId).data("viewItem", viewModel.pageOmni);
        }



        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == "windowTitle" && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }


        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelViewLoaded);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelSelectedRelationNode);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelAppliedObjects);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelAppliedClasses);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelAppliedAttributeTypes);
        viewModel.addEndpoint(viewModel.ChannelConfig.ChannelAppliedRelationTypes);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

    var resizeAll = function () {
        expandContentDivs(tabStripElement.children(".k-content"));
    }

    var tabStripElement = $("#tabstrip").kendoTabStrip({
        animation: {
            open: {
                effects: "fade"
            }
        }
    });

    tabStripElement.parent().attr("id", "tabstrip-parent");

    var tabStrip = tabStripElement.data("kendoTabStrip");

    var expandContentDivs = function (divs) {
        var visibleDiv = divs.filter(":visible");
        divs.height(tabStripElement.innerHeight()
            - tabStripElement.children(".k-tabstrip-items").outerHeight()
            - parseFloat(visibleDiv.css("padding-top"))
            - parseFloat(visibleDiv.css("padding-bottom"))
            - parseFloat(visibleDiv.css("border-top-width"))
            - parseFloat(visibleDiv.css("border-bottom-width"))
            - parseFloat(visibleDiv.css("margin-bottom")));
        // all of the above padding/margin/border calculations can be replaced by a single hard-coded number for improved performance
    }

    resizeAll();

    $(window).resize(function () {
        resizeAll();
    });
</script>
<script type="text/x-kendo-template" id="templateRelationList">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button @(Model.deleteItem.ViewItemId)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button @(Model.applyItem.ViewItemId)"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button @(Model.addToClipboard.ViewItemId)"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button @(Model.isListen.ViewItemId)"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <label class="k-label @(Model.lblOrderId.ViewItemId)"></label>
        <input class="k-input @(Model.inpOrderId.ViewItemId)" />
        <button class="k-button @(Model.orderAsc.ViewItemId)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        <button class="k-button @(Model.orderDesc.ViewItemId)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>

</script>
<div class="o-toolbar">
    <div class="input-group mb-12">
        <button id="@(Model.isListen.ViewItemId)" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <label id="@(Model.lblGuid.ViewItemId)"></label>
        <input id="@(Model.guidInput.ViewItemId)" class="k-textbox" style="width: 280px;" />
        <button class="k-button @(Model.addToClipboardRelationEditor.ViewItemId)"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button @(Model.deleteObject.ViewItemId)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button @(Model.selectObject.ViewItemId)"><i class="fa fa-external-link-square" aria-hidden="true"></i></button>
        <button class="k-button @(Model.applyObject.ViewItemId)"><i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></button>
        <label id="@(Model.lblName.ViewItemId)"></label>
        <label id="@(Model.nameInput.ViewItemId)" class="name-edit" />

    </div>
</div>
<div style="height:95%">
    <div id="@(Model.toolbar.ViewItemId)"></div>
    <div id="@(Model.treeRestSplitter.ViewItemId)" style="height:100%">
        <div id="@(Model.objectRelation.ViewItemId)" style="height:100%"></div>
        <div>
            <div id="@(Model.tabStrip.ViewItemId)">
                <ul>
                    <li id="attributes">
                        <i class="fa fa-futbol-o" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i>abc
                    </li>
                    <li id="leftRight" class="k-state-active"><i class="fa fa-futbol-o" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-cube" aria-hidden="true"></i></li>
                    <li id="rightLeft"><i class="fa fa-cube" aria-hidden="true"></i><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                    <li id="leftRightOther"><i class="fa fa-futbol-o" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li id="rightLeftOther"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-futbol-o" aria-hidden="true"></i></li>
                    <li id="omni"><i class="fa fa-futbol-o" aria-hidden="true"></i><i class="fa fa-arrows-h" aria-hidden="true"></i><i class="fa fa-cube" aria-hidden="true"></i></li>
                </ul>
                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageAttributes.ViewItemId)"></div>
                        <div class="panel-body relation-list-attribute" id="@(Model.pageAttributes.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>

                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageLeftRight.ViewItemId)e"></div>
                        <div class="panel-body relation-list-left-right" id="@(Model.pageLeftRight.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageRightLeft.ViewItemId)"></div>
                        <div class="panel-body relation-list-right-left" id="@(Model.pageRightLeft.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageLeftRightOther.ViewItemId)"></div>
                        <div class="panel-body relation-list-left-right-other" id="@(Model.pageLeftRightOther.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageRightLeftOther.ViewItemId)"></div>
                        <div class="panel-body relation-list-right-left-other" id="@(Model.pageRightLeftOther.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>
                <div>
                    <div class="panel panel-default" style="height:100%">
                        <div class="panel-heading" aria-controls="@(Model.pageOmni.ViewItemId)"></div>
                        <div class="panel-body relation-list-omni" id="@(Model.pageOmni.ViewItemId)" style="height:95%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="dialog"></div>

<div id="windowContainerClipboard">
    <div id="windowClipboard"></div>
</div>

<div id="dialogClipboard"></div>
