﻿@model OModules.Models.PathResourcesViewModel
@{
    ViewBag.Title = "PathResources";
}
<style type="text/css">
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.clickedButton = function (e) {
        var id = $(e.event.target).closest(".k-button").attr("id");
        var button = $(e.event.target).closest(".k-button");
        if (id === viewModel.isListen.ViewItemId) {
            button.toggleMode();
        }

    }

    viewModel.validateReference = function (idRef) {
        var oItem = {
            GUID: idRef
        };
        $.post(viewModel.ActionValidateReference, { refItem: oItem, idInstance: viewModel.IdInstance })
            .done(function (response) {
                console.log("connected", response);
                changeValuesFromServer(response.ViewItems);

                $('#' + viewModel.isListen.ViewItemId).setCheckedMode(false, true);

                $('body').closePageLoader();
            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
                $('body').closePageLoader();
            });


    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        var listen = getViewItemValue(viewModel.isListen, "Checked", false);

        if (!listen) return;

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            viewModel.validateReference(message.OItems[0].GUID)

        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        if (urlParameterConfig.objectParam !== undefined) {
            viewModel.validateReference(urlParameterConfig.objectParam)
        }
    }

    viewModel.setDataItems = function () {
        $("#" + viewModel.windowTitle.ViewItemId).data("viewItem", viewModel.windowTitle);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.lblPath.ViewItemId).data("viewItem", viewModel.lblPath);
        $("#" + viewModel.inpPath.ViewItemId).data("viewItem", viewModel.inpPath);
        $("#" + viewModel.lblPattern.ViewItemId).data("viewItem", viewModel.lblPattern);
        $("#" + viewModel.inpPattern.ViewItemId).data("viewItem", viewModel.inpPattern);
        $("#" + viewModel.buttonAdd.ViewItemId).data("viewItem", viewModel.buttonAdd);

    }

    function init() {

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.isListen.ViewItemId + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                }

            ]
        });

        $('.k-button').kendoButton({
            click: viewModel.clickedButton
        });

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    changeValuesFromServer(response);
                    viewModel.getUrlParameters();

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, false);
                }
                else if (viewItemValue.ViewItemType == "Content") {
                    $('#' + viewItem.ViewItemId).setContent(viewItemValue.Value, false);
                }
                else if (viewItem.ViewItemId == viewModel.windowTitle.ViewItemId && viewItemValue.ViewItemType == "Content") {
                    var title = viewItemValue.Value;
                    document.title = title;
                }
            }
        }



        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }

</script>

<div id="@(Model.toolbar.ViewItemId)"></div>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label id="@(Model.lblPath.ViewItemId)" for="@(Model.inpPath.ViewItemId)" class="control-label col-sm-2">Text</label>
            <div class="col-sm-10">
                <div class="search input-group" data-initialize="search" role="search">
                    <input id="@(Model.inpPath.ViewItemId)" class="form-control" type="text" value="">
                    <span class="input-group-btn">
                        <button id="@(Model.buttonAdd.ViewItemId)" class="form-control k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
                    </span>

                </div>

            </div>
        </div>

        <div class="form-group">
            <label id="@(Model.lblPattern.ViewItemId)" for="@(Model.inpPattern.ViewItemId)" class="control-label col-sm-2">Text</label>
            <div class="col-sm-10">
                <input id="@(Model.inpPattern.ViewItemId)" class="form-control" type="text" value="">

            </div>
        </div>

    </fieldset>
</form>