﻿@model OModules.Models.RelationTreeViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .miniButton {
        max-width:10px !important;
        max-height:18px !important;
    }

    .smallFont {
        font-size: 8px;
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));
   
    viewModel._idObject = "";

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();
        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam;
            $('#' + viewModel.idListen).hide();
        }
        if (urlParameterConfig.objectParam != undefined) {

            viewModel.validateReference(urlParameterConfig.objectParam);

        }
    }

    viewModel.checkLoad = function () {
        if ($('.k-treeview-lines').children().length == 4 && viewModel._idObject !== '') {

            viewModel.RelTreeStateMachine.loadState = viewModel.RelTreeStateMachine.DataInit;
            //checkRefresh();  
            $('#' + viewModel.idTree).data("kendoTreeView").dataSource.read({ idObject: viewModel._idObject });
        } else if (viewModel.RelTreeStateMachine.loadState === viewModel.RelTreeStateMachine.DataInit) {
            viewModel.treeNodeAttribute = viewModel.Tree
                .findByUid($($('.k-treeview-lines').children()[0]).data('uid'));
            viewModel.treeNodeLeftRight = viewModel.Tree
                .findByUid($($('.k-treeview-lines').children()[1]).data('uid'));
            viewModel.treeNodeRightLeft = viewModel.Tree
                .findByUid($($('.k-treeview-lines').children()[2]).data('uid'));
            viewModel.treeNodeLeftRightOther = viewModel.Tree
                .findByUid($($('.k-treeview-lines').children()[3]).data('uid'));

            viewModel.treeNodeRightLeftOther = viewModel.Tree
                .findByUid($($('.k-treeview-lines').children()[4]).data('uid'));

            viewModel.RelTreeStateMachine.loadState = viewModel.RelTreeStateMachine.OtherRightTreeInit;
            viewModel.getTreeNodeRelRightOther(viewModel._idObject);
        } else if (viewModel.RelTreeStateMachine.loadState === viewModel.RelTreeStateMachine.OtherRightTreeInit && $('.k-treeview-lines').children().length == 0) {
            viewModel.RelTreeStateMachine.loadState = viewModel.RelTreeStateMachine.DataInit;
            $('#' + viewModel.idTree).data("kendoTreeView").dataSource.read();
        } else if (viewModel.RelTreeStateMachine.loadState === viewModel.RelTreeStateMachine.OtherRightTreeInit) {
            $('.btn').unbind('click', viewModel.clickHandlerBtn);
            $('.btn').bind('click', viewModel.clickHandlerBtn);
        }
    }

    viewModel.validateReference = function (idReference) {
        
        if (viewModel._idObject != undefined && viewModel._idObject != "") {
            $("#" + viewModel.idTree).data("kendoTreeView").dataSource.data([]);
            viewModel.treeNodeAttribute = undefined;
            
        }

        viewModel.setIdObject(idReference);

        viewModel.checkLoad();
        
        
    }

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

        var listenNode = $('#' + viewModel.idTree).find('.btn-warning').closest("li");
        if (listenNode.length > 0) {
            var uid = $(listenNode[0]).uid;
            if (message.ChannelId == viewModel.ChannelAppliedObject) {
                var dataItemListen = viewModel.Tree.dataItem(listenNode);
                var orderId = viewModel.orderIdElem.value();
                var setOrderId = $('#' + viewModel.idSetNextOrderId).hasClass('k-primary');
                if (dataItemListen != undefined) {
                    var sendItem = {
                        relNode: {
                            IdLeft: dataItemListen.IdLeft,
                            NameLeft: dataItemListen.NameLeft,
                            IdRight: dataItemListen.IdRight,
                            NameRight: dataItemListen.NameRight,
                            IdRelationType: dataItemListen.IdRelationType,
                            NameRelationType: dataItemListen.NameRelationType,
                            NodeType: dataItemListen.NodeType,
                            Count: dataItemListen.Count,
                            Min: dataItemListen.Min,
                            MaxForw: dataItemListen.MaxForw,
                            MaxBackw: dataItemListen.MaxBackw
                        },
                        objects: message.OItems,
                        setOrderId: setOrderId,
                        orderId: orderId
                    };

                    $.post(viewModel.ActionCheckListenNode, sendItem)
                        .done(function (response) {
                            // stuff
                            console.log(viewModel.Tree.text(listenNode), response.NodeName);
                            dataItemListen.Count = response.item.Count;
                            dataItemListen.NodeName = response.item.NodeName;
                            //var template = kendo.template($('#treeview-template').html());
                            //var data = template({ item: dataItemListen });
                            //console.log(data);
                            var node = viewModel.Tree.findByUid(dataItemListen.uid);
                            var nodeName = htmlEncode(dataItemListen.NodeName);
                            viewModel.Tree.text(node[0], ' ');
                            viewModel.Tree.text(node[0], nodeName);
                            var span = node.find('span');

                            $(span[1]).css('color', response.item.ForeColor);

                            $('.btn').unbind('click', viewModel.clickHandlerBtn);
                            $('.btn').bind('click', viewModel.clickHandlerBtn);
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            // stuff
                        });

                }
            }

            return;
        }

        if (viewModel.isToggledListen() == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;
        if (viewModel.idSender != undefined) {
            if (message.SenderId != viewModel.idSender) {
                return;
            }
        }

        if (message.ChannelId == viewModel.ChannelSelectedObject) {
            
            if (message.OItems != undefined) {
                var objectItem = message.OItems[0];
                viewModel.validateReference(objectItem.GUID);
            }
        }
    }

    viewModel.getTreeNodeRelRightOther = function(idObject) {
        $('#' + viewModel.idTree).data("kendoTreeView").enable(viewModel.treeNodeRightLeftOther, false);
        $.post(viewModel.ActionGetTreeItemsRightLeftOther, { idObject: idObject })
            .done(function (response) {

                // stuff
                if (response.length > 0) {
                    viewModel.Tree.append(response, viewModel.treeNodeRightLeftOther);
                }
                $('#' + viewModel.idTree).data("kendoTreeView").enable(viewModel.treeNodeRightLeftOther, true);


            })
            .fail(function (jqxhr, textStatus, error) {

                // stuff
            });
    }

    viewModel.treeViewDataBound = function (e) {
        
        this.expand('.k-item');
        


        


        
        //var clickHandler = $('.btn').click();
        //console.log(clickHandler);
        //if (length == 0) {
        //    $('.btn').bind('click', clickHandlerBtn);
        //}

        viewModel.checkLoad();
    }

    viewModel.treeViewChange = function (e) {
        var selected = this.select();
        console.log(selected);

        viewModel.selectedTreeNode = selected;
    }

    viewModel.isEnabledTree = function (isEnabled) {
        $('#' + viewModel.idTree).data("kendoTreeView").enable(isEnabled);
    };

    viewModel.isEnabledListen = function (isEnabled) {
        $('#' + viewModel.idListen).data("kendoButton").enable(isEnabled);
    };
    viewModel.isVisibleListen = function (isVisible) {
        if (isVisible) {
            $('#' + viewModel.idListen).show();
        } else {
            $('#' + viewModel.idListen).hide();
        }

    };

    viewModel.isEnabledNextOrderId = function (isEnabled) {
        $('#' + viewModel.idNextOrderId).data("kendoNumericTextBox").enable(isEnabled);
    };
    viewModel.isVisibleNextOrderId = function (isVisible) {
        if (isVisible) {
            $('#' + viewModel.idNextOrderId).show();
        } else {
            $('#' + viewModel.idNextOrderId).hide();
        }

    };

    viewModel.isEnabledSetNextOrderId = function (isEnabled) {
        $('#' + viewModel.idSetNextOrderId).data("kendoButton").enable(isEnabled);
    };
    viewModel.isVisibleSetNextOrderId = function (isVisible) {
        if (isVisible) {
            $('#' + viewModel.idSetNextOrderId).show();
        } else {
            $('#' + viewModel.idSetNextOrderId).hide();
        }

    };

    viewModel.isEnabledListenNode = function (isEnabled) {
        var menu = $("#" + viewModel.idContextMenu).data("kendoContextMenu");
        menu.enable("#" + viewModel.idListenNode, false);
    };
    viewModel.isVisibleListenNode = function (isVisible) {
        if (isVisible) {
            $('#' + viewModel.idListenNode).show();
        } else {
            $('#' + viewModel.idListenNode).hide();
        }

    };

    viewModel.isEnabledAddAttribute = function (isEnabled) {
        var menu = $("#" + viewModel.idContextMenu).data("kendoContextMenu");
        menu.enable("#" + viewModel.idAddAttribute, false);
    };
    viewModel.isVisibleAddAttribute = function (isVisible) {
        if (isVisible) {
            $('#' + viewModel.idAddAttribute).show();
        } else {
            $('#' + viewModel.idAddAttribute).hide();
        }

    };





    viewModel.isToggledListen = function (set) {
        if (set != undefined) {
            viewModel._isToggledListen = !viewModel._isToggledListen;

            if (viewModel._isToggledListen) {
                $('#' + viewModel.idListen).addClass('k-primary')
            } else {
                $('#' + viewModel.idListen).removeClass('k-primary')
            }
        }

        return viewModel._isToggledListen;

    };

    viewModel.isToggledSetNextOrderId = function (set) {
        if (set != undefined) {
            viewModel._isToggledSetNextOrderId = !viewModel._isToggledSetNextOrderId;

            if (viewModel._isToggledSetNextOrderId) {
                $('#' + viewModel.idSetNextOrderId).addClass('k-primary')
            } else {
                $('#' + viewModel.idSetNextOrderId).removeClass('k-primary')
            }
        }

        return viewModel._isToggledSetNextOrderId;

    };

    viewModel.initialize = function () {

        $("#" + viewModel.idToolbar).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.idListen + '" class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>',

                },
                {
                    template: '<input id= "' + viewModel.idNextOrderId + '" type= "number" title= "numeric" value= "0" min= "0" step= "1" />'

                },
                {
                    template: '<button id="' + viewModel.idSetNextOrderId + '" class="k-button"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>',

                },
                { type: "separator" },
                {
                    type: "buttonGroup",
                    buttons: [
                        { text: "All", togglable: true, group: "node-filter" },
                        { text: "Related", togglable: true, group: "node-filter" },
                        { text: "Unrelated", togglable: true, group: "node-filter" },
                        { text: "Wrong", togglable: true, group: "node-filter" }
                    ]
                }
            ]
        });

        $('.k-button').kendoButton({
            click: function (e) {
                var id = $(e.event.target).closest(".k-button").attr("id");
                if (id == viewModel.idListen) {
                    viewModel.isToggledListen(true);
                } else if (id == viewModel.idSetNextOrderId) {
                    viewModel.isToggledSetNextOrderId(true);
                }

            }
        });

        $("#" + viewModel.idNextOrderId).kendoNumericTextBox({ format: "#", decimals: 0 });
        viewModel.orderIdElem = $("#" + viewModel.idNextOrderId).data('kendoNumericTextBox');

        $("#" + viewModel.idContextMenu).kendoContextMenu({
            target: "#" + viewModel.idTree,
            animation: {
                open: { effects: "fadeIn" },
                duration: 500
            },
            select: function (e) {
                // Do something on select
            }
        });


        $.post(viewModel.ActionGetTreeConfig)
            .done(function (response) {
                // stuff

                console.log(response);

                response.dataSource = new kendo.data.HierarchicalDataSource(response.dataSource);
                $.extend(response, { template: kendo.template($("#treeview-template").html()) });
                $.extend(response,
                    {
                        select: function (e) {

                            var nodeItem = viewModel.Tree.dataItem(e.node);
                            var parentItem = viewModel.Tree.dataItem(viewModel.Tree.parent(e.node));

                            if (parentItem == undefined) return;
                            if (parentItem.IdNode == viewModel.Tree.dataItem(viewModel.Tree.findByUid($(viewModel.treeNodeAttribute[0]).data('uid'))).IdNode) {
                                console.log("Selecting Attribute", nodeItem);
                                var nodeItemToSend = {
                                    IdLeft: nodeItem.IdLeft,
                                    NameLeft: nodeItem.NameLeft,
                                    IdRight: nodeItem.IdRight,
                                    NameRight: nodeItem.NameRight,
                                    IdRelationType: nodeItem.IdRelationType,
                                    NameRelationType: nodeItem.NameRelationType,
                                    NodeType: nodeItem.NodeType
                                }
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedRelationNode,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    ReceiverId: viewModel.idSender,
                                    SessionId: viewModel.managerConfig.idSession,
                                    UserId: viewModel.IdUser,
                                    GenericParameterItems: [nodeItemToSend]
                                });
                            } else if (parentItem.IdNode == viewModel.Tree.dataItem(viewModel.Tree.findByUid($(viewModel.treeNodeLeftRight[0]).data('uid'))).IdNode) {
                                console.log("Selecting Left-Right", nodeItem);
                                var nodeItemToSend = {
                                    IdLeft: nodeItem.IdLeft,
                                    NameLeft: nodeItem.NameLeft,
                                    IdRight: nodeItem.IdRight,
                                    NameRight: nodeItem.NameRight,
                                    IdRelationType: nodeItem.IdRelationType,
                                    NameRelationType: nodeItem.NameRelationType,
                                    NodeType: nodeItem.NodeType
                                }
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedRelationNode,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    ReceiverId: viewModel.idSender,
                                    SessionId: viewModel.managerConfig.idSession,
                                    UserId: viewModel.IdUser,
                                    GenericParameterItems: [nodeItemToSend]
                                });
                            } else if (parentItem.IdNode == viewModel.Tree.dataItem(viewModel.Tree.findByUid($(viewModel.treeNodeRightLeft[0]).data('uid'))).IdNode) {
                                console.log("Selecting Right-Left", nodeItem);
                                var nodeItemToSend = {
                                    IdLeft: nodeItem.IdLeft,
                                    NameLeft: nodeItem.NameLeft,
                                    IdRight: nodeItem.IdRight,
                                    NameRight: nodeItem.NameRight,
                                    IdRelationType: nodeItem.IdRelationType,
                                    NameRelationType: nodeItem.NameRelationType,
                                    NodeType: nodeItem.NodeType
                                }
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedRelationNode,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    ReceiverId: viewModel.idSender,
                                    SessionId: viewModel.managerConfig.idSession,
                                    UserId: viewModel.IdUser,
                                    GenericParameterItems: [nodeItemToSend]
                                });
                            } else if (parentItem.IdNode == viewModel.Tree.dataItem(viewModel.Tree.findByUid($(viewModel.treeNodeLeftRightOther[0]).data('uid'))).IdNode) {
                                var nodeItemToSend = {
                                    IdLeft: nodeItem.IdLeft,
                                    NameLeft: nodeItem.NameLeft,
                                    IdRight: nodeItem.IdRight,
                                    NameRight: nodeItem.NameRight,
                                    IdRelationType: nodeItem.IdRelationType,
                                    NameRelationType: nodeItem.NameRelationType,
                                    NodeType: nodeItem.NodeType
                                }
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedRelationNode,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    ReceiverId: viewModel.idSender,
                                    SessionId: viewModel.managerConfig.idSession,
                                    UserId: viewModel.IdUser,
                                    GenericParameterItems: [nodeItemToSend]
                                });
                            } else if (parentItem.IdNode == viewModel.Tree.dataItem(viewModel.Tree.findByUid($(viewModel.treeNodeRightLeftOther[0]).data('uid'))).IdNode) {
                                var nodeItemToSend = {
                                    IdLeft: nodeItem.IdLeft,
                                    NameLeft: nodeItem.NameLeft,
                                    IdRight: nodeItem.IdRight,
                                    NameRight: nodeItem.NameRight,
                                    IdRelationType: nodeItem.IdRelationType,
                                    NameRelationType: nodeItem.NameRelationType,
                                    NodeType: nodeItem.NodeType
                                }
                                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                                    ChannelId: viewModel.ChannelSelectedRelationNode,
                                    SenderId: viewModel.managerConfig.idEndpoint,
                                    SessionId: viewModel.managerConfig.idSession,
                                    ReceiverId: viewModel.idSender,
                                    UserId: viewModel.IdUser,
                                    GenericParameterItems: [nodeItemToSend]
                                });
                            }

                        }
                    });
                $.extend(response,
                    {
                        dataBound: viewModel.treeViewDataBound,
                        change: viewModel.treeViewChange
                    });
                viewModel.Tree = $("#" + viewModel.idTree).kendoTreeView(response).data("kendoTreeView");
                viewModel.isEnabledTree(true);


            })
            .fail(function (jqxhr, textStatus, error) {
                // stuff
            });

        viewModel.isEnabledListen(false);
        viewModel.isVisibleListen(true);

        viewModel.isEnabledNextOrderId(false);
        viewModel.isVisibleNextOrderId(true);

        viewModel.isEnabledSetNextOrderId(false);
        viewModel.isVisibleSetNextOrderId(true);

        viewModel.isEnabledListenNode(false);
        viewModel.isVisibleListenNode(true);

        viewModel.isEnabledAddAttribute(false);
        viewModel.isVisibleAddAttribute(true);
    };

    viewModel.checkViewState = function () {
        viewModel.isEnabledListen(viewModel._idObject != undefined);


    };

    viewModel.setIdObject = function (idObject) {
        viewModel._idObject = idObject;
        viewModel.checkViewState();

    };

    viewModel.clickHandlerBtn = function (e) {
        var selected = $(this).closest('li');
        var dataItemSelected = viewModel.Tree.dataItem(selected);
        var dataItemLast = null;

        if (viewModel.listenTreeNode != undefined) {
            dataItemLast = viewModel.Tree.dataItem(viewModel.listenTreeNode);

            viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                ChannelId: viewModel.ChannelAddAttribute,
                SenderId: viewModel.managerConfig.idEndpoint,
                SessionId: viewModel.managerConfig.idSession,
                ReceiverId: viewModel.idSender,
                ViewId: viewModel.View.IdView,
                UserId: viewModel.IdUser,
                GenericParameterItems: [
                    dataItemLast
                ]
            });
        }

        // Attribute
        if (dataItemSelected.NodeType == 0) {
            console.log("Attribute", dataItemSelected);

            var idObject = dataItemSelected.IdLeft;
            var idAttributeType = dataItemSelected.IdRight;

            $.post(viewModel.ActionGetAttributeUrl, { idObject: idObject, idAttributeType: idAttributeType, idInstance: viewModel.IdInstance })
                .done(function (response) {

                    if (response.IsSuccessful) {
                        

                        $('#' + viewModel.attributeEditIFrame.ViewItemId).attr('src', response.Result);
                        $('#' + viewModel.attributeEditWindow.ViewItemId).data("kendoWindow").open();
                        
                    }


                })
                .fail(function (jqxhr, textStatus, error) {

                    // stuff
                });
        }
        else if (dataItemSelected.IsParent == true && dataItemSelected.NodeType == 4) {
            //getTreeNodeRelRightOther();
        }
        // Other
        else {
            console.log("None Attribute", dataItemSelected);

            if (viewModel.listenTreeNode != undefined) {
                var btn = $(viewModel.listenTreeNode).find(".btn");
                btn.removeClass("btn-warning");
                btn.addClass("btn-primary");
            }


            if (dataItemLast != undefined && dataItemLast.uid == dataItemSelected.uid) {
                viewModel.listenTreeNode = null;
            } else {
                var btn = $(selected).find(".btn");
                btn.removeClass("btn-primary");
                btn.addClass("btn-warning");
                viewModel.listenTreeNode = selected;
            }

            if (viewModel.listenTreeNode !== undefined && viewModel.listenTreeNode !== null) {
                var dataItem = viewModel.Tree.dataItem(viewModel.listenTreeNode);

                if (dataItem.NodeType == 1) {

                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelSelectedClassNode,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: [
                            {
                                GUID: dataItem.IdRight
                            }
                        ]
                    });
                } else if (dataItem.NodeType == 2) {
                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelSelectedClassNode,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: [
                            {
                                GUID: dataItem.IdLeft
                            }
                        ]
                    });
                } else if (dataItem.NodeType == 3) {
                    viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                        ChannelId: viewModel.ChannelSelectedClassNode,
                        SenderId: viewModel.managerConfig.idEndpoint,
                        SessionId: viewModel.managerConfig.idSession,
                        ReceiverId: viewModel.idSender,
                        ViewId: viewModel.View.IdView,
                        UserId: viewModel.IdUser,
                        OItems: [
                            {
                                GUID: dataItem.IdRight
                            }
                        ]
                    });
                }
            }
        }
    }


    function init() {
        var websocketHelper;

       
        $('#' + viewModel.attributeEditWindow.ViewItemId).kendoWindow({
            width: '400px',
            height: '500px',
            title: 'Attribute',
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center();

        

         

        viewModel.disconnectCallback = function () {
            viewModel.isEnabledListen(false);

            viewModel.isEnabledNextOrderId(false);

            viewModel.isEnabledSetNextOrderId(false);

            viewModel.isEnabledListenNode(false);

            viewModel.isEnabledAddAttribute(false);

            viewModel.isEnabledTree(false);
        }

        viewModel.connectCallback = function () {
            console.log("RelationTree is connected");
            viewModel.isEnabledListen(true);

            viewModel.isEnabledNextOrderId(true);

            viewModel.isEnabledSetNextOrderId(true);

            viewModel.isEnabledListenNode(true);

            viewModel.isEnabledAddAttribute(true);

            viewModel.isToggledListen(true);
            console.log(viewModel.isToggledListen());

            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }

            

        }
        viewModel.initialize();
        viewModel.getUrlParameters();

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAppliedObject);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<script id="treeview-template" type="text/kendo-ui-template">
    # if (item.Class1 != undefined) { #
    <i class="#: item.Class1 #" aria-hidden="true"></i>
    # } #
    # if (item.FontClass2 != undefined) { #
    <i class="#: item.Class2 #" aria-hidden="true"></i>
    # } #
    <span style="
    # if (item.ForeColor != undefined) { #
    color:#: item.ForeColor #;
    # } #
    # if (item.BackColor != undefined) { #
    background-color: #: item.BackColor #;
    # } #

    
    "> # if (item.Bold) { #
        <b>
            # } # #: item.NodeName #
            # if (item.Bold && item.NodeType == 4) { #
                <button id="@(Model.idRefreshOtherBackward)" class="btn btn-primary btn-xs" style="display: none;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            #} #
        </b>
        # if (!item.Bold && (item.NodeType == 1 || item.NodeType == 2 || item.NodeType == 3)) { #
        <button class="btn btn-primary btn-xs btn-listen-node"><i class="fa fa-assistive-listening-systems smallFont" aria-hidden="true"></i></button>
        # } #
        # if (!item.Bold && item.NodeType == 0) { #
        <button class="btn btn-primary btn-xs btn-add-attribute"><i class="fa fa-plus smallFont" aria-hidden="true"></i></button>
        # } #
        
        
</span>
    

</script>
<div id="@(Model.attributeEditWindow.ViewItemId)">
    <div style="overflow: hidden;" id="windowContentNewItem">
        <iframe id="@(Model.attributeEditIFrame.ViewItemId)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
    </div>
</div>
<div id="menuArea">
    <ul id="@(Model.idContextMenu)">
        <li id="@(Model.idListenNode)">
            @(Model.lblListenNode)
        </li>
        <li id="@(Model.idAddAttribute)">
            @(Model.lblAddAttribute)
        </li>
    </ul>
</div>
<div id="treeContent">
    <div id="contentContainer" class="k-content">
        <div id="@(Model.idToolbar)">

        </div>
        <div id="@(Model.idTree)">

        </div>
    </div>
</div>