﻿@model OModules.Models.RelationSummaryViewModel
@{
    ViewBag.Title = "RelationSummary";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }
</style>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));


</script>

