﻿@model OModules.Models.OItemListViewModel
@{
    
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .attributetype-list-container,
    .attributetype-list,
    .attributetype-list-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
    .gridParent,
    .grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>
<script src="~/Scripts/OItems/AttributeTypeList.js"></script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>

<script>

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

        if (viewModel.isToggledListen(false) == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;


    }

    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam;
        }

    }

    function init() {

        viewModel.connectCallback = function () {
            console.log("ViewReady to Sender", viewModel.idSender);
            var configurationAttributeTypeList = {
                actionAttributeTypeListInit: viewModel.ActionAttributeTypeListInit,
                templateSelector: "#template",
                managerConfig: viewModel.managerConfig,
                idInstance: viewModel.IdInstance,
                selectorPath: ['.attributetype-list-container']
            };

            $('.attributetype-list-container').createAttributeTypeList(configurationAttributeTypeList);

            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }
        }

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, true);
                }
            }
        }
        
        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="attributetype-list-container"></div>


