﻿@model OModules.Models.OItemListViewModel
@{
    
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    #gridParent,
    #grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>

<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id='@(Model.newItem.ViewItemId)' class="k-button"><i class="fa fa-file" aria-hidden="true"></i></button>
        <button id='@(Model.deleteItem.ViewItemId)' class="k-button"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button id='@(Model.applyItem.ViewItemId)' class="k-button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button id='@(Model.addToClipboard.ViewItemId)' class="k-button"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button id='@(Model.isListen.ViewItemId)' class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
        <label id="@(Model.lblOrderId.ViewItemId)" class="k-label"></label>
        <input id="@(Model.inpOrderId.ViewItemId)" class="k-input" />
        <button id='@(Model.orderAsc.ViewItemId)' class="k-button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        <button id='@(Model.orderDesc.ViewItemId)' class="k-button"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
    
</script>
<script src="~/Scripts/OItems/ObjRelListHelper.js"></script>
<script>

    var websocketHelper;

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.setDataItems = function () {
        $("#" + viewModel.newItem.ViewItemId).data("viewItem", viewModel.newItem);
        $("#" + viewModel.deleteItem.ViewItemId).data("viewItem", viewModel.deleteItem);
        $("#" + viewModel.applyItem.ViewItemId).data("viewItem", viewModel.applyItem);
        $("#" + viewModel.addToClipboard.ViewItemId).data("viewItem", viewModel.addToClipboard);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
        $("#" + viewModel.lblOrderId.ViewItemId).data("viewItem", viewModel.lblOrderId);
        $("#" + viewModel.inpOrderId.ViewItemId).data("viewItem", viewModel.inpOrderId);
        $("#" + viewModel.selectedItem.ViewItemId).data("viewItem", viewModel.selectedItem);
        $("#" + viewModel.orderAsc.ViewItemId).data("viewItem", viewModel.orderAsc);
        $("#" + viewModel.orderDesc.ViewItemId).data("viewItem", viewModel.orderDesc);
    }

    viewModel.reloadGrid = function() {
        viewModel.gridItem.dataSource.read();

        
    }

    

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

        var viewItemValue = $.grep(viewModel.isListen.ViewItemValues, function (e) { return e.ViewItemType == "Checked"; });
        if (viewItemValue == null || viewItemValue[0].Value == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;

        if (message.ChannelId == viewModel.ChannelSelectedParent) {
            if (message.GenericParameterItems != undefined) {
                var nodeItem = message.GenericParameterItems[0];
                console.log("Received Node-Item", nodeItem);
                if (nodeItem != undefined && nodeItem.NodeType == 1) {
                    
                    viewModel.setNodeItem(nodeItem);
                    document.title = nodeItem.NameLeft + ' -> ' + nodeItem.NameRelationType + ' -> ' + nodeItem.NameRight;
                    viewModel.reloadGrid();
                }
            }
        }
    }


    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();


        if (urlParameterConfig.classParam != undefined) {
            //viewModel.setIdParent(urlParameterConfig.classParam);
            //reloadGrid();
        }

        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam;
            $('#' + viewModel.isListen.ViewItemId).setVisible(false, true);
            $('#' + viewModel.isListen.ViewItemId).setCheckedMode(true, true);
        }

    }

    function init() {
        initViewModel();

        viewModel.setNodeItem = function (nodeItem) {
            viewModel.nodeItem = nodeItem;
            viewModel.checkViewState();
        };

        viewModel.checkViewState = function () {
            $('#' + viewModel.newItem.ViewItemId).setEnabled(viewModel._idParent != undefined, true);
            $('#' + viewModel.applyItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.addToClipboard.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.deleteItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.orderAsc.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.orderDesc.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);

        };


        viewModel.dataBoundHandler = function () {
           
        }

        var gridChangeHandler = function (e) {
            viewModel.currentDataItem = viewModel.gridItem.dataItem(this.select());
            var selectedItem = {
                IdInstance: viewModel.IdInstance,
                IdObject: ""
            };
            
            if (viewModel.currentDataItem != undefined) {
                selectedItem = {
                    IdInstance: viewModel.IdInstance,
                    IdObject: viewModel.currentDataItem.IdObject,
                    IdOther: viewModel.currentDataItem.IdOther,
                    IdRelationType: viewModel.currentDataItem.IdRelationType,
                    OrderId: viewModel.currentDataItem.OrderId
                };
    
                console.log(viewModel.currentDataItem);
                var items = [
                    {
                        GUID: viewModel.currentDataItem.IdOther
                    }];
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelSelectedItem,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: items
                });
            }

            $.post(viewModel.ActionSetSelectedItem, selectedItem)
                .done(function (response) {
                    console.log(response);

                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        };

        var clickApplyButtonHandler = function (e) {
            var viewItem = $(e.event.target).closest(".k-button").data("viewItem");
            if (viewItem.ViewItemId == viewModel.applyItem.ViewItemId) {
                var items = [];
                $('.chkbxApply:checked').closest('tr').each(function () {
                    var row = $(this);
                    var item = viewModel.gridItem.dataItem(row);
                    console.log(item);
                    items.push({ GUID: item.IdOther });
                })

                console.log(items);
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelAppliedObjects,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: items
                });

            } else if (viewItem.ViewItemId == viewModel.isListen.ViewItemId) {
                $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
            } else if (viewItem.ViewItemId == viewModel.orderAsc.ViewItemId) {
                var value = $('#' + viewModel.inpOrderId.ViewItemId).getContent();
                var items = [];
                $('.chkbxApply:checked').closest('tr').each(function () {
                    var row = $(this);
                    var item = viewModel.gridItem.dataItem(row);
                    console.log(item);
                    items.push({
                        uid: item.uid,
                        IdInstance: viewModel.IdInstance,
                        IdItem: item.IdItem,
                        IdObject: item.IdObject,
                        IdOther: item.IdOther,
                        IdRelationType: item.IdRelationType,
                        OrderId: value++
                    });
                })

                $.post(viewModel.ActionSetOrderId, { requestList: items })
                    .done(function (response) {
                        console.log(response);
                        if (response.IsSuccessful) {
                            for (var ix in items) {
                                var item = items[ix];
                                var row = viewModel.gridItem.tbody.find("tr[data-uid='" + item.uid + "']");
                                var dataItem = viewModel.gridItem.dataItem(row);
                                dataItem.set("OrderId", item.OrderId);

                            }
                        }


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        // stuff
                    });


            } else if (viewItem.ViewItemId == viewModel.orderDesc.ViewItemId) {

            }


        };

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            console.log("ViewReady to Sender", viewModel.idSender);
            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        initControls(viewModel.ActionGetGridConfig,
            viewModel.applyItem.ViewItemId,
            viewModel.isListen.ViewItemId,
            true,
            gridChangeHandler,
            clickApplyButtonHandler,
            viewModel.dataBoundHandler);

        


        viewModel.addEndpoint(viewModel.ChannelSelectedParent);
        viewModel.addEndpoint(viewModel.ChannelSelectedRelationNode);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>



<div id="output" style="display:none"></div> <!--style="display:none"-->
<div id="contextMenu">

</div>

<div>
    <div id="@(Model.newWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <iframe id="@(Model.newWindowViewModel.idFrameNew)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
        </div>
    </div>
</div>

<div>
    <div id="@(Model.editWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editWindowViewModel.idLblGuid)" for="@(Model.editWindowViewModel.idTxtGuid)">@(Model.editWindowViewModel.lblGuid)</label>
                    <input id="@(Model.editWindowViewModel.idTxtGuid)" type="text" class="k-textbox editControl">
                    <button id="@(Model.editWindowViewModel.idCpyGuid)" class="k-button"><i class="@(Model.editWindowViewModel.iconClassCpyGuid)" aria-hidden="true"></i></button>

                </li>
                <li>
                    <label id="@(Model.editWindowViewModel.idLblValueName)" for="@(Model.editWindowViewModel.idInpValueEditName)">Value:</label>
                    <input type="text" id="@(Model.editWindowViewModel.idInpValueEditName)" class="k-textbox editControl" />
                </li>
                <li>
                    <button id="@(Model.editWindowViewModel.idSaveName)" class="k-button">@(Model.editWindowViewModel.lblSaveName)</button>
                </li>
            </ul>
        </div>

        <div id="@(Model.editWindowViewModel.idEditMessageName)"></div>

    </div>
</div>

<div>
    <div id="@(Model.editOrderWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editOrderWindowViewModel.idLblValueOrderId)" for="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)">Value:</label>
                    <input id="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)" type="number" value="@(Model.editOrderWindowViewModel.valueStart)" step="@(Model.editOrderWindowViewModel.valueStep)" style="width: 100%;" />

                </li>
                <li>
                    <button id="@(Model.editOrderWindowViewModel.idSaveOrderId)" class="k-button">@(Model.editOrderWindowViewModel.lblSaveOrderId)</button>
                </li>
            </ul>
        </div>
        <div id="@(Model.editOrderWindowViewModel.idEditMessageOrderId)"></div>
    </div>
</div>

<div>
    <div id="@(Model.deleteWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentMessage">

        </div>
    </div>
</div>

<div id="gridParent">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>







