﻿@model OModules.Models.OItemListViewModel
@{

}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .idInput {
        font-size:10px;
    }
    @@media screen and (max-width: 750px) {
        .idInput {
            display: none !important;
        }
    }

    @@media screen and (max-width: 800px) {
        .idInput {
            width: 150px !important;
        }
    }

    @@media screen and (min-width: 801px) {
        .idInput {
            width: 200px !important;
        }
    }

    #gridParent,
    #grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>

<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id='@(Model.newItem.ViewItemId)' class="k-button" ><i class="fa fa-file" aria-hidden="true"></i></button>
        <button id='@(Model.deleteItem.ViewItemId)' class="k-button"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button id='@(Model.applyItem.ViewItemId)' class="k-button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button id='@(Model.addToClipboard.ViewItemId)' class="k-button"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button id='@(Model.isListen.ViewItemId)' class="k-button"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i></button>
    </div>

</script>
<script src="~/Scripts/OItems/SingleItemListHelper.js"></script>
<script>

    var websocketHelper;

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.setDataItems = function () {
        $("#" + viewModel.newItem.ViewItemId).data("viewItem", viewModel.newItem);
        $("#" + viewModel.deleteItem.ViewItemId).data("viewItem", viewModel.deleteItem);
        $("#" + viewModel.applyItem.ViewItemId).data("viewItem", viewModel.applyItem);
        $("#" + viewModel.addToClipboard.ViewItemId).data("viewItem", viewModel.addToClipboard);
        $("#" + viewModel.isListen.ViewItemId).data("viewItem", viewModel.isListen);
        $("#" + viewModel.grid.ViewItemId).data("viewItem", viewModel.grid);
    }



    viewModel.reloadGrid = function () {
        if (viewModel.gridItem != null && viewModel.gridItem != undefined) {
            viewModel.gridItem.dataSource.read();

            $.post(viewModel.ActionGetParent, { idParent: viewModel._idParent })
                .done(function (response) {
                    if (response != undefined) {
                        document.title = response.Name;
                    }
                })
        }
        
    }


    viewModel.getFilter = function () {
        var filter = viewModel.gridItem.dataSource.filter();
        if (filter == undefined) return;

        if (viewModel.gridItem.dataSource.filter().filters.length > 0) {
            return viewModel.gridItem.dataSource.filter().filters[0].value;
        }
        else {
            return "";
        }
        
    }

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

        var viewItemValue = $.grep(viewModel.isListen.ViewItemValues, function (e) { return e.ViewItemType == "Checked"; });
        if (viewItemValue == null || viewItemValue[0].Value == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;

        if (message.ChannelId == viewModel.ChannelSelectedParent) {
            if (message.OItems != undefined) {
                var classItem = message.OItems[0];
                console.log("Received ClassItem", classItem);
                if (classItem.GUID != undefined) {
                    viewModel.setIdParent(classItem.GUID);
                    document.title = classItem.Name;
                }
            }
        }
        else if (message.ChannelId == viewModel.ChannelAddedObjects) {
            for (var i in message.OItems) {
                var oItem = message.OItems[i];

                viewModel.gridItem.dataSource.add({
                    IdInstance: oItem.GUID,
                    Apply: false,
                    NameInstance: oItem.Name,
                    IdClass: oItem.GUID_Parent,
                    NameClass: "",
                    IdItem: oItem.GUID
                })
            }
        }
    }


    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        viewModel.setDataItems();
        if (urlParameterConfig.classParam != undefined) {
            viewModel.setIdParent(urlParameterConfig.classParam);
        }
        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam;
            
        }

    }

    function init() {
        initViewModel();

        viewModel.setIdParent = function (idParent) {
            viewModel._idParent = idParent;
            viewModel.checkViewState();
            viewModel.reloadGrid();
        };

        viewModel.checkViewState = function () {
            $('#' + viewModel.newItem.ViewItemId).setEnabled(viewModel._idParent != undefined, true);
            $('#' + viewModel.applyItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.addToClipboard.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
            $('#' + viewModel.deleteItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);

        };

        var gridChangeHandler = function (e) {
            var currentDataItem = viewModel.gridItem.dataItem(this.select());
            $('#guidItem').val(currentDataItem.IdInstance);
            if (currentDataItem != undefined) {
                console.log(currentDataItem);
                var items = [
                    {
                        GUID: currentDataItem.IdInstance,
                        GUID_Parent: currentDataItem.IdClass
                    }];
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelSelectedItem,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: items
                });
            }
        };

        var clickApplyButtonHandler = function (e) {
            var viewItem = $(e.event.target).closest(".k-button").data("viewItem");
            if (viewItem.ViewItemId == viewModel.applyItem.ViewItemId) {
                var items = [];
                $('.chkbxApply:checked').closest('tr').each(function () {
                    var row = $(this);
                    var item = viewModel.gridItem.dataItem(row);
                    console.log(item);
                    items.push({
                        GUID: item.IdInstance,
                        GUID_Parent: item.IdClass
                    });
                })

                console.log(items);
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelAppliedObjects,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    UserId: viewModel.IdUser,
                    OItems: items
                });

            } else if (viewItem.ViewItemId == viewModel.isListen.ViewItemId) {
                $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
            } else if (viewItem.ViewItemId === viewModel.newItem.ViewItemId) {
                $('#' + viewModel.newWindowViewModel.id).data("kendoWindow").open();

                $('#' + viewModel.newWindowViewModel.idFrameNew).attr('src', viewModel.ActionNewItem + '?Class=' + viewModel._idParent);
            }

        };

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, true);
                }
            }
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            console.log("ViewReady to Sender", viewModel.idSender);
            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
         initControls(viewModel.ActionGetGridConfig,
            viewModel.applyItem.ViewItemId,
            viewModel.isListen.ViewItemId,
             true,
             gridChangeHandler,
             clickApplyButtonHandler);

        viewModel.addEndpoint(viewModel.ChannelSelectedParent);
        viewModel.addEndpoint(viewModel.ChannelSelectedRelationNode);
        viewModel.addEndpoint(viewModel.ChannelAddedObjects);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);

        viewModel.getUrlParameters();
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>



<div id="output" style="display:none"></div> <!--style="display:none"-->
<div id="contextMenu">

</div>

<div>
    <div id="@(Model.newWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <iframe id="@(Model.newWindowViewModel.idFrameNew)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
        </div>
    </div>
</div>

<div>
    <div id="@(Model.editWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editWindowViewModel.idLblGuid)" for="@(Model.editWindowViewModel.idTxtGuid)">@(Model.editWindowViewModel.lblGuid)</label>
                    <input id="@(Model.editWindowViewModel.idTxtGuid)" type="text" class="k-textbox editControl">
                    <button id="@(Model.editWindowViewModel.idCpyGuid)" class="k-button"><i class="@(Model.editWindowViewModel.iconClassCpyGuid)" aria-hidden="true"></i></button>

                </li>
                <li>
                    <label id="@(Model.editWindowViewModel.idLblValueName)" for="@(Model.editWindowViewModel.idInpValueEditName)">Value:</label>
                    <input type="text" id="@(Model.editWindowViewModel.idInpValueEditName)" class="k-textbox editControl" />
                </li>
                <li>
                    <button id="@(Model.editWindowViewModel.idSaveName)" class="k-button">@(Model.editWindowViewModel.lblSaveName)</button>
                </li>
            </ul>
        </div>

        <div id="@(Model.editWindowViewModel.idEditMessageName)"></div>

    </div>
</div>

<div>
    <div id="@(Model.editOrderWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editOrderWindowViewModel.idLblValueOrderId)" for="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)">Value:</label>
                    <input id="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)" type="number" value="@(Model.editOrderWindowViewModel.valueStart)" step="@(Model.editOrderWindowViewModel.valueStep)" style="width: 100%;" />

                </li>
                <li>
                    <button id="@(Model.editOrderWindowViewModel.idSaveOrderId)" class="k-button">@(Model.editOrderWindowViewModel.lblSaveOrderId)</button>
                </li>
            </ul>
        </div>
        <div id="@(Model.editOrderWindowViewModel.idEditMessageOrderId)"></div>
    </div>
</div>

<div>
    <div id="@(Model.deleteWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentMessage">

        </div>
    </div>
</div>

<div id="gridParent">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>







