﻿@model OModules.Models.OItemListViewModel
@{

}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .gridParent,
    .grid,
    .object-attribute-list {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }

    textarea {
        width: 100%;
        resize: vertical;
    }
</style>
<script src="~/Scripts/OItems/AttributeList.js"></script>
<script src="~/Scripts/EditOItem/EditAttribute.js"></script>
<script>

    //var websocketHelper;

    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    //viewModel.reloadGrid = function() {
    //    viewModel.gridItem.dataSource.read();

    //    $.post(viewModel.ActionGetParent, { idParent: viewModel.nodeItem.IdObject, idInstance: viewModel.IdInstance })
    //        .done(function (response) {
    //            if (response != undefined) {
    //                document.title = response.Additional;
    //            }
    //        })
    //}

    viewModel.messageFromWebsocket = function(name, message) {
        // Add the message to the page.
        console.log(message);

        var viewItemValue = $.grep(viewModel.isListen.ViewItemValues, function (e) { return e.ViewItemType == "Checked"; });
        if (viewItemValue == null || viewItemValue[0].Value == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;

        if (message.ChannelTypeId = viewModel.ChannelSelectedParent) {
            if (message.GenericParameterItems != undefined) {
                var nodeItem = message.GenericParameterItems[0];
                console.log("Received Node-Item", nodeItem);
                if (nodeItem != undefined && nodeItem.NodeType == 0) {

                    viewModel.setNodeItem(nodeItem);
                    document.title = nodeItem.NameRight + ' (' + nodeItem.NameLeft + ')';
                    viewModel.reloadGrid();
                }
            }
        }
    }


    viewModel.getUrlParameters = function() {
        urlParameterConfig.initialize();

        var nodeItem = {
            idAttribute: null,
            idObject: null
        }
        if (typeof (urlParameterConfig.objectParam) != 'undefined') {
            nodeItem.idObject = urlParameterConfig.objectParam;
        }
        if (typeof(urlParameterConfig.attributeTypeParam) != 'undefined') {
            nodeItem.idAttributeType = urlParameterConfig.attributeTypeParam;
        }

        viewModel.relationListAttributeComponent.handler.validateReference(viewModel.relationListAttributeComponent, nodeItem.idObject, nodeItem.idAttributeType);
    }

    function init() {
        //initViewModel();

        //viewModel.setNodeItem = function (nodeItem) {
        //    viewModel.nodeItem = nodeItem;
        //    viewModel.checkViewState();
        //};

        //viewModel.checkViewState = function () {
        //    $('#' + viewModel.newItem.ViewItemId).setEnabled(viewModel._idParent != undefined, true);
        //    $('#' + viewModel.applyItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
        //    $('#' + viewModel.addToClipboard.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);
        //    $('#' + viewModel.deleteItem.ViewItemId).setEnabled(viewModel._itemsPreApply.length > 0, true);

        //};

        //var gridChangeHandler = function (e) {
        //    var index = viewModel.gridItem.select().index();
        //    var col = this.options.columns[index].field;
        //    var currentDataItem = viewModel.gridItem.dataItem(viewModel.gridItem.select().parent());
        //    if (currentDataItem != undefined) {
        //        console.log(currentDataItem);
        //        var items = [
        //            {
        //                IdAttribute: currentDataItem.IdAttribute
        //            }];
        //        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
        //            ChannelId: viewModel.ChannelParameterList,
        //            SenderId: viewModel.managerConfig.idEndpoint,
        //            SessionId: viewModel.managerConfig.idSession,
        //            UserId: viewModel.IdUser,
        //            GenericParameterItems: items
        //        });

        //        if (col === 'Value' && currentDataItem.NameDataType === 'String') {
        //            var value = currentDataItem.Value_String;

        //            var dialogElement = $('#dialog');
        //            dialogElement.kendoDialog({
        //                width: "800px",
        //                height: "600px",
        //                title: "Value",
        //                closable: true,
        //                modal: false,
        //                content: value,
        //                actions: []
        //            });

        //            dialogElement.data("kendoDialog").open();
        //        }
        //    }
        //};

        //var clickApplyButtonHandler = function (e) {
        //    var viewItem = $(e.event.target).closest(".k-button").data("viewItem");
        //    if (viewItem.ViewItemId == viewModel.applyItem.ViewItemId) {
        //        var items = [];
        //        $('.chkbxApply:checked').closest('tr').each(function () {
        //            var row = $(this);
        //            var item = viewModel.gridItem.dataItem(row);
        //            console.log(item);
        //            items.push({ GUID: item.IdObject });
        //        })

        //        console.log(items);
        //        viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
        //            ChannelId: viewModel.ChannelAppliedItems,
        //            SenderId: viewModel.managerConfig.idEndpoint,
        //            SessionId: viewModel.managerConfig.idSession,
        //            UserId: viewModel.IdUser,
        //            OItems: items
        //        });

        //    } else if (viewItem.ViewItemId == viewModel.isListen.ViewItemId) {
        //        $('#' + viewModel.isListen.ViewItemId).toggleMode(true);
        //    }

        //};

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    changeValuesFromServer(response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }


        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log(response);
                    //changeValuesFromServer(response);
                    var configuration = {
                        setDocumentTitle: true,
                        actionInit: viewModel.ActionObjectAttributeListInit,
                        idInstance: viewModel.IdInstance,
                        selectorPath: ['.object-attribute-list-container'],
                        managerConfig: viewModel.managerConfig,
                        events: {
                            createdComponent: function (relationListAttribute) {
                                viewModel.relationListAttributeComponent = relationListAttribute;
                                viewModel.getUrlParameters();
                            },
                            validatedReference: function (relationListAttribute, oItem) {

                            }
                        }
                    }
                    $('.object-attribute-list-container').createAttributeRelation(configuration);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });

            console.log("ViewReady to Sender", viewModel.idSender);
            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }
        }

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedParent);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div class="object-attribute-list-container"></div>

<!--<div id="output" style="display:none"></div>--> <!--style="display:none"-->
<!--<div id="contextMenu">

</div>

<div>
    <div id="@(Model.newWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentNewItem">
            <iframe id="@(Model.newWindowViewModel.idFrameNew)" src="about:blank" style="position: absolute; height: 95%; border: none; width: 98%"></iframe>
        </div>
    </div>
</div>

<div>
    <div id="@(Model.editWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editWindowViewModel.idLblGuid)" for="@(Model.editWindowViewModel.idTxtGuid)">@(Model.editWindowViewModel.lblGuid)</label>
                    <input id="@(Model.editWindowViewModel.idTxtGuid)" type="text" class="k-textbox editControl">
                    <button id="@(Model.editWindowViewModel.idCpyGuid)" class="k-button"><i class="@(Model.editWindowViewModel.iconClassCpyGuid)" aria-hidden="true"></i></button>

                </li>
                <li>
                    <label id="@(Model.editWindowViewModel.idLblValueName)" for="@(Model.editWindowViewModel.idInpValueEditName)">Value:</label>
                    <input type="text" id="@(Model.editWindowViewModel.idInpValueEditName)" class="k-textbox editControl" />
                </li>
                <li>
                    <button id="@(Model.editWindowViewModel.idSaveName)" class="k-button">@(Model.editWindowViewModel.lblSaveName)</button>
                </li>
            </ul>
        </div>

        <div id="@(Model.editWindowViewModel.idEditMessageName)"></div>

    </div>
</div>

<div>
    <div id="@(Model.editOrderWindowViewModel.id)">
        <div class="k-content">
            <ul class="fieldlist">
                <li>
                    <label id="@(Model.editOrderWindowViewModel.idLblValueOrderId)" for="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)">Value:</label>
                    <input id="@(Model.editOrderWindowViewModel.idInpValueEditOrderId)" type="number" value="@(Model.editOrderWindowViewModel.valueStart)" step="@(Model.editOrderWindowViewModel.valueStep)" style="width: 100%;" />

                </li>
                <li>
                    <button id="@(Model.editOrderWindowViewModel.idSaveOrderId)" class="k-button">@(Model.editOrderWindowViewModel.lblSaveOrderId)</button>
                </li>
            </ul>
        </div>
        <div id="@(Model.editOrderWindowViewModel.idEditMessageOrderId)"></div>
    </div>
</div>

<div>
    <div id="@(Model.deleteWindowViewModel.id)">
        <div style="overflow: hidden;" id="windowContentMessage">

        </div>
    </div>
</div>

<div id="gridParent">
    <div id="@(Model.grid.ViewItemId)">

    </div>
</div>

<div id="dialog"></div>-->







