﻿@model OModules.Models.ObjectTreeViewModel
@{
    ViewBag.Title = "ObjectTree";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    .@(Model.fullHeight)
     {
         height: calc(100vh - 10px)
     }

    .fullPanelContentHeight {
        height: calc(100vh - 120px)
    }
    .smallText {
        font-size: 12px;
    }

    .smallFont {
        font-size: 8px;
    }

        .object-list-container,
        #gridParent,
        #grid {
            margin: 0;
            padding: 0;
            border-width: 0;
            height: 98%; /* DO NOT USE !important for setting the Grid height! */
        }
</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" />
<script src="~/Scripts/ObjectTree/ObjectTree.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script type="text/x-kendo-template" id="templateObjectList">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.SenderId == viewModel.IdInstance) return;
        if (message.ChannelId == viewModel.ChannelAddedObjects && message.ReceiverId == viewModel.IdInstance) {
            viewModel.objectTreeComponent.handler.saveRelations(objectTreeComponent, message.OItems);
        }

        if (!urlParameterConfig.checkSender(message.SenderId)) return false;
        if (viewModel.idSender != undefined) {
            if (message.SenderId != viewModel.idSender) {
                return;
            }
        }
        viewModel.objectTreeComponent.handler.checkMessage(viewModel.objectTreeComponent, message);
    }

    function init() {
        viewModel.getUrlParameters = function () {
            urlParameterConfig.initialize();
            viewModel.objectTreeComponent.handler.checkParameters(viewModel.objectTreeComponent, urlParameterConfig);

        }

        viewModel.connectCallback = function () {
            $.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("connected", response);
                    var configurationTree = {
                        setDocumentTitle: true,
                        actionInit: viewModel.ActionObjectTreeInit,
                        selectorPath: ['.object-tree-container'],
                        managerConfig: viewModel.managerConfig,
                        IdInstance: viewModel.IdInstance,
                        events: {
                            createdComponent: function (objectTreeComponent) {
                                viewModel.objectTreeComponent = objectTreeComponent;
                                viewModel.getUrlParameters();
                            },
                            validatedReference: function (objectTreeComponent) {

                            }
                        }
                    }


                    $('.object-tree-container').createObjectTree(configurationTree);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }

        viewModel.disconnectCallback = function () {
            $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
                .done(function (response) {
                    console.log("disconnected", response);
                })
                .fail(function (jqxhr, textStatus, error) {
                    // stuff
                });
        }


        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);

        viewModel.addEndpoint(viewModel.ChannelSelectedClass);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelAddedObjects);

        viewModel.startWebsocket(viewModel.messageFromWebsocket);
    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>



<div class="object-tree-container">

</div>

