/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.93571428em;
@input-default-width: 12.4em;
@input-border-width: 1px;
@input-padding-x: 0;
@input-padding-y: 0.17857143em;
@input-indent: .8em;
@input-offset: (@input-height + .35em);

@icon-size: 16px;
@input-icon-width: calc(@input-height + .35em);

@combobox-padding-x: 1.9em;

@input-clear-icon-offset: ~"( (@{input-offset} - @{grid-size})/2 )";
@combobox-clear-icon-offset: ~"( @{input-offset} + ((@{combobox-padding-x} - @{grid-size})/2) )";
@multiselect-clear-icon-top-offset: ~"( (@{input-height} - @{grid-size}) / 2 + @{input-padding-y} + 1px )";

@editor-icon-size: 32px;
@menu-link-padding: 1.2em 1.2em 1.1em;
@button-padding-x: 12px;
@button-padding-y: 6px;
@button-padding: @button-padding-y @button-padding-x;
@button-line-height: (20 / 14);
@disabled-button-opacity: 0.6;

@treeview-inner-padding: 0.4167em 0.6667em 0.3333em 0.5833em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .75em 1em .8333em;
@grid-th-padding: .5em .6em .4em .6em;
@icon-positioning: "default";

@window-border-width: 1px;
@window-border-style: solid;

@window-sizes: {
    sm: 300px;
    md: 800px;
    lg: 1200px;
};

@window-titlebar-padding-x: 12px;
@window-titlebar-padding-y: 6px;
@window-titlebar-border-width: 0 0 1px;
@window-titlebar-border-style: solid;

@window-title-font-size: 1.2em;
@window-title-line-height: 1.25;

@window-inner-padding-x: @window-titlebar-padding-x;
@window-inner-padding-y: @window-inner-padding-x;

@grid-padding-x: 8px;
@grid-padding-y: 6px;

@grid-header-padding-x: @grid-padding-x;
@grid-header-padding-y: @grid-padding-y;

@grid-footer-padding-x: @grid-header-padding-x;
@grid-footer-padding-y: @grid-header-padding-y;

@grid-cell-padding-x: @grid-padding-x;
@grid-cell-padding-y: @grid-padding-y;

@grid-search-width: 15.7em;

// Calendar
@calendar-padding-x: 0;
@calendar-padding-y: 0;
@calendar-border-width: 1px;
@calendar-border-radius: 4px;
@calendar-font-size: 14px;
@calendar-line-height: (20 / 14);

@calendar-header-padding-x: 2px;
@calendar-header-padding-y: 2px;
@calendar-header-border-width: 0;
@calendar-header-button-padding-x: 4px;
@calendar-header-button-padding-y: 4px;
@calendar-header-button-border-width: 0;
@calendar-header-button-border-radius: @calendar-border-radius;

@calendar-content-padding-x: 0;
@calendar-content-padding-y: 0;

@calendar-cell-padding-x: .5em;
@calendar-cell-padding-y: .5em;
@calendar-cell-border-radius: @calendar-border-radius;
@calendar-cell-line-height: (20 / 14);
@calendar-cell-size: ( (34px / 14px ) * 1em );

@calendar-header-cell-padding-x: 2px;
@calendar-header-cell-padding-y: (@calendar-cell-padding-y / 2);
@calendar-header-cell-border-width: 1px;
@calendar-header-cell-font-size: 12px;
@calendar-header-cell-line-height: (20 / 14);
@calendar-header-cell-size: @calendar-cell-size;

@calendar-meta-cell-size: ( (60px / @calendar-font-size) * 1em );

// Multiviewcalendar
@multiviewcalendar-font-size: @calendar-font-size;
@multiviewcalendar-line-height: @calendar-line-height;

@multiviewcalendar-header-padding-x: 16px;
@multiviewcalendar-header-padding-y: 8px;

@multiviewcalendar-content-padding-x: 16px;
@multiviewcalendar-content-padding-y: 8px;

@multiviewcalendar-cell-padding-x: @calendar-cell-padding-x;
@multiviewcalendar-cell-padding-y: @calendar-cell-padding-y;
@multiviewcalendar-cell-border-radius: @calendar-border-radius;
@multiviewcalendar-cell-line-height: @calendar-cell-line-height;
@multiviewcalendar-cell-size: @calendar-cell-size;

@multiviewcalendar-centuryview-cell-padding-x: @multiviewcalendar-cell-padding-x;
@multiviewcalendar-centuryview-cell-padding-y: @multiviewcalendar-cell-padding-y;

@multiviewcalendar-header-cell-font-size: 12px;

// ScrollView
@scrollview-pagebutton-size: 8px;
@scrollview-navigation-size: 4.5em;

@scrollview-pager-offset: 20px;
@scrollview-pager-item-spacing: 20px;
@scrollview-pager-item-border-width: 1px;
@scrollview-pager-height: calc(@scrollview-pagebutton-size + (2 * @scrollview-pager-item-border-width) + (@scrollview-pager-item-spacing / 2 ));

// Switch
@switch-size: (6.6em / 1.4);
@switch-border-radius: @switch-size;
@switch-font-size: 14px;

@switch-track-size: null;
@switch-container-border-width: 0;
@switch-container-padding-x: 0;
@switch-container-padding-y: @switch-container-padding-x;

@switch-handle-size: (.5 * @switch-size);
@switch-handle-border-radius: @switch-size;
@switch-handle-border-width: 1px;

@switch-label-display: inline;
@switch-label-outer-spacing: 10px;
@switch-label-inner-spacing: 2px;
@switch-label-spacing: calc(@switch-label-outer-spacing + @switch-label-inner-spacing);

@switch-label-position: calc(@switch-label-outer-spacing - @switch-container-border-width);
@switch-label-width: calc(100% - @switch-handle-size - @switch-label-spacing - @switch-container-padding-x);
@switch-on-left-x: calc(100% - @switch-handle-size);

// Pager
@pager-button-border-radius-sm: 4px;
@pager-button-border-radius-lg: @pager-button-border-radius-sm;
@pager-button-width: 2em;
@pager-button-height: 2.3em;
@pager-button-margin: 0;

// Pdf Viewer
@pdf-viewer-page-spacing: 30px;

@pdf-viewer-action-buttons-top-offset: 10px;
@pdf-viewer-action-buttons-padding: 10px;

@pdf-viewer-search-dialog-input-button-height: @input-height;
@pdf-viewer-search-dialog-textbox-padding-x: @input-padding-y;

@pdf-viewer-search-dialog-matches-width: 4.5em;

@pdf-viewer-search-dialog-spacing: calc(0.57142857em - 0.2em);
@pdf-viewer-search-dialog-button-spacing: @pdf-viewer-search-dialog-spacing;

// Card
@form-line-height: (20 / 14);
@card-title-font-size: 19px;
@card-subtitle-font-size: 12px;
@card-border-radius: 4px;
@card-border-width: 1px;
@card-header-padding-x: 15px;
@card-header-padding-y: 15px;
@card-header-border-width: 1px;
@card-footer-padding-x: 15px;
@card-footer-padding-y: 15px;
@card-footer-border-width: 1px;
@card-body-padding-x: 15px;
@card-body-padding-y: 15px;
@paragraph-margin-bottom: 8px;
@card-title-margin-bottom: 8px;
@card-subtitle-margin-bottom: 8px;
@card-actions-padding-x: 15px;
@card-actions-padding-y: 8px;
@card-actions-border-width: 1px;
@card-button-padding-x: 8px;
@card-button-padding-y: 4px;
@card-img-max-width: 100px;
@card-deck-gap: 16px;

@card-deck-scroll-button-radius: 0;
@card-deck-scroll-button-offset: -1px;

@card-callout-width: 20px;
@card-callout-height: 20px;

// Drawer
@drawer-border-width: 1px;
@drawer-content-padding-x: 8px;
@drawer-content-padding-y: 8px;

@drawer-scrollbar-width: 7px;
@drawer-scrollbar-radius: 20px;

@drawer-item-padding-x: 8px;
@drawer-item-padding-y: 8px;
@drawer-item-font-size: 16px;
@drawer-item-line-height: 1.5;

@drawer-icon-size: 18px;
@drawer-mini-initial-width: calc(4 * @drawer-item-padding-x + @drawer-icon-size);


// Rating
@rating-container-margin-x: 4px;

@rating-item-padding-x: 4px;
@rating-item-padding-y: 4px;

@rating-label-margin-x: 8px;
@rating-label-margin-y: 4px;
@rating-label-line-height: 1.5;

@rating-font-size: 16px;
@rating-icon-size: 28px;


// Spreadsheet
@spreadsheet-insert-image-dialog-margin: 0 1em;
@spreadsheet-insert-image-dialog-border-style: dashed;
@spreadsheet-insert-image-dialog-border-width: 2px;

@spreadsheet-insert-image-dialog-preview-width: 355px;
@spreadsheet-insert-image-dialog-preview-height: 200px;
@spreadsheet-insert-image-dialog-preview-padding: 10px;
@spreadsheet-insert-image-dialog-text-padding: 10px;

@spreadsheet-drawing-outline-style: solid;
@spreadsheet-drawing-outline-width: 2px;

@spreadsheet-drawing-handle-width: 6px;
@spreadsheet-drawing-handle-height: 6px;
@spreadsheet-drawing-handle-border-style: solid;
@spreadsheet-drawing-handle-border-width: 1px;


// Notification
@notification-border-width: 1px;

@notification-padding-x: 0.5em;
@notification-padding-y: 0.6em;
@notification-padding-end: 20px;

@notification-icon-spacing: 4px;


// Filter
@filter-bottom-margin: 2.1em;
@filter-line-size: 1px;
@filter-padding-x: 12px;
@filter-padding-y: 6px;
@filter-operator-dropdown-width: 15em;


// Timeline
@timeline-border-radius: 2px;
@timeline-border-radius-lg: 4px;
@timeline-spacing-x: 40px;
@timeline-spacing-y: 40px;
@timeline-items-padding: 16px;
@timeline-mobile-spacing-x: 16px;
@timeline-mobile-spacing-y: 16px;

@timeline-track-arrow-width: 30px;
@timeline-track-arrow-height: 30px;

@timeline-track-size: 6px;
@timeline-track-border-width: 1px;
@timeline-track-margin-bottom: 16px;
@timeline-track-start-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);
@timeline-track-end-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);

@timeline-track-event-offset: 36px;

@timeline-flag-padding-x: @button-padding-x;
@timeline-flag-padding-y: @button-padding-y;
@timeline-flag-line-height: @button-line-height;
@timeline-flag-min-width: 80px;
@timeline-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-spacing-x);
@timeline-mobile-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-mobile-spacing-x);
@timeline-horizontal-flag-min-width: 60px;

@timeline-flag-callout-width: 10px;
@timeline-flag-callout-height: 10px;

@timeline-flag-offset-bottom: 4px;
@timeline-flag-margin-bottom-calc: calc(@timeline-track-size + 2 * @timeline-track-border-width + @timeline-flag-offset-bottom + @timeline-flag-callout-height);

@timeline-date-margin-bottom: 8px;
@timeline-date-width: 50px;

@timeline-vertical-padding-calc: calc(@timeline-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-vertical-padding-with-dates-calc: calc(@timeline-vertical-padding-calc + @timeline-date-width);
@timeline-mobile-vertical-padding-calc: calc(@timeline-mobile-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-mobile-vertical-padding-with-dates-calc: calc(@timeline-mobile-vertical-padding-calc + @timeline-date-width);

@timeline-circle-width: 16px;
@timeline-circle-height: 16px;

@timeline-collapse-arrow-padding-x: 8px;

@timeline-event-width: 400px;
@timeline-event-height: 600px;
@timeline-event-min-height-calc: calc(2 * @timeline-track-event-offset);


// Breadcrumb
@breadcrumb-min-height: 2.43em;

@breadcrumb-container-padding-x: 0;
@breadcrumb-container-padding-y: 0;

@breadcrumb-container-margin-x: 0;
@breadcrumb-container-margin-y: 0;

@breadcrumb-link-padding-x: @button-padding-x;
@breadcrumb-link-padding-y: @button-padding-y;
@breadcrumb-link-line-height: 1.6em;
@breadcrumb-link-border-radius: 4px;

@breadcrumb-icon-link-padding-x: @breadcrumb-link-padding-x;
@breadcrumb-icon-link-padding-y: @breadcrumb-icon-link-padding-x;

@breadcrumb-root-link-spacing: @breadcrumb-link-padding-x;
@breadcrumb-link-icon-spacing: @button-padding-x;

@breadcrumb-root-icon-font-size: @button-padding-x;
@breadcrumb-delimiter-icon-font-size: 12px;
@breadcrumb-delimiter-icon-padding-x: calc( @button-padding-x / 2 );
@breadcrumb-delimiter-icon-padding-y: 0;


// Listgroup
@listgroup-border-width: 1px;

@listgroup-item-padding-x: 1em;
@listgroup-item-padding-y: .5em;
@listgroup-item-border-width: 1px;


// Badge
@badge-font-size: 75%;
@badge-line-height: 1;

@badge-padding: 4px;
@badge-border-width: 1px;
@badge-border-radius: 4px;

@badge-size: calc( @badge-line-height * 1em + 2 * @badge-padding + 2 * @badge-border-width );
@badge-overlay-x: calc( @badge-line-height * .5em + @badge-padding + @badge-border-width );
@badge-overlay-y: @badge-overlay-x;


// Checkbox
@icon-size: 16px;
@icon-spacing: 4px;

@checkbox-icon-size: 12px;
@checkbox-size: @icon-size;
// @checkbox-radius: @border-radius;
@checkbox-border-width: 1px;
@checkbox-line-height: (@checkbox-size + @checkbox-border-width);

@radio-icon-size: 12px;
@radio-size: @icon-size;
@radio-radius: 50%;
@radio-border-width: 1px;
@radio-line-height: @radio-size + @radio-border-width;


// FileManager
@filemanager-spacer: calc(@button-padding-y * 3);
@filemanager-border-width: 1px;

@filemanager-toolbar-border-width: 0 0 @filemanager-border-width 0;
@filemanager-toolbar-border-style: solid;
@filemanager-toolbar-font-weight: normal;
@filemanager-toolbar-spacing: .2em;

@filemanager-toolbar-search-tool-spacing: .2em;

@filemanager-navigation-width: 20%;
@filemanager-navigation-border-width: 0 @filemanager-border-width 0 0;
@filemanager-navigation-border-style: solid;

@filemanager-navigation-container-padding-x: 0;
@filemanager-navigation-container-padding-y: @filemanager-spacer;

@filemanager-treeivew-spacing-x: @filemanager-spacer;
@filemanager-treeivew-spacing-y: 0;

@filemanager-breadcrumb-padding-x: @button-padding-x;
@filemanager-breadcrumb-padding-y: @button-padding-y;
@filemanager-breadcrumb-border-width: 0 0 @filemanager-border-width 0;
@filemanager-breadcrumb-border-style: solid;

@filemanager-listview-border-width: 0;

@filemanager-listview-item-padding-x: @button-padding-x;
@filemanager-listview-item-padding-y: @filemanager-listview-item-padding-x;
@filemanager-listview-item-width: 106px;
@filemanager-listview-item-height: 80px;

@filemanager-listview-item-icon-padding-x: 0;
@filemanager-listview-item-icon-padding-y: calc(@button-padding-y * 2);
@filemanager-listview-item-icon-size: calc(@icon-size * 2);

@filemanager-grid-row-height: 46px;
@filemanager-grid-header-height: @filemanager-grid-row-height;
@filemanager-grid-icon-spacing: @filemanager-spacer;

@filemanager-preview-width: 20%;
@filemanager-preview-border-width: 0 0 0 @filemanager-border-width;
@filemanager-preview-border-style: solid;

@filemanager-preview-container-padding: calc(@filemanager-spacer * 4) 0 @filemanager-spacer 0;

@filemanager-preview-file-spacing-x: 20px;
@filemanager-preview-file-spacing-y: 0;

@filemanager-preview-icon-size: calc(@icon-size * 4);

@filemanager-preview-title-padding-x: 0;
@filemanager-preview-title-padding-y: @filemanager-spacer;

@filemanager-preview-line-break-spacing: @filemanager-spacer;

@filemanager-drag-hint-padding-x: @button-padding-x;
@filemanager-drag-hint-padding-y: @button-padding-y;

@filemanager-drag-hint-icon-spacing: @button-padding-x;


@import "common/all.less";

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip-items .k-link {
    padding: 8px .92em;
}

.k-tabstrip > .k-button {
    top: 0;

    &.k-bare {
        top: 0;
    }
}

.k-tabstrip-bottom > .k-button.k-bare
{
    top: auto;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid tr td
{
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
    margin-top: -5px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
    margin-left: -5px;
}

input.k-textbox {
  height: 2.43em;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
      padding: 0.167em 0;
}

.k-combobox-clearable {
    .k-input {
        padding-right: @combobox-padding-x;
    }
}

.k-colorpicker {
    @picker-icon-height: 2.28571428em;
    .k-selected-color {
        width: @picker-icon-height;
        height: @picker-icon-height;

        .k-i-line {
            font-size: @picker-icon-height;
        }
    }
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: calc(@combobox-clear-icon-offset);
}

.k-numerictextbox .k-link {
    height: 1.167em;
}

.k-toolbar {
    padding: 0.57142857em calc(0.57142857em - 0.2em);
    border-radius: 4px;
}

.k-toolbar .k-overflow-anchor {
    width: calc((52/14)*1em);
}

.k-webkit .k-rtl .k-widget .k-dropdown-wrap .k-input,
.k-webkit .k-rtl .k-widget .k-numeric-wrap .k-input {
    margin-right: 0;
}

.k-rtl .k-widget.k-autocomplete > .k-i-close,
.k-rtl .k-widget.k-multiselect > .k-multiselect-wrap > .k-i-close {
    right: initial;
    margin-right: 0;
}

.k-rtl .k-widget.k-combobox > .k-dropdown-wrap > .k-i-close {
    left: calc(@combobox-clear-icon-offset);
    right: initial;
}

.k-pager-numbers-wrap {
    margin-left: -1px;

    .k-rtl &,
    &[dir="rtl"],
    [dir="rtl"] & {
        margin-left: 0;
    }
}

.k-pager-wrap,
.k-pager-numbers .k-link {
    line-height: 2.3em;
}

.k-pager-wrap > .k-link {
    height: 2.3em;
    line-height: 2.3em;
}

.k-pager-numbers {
    .k-link,
    .k-state-selected {
        height: 2.3em;
    }
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    min-width: 2.3em;
}

.k-pager-sizes .k-dropdown-wrap .k-input {
    line-height: 2em;
}

.k-spreadsheet-sheets-bar .k-spreadsheet-sheets-remove {
    margin: 0 0 0 -.5em;
    padding: .65em .92em .65em .32em;
}

.k-button.k-spreadsheet-sheets-bar-add {
    padding-top: 2px;
    padding-bottom: 2px;
    top: 2px;
    bottom: 4px;
}

.k-spreadsheet .k-spreadsheet-sheets-bar .k-tabstrip-items {
    padding-bottom: 4px;
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 2.4em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 38em;
}

.k-edit-label,
.k-edit-form-container .editor-label,
.k-edit-field.k-no-editor {
    padding: 0.65em 0 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 56px;
}

.k-filtercell > span {
    padding-right: 5.2em;
}

.k-filtercell > .k-operator-hidden {
    padding-right: 2.7em;
}

.k-filter-row .k-dropdown-operator {
    right: 3.0em;
}

// RTL
.k-rtl {

    .k-combobox-clearable {
        .k-input {
            padding-left: @combobox-padding-x;
            padding-right: 0.167em;
        }
    }
}
