/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.65em;
@input-default-width: 12.4em;
@input-border-width: 1px;
@input-padding-x: 0;
@input-padding-y: 0.532142857em;
@input-indent: .8em;
@input-offset: (@input-height + .35em);

@icon-size: 16px;
@input-icon-width: calc(@input-height + .35em);

@filter-icon-size: calc(2.71428571em + 2px); // dropdown select button width including borders
@combobox-padding-x: 2.71428571em;

@input-clear-icon-offset: ~"((@{input-offset} - @{grid-size})/2)";
@combobox-clear-icon-offset: ~"( @{combobox-padding-x} + ((@{combobox-padding-x} - @{grid-size})/2) )";
@multiselect-clear-icon-top-offset: ~"( (@{input-height} - @{grid-size}) / 2 + @{input-padding-y} + 1px )";

@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding-x: 14px;
@button-padding-y: 8px;
@button-padding: @button-padding-y @button-padding-x;
@button-line-height: (24 / 14);
@disabled-button-opacity: 0.6;

@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@grid-th-padding: .929em .6em .714em .6em;
@icon-positioning: "material";

@window-border-width: 1px;
@window-border-style: solid;

@window-sizes: {
    sm: 300px;
    md: 800px;
    lg: 1200px;
};

@window-titlebar-padding-x: 12px;
@window-titlebar-padding-y: 8px;
@window-titlebar-border-width: 0 0 1px;
@window-titlebar-border-style: solid;

@window-title-font-size: 1.2em;
@window-title-line-height: 1.25;

@window-inner-padding-x: @window-titlebar-padding-x;
@window-inner-padding-y: @window-inner-padding-x;

@grid-padding-x: 16px;
@grid-padding-y: 8px;

@grid-header-padding-x: @grid-padding-x;
@grid-header-padding-y: (@grid-padding-y / 2);

@grid-footer-padding-x: @grid-header-padding-x;
@grid-footer-padding-y: @grid-header-padding-y;

@grid-cell-padding-x: @grid-padding-x;
@grid-cell-padding-y: @grid-padding-y;

@grid-search-width: 15.7em;

// Calendar
@calendar-padding-x: 0;
@calendar-padding-y: 0;
@calendar-border-width: 1px;
@calendar-border-radius: 4px;
@calendar-font-size: 14px;
@calendar-line-height: (20 / 14);

@calendar-header-padding-x: 6px;
@calendar-header-padding-y: 6px;
@calendar-header-border-width: 0;
@calendar-header-button-padding-x: 8px;
@calendar-header-button-padding-y: 8px;
@calendar-header-button-border-width: 0;
@calendar-header-button-border-radius: 0;

@calendar-content-padding-x: 0;
@calendar-content-padding-y: 0;

@calendar-cell-padding-x: 1em;
@calendar-cell-padding-y: 1em;
@calendar-cell-border-radius: 0;
@calendar-cell-line-height: (20 / 14);
@calendar-cell-size: ( (52px / 14px ) * 1em );

@calendar-header-cell-padding-x: 2px;
@calendar-header-cell-padding-y: (@calendar-cell-padding-y / 2);
@calendar-header-cell-border-width: 0;
@calendar-header-cell-font-size: 12px;
@calendar-header-cell-line-height: (20 / 14);
@calendar-header-cell-size: @calendar-cell-size;

@calendar-meta-cell-size: ( (60px / @calendar-font-size) * 1em );

// Multiviewcalendar
@multiviewcalendar-font-size: @calendar-font-size;
@multiviewcalendar-line-height: @calendar-line-height;

@multiviewcalendar-header-padding-x: 16px;
@multiviewcalendar-header-padding-y: 8px;

@multiviewcalendar-content-padding-x: 16px;
@multiviewcalendar-content-padding-y: 8px;

@multiviewcalendar-cell-padding-x: @calendar-cell-padding-x;
@multiviewcalendar-cell-padding-y: @calendar-cell-padding-y;
@multiviewcalendar-cell-border-radius: @calendar-border-radius;
@multiviewcalendar-cell-line-height: @calendar-cell-line-height;
@multiviewcalendar-cell-size: @calendar-cell-size;

@multiviewcalendar-centuryview-cell-padding-x: (@multiviewcalendar-cell-padding-x / 2);
@multiviewcalendar-centuryview-cell-padding-y: (@multiviewcalendar-cell-padding-y / 2);

@multiviewcalendar-header-cell-font-size: 12px;

// ScrollView
@scrollview-pagebutton-size: 8px;
@scrollview-navigation-size: 4.5em;

@scrollview-pager-offset: 20px;
@scrollview-pager-item-spacing: 20px;
@scrollview-pager-item-border-width: 0;
@scrollview-pager-height: calc(@scrollview-pagebutton-size + (2 * @scrollview-pager-item-border-width) + (@scrollview-pager-item-spacing / 2 ));

// Switch
@switch-size: 5em;
@switch-border-radius: 0;
@switch-font-size: 12px;

@switch-track-size: null;
@switch-container-border-width: 1px;
@switch-container-padding-x: 2px;
@switch-container-padding-y: @switch-container-padding-x;

@switch-handle-size: (.4 * @switch-size);
@switch-handle-border-radius: 0;
@switch-handle-border-width: 1px;

@switch-label-display: inline;
@switch-label-outer-spacing: 8px;
@switch-label-inner-spacing: 2px;
@switch-label-spacing: calc(@switch-label-outer-spacing + @switch-label-inner-spacing);

@switch-label-position: calc(@switch-label-outer-spacing - @switch-container-border-width);
@switch-label-width: calc(100% - @switch-handle-size - @switch-label-spacing - @switch-container-padding-x);
@switch-on-left-x: calc(100% - @switch-handle-size);

// Pager
@pager-button-border-radius-sm: 0;
@pager-button-border-radius-lg: @pager-button-border-radius-sm;
@pager-button-width: 2em;
@pager-button-height: @pager-button-width;
@pager-button-margin: 0;

// Pdf Viewer
@pdf-viewer-page-spacing: 30px;

@pdf-viewer-action-buttons-top-offset: 10px;
@pdf-viewer-action-buttons-padding: 10px;

@pdf-viewer-search-dialog-input-button-height: @input-offset;
@pdf-viewer-search-dialog-textbox-padding-x: @input-padding-y;

@pdf-viewer-search-dialog-matches-width: 4.5em;

@pdf-viewer-search-dialog-spacing: 0.28571428em;
@pdf-viewer-search-dialog-button-spacing: @pdf-viewer-search-dialog-spacing;

// Card
@form-line-height: (20 / 14);
@card-title-font-size: 19px;
@card-subtitle-font-size: 12px;
@card-border-radius: 4px;
@card-border-width: 1px;
@card-header-padding-x: 14px;
@card-header-padding-y: 12px;
@card-header-border-width: 1px;
@card-footer-padding-x: 14px;
@card-footer-padding-y: 12px;
@card-footer-border-width: 1px;
@card-body-padding-x: 14px;
@card-body-padding-y: 12px;
@paragraph-margin-bottom: 8px;
@card-title-margin-bottom: 8px;
@card-subtitle-margin-bottom: 8px;
@card-actions-padding-x: 14px;
@card-actions-padding-y: 8px;
@card-actions-border-width: 1px;
@card-button-padding-x: 8px;
@card-button-padding-y: 4px;
@card-img-max-width: 100px;
@card-deck-gap: 16px;

@card-deck-scroll-button-radius: 0;
@card-deck-scroll-button-offset: -1px;

@card-callout-width: 20px;
@card-callout-height: 20px;

// Drawer
@drawer-border-width: 1px;
@drawer-content-padding-x: 8px;
@drawer-content-padding-y: 8px;

@drawer-scrollbar-width: 7px;
@drawer-scrollbar-radius: 20px;

@drawer-item-padding-x: 8px;
@drawer-item-padding-y: 8px;
@drawer-item-font-size: 16px;
@drawer-item-line-height: 1.5;

@drawer-icon-size: 18px;
@drawer-mini-initial-width: calc(4 * @drawer-item-padding-x + @drawer-icon-size);

// Rating
@rating-container-margin-x: 4px;

@rating-item-padding-x: 4px;
@rating-item-padding-y: 4px;

@rating-label-margin-x: 8px;
@rating-label-margin-y: 4px;
@rating-label-line-height: 1.5;

@rating-font-size: 16px;
@rating-icon-size: 28px;

// Spreadsheet
@spreadsheet-insert-image-dialog-margin: 0 1em;
@spreadsheet-insert-image-dialog-border-style: dashed;
@spreadsheet-insert-image-dialog-border-width: 2px;

@spreadsheet-insert-image-dialog-preview-width: 355px;
@spreadsheet-insert-image-dialog-preview-height: 200px;
@spreadsheet-insert-image-dialog-preview-padding: 10px;
@spreadsheet-insert-image-dialog-text-padding: 10px;

@spreadsheet-drawing-outline-style: solid;
@spreadsheet-drawing-outline-width: 2px;

@spreadsheet-drawing-handle-width: 6px;
@spreadsheet-drawing-handle-height: 6px;
@spreadsheet-drawing-handle-border-style: solid;
@spreadsheet-drawing-handle-border-width: 1px;


// Notification
@notification-border-width: 1px;

@notification-padding-x: 1.786em;
@notification-padding-y: 1.786em;
@notification-padding-end: 1.786em;

@notification-icon-spacing: 4px;


// Filter
@filter-bottom-margin: 2.1em;
@filter-line-size: 1px;
@filter-padding-x: 14px;
@filter-padding-y: 8px;
@filter-operator-dropdown-width: 15.5em;

// Timeline
@timeline-border-radius: 2px;
@timeline-border-radius-lg: 4px;
@timeline-spacing-x: 40px;
@timeline-spacing-y: 40px;
@timeline-items-padding: 16px;
@timeline-mobile-spacing-x: 16px;
@timeline-mobile-spacing-y: 16px;

@timeline-track-arrow-width: 30px;
@timeline-track-arrow-height: 30px;

@timeline-track-size: 6px;
@timeline-track-border-width: 1px;
@timeline-track-margin-bottom: 16px;
@timeline-track-start-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);
@timeline-track-end-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);

@timeline-track-event-offset: 36px;

@timeline-flag-padding-x: @button-padding-x;
@timeline-flag-padding-y: @button-padding-y;
@timeline-flag-line-height: @button-line-height;
@timeline-flag-min-width: 80px;
@timeline-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-spacing-x);
@timeline-mobile-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-mobile-spacing-x);
@timeline-horizontal-flag-min-width: 60px;

@timeline-flag-callout-width: 10px;
@timeline-flag-callout-height: 10px;

@timeline-flag-offset-bottom: 4px;
@timeline-flag-margin-bottom-calc: calc(@timeline-track-size + 2 * @timeline-track-border-width + @timeline-flag-offset-bottom + @timeline-flag-callout-height);

@timeline-date-margin-bottom: 8px;
@timeline-date-width: 50px;

@timeline-vertical-padding-calc: calc(@timeline-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-vertical-padding-with-dates-calc: calc(@timeline-vertical-padding-calc + @timeline-date-width);
@timeline-mobile-vertical-padding-calc: calc(@timeline-mobile-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-mobile-vertical-padding-with-dates-calc: calc(@timeline-mobile-vertical-padding-calc + @timeline-date-width);

@timeline-circle-width: 16px;
@timeline-circle-height: 16px;

@timeline-collapse-arrow-padding-x: 8px;

@timeline-event-width: 400px;
@timeline-event-height: 600px;
@timeline-event-min-height-calc: calc(2 * @timeline-track-event-offset);


// Breadcrumb
@breadcrumb-min-height: 2.86em;

@breadcrumb-container-padding-x: 0;
@breadcrumb-container-padding-y: 0;

@breadcrumb-container-margin-x: 0;
@breadcrumb-container-margin-y: 0;

@breadcrumb-link-padding-x: @button-padding-x;
@breadcrumb-link-padding-y: @button-padding-y;
@breadcrumb-link-line-height: 1.7em;
@breadcrumb-link-border-radius: 4px;

@breadcrumb-icon-link-padding-x: @breadcrumb-link-padding-x;
@breadcrumb-icon-link-padding-y: @breadcrumb-icon-link-padding-x;

@breadcrumb-root-link-spacing: @breadcrumb-link-padding-x;
@breadcrumb-link-icon-spacing: @button-padding-x;

@breadcrumb-root-icon-font-size: @icon-size;
@breadcrumb-delimiter-icon-font-size: 12px;
@breadcrumb-delimiter-icon-padding-x: calc( @button-padding-x / 2 );
@breadcrumb-delimiter-icon-padding-y: 0;


// Listgroup
@listgroup-border-width: 1px;

@listgroup-item-padding-x: 1em;
@listgroup-item-padding-y: .5em;
@listgroup-item-border-width: 1px;


// Badge
@badge-font-size: 75%;
@badge-line-height: 1;

@badge-padding: 4px;
@badge-border-width: 1px;
@badge-border-radius: 0;

@badge-size: calc( @badge-line-height * 1em + 2 * @badge-padding + 2 * @badge-border-width );
@badge-overlay-x: calc( @badge-line-height * .5em + @badge-padding + @badge-border-width );
@badge-overlay-y: @badge-overlay-x;


// Checkbox
@icon-size: 16px;
@icon-spacing: 4px;

@checkbox-icon-size: 12px;
@checkbox-size: @icon-size;
// @checkbox-radius: @border-radius;
@checkbox-border-width: 1px;
@checkbox-line-height: (@checkbox-size + @checkbox-border-width);

@radio-icon-size: 12px;
@radio-size: @icon-size;
@radio-radius: 50%;
@radio-border-width: 1px;
@radio-line-height: @radio-size + @radio-border-width;


// FileManager
@filemanager-spacer: calc(@button-padding-y * 3);
@filemanager-border-width: 1px;

@filemanager-toolbar-border-width: 0 0 @filemanager-border-width 0;
@filemanager-toolbar-border-style: solid;
@filemanager-toolbar-font-weight: normal;
@filemanager-toolbar-spacing: .2em;

@filemanager-toolbar-search-tool-spacing: .2em;

@filemanager-navigation-width: 20%;
@filemanager-navigation-border-width: 0 @filemanager-border-width 0 0;
@filemanager-navigation-border-style: solid;

@filemanager-navigation-container-padding-x: 0;
@filemanager-navigation-container-padding-y: @filemanager-spacer;

@filemanager-treeivew-spacing-x: @filemanager-spacer;
@filemanager-treeivew-spacing-y: 0;

@filemanager-breadcrumb-padding-x: @button-padding-x;
@filemanager-breadcrumb-padding-y: @button-padding-y;
@filemanager-breadcrumb-border-width: 0 0 @filemanager-border-width 0;
@filemanager-breadcrumb-border-style: solid;

@filemanager-listview-border-width: 0;

@filemanager-listview-item-padding-x: @button-padding-x;
@filemanager-listview-item-padding-y: @filemanager-listview-item-padding-x;
@filemanager-listview-item-width: 106px;
@filemanager-listview-item-height: 80px;

@filemanager-listview-item-icon-padding-x: 0;
@filemanager-listview-item-icon-padding-y: calc(@button-padding-y * 2);
@filemanager-listview-item-icon-size: calc(@icon-size * 2);

@filemanager-grid-row-height: 46px;
@filemanager-grid-header-height: @filemanager-grid-row-height;
@filemanager-grid-icon-spacing: @filemanager-spacer;

@filemanager-preview-width: 20%;
@filemanager-preview-border-width: 0 0 0 @filemanager-border-width;
@filemanager-preview-border-style: solid;

@filemanager-preview-container-padding: calc(@filemanager-spacer * 4) 0 @filemanager-spacer 0;

@filemanager-preview-file-spacing-x: 20px;
@filemanager-preview-file-spacing-y: 0;

@filemanager-preview-icon-size: calc(@icon-size * 4);

@filemanager-preview-title-padding-x: 0;
@filemanager-preview-title-padding-y: @filemanager-spacer;

@filemanager-preview-line-break-spacing: @filemanager-spacer;

@filemanager-drag-hint-padding-x: @button-padding-x;
@filemanager-drag-hint-padding-y: @button-padding-y;

@filemanager-drag-hint-icon-spacing: @button-padding-y;


@import "common/all.less";

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
    line-height: @input-height;
    padding: @input-padding-y 0;
    text-indent: .714em;
}

.k-ie {

    .k-textbox > input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input,
    .k-combobox .k-input {
        height: ~"calc(@{input-height} + @{input-padding-y}*2)";
    }

    input.k-textbox {
        height: ~"calc(@{input-height} + @{input-padding-y}*2 + 2px)";
    }
}

input.k-textbox,
.k-ff input.k-textbox
{
    height: 2.857em;
}

.k-button-icon {
    height: ~"calc(1.72em + (2*@{button-padding-y}) + 2px)"; // ensure inline-flex height
    width: ~"calc(1.72em + (2*@{button-padding-y}) + 2px)";
}

.k-mediaplayer-toolbar .k-button.k-bare {
    padding: .82em;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
    border-width: 1px 0 0;
}

.k-tabstrip-left > .k-content,
.k-panelbar .k-tabstrip-left > .k-content
{
    border-width: 0 0 0 1px;
}

.k-tabstrip-right > .k-content,
.k-panelbar .k-tabstrip-right > .k-content
{
    border-width: 0 1px 0 0;
}

.k-tabstrip-bottom > .k-content,
.k-panelbar .k-tabstrip-bottom > .k-content
{
    border-width: 0 0 1px 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3em;
    padding-left: 2.4em;
}

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    // .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-button.k-bare {
    padding: 0;
    top: 0;
    height: auto;


}
.k-tabstrip-bottom > .k-button.k-bare {
    top: auto;
}

.k-tabstrip-items .k-loading.k-complete {
    display:none;
}

.k-tabstrip-items .k-tab-on-top,
.k-tabstrip-items .k-state-active {
    margin-bottom: -2px;
    padding-bottom: 0;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-width: 0 0 4px 0;
    border-bottom-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-top > .k-tabstrip-items .k-link {
    padding: 0 0 8px;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-width: 0 4px 0 0;
    border-right-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-left > .k-tabstrip-items .k-link {
    padding: 0 8px 0 0;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-width: 0 0 0 4px;
    border-left-style: solid;
    margin: 0 0 1.8em;
}

.k-tabstrip-right > .k-tabstrip-items .k-link {
    padding: 0 0 0 7px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-width: 4px 0 0;
    border-top-style: solid;
    margin: 0 1.8em 0 0;
}

.k-tabstrip-bottom > .k-tabstrip-items .k-link {
    padding: .6em 0 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th,
.k-gantt-timeline .k-grid-header .k-header
{
    padding: @grid-th-padding
}

.k-grid-header th.k-header,
.k-gantt-timeline .k-grid-header .k-header
{
    padding-left: 1.286em;
}

.k-rtl .k-grid-header th.k-header,
.k-rtl .k-gantt-timeline .k-grid-header .k-header
{
    padding-right: 1.286em;
}

.k-gantt-timeline .k-header
{
    line-height: normal;
}

.k-filtercell > span {
    padding-right: calc(@filter-icon-size * 2 + 4px); // width of 2 filter buttons + 4px spacing
}

.k-filtercell > .k-operator-hidden {
    padding-right: calc(@filter-icon-size + 2px); // width of 1 filter button + 2px spacing
}

.k-filtercell > span > .k-button {
    padding-left: .714em;
    padding-right: .714em;
    margin: 0;
}

.k-filter-row {
  .k-dropdown-operator,
  .k-button-icon {
    width: @filter-icon-size;
    right: calc(@filter-icon-size + 2px); // width of the button + 2px
    height: 100%;
    border-radius: 0;
  }
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em 1.286em;
}

.k-grid-header th.k-header > .k-link
{
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: inherit;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid tr td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.k-grid > table tr:first-child td,
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-pager-wrap {
    padding: 0;
    min-height: 52px;

    .k-pager-info {
        padding: .714em 1.333em .643em 1.333em;
    }

    .k-pager-refresh {
        margin-right: 1.214em;
    }

    .k-dropdown {
        width: 5.2em;
    }

    > .k-link {
        margin-top: .6em;
        padding: 0 0 0.250em 0.250em;
    }

    .k-state-selected {
        line-height: 2em;
        cursor: pointer;
    }

    .k-pager-numbers .k-link,
    .k-pager-numbers .k-state-selected {
        border-width: 3px 0 0;
        padding: .75em 0 .75em .25em;
    }

    &.k-pager-lg,
    &.k-pager-md,
    &.k-pager-sm {

        > .k-link {
            margin-top: 0;
            padding: 0 0 0.250em 0.250em;
        }

        .k-pager-numbers-wrap {
            //Override the common width/height because of different button/dropdown measurements.
            width: calc(5em + 4px); // 2px for borders + 2px for child borders;
            height: calc(2.6666em + 4px);
        }

        .k-pager-numbers .k-link,
        .k-pager-numbers .k-state-selected {
            padding: 0;
        }

        .k-pager-numbers{

            .k-link,
            .k-state-selected {
                padding: .3333em .5em;
                border-style: solid;
                border-width: 1px;
            }
        }
    }
}

.k-autocomplete .k-i-loading,
.k-multiselect .k-i-loading
{
    bottom: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.71428571em 0 0;
}

.k-combobox-clearable .k-input {
    padding-right: @combobox-padding-x;
    width: calc(100% - 2.71428571em);
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.71428571em;
    line-height: ~"calc(@{input-height} + @{input-padding-y}*2)";
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-popup.k-list-container {
    padding: 0.286em 0;

    &.k-popup-dropdowntree,
    &.k-popup-flush {
        padding: 0;
    }
}

.k-popup .k-list .k-item,
.k-popup > .k-group-header,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-list-filter > .k-icon {
    right: 10px;

    .k-rtl & {
        left: 10px;
        right: auto;
    }
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: calc(@combobox-clear-icon-offset);
}

.k-multiselect-wrap li {
    min-height: calc((@input-height - .15em) + 0.64285714em + 2px);
    margin: 0.2143em 0 0.2143em 0.2143em;
    padding: 0.32142857em 1.8em 0.32142857em .857em;
}

.k-multiselect-wrap li span {
    margin-right: .3em;
}
.k-multiselect-wrap li span.k-icon {
    margin: 0;
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
    line-height: calc((@input-height - .15em) + 0.64285714em);
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    display: block;
    height: ~"calc((@{input-height} / 2) + @{input-padding-y})";
}

.k-numerictextbox .k-link .k-i-arrow-60-up {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-60-down {
    vertical-align: text-top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link {
    padding: 0.786em 3em 0.786em 1.714em;
}

.k-menu .k-item > .k-link  > .k-i-arrow-60-right {
    right: 1rem;
}

.k-menu .k-item > .k-link > .k-icon
{
    margin-left: 2px;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor.k-resizable .k-editable-area {
    padding-bottom: 20px;
}

.k-editor .k-editable-area .k-content {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 10px;
}

.k-toolbar label, .k-toolbar .k-separator
{
    line-height: calc((40/14)*1em);
}

.k-toolbar .k-input {
    text-indent: @input-indent;
    border: 0;
    margin: 0;
}

.k-toolbar .k-overflow-anchor {
    width: calc((50/14)*1em);
}

.k-overflow-container .k-item {
    padding: 0;
}

.k-overflow-container .k-item {
    padding: 0;
 }

.k-button-group .k-tool {
    margin: 6px 0;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-window-titlebar.k-header
{
    font-weight: bold;
}

.k-file {
    padding: .643em .17em .643em 1em;
}

.k-upload-status {
    right: 12px;
}

.k-scheduler-table th {
    height:1.8em;
    padding-right: .625em;
    padding-left: .625em;
}

.k-scheduler-header th.k-scheduler-groupcolumn {
    width: 7.5em;
}

.k-scheduler-table td
{
    height:1.286em;
}

.k-scheduler .k-scheduler-times th
{
    text-align: left;
    padding-left: 1.6em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-gantt .k-task-summary:before,
.k-gantt .k-task-summary-complete:before,
.k-gantt .k-task-summary:after,
.k-gantt .k-task-summary-complete:after {
    border-width: 0;
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 3.458em;
}

.k-gantt-edit-form > .k-edit-form-container {
    .k-textbox,
    .k-numerictextbox
    {
        width: 19.5em;
    }
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    width: 6px;
    height: 12px;
    top: -7px;
}

.k-slider-vertical .k-draghandle
{
    width: 12px;
    height: 6px;
    left: -7px;
}

.k-widget.k-slider .k-slider-buttons .k-button
{
    border-width: 0;
    background: transparent;
}

.k-widget.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-widget.k-flatcolorpicker .k-alpha-slider .k-draghandle {
    margin-top: -1px;
    box-shadow: none;
}

.k-colorpicker
{

    .k-selected-color {
        @selected-icon-height: ~"calc(@{input-height} + @{input-padding-y}*2)";
        height: @selected-icon-height;
        width: @selected-icon-height;
        .k-i-line {
            line-height: @selected-icon-height;
            font-size: @selected-icon-height;
        }
    }
}

// PanelBar
.k-panelbar-expand.k-icon,
.k-panelbar-collapse.k-icon {
    right: auto;
    left: 9px;
}

// Grid
.k-header.k-grid-toolbar {

}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-grouping-header {
    padding-left: 1.286em;
}

.k-grid .k-icon {
    opacity: 0.45;
}


// Scheduler

.k-scheduler-footer .k-icon.k-i-clock {
    display: none;
}

.k-scheduler-toolbar > ul.k-scheduler-navigation > li
{
    border-width: 0;
}

.k-scheduler-toolbar .k-i-calendar
{
    display: none;
}

.k-scheduler-toolbar .k-nav-current > .k-link
{
    vertical-align: top;
}

.k-nav-current > .k-link span + span
{
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: bottom;
    max-width: 22em;
}

.k-scheduler-toolbar .k-scheduler-views > li > .k-link,
.k-gantt-toolbar .k-gantt-views > li > .k-link
{
    padding: .2em 0 0;
}

.k-scheduler-toolbar .k-scheduler-views > li,
.k-gantt-toolbar .k-gantt-views > li
{
    margin: 0 .928em;
}

.k-scheduler-toolbar .k-nav-today .k-link
{
    padding-left: 0;
}

.k-rtl .k-scheduler-toolbar .k-nav-today .k-link
{
    padding-right: 0;
    padding-left: 1.1em;
}

.k-scheduler-header .k-slot-cell
{
    vertical-align: middle;
}

.k-scheduler-header tr + tr > th
{
    border-top-width: 1px;
}

.k-scheduler-monthview .k-scheduler-table td,
.k-scheduler-monthview .k-hidden
{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.k-gantt .k-gantt-toolbar,
.k-scheduler .k-scheduler-toolbar
{
    line-height: 2em;
}

.k-gantt-toolbar > ul.k-gantt-views > li,
.k-scheduler-toolbar > ul.k-scheduler-views > li {
    border-width: 0 0 3px 0;
    border-color: transparent;
}

.k-gantt-toolbar > ul > li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views > li:first-child + li {
    border-left-width: 0;
}

.k-gantt-toolbar li .k-link,
.k-scheduler-toolbar li .k-link {
    vertical-align: middle;
    line-height: 36px;
    padding-top: 2px;
}

.k-gantt-toolbar,
.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 44px;
    vertical-align: middle;
}

.k-scheduler-footer {
    padding: 0;
}

.k-scheduler-toolbar {
    padding: 0 1.286em;
}

.k-gantt-toolbar
{
    padding: 0 1.286em 0 .528em;
}

.k-scheduler div.k-scheduler-footer ul li
{
    border-width: 0;
}

.k-gantt-actions
{
    margin: .2em 0;
}

.k-gantt-create
{
    padding: 8px 12px;
}

// Icons

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
    padding: .857em;
    margin: -.929em -.6em -.714em 0;
}

.k-dropzone .k-upload-status
{
    top: 1.1em;
}

//RTL
.k-rtl,
[dir="rtl"] {
    .k-widget {
        .k-dropdown-wrap,
        .k-picker-wrap,
        .k-numeric-wrap {
            padding-left: 2.5em;
        }


        &.k-autocomplete > .k-i-close,
        &.k-multiselect > .k-multiselect-wrap > .k-i-close {
            right: initial;
            margin-right: 0;
        }

        &.k-combobox > .k-dropdown-wrap > .k-i-close {
            left: calc(@combobox-clear-icon-offset);
            right: initial;
        }

        &.k-datetimepicker .k-picker-wrap {
            padding-left: 5em;

            .k-icon {
                margin: 0 6px;
            }
        }

        &.k-colorpicker .k-picker-wrap {
            padding-left: 2.7em;
        }
    }

    .k-panelbar .k-panelbar-expand.k-icon,
    .k-panelbar .k-panelbar-collapse.k-icon {
        left: auto;
        right: 9px;
    }

    .k-panelbar > .k-item > .k-link,
    .k-panel > .k-item > .k-link {
        padding-left: 1em;
        padding-right: 2.4em;
    }

    .k-context-menu.k-menu-vertical > .k-item > .k-link,
    .k-menu .k-menu-group .k-item > .k-link {
        padding: 0.786em 1.714em 0.786em 3em;
    }

    .k-menu {
        &,
        &.k-menu-vertical {
            .k-item > .k-link > .k-i-arrow-60-left {
                left: 1rem;
            }
        }
    }

    .k-filter-row {
        .k-filtercell {
            & > span {
                padding-left: calc(@filter-icon-size * 2 + 4px); // width of 2 filter buttons + 4px spacing
                padding-right: 0;

                & > .k-button {
                    right: auto;
                    left: 0;
                }
            }

            & > .k-operator-hidden {
                padding-left: calc(@filter-icon-size + 2px); // width of 1 filter button + 2px spacing
                padding-right: 0;
            }

            .k-dropdown-operator,
            .k-button-icon {
                left: calc(@filter-icon-size + 2px); // width of the button + 2px
                right: auto;
            }
        }
    }
}

.k-spreadsheet {
    .k-button-group .k-button {
        border-width: 1px;
    }

    .k-spreadsheet-sheets-bar {

        .k-button {
            padding: 5px;
        }

        .k-spreadsheet-sheets-remove {
            margin: 0 5px;
        }

        .k-tabstrip-items .k-item {
            background-color: transparent;
        }

        .k-link {
            padding-bottom: .75em;
        }
    }

    .k-spreadsheet-sheets-bar-add {
        bottom: -1px;
        left: -1px;
    }

    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            margin: 0 2px;
        }
    }
}

.k-spreadsheet-window {

    .k-edit-label,
    .k-edit-field {
        padding: 0;
        line-height: 4em;
    }

    .k-edit-label > label {
        vertical-align: middle;
    }

    .k-root-tabs {
        margin: -0.5em -0.5em 0;
    }
}

div.k-spreadsheet-window {
    padding: 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog.k-window-content {
    min-width: 325px;
    width: 25.8em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 42em;
}

.k-edit-label,
.k-edit-form-container .editor-label,
.k-edit-field.k-no-editor {
    padding: 0.8em 0 1em;
}

.k-editor-dialog .k-root-tabs {
    padding: 0 1em 0;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 59px;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-textbox,
.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-dropdown {
    width: 15.74em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-numerictextbox + .k-dropdown,
.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    width: 4.7em;
}

.k-animation-container .k-popup.k-align .k-list .k-icon {
    line-height: 1.4em;
}

.k-animation-container .k-popup.k-align .k-list .k-i-align-remove {
    line-height: 1.6em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    border: 0;
    padding: 1em 1.3em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    padding: 0.6em 1.3em;
}

// RTL
.k-rtl,
[dir="rtl"] {
    span.k-combobox-clearable .k-input {
        padding-left: @combobox-padding-x;
        padding-right: 0;
    }
}

.k-spreadsheet-filter-menu > .k-menu .k-link {
    padding-left: 26px;
}
.k-spreadsheet-filter-menu > .k-menu .k-link .k-icon {
    margin-left: -26px;
    margin-right: 0;
}
