/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 2.07142857em;
@input-default-width: 12.4em;
@input-border-width: 1px;
@input-padding-x: 0;
@input-padding-y: 0.17857143em;
@input-indent: .8em;
@input-offset: (@input-height + .35em);

@icon-size: 16px;
@input-icon-width: calc(@input-height + .35em);

@combobox-padding-x: 2.5em;

@input-clear-icon-offset: ~"( (@{input-offset} - @{grid-size})/2 )";
@combobox-clear-icon-offset: ~"( @{input-offset} + ((@{combobox-padding-x} - @{grid-size})/2) )";
@multiselect-clear-icon-top-offset: ~"( (@{input-height} - @{grid-size}) / 2 + @{input-padding-y} + 1px )";

@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding-x: 14px;
@button-padding-y: 8px;
@button-padding: @button-padding-y @button-padding-x;
@button-line-height: (20 / 14);
@disabled-button-opacity: 0.6;

@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@grid-th-padding: .786em .6em;
@icon-positioning: "material";
@spreadsheet-action-bar-font-size: 14px;

@window-border-width: 0;
@window-border-style: solid;

@window-sizes: {
    sm: 300px;
    md: 800px;
    lg: 1200px;
};

@window-titlebar-padding-x: 16px;
@window-titlebar-padding-y: 8px;
@window-titlebar-border-width: 0;
@window-titlebar-border-style: none;

@window-title-font-size: 1.2em;
@window-title-line-height: 1.25;

@window-inner-padding-x: @window-titlebar-padding-x;
@window-inner-padding-y: @window-inner-padding-x;

@grid-padding-x: 16px;
@grid-padding-y: 8px;

@grid-header-padding-x: @grid-padding-x;
@grid-header-padding-y: @grid-padding-y;

@grid-footer-padding-x: @grid-header-padding-x;
@grid-footer-padding-y: @grid-header-padding-y;

@grid-cell-padding-x: @grid-padding-x;
@grid-cell-padding-y: @grid-padding-y;

@grid-search-width: 15.7em;

// Calendar
@calendar-padding-x: 0;
@calendar-padding-y: 0;
@calendar-border-width: 1px;
@calendar-border-radius: 100px;
@calendar-font-size: 14px;
@calendar-line-height: (20 / 14);

@calendar-header-padding-x: 4px;
@calendar-header-padding-y: 4px;
@calendar-header-border-width: 0;
@calendar-header-button-padding-x: 8px;
@calendar-header-button-padding-y: 8px;
@calendar-header-button-border-width: 0;
@calendar-header-button-border-radius: @calendar-border-radius;

@calendar-content-padding-x: 0;
@calendar-content-padding-y: 0;

@calendar-cell-padding-x: .65em;
@calendar-cell-padding-y: .65em;
@calendar-cell-border-radius: @calendar-border-radius;
@calendar-cell-line-height: (20 / 14);
@calendar-cell-size: ( (38px / 14px ) * 1em );

@calendar-header-cell-padding-x: 2px;
@calendar-header-cell-padding-y: (@calendar-cell-padding-y / 2);
@calendar-header-cell-border-width: 0;
@calendar-header-cell-font-size: 12px;
@calendar-header-cell-line-height: (20 / 14);
@calendar-header-cell-size: @calendar-cell-size;

@calendar-meta-cell-size: ( (60px / @calendar-font-size) * 1em );

// Multiviewcalendar
@multiviewcalendar-font-size: @calendar-font-size;
@multiviewcalendar-line-height: @calendar-line-height;

@multiviewcalendar-header-padding-x: 16px;
@multiviewcalendar-header-padding-y: 8px;

@multiviewcalendar-content-padding-x: 16px;
@multiviewcalendar-content-padding-y: 8px;

@multiviewcalendar-cell-padding-x: @calendar-cell-padding-x;
@multiviewcalendar-cell-padding-y: @calendar-cell-padding-y;
@multiviewcalendar-cell-border-radius: @calendar-border-radius;
@multiviewcalendar-cell-line-height: @calendar-cell-line-height;
@multiviewcalendar-cell-size: @calendar-cell-size;

@multiviewcalendar-centuryview-cell-padding-x: @multiviewcalendar-cell-padding-x;
@multiviewcalendar-centuryview-cell-padding-y: @multiviewcalendar-cell-padding-y;

@multiviewcalendar-header-cell-font-size: 12px;

// ScrollView
@scrollview-pagebutton-size: 8px;
@scrollview-navigation-size: 4.5em;

@scrollview-pager-offset: 20px;
@scrollview-pager-item-spacing: 20px;
@scrollview-pager-item-border-width: 0;
@scrollview-pager-height: calc(@scrollview-pagebutton-size + (2 * @scrollview-pager-item-border-width) + (@scrollview-pager-item-spacing / 2 ));

// Switch
@switch-size: 5.4em;
@switch-border-radius: @switch-size;
@switch-font-size: 10px;

@switch-track-size: 1.6em;
@switch-container-border-width: 0;
@switch-container-padding-x: 0;
@switch-container-padding-y: @switch-container-padding-x;

@switch-handle-size: 3em;
@switch-handle-border-radius: @switch-size;
@switch-handle-border-width: 0;

@switch-label-display: none;
@switch-label-outer-spacing: 8px;
@switch-label-inner-spacing: 2px;
@switch-label-spacing: calc(@switch-label-outer-spacing + @switch-label-inner-spacing);

@switch-label-position: calc(@switch-label-outer-spacing - @switch-container-border-width);
@switch-label-width: calc(100% - @switch-handle-size - @switch-label-spacing - @switch-container-padding-x);
@switch-on-left-x: calc(100% - @switch-handle-size);

// Pager
@pager-button-border-radius-sm: 2px;
@pager-button-border-radius-lg: @pager-button-border-radius-sm;
@pager-button-width: 2.429em;
@pager-button-height: @pager-button-width;
@pager-button-margin: 0.08333em;

// Pdf Viewer
@pdf-viewer-page-spacing: 30px;

@pdf-viewer-action-buttons-top-offset: 10px;
@pdf-viewer-action-buttons-padding: 10px;

@pdf-viewer-search-dialog-input-button-height: @input-height;
@pdf-viewer-search-dialog-textbox-padding-x: @input-padding-y;

@pdf-viewer-search-dialog-matches-width: 4.5em;

@pdf-viewer-search-dialog-spacing: 0.42857143em;
@pdf-viewer-search-dialog-button-spacing: @pdf-viewer-search-dialog-spacing;

// Card
@form-line-height: (20 / 14);
@card-title-font-size: 19px;
@card-subtitle-font-size: 12px;
@card-border-radius: 4px;
@card-border-width: 1px;
@card-header-padding-x: 16px;
@card-header-padding-y: 16px;
@card-header-border-width: 1px;
@card-footer-padding-x: 16px;
@card-footer-padding-y: 16px;
@card-footer-border-width: 1px;
@card-body-padding-x: 16px;
@card-body-padding-y: 16px;
@paragraph-margin-bottom: 8px;
@card-title-margin-bottom: 8px;
@card-subtitle-margin-bottom: 8px;
@card-actions-padding-x: 16px;
@card-actions-padding-y: 8px;
@card-actions-border-width: 1px;
@card-button-padding-x: 8px;
@card-button-padding-y: 8px;
@card-img-max-width: 100px;
@card-deck-gap: 16px;

@card-deck-scroll-button-radius: 0;
@card-deck-scroll-button-offset: -1px;

@card-callout-width: 20px;
@card-callout-height: 20px;

// Drawer
@drawer-border-width: 1px;
@drawer-content-padding-x: 8px;
@drawer-content-padding-y: 8px;

@drawer-scrollbar-width: 7px;
@drawer-scrollbar-radius: 20px;

@drawer-item-padding-x: 8px;
@drawer-item-padding-y: 8px;
@drawer-item-font-size: 16px;
@drawer-item-line-height: 1.5;

@drawer-icon-size: 18px;
@drawer-mini-initial-width: calc(4 * @drawer-item-padding-x + @drawer-icon-size);

// Rating
@rating-container-margin-x: 4px;

@rating-item-padding-x: 4px;
@rating-item-padding-y: 4px;

@rating-label-margin-x: 8px;
@rating-label-margin-y: 4px;
@rating-label-line-height: 1.5;

@rating-font-size: 16px;
@rating-icon-size: 28px;

// Spreadsheet
@spreadsheet-insert-image-dialog-margin: 0 1em;
@spreadsheet-insert-image-dialog-border-style: dashed;
@spreadsheet-insert-image-dialog-border-width: 2px;

@spreadsheet-insert-image-dialog-preview-width: 355px;
@spreadsheet-insert-image-dialog-preview-height: 200px;
@spreadsheet-insert-image-dialog-preview-padding: 10px;
@spreadsheet-insert-image-dialog-text-padding: 10px;

@spreadsheet-drawing-outline-style: solid;
@spreadsheet-drawing-outline-width: 2px;

@spreadsheet-drawing-handle-width: 6px;
@spreadsheet-drawing-handle-height: 6px;
@spreadsheet-drawing-handle-border-style: solid;
@spreadsheet-drawing-handle-border-width: 1px;


// Notification
@notification-border-width: 1px;

@notification-padding-x: 1.786em;
@notification-padding-y: 1.786em;
@notification-padding-end: 1.786em;

@notification-icon-spacing: 4px;


// Filter
@filter-bottom-margin: 2.1em;
@filter-line-size: 1px;
@filter-padding-x: 14px;
@filter-padding-y: 8px;
@filter-operator-dropdown-width: 15em;


// Timeline
@timeline-border-radius: 2px;
@timeline-border-radius-lg: 4px;
@timeline-spacing-x: 40px;
@timeline-spacing-y: 40px;
@timeline-items-padding: 16px;
@timeline-mobile-spacing-x: 16px;
@timeline-mobile-spacing-y: 16px;

@timeline-track-arrow-width: 30px;
@timeline-track-arrow-height: 30px;

@timeline-track-size: 6px;
@timeline-track-border-width: 1px;
@timeline-track-margin-bottom: 16px;
@timeline-track-start-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);
@timeline-track-end-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);

@timeline-track-event-offset: 36px;

@timeline-flag-padding-x: @button-padding-x;
@timeline-flag-padding-y: @button-padding-y;
@timeline-flag-line-height: @button-line-height;
@timeline-flag-min-width: 80px;
@timeline-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-spacing-x);
@timeline-mobile-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-mobile-spacing-x);
@timeline-horizontal-flag-min-width: 60px;

@timeline-flag-callout-width: 10px;
@timeline-flag-callout-height: 10px;

@timeline-flag-offset-bottom: 4px;
@timeline-flag-margin-bottom-calc: calc(@timeline-track-size + 2 * @timeline-track-border-width + @timeline-flag-offset-bottom + @timeline-flag-callout-height);

@timeline-date-margin-bottom: 8px;
@timeline-date-width: 50px;

@timeline-vertical-padding-calc: calc(@timeline-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-vertical-padding-with-dates-calc: calc(@timeline-vertical-padding-calc + @timeline-date-width);
@timeline-mobile-vertical-padding-calc: calc(@timeline-mobile-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-mobile-vertical-padding-with-dates-calc: calc(@timeline-mobile-vertical-padding-calc + @timeline-date-width);

@timeline-circle-width: 16px;
@timeline-circle-height: 16px;

@timeline-collapse-arrow-padding-x: 8px;

@timeline-event-width: 400px;
@timeline-event-height: 600px;
@timeline-event-min-height-calc: calc(2 * @timeline-track-event-offset);


// Breadcrumb
@breadcrumb-min-height: 2.532em;

@breadcrumb-container-padding-x: 0;
@breadcrumb-container-padding-y: 0;

@breadcrumb-container-margin-x: 0;
@breadcrumb-container-margin-y: 0;

@breadcrumb-link-padding-x: @button-padding-x;
@breadcrumb-link-padding-y: @button-padding-y;
@breadcrumb-link-line-height: 1.45em;
@breadcrumb-link-border-radius: 4px;

@breadcrumb-icon-link-padding-x: @breadcrumb-link-padding-x;
@breadcrumb-icon-link-padding-y: @breadcrumb-icon-link-padding-x;

@breadcrumb-root-link-spacing: @breadcrumb-link-padding-x;
@breadcrumb-link-icon-spacing: @button-padding-x;

@breadcrumb-root-icon-font-size: @icon-size;
@breadcrumb-delimiter-icon-font-size: 12px;
@breadcrumb-delimiter-icon-padding-x: calc( @button-padding-x / 2 );
@breadcrumb-delimiter-icon-padding-y: 0;


// Listgroup
@listgroup-border-width: 1px;

@listgroup-item-padding-x: 1em;
@listgroup-item-padding-y: .5em;
@listgroup-item-border-width: 1px;


// Badge
@badge-font-size: 75%;
@badge-line-height: 1;

@badge-padding: 4px;
@badge-border-width: 1px;
@badge-border-radius: 2px;

@badge-size: calc( @badge-line-height * 1em + 2 * @badge-padding + 2 * @badge-border-width );
@badge-overlay-x: calc( @badge-line-height * .5em + @badge-padding + @badge-border-width );
@badge-overlay-y: @badge-overlay-x;


// Checkbox
@icon-size: 16px;
@icon-spacing: 4px;

@checkbox-icon-size: 12px;
@checkbox-size: @icon-size;
// @checkbox-radius: @border-radius;
@checkbox-border-width: 1px;
@checkbox-line-height: (@checkbox-size + @checkbox-border-width);

@radio-icon-size: 12px;
@radio-size: @icon-size;
@radio-radius: 50%;
@radio-border-width: 1px;
@radio-line-height: @radio-size + @radio-border-width;


// FileManager
@filemanager-spacer: calc(@button-padding-y * 3);
@filemanager-border-width: 1px;

@filemanager-toolbar-border-width: 0 0 @filemanager-border-width 0;
@filemanager-toolbar-border-style: solid;
@filemanager-toolbar-font-weight: normal;
@filemanager-toolbar-spacing: .2em;

@filemanager-toolbar-search-tool-spacing: 0;

@filemanager-navigation-width: 20%;
@filemanager-navigation-border-width: 0 @filemanager-border-width 0 0;
@filemanager-navigation-border-style: solid;

@filemanager-navigation-container-padding-x: 0;
@filemanager-navigation-container-padding-y: @filemanager-spacer;

@filemanager-treeivew-spacing-x: @filemanager-spacer;
@filemanager-treeivew-spacing-y: 0;

@filemanager-breadcrumb-padding-x: @button-padding-x;
@filemanager-breadcrumb-padding-y: @button-padding-y;
@filemanager-breadcrumb-border-width: 0 0 @filemanager-border-width 0;
@filemanager-breadcrumb-border-style: solid;

@filemanager-listview-border-width: 0;

@filemanager-listview-item-padding-x: @button-padding-x;
@filemanager-listview-item-padding-y: @filemanager-listview-item-padding-x;
@filemanager-listview-item-width: 106px;
@filemanager-listview-item-height: 80px;

@filemanager-listview-item-icon-padding-x: 0;
@filemanager-listview-item-icon-padding-y: calc(@button-padding-y * 2);
@filemanager-listview-item-icon-size: calc(@icon-size * 2);

@filemanager-grid-row-height: 46px;
@filemanager-grid-header-height: @filemanager-grid-row-height;
@filemanager-grid-icon-spacing: @filemanager-spacer;

@filemanager-preview-width: 20%;
@filemanager-preview-border-width: 0 0 0 @filemanager-border-width;
@filemanager-preview-border-style: solid;

@filemanager-preview-container-padding: calc(@filemanager-spacer * 4) 0 @filemanager-spacer 0;

@filemanager-preview-file-spacing-x: 20px;
@filemanager-preview-file-spacing-y: 0;

@filemanager-preview-icon-size: calc(@icon-size * 4);

@filemanager-preview-title-padding-x: 0;
@filemanager-preview-title-padding-y: @filemanager-spacer;

@filemanager-preview-line-break-spacing: @filemanager-spacer;

@filemanager-drag-hint-padding-x: @button-padding-x;
@filemanager-drag-hint-padding-y: @button-padding-y;

@filemanager-drag-hint-icon-spacing: @button-padding-x;


@import "common/all.less";

@spreadsheet-first-tool-offset: 0;
@spreadsheet-popup-button-padding: .6em 1.2em .6em 1em;

.k-button {
    line-height: @button-line-height;
    padding: @button-padding;
}

.k-button-icon,
.k-split-button-arrow {
    padding: @button-padding-y calc(@button-padding-x/2);
    height: ~"calc(1.28571428em + (2*@{button-padding-y}) + 2px)"; // ensure inline-flex height
    width: ~"calc(1.28571428em + (2*@{button-padding-y}) + 2px)";
}

.k-widget.k-tabstrip
{
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-button.k-bare {
    top: .3em;
}

.k-tabstrip-bottom > .k-button.k-bare {
    top: auto;
}

.k-tabstrip > div.k-content,
.k-panelbar .k-tabstrip > div.k-content
{
    margin: 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3.5em;
}

.k-tabstrip > .k-tabstrip-items > .k-item {
    text-transform: uppercase;
    border-width: 0;
    border-style: solid;
    padding: 0;
}

.k-tabstrip-left > .k-tabstrip-items .k-loading,
.k-tabstrip-right > .k-tabstrip-items .k-loading {
    display: none;
}

.k-tabstrip-top > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-top > .k-tabstrip-items .k-state-active {
    margin-bottom: -1px;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-bottom-width: 2px;
}

.k-tabstrip-left > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-left > .k-tabstrip-items .k-state-active {
    margin-right: -2px;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-right-width: 2px;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-left-width: 2px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-top-width: 2px;
}

.k-tabstrip .k-tabstrip-items .k-link {
    padding: 1.071em;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th,
.k-gantt-timeline .k-grid-header .k-header {
    padding: @grid-th-padding;
}

.k-grid-header th.k-header,
.k-gantt-timeline .k-grid-header .k-header {
  padding-left: 1.286em;
}

.k-rtl .k-grid-header th.k-header,
.k-rtl .k-gantt-timeline .k-grid-header .k-header {
  padding-right: 1.286em;
}

.k-gantt-timeline .k-header {
    line-height: normal;
}

.k-filtercell > span {
    padding-right: 5.714em;
}

.k-filtercell > span > .k-button {
    padding-left: .714em;
    padding-right: .714em;
    line-height: 1.286em;
    margin: 0;
}

.k-filter-row .k-dropdown-operator {
    width: 2.714em;
    right: 2.857em;
}

.k-filter-menu {
    padding: .5em .5em 0;
}

.k-filter-menu .k-action-buttons .k-button {
    margin: 0;
    width: 50%;
    border-radius: 0;
}

.k-filter-menu .k-primary {
    float: right;
}

.k-filter-menu > div > div:last-child {
    margin: .5em -.5em 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.k-filter-menu .k-primary {
   border-left-width: 1px;
   border-left-style: solid;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em 1.286em;
}

.k-grid-header th.k-header>.k-link {
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: inherit;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid-content tr:last-child > td,
.k-grid-content-locked tr:last-child > td {
    border-bottom-width: 0;
}

.k-grid tr td,
.k-pivot-layout .k-grid tr td
{
    border-bottom-width: 1px;
    border-style: solid;
}

.k-grouping-row + tr td {
    border-top-width: 0;
}

.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-grid-content tr td {
    border-left-width: 0;
}

.k-pager-numbers .k-state-selected {
    line-height: 2.429em;
    cursor: pointer;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    border-width: 2px 0 0;
    padding-top: .7em;
}

.k-pager-wrap {
    line-height: 1.286em;
    padding: .429em 0 .429em .25em;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link {
    height: 2.429em;
    line-height: 2.429em;
}

.k-pager-wrap .k-link,
.k-pager-sizes {
    padding: 0;
    min-width: 2.429em;
}

.k-pager-wrap .k-pager-numbers {

    .k-state-selected {
        margin-top: -.45em;
        padding-top: .5em;
        min-width: 2.429em;
    }

    &.k-state-expanded {

        .k-state-selected {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.k-pager-wrap input.k-textbox {
    height: 2.571em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-pager-wrap .k-pager-refresh {
    margin-right: 1.214em;
}

.k-pager-wrap .k-dropdown {
    width: 5.2em;
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: calc(@combobox-clear-icon-offset);
}

.k-combobox-clearable {
    .k-input {
        padding-right: @combobox-padding-x;
    }
}

.k-autocomplete .k-i-loading,
.k-multiselect .k-i-loading
{
    bottom: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.42857142em 0 0;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.42857142em;
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-popup.k-list-container {
    padding: 0.286em 0;

    &.k-popup-dropdowntree {
        padding: 0.286em;
    }
    &.k-popup-flush {
        padding: 0;
    }
}

.k-popup.k-calendar-container {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-popup > .k-group-header,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-popup .k-list .k-item {
    padding: 1px 11px;
}

.k-list-filter > .k-icon {
    right: 7px;

    .k-rtl & {
        left: 7px;
        right: auto;
    }
}

.k-fieldselector .k-pivot-configurator-settings li.k-item {
    padding-right: 3.8em;
}

.k-button {
    text-transform: uppercase;
}

.k-popup.k-calendar-container {
    padding: 0;
    border: 0;
}

.k-multiselect-wrap li {
    border-radius: 1.071em;
    margin: 3px 0 3px 3px;
    padding: 0 1.6em 0 .857em;
    line-height: calc(@input-height - 0.214em);
    min-height: calc((@input-height + 0.357em) - 6px);
}

.k-multiselect-wrap li span {
    margin-right: .4em;
}
.k-multiselect-wrap li span.k-icon {
    margin: 0;
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    display: block;
    height: ((@input-height + 0.354em) / 2);
}

.k-numerictextbox .k-link .k-i-arrow-60-up {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-60-down {
    vertical-align: top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-popup.k-context-menu {
    border-width: 1px;
    border-style: solid;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link {
    padding: 0.5em 4.929em 0.5em 1.714em;
}

.k-menu .k-item > .k-link {

    & > .k-i-arrow-60-right {
        right:  @menu-link-padding;
    }

    & > .k-i-arrow-60-left {
        right: auto;
        left:  @menu-link-padding;
    }
}

.k-menu .k-animation-container .k-menu-group {
    padding: 1.143em 0;
}

.k-column-menu .k-menu .k-animation-container .k-menu-group {
    padding: 0;
}

.k-column-menu .k-menu-vertical .k-separator {
    height: 0;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor.k-resizable .k-editable-area {
    padding-bottom: 20px;
}

.k-editor .k-editable-area .k-content {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 10px;
}

.k-toolbar {
    padding: 0.42857143em;

    .k-button {
        padding: @button-padding-x @button-padding-y;
        border-radius: 0;
    }
    .k-button,
    .k-split-button {
        margin-top: ~"calc(-0.42857143em - 1px)";
        margin-bottom: ~"calc(-0.42857143em - 1px)";
    }
    .k-split-button .k-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    .k-button-icon,
    .k-split-button-arrow {
        height: ~"calc(1.28571428em + (2*@{button-padding-x}) + 2px)"; // ensure inline-flex height
    }

    .k-button-icon {
        width: ~"calc(1.28571428em + (2*@{button-padding-x}) + 2px)";
    }

    & > .k-button:first-child:not(.k-overflow-anchor),
    .k-overflow-anchor + .k-button {
        margin-left: -0.42857143em;
    }
}

.k-toolbar .k-button-group .k-button {
    margin-left: 0;
}

.k-toolbar .k-input {
    text-indent: @input-indent;
    border: 0;
    margin: 0;
}

.k-toolbar .k-overflow-anchor {
    border-width: 1px;
    width: 3.42em;
    padding: 0;
    margin: 0;
}

.k-overflow-container .k-overflow-button,
.k-split-container .k-button {
    font-size: 1.2em;
}

.k-button-group .k-tool {
    margin: 6px 0;
}

.k-editor-toolbar li.k-tool-group,
.k-editor-toolbar li.k-overflow-tools {
    padding: 0;
    box-shadow: none;
}

.k-editor-toolbar .k-button-group .k-tool {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 0;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;
}

.k-filebrowser {

    .k-filebrowser-toolbar {
        display: flex;
    }

    .k-toolbar-wrap {
        display: inline-flex;
        align-items: center;
    }

    .k-upload .k-upload-button {
        vertical-align: bottom;
    }

    .k-search-wrap .k-search {
        right: 4px;
    }

    .k-search-wrap {
        padding: 2px .3em;
    }

    .k-tiles-arrange {
        margin-left: auto;

        .k-dropdown {
            width: 80px;
        }
    }
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

div.editorToolbarWindow.k-window-content {
    padding: 0;
}

.editorToolbarWindow .k-editortoolbar-dragHandle {
    line-height: 30px;
}

.k-file {
    padding: .643em .17em .643em 1em;
}

.k-scheduler-table td,
.k-scheduler-table th
{
    height:1.643em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-gantt .k-task-summary:before,
.k-gantt .k-task-summary-complete:before,
.k-gantt .k-task-summary:after,
.k-gantt .k-task-summary-complete:after {
    border-width: 0;
}

.k-gantt {
    .k-task {
        border-width: 0;
    }

    .k-task-actions {
        line-height: 2.429em;
    }

    .k-task-single {
        margin-top: -.429em;
    }

    .k-task-template {
        padding: .643em 1.4em .643em .6em;
    }

    .k-task-milestone {
        width: 17px;
        height: 17px;
    }

    .k-task-draghandle {
        margin: 0 23px;
        border-width: 8px;
        border-radius: 0 50% 50% 50%;
        border-style: solid;
        bottom: -11px;
    }

    .k-gantt-timeline .k-header {
        text-align: left;
    }
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 3.5em;
}

.k-gantt-edit-form > .k-edit-form-container {
    .k-textbox,
    .k-numerictextbox
    {
        width: 19.5em;
    }
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-slider-vertical .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle {
    width: 6px;
    height: 6px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
}

.k-colorpicker
{
    .k-picker-wrap {
        line-height: (@input-height + @input-padding-y*2);
    }

    .k-selected-color {
        @selected-icon-height: 2.42857142em;
        height: @selected-icon-height;
        width: @selected-icon-height;
        .k-i-line {
            line-height: @selected-icon-height;
            font-size: @selected-icon-height;
        }
    }
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected
{
    width: 10px;
    height: 10px;
}

.k-draghandle.k-state-focused.k-state-selected {
    margin-left: -2px;
}

.k-slider-horizontal .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected {
    top: -6px;
}

.k-slider-vertical .k-draghandle.k-state-selected {
    left: -4px;
}

// PanelBar
.k-panelbar-expand,
.k-panelbar-collapse {
    right: 16px;
}

// Grid
.k-header.k-grid-toolbar {
    border-color: #3343a4;
}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-grouping-header {
    padding-left: 1.286em;
}

.k-grid .k-icon {
    opacity: 0.45;
}

.k-grid-filter .k-icon {
    opacity: .7;
}

.k-grid {
    th.k-group-cell,
    td.k-group-cell {
        text-overflow: clip;
    }
}

form.k-filter-menu .k-textbox {
    margin-bottom: 7px;
}

// Scheduler
.k-gantt-toolbar,
.k-scheduler-toolbar .k-nav-today,
.k-scheduler-toolbar .k-scheduler-views,
.k-scheduler-footer .k-scheduler-fullday {
    text-transform: uppercase;
}

.k-scheduler-footer .k-icon.k-i-clock {
    display: none;
}

.k-gantt-toolbar > ul > li,
.k-scheduler-toolbar > ul > li {
    border-width: 0 0 2px 0;
}

.k-gantt-toolbar li .k-link,
.k-scheduler-toolbar li .k-link,
.k-gantt-toggle {
    vertical-align: middle;
    line-height: 46px;
}

.k-gantt-toggle {
    padding: 0
}

.k-gantt-actions {
    vertical-align: middle;
    line-height: 48px;
}

.k-gantt-actions > .k-button {
    vertical-align: middle;
}

.k-gantt-toolbar,
.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 44px;
    vertical-align: middle;
}

.k-scheduler-footer {
    padding: 0;
}

.k-popup-edit-form .k-primary {
    float: right;
}

.k-popup-edit-form:after {
    content: " ";
    display: block;
    clear: both;
}

.k-gantt-toolbar,
.k-scheduler-toolbar {
    padding: 0 1.286em;
}

.k-scheduler-navigation {
    margin-left: -.786em;
}

.k-drag-clue {
    font-size: 1em;
    padding: .65em 1em;
}

// Icons

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }
}

.k-splitbar-horizontal.k-state-focused {
    .k-resize-handle {
        background-position: -181px -6px;
    }
}

.k-splitbar-vertical.k-state-focused {
    .k-resize-handle {
        background-position: -70px -309px;
    }
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
    padding: .714em;
    margin: -.786em -.6em -.786em 0;
}




//RTL
.k-rtl,
[dir="rtl"] {
    .k-widget {
        .k-dropdown-wrap,
        .k-picker-wrap,
        .k-numeric-wrap {
            padding-left: 2.5em;
        }

        &.k-autocomplete > .k-i-close,
        &.k-multiselect > .k-multiselect-wrap > .k-i-close {
            right: initial;
            margin-right: 0;
        }

        &.k-combobox > .k-dropdown-wrap > .k-i-close {
            left: calc(@combobox-clear-icon-offset);
            right: initial;
        }

        &.k-datetimepicker .k-picker-wrap {
            padding-left: 5em;

            .k-icon {
                margin: 0 6px;
            }
        }
    }

    .k-menu .k-item,
    .k-widget.k-menu-horizontal > .k-item {
        border-width: 0;
    }

    .k-context-menu.k-menu-vertical > .k-item > .k-link,
    .k-menu .k-menu-group .k-item > .k-link {
        padding: 0.5em 1.714em 0.5em 4.929em;
    }

    .k-menu {
        .k-menu-group,
        &.k-menu-vertical  {
            .k-item > .k-link > .k-menu-expand-arrow {
                right: auto;
                left: 1.071em;
            }
        }
    }
}

.k-spreadsheet .k-spreadsheet-action-bar {
    font-size: @spreadsheet-action-bar-font-size;
}

.k-spreadsheet-window {
    .k-edit-label,
    .k-edit-field {
        padding: 0;
        line-height: 4em;
    }

    .k-edit-label > label {
        vertical-align: middle;
    }
}

div.k-spreadsheet-window {
    padding: 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog.k-window-content {
    min-width: 325px;
    width: 25.8em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 42em;
}

.k-edit-label,
.k-edit-form-container .editor-label,
.k-edit-field.k-no-editor {
    padding: 0.8em 0 1em;
}

.k-edit-form-container
{
    width: 410px;
}

.k-editor-dialog .k-root-tabs {
    padding: 0 1em;
}

.k-editor-dialog ul.k-tabstrip-items {
    padding: 0;
    border: 0;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 59px;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-textbox,
.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-dropdown {
    width: 15.74em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-numerictextbox + .k-dropdown,
.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    width: 4.7em;
}

.k-animation-container .k-popup.k-align .k-list .k-icon {
    line-height: 1.4em;
}

.k-animation-container .k-popup.k-align .k-list .k-i-align-remove {
    line-height: 1.6em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    padding: 0.6em 1.3em;
}


// RTL
.k-rtl,
[dir="rtl"] {

    .k-combobox-clearable {

        .k-input {
            padding-left: @combobox-padding-x;
        }
    }


    .k-toolbar {
        & > .k-button:first-child:not(.k-overflow-anchor),
        .k-overflow-anchor + .k-button {
            margin-right: -0.42857143em;
            margin-right: 0.2em;
        }
    }

    .k-gantt {

        .k-task-template {
            padding: .643em .6em .643em 1.4em;
        }

        .k-task-draghandle {
            border-radius: 50% 0 50% 50%;
        }
    }

    .k-popup-edit-form .k-primary {
        float: left;
    }
}
