/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #3f51b5;
@base: #fff;
@background: #fff;

@border-radius: 2px;
@icon-size: 16px;

@normal-background: #fff;
@normal-text-color: #444444;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #444444;
@hover-gradient: none;
@selected-background: #00b0ff;
@selected-text-color: #3f51b5;
@selected-gradient: none;

@error: #ffcdd2;
@warning: #fdefba;
@success: #c8e6c9;
@info: #bbdefb;

@series-a: #3f51b5;
@series-b: #03a9f4;
@series-c: #4caf50;
@series-d: #f9ce1d;
@series-e: #ff9800;
@series-f: #ff5722;

// graphics
@image-folder: "Material";
@texture: none;
@fallback-texture: none;

@import "type-material.less";
