/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.k-theme-test-class,
.ktb-theme-id-fiori {
  opacity: 0;
}
.ktb-var-accent {
  color: #007cc0;
}
.ktb-var-base {
  color: #f2f2f2;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 0;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #333;
}
.ktb-var-hover-background {
  color: #eaeaea;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #333;
}
.ktb-var-selected-background {
  color: #007cc0;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #ffd7d7;
}
.ktb-var-warning {
  color: #fef1d0;
}
.ktb-var-success {
  color: #cce8d8;
}
.ktb-var-info {
  color: #d1eaff;
}
.ktb-var-series-a {
  color: #008fd3;
}
.ktb-var-series-b {
  color: #99d101;
}
.ktb-var-series-c {
  color: #f39b02;
}
.ktb-var-series-d {
  color: #f05662;
}
.ktb-var-series-e {
  color: #c03c53;
}
.ktb-var-series-f {
  color: #acacac;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.k-button {
  border-radius: 0;
  border-color: #bfbfbf;
  color: #333;
  background-color: #f7f7f7;
  background-position: 50% 50%;
}
.k-button.k-state-default {
  border-color: #bfbfbf;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #333;
  border-color: #bfbfbf;
  background-color: #eaeaea;
}
.k-button:active,
.k-button.k-state-active {
  color: #fff;
  background-color: #007cc0;
  border-color: #005483;
}
.k-button.k-state-active:hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #0089d4;
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #007cc0;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #333;
  border-color: #bfbfbf;
  background-color: #f7f7f7;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #fff;
  border-color: #0089d4;
  background-color: #009df3;
}
.k-primary.k-state-default {
  border-color: #0089d4;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #0089d4;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #fff;
  border-color: #0075b6;
  background-color: #0075b6;
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #005483;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #fff;
  border-color: #0089d4;
  background-color: #009df3;
  box-shadow: none;
}
.k-button-group {
  border-radius: 0;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-split-button {
  border-radius: 0;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #333;
  background-color: #eaeaea;
  border-color: #bfbfbf;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #007cc0;
  outline: none;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #007cc0;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #333;
  background-color: #eaeaea;
  border-color: #007cc0;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #7d7d7d;
  background: #bfbfbf;
  background-image: none;
}
.k-edit-buttons {
  border-color: #bfbfbf;
  background: #f2f2f2;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #009df3;
}
.k-card {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-card .k-card-callout {
  border-color: #bfbfbf;
  background-color: #fff;
}
.k-card-header {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
}
.k-card-footer {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
}
.k-card-separator {
  border-color: #bfbfbf;
}
.k-card-actions {
  border-color: #bfbfbf;
}
.k-card.k-state-primary,
.k-card.k-card-primary {
  border-color: #80bee0;
  color: #003e60;
  background-color: #b3d8ec;
}
.k-card.k-state-info,
.k-card.k-card-info {
  border-color: #9cd2ff;
  color: #1c5280;
  background-color: #c3e4ff;
}
.k-card.k-state-success,
.k-card.k-card-success {
  border-color: #b1dcc3;
  color: #315c44;
  background-color: #d0eadb;
}
.k-card.k-state-warning,
.k-card.k-card-warning {
  border-color: #fde29d;
  color: #7d621d;
  background-color: #feedc4;
}
.k-card.k-state-error,
.k-card.k-card-error {
  border-color: #ff9f9f;
  color: #801f1f;
  background-color: #ffc5c5;
}
.k-chat {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  border-color: #f7f7f7;
  color: #333;
  background-color: #f7f7f7;
  transition: box-shadow 0.2s ease-in-out;
  -ms-flex-order: -1;
      order: -1;
}
.k-chat .k-alt .k-bubble {
  border-color: #007cc0;
  color: #ffffff;
  background-color: #007cc0;
}
.k-chat .k-quick-reply {
  border-color: #007cc0;
  color: #007cc0;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #007cc0;
  color: #ffffff;
  background-color: #007cc0;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #333;
  background-color: #fff;
}
.k-chat .k-message-box .k-button:hover {
  color: #007cc0;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #333;
  background-color: #f2f2f2;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #007cc0;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #fff;
  box-shadow: 0 0 20px 5px #fff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #fff;
}
.k-calendar {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-calendar > .k-header {
  border-color: #bfbfbf;
  color: #333;
  background-color: transparent;
  background-image: none;
}
.k-calendar th {
  border-color: #bfbfbf;
  color: #333;
  background-color: transparent;
}
.k-calendar .k-alt {
  border-color: #bfbfbf;
  color: #333;
  background-color: transparent;
}
.k-calendar .k-weekend {
  background-color: #e6e6e6;
}
.k-calendar .k-other-month {
  color: #7d7d7d;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #007cc0;
  box-shadow: inset 0 0 0 1px #007cc0;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #bfbfbf;
  color: #333;
  background-color: #eaeaea;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #007cc0;
  color: #fff;
  background-color: #007cc0;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 0px 1px #007cc0;
}
.k-calendar .k-footer .k-nav-today {
  color: #007cc0;
}
.k-calendar .k-footer .k-nav-today:hover {
  color: #006fac;
}
.k-calendar-range {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #bfbfbf;
  color: #333;
  background-color: #eaeaea;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #007cc0;
  color: #fff;
  background-color: #007cc0;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 0px 1px #007cc0;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(0, 124, 192, 0.3) 1px, rgba(0, 124, 192, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(0, 124, 192, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(0, 124, 192, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(0, 124, 192, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #007cc0;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #333;
}
.k-pdf-viewer .k-canvas {
  background-color: #fff;
}
.k-pdf-viewer .k-page {
  border-color: #bfbfbf;
  color: #333;
  background-color: white;
  box-shadow: 0 0 15px #bfbfbf;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #bfbfbf;
  background-color: #f7f7f7;
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #0089d4;
  background-color: #009df3;
}
.k-scrollview-elements {
  color: #fff;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #fff;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: #bfbfbf;
  color: #009df3;
  background-color: #fff;
}
.k-switch-on .k-switch-handle {
  border-color: #0089d4;
  color: #009df3;
  background-color: #009df3;
}
.k-switch-on:focus,
.k-switch-on.k-state-focused {
  box-shadow: none;
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: #007cc0;
  color: #009df3;
  background-color: #fff;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: #0089d4;
  color: #009df3;
  background-color: #009df3;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: #007cc0;
  color: #009df3;
  background-color: #fff;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: #0089d4;
  color: #009df3;
  background-color: #0089d4;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-switch-off .k-switch-handle {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f7f7f7;
}
.k-switch-off:focus,
.k-switch-off.k-state-focused {
  box-shadow: none;
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: #007cc0;
  color: #333;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: #007cc0;
  color: #333;
  background-color: #f7f7f7;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: #007cc0;
  color: #333;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: #bfbfbf;
  color: #333;
  background-color: #eaeaea;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
.k-pane-wrapper .k-pane > .k-view > .k-content {
  background-image: none;
  background-position: 50% 50%;
  background-color: #f2f2f2;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #333;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-sort-order,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-asc-sm,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-desc-sm {
  color: #007cc0;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-grid-filter.k-state-active,
.k-pane-wrapper .k-pane .k-grid-mobile .k-header-column-menu.k-state-active {
  color: #fff;
  background-color: #007cc0;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-resize-handle-inner::before {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-nav-current {
  color: #007cc0;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendadate {
  color: inherit;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #bfbfbf;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-wrap,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-datecolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-group-cell,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-all-day {
  background-color: #f2f2f2;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-other-month {
  background-color: #e5e5e5;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-tools > li,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-navigation {
  background-color: inherit;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header {
  background-color: #007cc0;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header .k-link {
  color: #fff;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-item,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-item,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-link {
  color: #333;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-clear,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-clear,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-select-all,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-select-all,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-resetSeries {
  color: #007cc0;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected {
  color: #007cc0;
  background: none;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected .k-link {
  color: inherit;
}
.k-filter .k-filter-preview-field {
  color: #007cc0;
}
.k-filter .k-filter-preview-operator {
  color: rgba(51, 51, 51, 0.6);
}
.k-filter .k-filter-item::before,
.k-filter .k-filter-toolbar::before,
.k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #bfbfbf;
}
.k-drawer {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #333;
  background-color: #eaeaea;
  background-image: none;
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #007cc0;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #333;
  background-color: #eaeaea;
}
.k-drawer-item.k-state-selected {
  color: #fff;
  background-color: #007cc0;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #fff;
  background-color: #006ca7;
}
.k-drawer-separator {
  background-color: #bfbfbf;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 124, 192, 0.5);
}
.k-rating-item {
  color: #bfbfbf;
}
.k-rating-item.k-state-selected {
  color: #009df3;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #009df3;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #009df3;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #007cc0;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #007cc0;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #fff;
  color: #333;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #bfbfbf #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}
.k-timeline .k-timeline-date {
  color: #333;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #7d7d7d;
  background-color: #bfbfbf;
  border-color: #f2f2f2;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #f7f7f7;
  border-color: #bfbfbf;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #007cc0;
}
.k-breadcrumb:focus,
.k-breadcrumb.k-state-focused {
  box-shadow: inset 0 0 0 1px #eaeaea;
}
.k-breadcrumb .k-breadcrumb-link {
  border-color: transparent;
  color: #007cc0;
  background-color: transparent;
}
.k-breadcrumb .k-breadcrumb-link:hover,
.k-breadcrumb .k-breadcrumb-link.k-state-hover {
  border-color: transparent;
  color: #006fac;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-link:focus,
.k-breadcrumb .k-breadcrumb-link.k-state-focused {
  border-color: false;
  color: #007cc0;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link {
  border-color: false;
  color: #333;
  background-color: false;
}
.k-breadcrumb .k-breadcrumb-root-link:hover,
.k-breadcrumb .k-breadcrumb-root-link.k-state-hover {
  border-color: false;
  color: false;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-root-link:focus,
.k-breadcrumb .k-breadcrumb-root-link.k-state-focused {
  border-color: false;
  color: false;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link,
.k-breadcrumb .k-breadcrumb-delimiter-icon {
  color: inherit;
}
.k-listgroup {
  border-radius: 0;
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-listgroup-flush {
  border-radius: 0;
}
.k-badge.k-badge-secondary {
  border-color: #f2f2f2;
  color: #333;
  background-color: #f2f2f2;
}
.k-badge.k-badge-primary {
  border-color: #009df3;
  color: #fff;
  background-color: #009df3;
}
.k-badge.k-badge-info {
  border-color: #38a4ff;
  color: #ffffff;
  background-color: #38a4ff;
}
.k-badge.k-badge-success {
  border-color: #63b887;
  color: #ffffff;
  background-color: #63b887;
}
.k-badge.k-badge-warning {
  border-color: #fbc43a;
  color: #000000;
  background-color: #fbc43a;
}
.k-badge.k-badge-error {
  border-color: #ff3e3e;
  color: #ffffff;
  background-color: #ff3e3e;
}
.k-badge-outline.k-badge-secondary {
  border-color: currentColor;
  color: #333;
  background-color: #fff;
}
.k-badge-outline.k-badge-primary {
  border-color: currentColor;
  color: #009df3;
  background-color: #fff;
}
.k-badge-outline.k-badge-info {
  border-color: currentColor;
  color: #38a4ff;
  background-color: #fff;
}
.k-badge-outline.k-badge-success {
  border-color: currentColor;
  color: #63b887;
  background-color: #fff;
}
.k-badge-outline.k-badge-warning {
  border-color: currentColor;
  color: #fbc43a;
  background-color: #fff;
}
.k-badge-outline.k-badge-error {
  border-color: currentColor;
  color: #ff3e3e;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 0;
  border-color: #999999;
  color: #007cc0;
  background-color: #fff;
}
.k-checkbox:checked::before {
  border-radius: 0;
}
.k-checkbox:hover {
  border-color: #007cc0;
  color: #007cc0;
  background-color: #fff;
}
.k-checkbox:focus {
  box-shadow: none;
  border-color: #007cc0;
}
.k-checkbox:indeterminate,
.k-checkbox.k-state-indeterminate {
  border-color: #999999;
  color: #007cc0;
  background-color: #fff;
}
.k-checkbox:checked {
  border-color: #999999;
  color: #007cc0;
  background-color: #fff;
}
.k-checkbox:checked:focus {
  box-shadow: none;
  border-color: #007cc0;
}
.k-checkbox.k-invalid,
.k-checkbox.k-state-invalid {
  border-color: #fff;
}
.k-radio {
  border-color: #999999;
  color: #007cc0;
  background-color: #fff;
  border-radius: 50%;
}
.k-radio::before {
  border-radius: 50%;
}
.k-radio:hover {
  border-color: #007cc0;
  color: #007cc0;
  background-color: #fff;
}
.k-radio:focus {
  box-shadow: none;
  border-color: #007cc0;
}
.k-radio:checked {
  border-color: #999999;
  color: #007cc0;
  background-color: #fff;
}
.k-radio:checked:focus {
  box-shadow: none;
  border-color: #999999;
}
.k-filemanager {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-toolbar {
  border-color: #bfbfbf;
  color: false;
  background-color: false;
}
.k-filemanager-navigation {
  border-color: #bfbfbf;
  color: false;
  background-color: false;
}
.k-filemanager-breadcrumb {
  border-color: #bfbfbf;
  color: false;
  background-color: #f2f2f2;
}
.k-filemanager .k-dropzone-hovered {
  border-color: false;
  color: inherit;
  background-color: inherit;
}
.k-filemanager-listview {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item.k-state-selected .k-icon {
  border-color: false;
  color: #333;
  background-color: false;
}
.k-filemanager-listview .k-item .k-icon {
  border-color: false;
  color: #a3a3a3;
  background-color: false;
}
.k-filemanager-grid {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-preview {
  border-color: #bfbfbf;
  color: false;
  background-color: false;
}
.k-filemanager-preview .k-file-preview-wrapper .k-icon {
  border-color: false;
  color: #a3a3a3;
  background-color: false;
}
.k-filemanager-preview .k-file-size {
  color: inherit;
}
.k-filemanager-drag-hint {
  border-color: false;
  color: #ffffff;
  background-color: #007cc0;
}
.k-filemanager-drag-hint .k-icon {
  border-color: false;
  color: #ffffff;
  background-color: false;
}
.k-item {
  border-color: transparent;
}
.k-splitbar .k-resize-handle {
  background-color: #333;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #bfbfbf;
}
.k-group,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-popup {
  background-color: #fff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner,
.k-grid .k-state-selected:hover .k-group-cell {
  background-color: #f2f2f2;
}
.k-list-container {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: transparent;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: rgba(0, 0, 0, 0);
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #bfbfbf;
  background-color: #007cc0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #bfbfbf;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #333;
}
.k-input[readonly] {
  background-color: #fff;
  color: #333;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #333;
}
.k-inverse {
  color: #fff;
}
.k-block {
  color: #333;
}
.k-link,
.k-nav-current.k-state-hover .k-link {
  color: #007cc0;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #333;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #333;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-image: none;
  background-position: 50% 50%;
  background-color: #f2f2f2;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-treemap-tile {
  background-color: #f2f2f2;
}
.k-overflow-container > .k-button,
.k-split-container > .k-button,
.k-toolbar .k-button-group .k-button:not(:focus) {
  border-color: transparent;
}
.k-mediaplayer-toolbar {
  background-color: rgba(242, 242, 242, 0.85);
}
.k-hr {
  border-color: #bfbfbf;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.6;
}
.k-tool {
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Fiori/loading.gif');
}
.k-loading-image {
  background-image: url('Fiori/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #707070;
  background-color: #f2f2f2;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #707070;
  background-color: #787878;
  box-shadow: none;
}
.k-scheduler {
  color: #fff;
  background-color: #f2f2f2;
}
.k-scheduler-layout {
  color: #333;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #f2f2f2;
  color: #333;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #c9c9c9;
}
.k-scheduler-monthview .k-today {
  background: #e5e5e5;
}
.k-scheduler-weekview .k-scheduler-header th.k-today,
.k-scheduler-workWeekview .k-scheduler-header th.k-today {
  position: relative;
}
.k-scheduler-weekview .k-scheduler-header th.k-today:before,
.k-scheduler-workWeekview .k-scheduler-header th.k-today:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #007cc0;
}
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #e5e5e5;
}
.k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #e5e5e5;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-now-arrow {
  border-left-color: #666666;
}
.k-scheduler-now-line {
  background-color: #666666;
}
.k-event,
.k-task-complete {
  border-color: #007cc0;
  background: #007cc0 0 -257px none repeat-x;
  color: #fff;
}
.k-event-inverse {
  color: #333;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #333;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #fff;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #007cc0;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #333;
  border-color: #c9c9c9;
}
.k-panelbar > li > .k-link {
  color: #333;
}
.k-panelbar > .k-item > .k-link {
  border-color: #c9c9c9;
}
.k-panel > li.k-item {
  background-color: #fff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #fff;
  border-color: #c9c9c9;
  color: #333;
}
.k-fieldselector .k-list-container {
  background-color: #fff;
}
.k-button.k-bare {
  position: relative;
}
.k-button.k-bare:before {
  content: "";
  background-color: currentcolor;
  opacity: 0.12;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.k-button.k-bare.k-state-focused:before,
.k-button.k-bare:focus:before {
  display: block;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #007cc0;
}
.k-mediaplayer-toolbar .k-button.k-bare:active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-quality-list {
  margin-left: -23px !important;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-menu .k-state-selected > .k-link {
  color: #333;
  background-color: #e5f3ff;
}
.k-menu .k-link.k-state-active {
  background-color: #007cc0;
  color: #fff;
}
.k-menu .k-state-hover > .k-link,
.k-menu .k-menu-scroll-button:hover {
  color: #333;
  background-color: #eaeaea;
  border-color: #eaeaea;
  background-image: none;
}
.k-state-highlight {
  background: #fff;
  color: #333;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #eaeaea;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #007cc0;
  border-color: #007cc0;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #eaeaea;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #eaeaea;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #eaeaea;
  color: #fff;
}
.k-popup .k-list .k-item > .k-group {
  background: #eaeaea;
  color: #fff;
  border-bottom-left-radius: 0;
}
.k-marquee-text {
  color: #fff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  box-shadow: none;
}
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected {
  box-shadow: inset 0 0 0 1px #007cc0;
}
.k-listview > .k-state-selected {
  color: #333;
  background-color: #e6f3fe;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar .k-item .k-link.k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
  background-color: #007cc0;
}
.k-state-selected > .k-link:hover,
.k-panelbar > li > .k-state-selected:hover,
.k-panelbar .k-item .k-link.k-state-selected:hover,
.k-panelbar > li.k-state-default > .k-link.k-state-selected:hover {
  background-color: #0089d4;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #333;
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #333;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #eaeaea;
}
.k-textbox:hover,
.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover {
  background-image: none;
}
.k-pager-wrap {
  background-color: #f2f2f2;
  color: #333;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers,
.k-pager-wrap.k-pager-md .k-pager-numbers,
.k-pager-wrap.k-pager-sm .k-pager-numbers {
  background-color: #fff;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers .k-link:hover,
.k-pager-wrap.k-pager-md .k-pager-numbers .k-link:hover,
.k-pager-wrap.k-pager-sm .k-pager-numbers .k-link:hover {
  background-color: #eaeaea;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers .k-link.k-pager-nav,
.k-pager-wrap.k-pager-md .k-pager-numbers .k-link.k-pager-nav,
.k-pager-wrap.k-pager-sm .k-pager-numbers .k-link.k-pager-nav {
  background-color: #fff;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers .k-state-selected,
.k-pager-wrap.k-pager-md .k-pager-numbers .k-state-selected,
.k-pager-wrap.k-pager-sm .k-pager-numbers .k-state-selected {
  border-color: #007cc0;
  background-color: #e5f3ff;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers:hover,
.k-pager-wrap.k-pager-md .k-pager-numbers:hover,
.k-pager-wrap.k-pager-sm .k-pager-numbers:hover {
  border-color: #007cc0;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded {
  border-color: inherit;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #333;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
}
.k-dropdown .k-state-focused .k-input {
  color: #333;
}
.k-dropdown .k-state-hover .k-input {
  color: #333;
}
.k-state-error {
  border-color: #666666;
  background-color: #ffd7d7;
  color: #666666;
}
.k-state-disabled {
  opacity: 0.6;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #7d7d7d;
}
.k-file .k-upload-status {
  color: #333;
}
.k-progressbar-indeterminate {
  background: url('Fiori/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-slider-track {
  background-color: #bfbfbf;
}
.k-slider-selection {
  background-color: #007cc0;
}
.k-slider-horizontal .k-tick {
  background-image: url('Fiori/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Fiori/slider-v.gif');
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #bfbfbf;
  background-color: #fff;
  color: #333;
}
.k-widget.k-tooltip-validation {
  border-color: #fef1d0;
  background-color: #fef1d0;
  color: #996e03;
}
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #bfbfbf;
}
.k-callout-w {
  border-right-color: #bfbfbf;
}
.k-callout-s {
  border-top-color: #bfbfbf;
}
.k-callout-e {
  border-left-color: #bfbfbf;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #fef1d0;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #fef1d0;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #fef1d0;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #fef1d0;
}
.k-splitbar {
  background-color: #f2f2f2;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #666666;
}
.k-dropzone {
  color: #333;
  background-color: #f2f2f2;
  background-image: none;
  background-position: 50% 50%;
}
.k-file {
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-file:last-child {
  border-radius: 0 0 0 0;
}
.k-file-progress {
  color: #0072d1;
}
.k-file-progress .k-progress {
  background-color: #0072d1;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #48a06e;
}
.k-file-success .k-progress {
  background-color: #48a06e;
}
.k-file-error {
  color: #d70000;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper,
.k-file-error .k-file-group-wrapper,
.k-file-error .k-multiple-files-group-wrapper {
  color: #d70000;
  border-color: #d70000;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before,
.k-file-error .k-file-group-wrapper:before,
.k-file-error .k-multiple-files-group-wrapper:before {
  border-color: transparent transparent #d70000 #d70000;
}
.k-file-error .k-progress {
  background-color: #ffd7d7;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper,
.k-file-group-wrapper,
.k-multiple-files-group-wrapper {
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.k-file-invalid .k-file-name-invalid {
  color: #d70000;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper,
.k-file-invalid-group-wrapper,
.k-multiple-files-invalid-group-wrapper {
  color: #d70000;
  border-color: #d70000;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #bfbfbf #bfbfbf;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #d70000 #d70000;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #bfbfbf;
  border-left-color: #bfbfbf;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #d70000;
  border-left-color: #d70000;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #7d7d7d;
}
.k-upload .k-upload-selected {
  color: #007cc0;
  border-color: #bfbfbf;
}
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #eaeaea;
}
.k-tiles li.k-state-selected {
  border-color: #007cc0;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-widget {
  box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: none;
}
.k-state-selected {
  box-shadow: none;
}
.k-state-active {
  box-shadow: none;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-state-focused > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #bfbfbf;
}
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 13px 1px rgba(128, 128, 128, 0.2);
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.2);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.k-editor-inline ::selection {
  background-color: #007cc0;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #007cc0;
  text-shadow: none;
  color: #fff;
}
.k-notification {
  border-radius: 0;
}
.k-notification-info {
  background-color: #d1eaff;
  color: #333;
  border-color: #007cc0;
}
.k-notification-success {
  background-color: #cce8d8;
  color: #333;
  border-color: #48a06e;
}
.k-notification-warning {
  background-color: #fef1d0;
  color: #333;
  border-color: #fabd21;
}
.k-notification-error {
  background-color: #ffd7d7;
  color: #333;
  border-color: #ff7171;
}
.k-gantt .k-treelist {
  background: transparent;
}
.k-gantt .k-treelist .k-alt {
  background-color: rgba(0, 0, 0, 0);
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #007cc0;
}
.k-task-dot:after {
  background-color: #333;
  border-color: #333;
}
.k-task-dot:hover:after {
  background-color: #fff;
}
.k-task-summary {
  border-color: #cccccc;
  background: #cccccc;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #333;
  background: #333;
}
.k-state-selected.k-task-summary {
  border-color: #e5f3ff;
  background: #e5f3ff;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #007cc0;
  background: #007cc0;
}
.k-task-single {
  background-color: #0093e4;
  border-color: #007cc0;
  color: #fff;
}
.k-state-selected.k-task-single {
  border-color: #007cc0;
}
.k-line {
  background-color: #333;
  color: #333;
}
.k-state-selected.k-line {
  background-color: #007cc0;
  color: #007cc0;
}
.k-resource {
  background-color: #fff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 0;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 0;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 0 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #eaeaea;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 0;
}
.k-draghandle {
  border-radius: 0;
}
.k-gantt-toolbar li:first-child + li,
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-edit-field > .k-scheduler-navigation {
  border-radius: 0;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-gantt-toolbar li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 0;
}
.k-scheduler-mobile .k-event {
  border-radius: -1;
}
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-navigation > li {
  border-width: 0;
}
.k-rtl .k-scheduler-toolbar > ul > li:first-child {
  border-right-width: 0;
}
.k-rtl .k-gantt-toolbar > ul.k-gantt-views > li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li {
  border-width: 0 0 3px 0;
  border-color: transparent;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: none;
  background-position: 50% 50%;
  background-color: #fff;
  border-color: #bfbfbf;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
}
.k-multiselect-wrap {
  border-color: #bfbfbf;
}
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #007cc0;
  background-color: #fff;
  color: #333;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #fff;
  background-image: none;
  background-position: 50% 50%;
  border-color: #007cc0;
  box-shadow: none;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #007cc0;
  box-shadow: none;
}
.k-list-container {
  color: #333;
}
.k-nodata {
  color: #7d7d7d;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #333;
}
.k-state-default > .k-select {
  border-color: #bfbfbf;
}
.k-state-hover > .k-select {
  border-color: #007cc0;
}
.k-state-focused > .k-select {
  border-color: #007cc0;
}
.k-tabstrip:focus {
  box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #333;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link {
  color: #333;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #eaeaea;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: transparent;
}
.k-tabstrip-items .k-state-hover {
  border-color: #eaeaea;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #fff;
  background-image: none;
  border-color: #c9c9c9;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #333;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: transparent;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #c9c9c9;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-toolbar .k-button.k-state-disabled:focus,
.k-overflow-container .k-overflow-button:focus,
.k-overflow-container .k-overflow-button:focus:hover {
  border-color: #007cc0;
}
.k-overflow-container .k-separator {
  border-color: #c9c9c9;
}
.k-column-menu .k-separator {
  border-color: #c9c9c9;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: rgba(0, 0, 0, 0.2);
}
.k-grid-filter.k-state-active {
  background-color: #fff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #333;
  border-color: #c9c9c9;
  font-weight: bold;
}
.k-grouping-header {
  color: #333;
}
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px none;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #c9c9c9;
}
.k-button,
.k-split-button {
  border-radius: 2px;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 0;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #007cc0;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    background-image: none;
    background-position: 50% 50%;
    background-color: #fff;
    border-color: #bfbfbf;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #eaeaea;
    background-image: none;
    background-color: #eaeaea;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #333;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c9c9c9;
    background-color: #f2f2f2;
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 0;
  }
}
.k-split-button,
.k-split-button .k-button {
  border-radius: 0;
}
.k-list > .k-item.k-state-focused,
.k-treeview .k-in.k-state-focused {
  border-color: #007cc0;
}
.k-menu > .k-state-focused,
.k-menu-group > .k-state-focused {
  background-color: #eaeaea;
}
.k-textbox:hover,
.k-textbox:focus {
  border-color: #007cc0;
}
.k-splitbar {
  border-color: transparent;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
  border-color: #eaeaea;
}
.k-menu.k-header,
.k-tabstrip.k-header,
.k-tabstrip .k-tabstrip-items .k-item,
.k-header.k-scheduler-toolbar,
.k-scheduler-footer > .k-header {
  background-color: #fff;
}
.k-header.k-scheduler-views,
.k-header.k-datepicker,
.k-header.k-datetimepicker,
.k-header.k-timepicker,
.k-header.k-dropdown,
.k-scheduler-navigation > .k-header,
.k-header.k-gantt-views,
.k-gantt-navigation > .k-header {
  background-color: transparent;
}
.k-scheduler-header th,
.k-scheduler-times th {
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
  text-transform: uppercase;
}
.k-tabstrip .k-tabstrip-items .k-state-hover {
  border-color: transparent;
}
.k-tabstrip .k-tabstrip-items .k-state-hover .k-link {
  color: #007cc0;
}
.k-tabstrip .k-tabstrip-items .k-state-active {
  border-color: #007cc0;
}
.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
  color: #007cc0;
  border-color: #007cc0;
}
div.k-window,
div.k-window.k-state-focused {
  border-color: #666;
}
.k-window-titlebar.k-header {
  background: none;
  color: #666;
}
.k-list > .k-state-selected,
.k-drag-clue.k-state-selected,
.k-group > .k-item > .k-state-selected,
.k-group > .k-item > .k-link.k-state-selected,
.k-group > .k-item > .k-link.k-state-selected.k-state-hover,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #e5f3ff;
  color: #333;
}
.k-grid tr:hover {
  background-color: #eaeaea;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px #007cc0;
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
  color: #333;
  background-color: #e6f3fe;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #d6ecff;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #fff;
  color: #333;
}
.k-gantt-treelist {
  background: #f2f2f2;
}
.k-grid tr td,
.k-grid tr th {
  border-left-color: transparent;
}
.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
  background: none;
  border-radius: 0;
}
.k-pager-wrap > .k-link,
.k-pager-wrap > .k-link.k-state-disabled:hover,
.k-pager-wrap > .k-link:hover,
.k-pager-numbers .k-link:hover {
  border-radius: 0;
  border-color: transparent;
}
.k-pager-wrap > .k-link:hover {
  border-color: #bfbfbf;
}
.k-pager-numbers .k-link {
  border-color: transparent;
}
.k-grouping-header,
.k-grid-toolbar {
  padding: 0.714em;
}
.k-window .k-edit-buttons {
  background: #000;
}
.k-scheduler .k-scheduler-views .k-state-selected,
.k-gantt .k-gantt-views .k-state-selected {
  background: none;
}
.k-gantt .k-gantt-views > li {
  border-radius: 0;
}
.k-gantt .k-gantt-views .k-state-selected {
  border-color: #007cc0;
}
.k-task-summary-complete {
  border-color: #007cc0;
  background: #007cc0;
}
.k-state-selected .k-task-summary-complete {
  border-color: #0075b6;
  background: #0075b6;
}
.k-task-milestone {
  border-color: #99d101;
  background: #99d101;
}
.k-task-dot:after {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}
.k-task-dot:hover:after {
  background-color: #444;
}
.k-scheduler-views .k-link:link,
.k-scheduler-views .k-link:visited,
.k-gantt-views .k-link:link,
.k-gantt-views .k-link:visited,
.k-scheduler-navigation .k-nav-today .k-link,
.k-group-indicator .k-link,
.k-pager-numbers .k-link {
  color: #333;
}
.k-scheduler .k-scheduler-views > .k-state-selected > .k-link,
.k-gantt .k-gantt-views > .k-state-selected > .k-link,
.k-pager-numbers .k-state-selected {
  color: #007cc0;
}
.k-scheduler-toolbar .k-scheduler-views > li > .k-link,
.k-gantt-toolbar .k-gantt-views > li > .k-link {
  background: none;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-gantt .k-gantt-toolbar ul li.k-state-hover {
  background: none;
  border-color: transparent;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-selected,
.k-gantt .k-gantt-toolbar ul li.k-state-selected {
  border-color: #007cc0;
}
.k-scheduler .k-scheduler-toolbar .k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-state-hover .k-link {
  color: #007cc0;
}
.k-scheduler-table .k-other-month,
.k-scheduler-header th,
.k-scheduler-dayview .k-scheduler-header .k-scheduler-header-wrap th.k-today {
  background: #fff;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #fff;
}
.k-scheduler-header tr + tr > th {
  border-top-color: #c9c9c9;
}
.k-scheduler-header th {
  height: 2.714em;
}
.k-scheduler .k-scheduler-datecolumn,
.k-scheduler .k-scheduler-timecolumn {
  width: 150px;
  padding-left: 7px;
  padding-right: 7px;
}
.k-dropdown .k-dropdown-wrap {
  background-color: #fff;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  color: #333;
}
.k-popup .k-item > .k-group {
  color: #333;
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views {
    right: 0;
    top: 0;
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views {
    right: auto;
    left: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    background-image: none;
    background-position: 50% 50%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    text-align: right;
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    text-align: left;
    padding-left: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
    padding-top: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: transparent;
    background-image: none;
    background-color: transparent;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #333;
    min-width: 20px;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 16px;
    height: 16px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    background-color: #f2f2f2;
    border-radius: 0;
    border-width: 1px;
    background-image: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    text-align: left;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=68);
  -moz-opacity: 0.68;
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e5e5e5;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  background-color: #00b0ff;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #00b0ff;
  border-color: #00b0ff;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #3f51b5;
  height: 4px;
}
.k-chart-tooltip {
  background-image: none;
}
.k-map .k-marker {
  font-size: 28px;
  color: #007cc0;
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #f2f2f2;
  background-image: none;
  color: #000000;
  border-color: #bfbfbf;
}
.k-spreadsheet-top-corner {
  border-color: #bfbfbf;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #bfbfbf #bfbfbf transparent;
}
.k-spreadsheet-pane {
  border-color: #bfbfbf;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #dedede;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #bfbfbf;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 124, 192, 0.2);
  background-color: rgba(0, 124, 192, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #007cc0;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #007cc0;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #007cc0;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #007cc0;
  box-shadow: inset 0 0 0 1px #007cc0;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #fff;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 124, 192, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #007cc0;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #007cc0, inset -1px 0 0 1px #007cc0;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #007cc0, inset 0 -1px 0 1px #007cc0;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #007cc0, inset -1px -1px 0 1px #007cc0;
}
.k-spreadsheet-active-cell.k-single {
  color: #333;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #333;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #007cc0;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #007cc0;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #007cc0;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 124, 192, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #333;
  background-color: #fff;
  border-color: #bfbfbf;
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #007cc0 #007cc0 transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #ff7171 transparent transparent #ff7171;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #bfbfbf;
}
.k-spreadsheet-filter {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #dedede;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #007cc0;
}
.k-spreadsheet-filter:hover {
  color: #333;
  background: #eaeaea;
  border-color: #d6d6d6;
}
.k-action-window .k-action-buttons {
  border-color: #bfbfbf;
  background: #f2f2f2;
}
.k-spreadsheet-sample {
  color: #808080;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #bfbfbf;
  border-radius: 0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #bfbfbf;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 0;
}
.k-spreadsheet-popup .k-separator {
  background-color: #bfbfbf;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #eaeaea;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #007cc0;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #005b8d;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #bfbfbf;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #bfbfbf;
  border-radius: 0 0 0 0;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #008fd3;
  background-color: rgba(0, 143, 211, 0.15);
}
.k-series-b {
  border-color: #99d101;
  background-color: rgba(153, 209, 1, 0.15);
}
.k-series-c {
  border-color: #f39b02;
  background-color: rgba(243, 155, 2, 0.15);
}
.k-series-d {
  border-color: #f05662;
  background-color: rgba(240, 86, 98, 0.15);
}
.k-series-e {
  border-color: #c03c53;
  background-color: rgba(192, 60, 83, 0.15);
}
.k-series-f {
  border-color: #acacac;
  background-color: rgba(172, 172, 172, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #007cc0;
  color: #fff;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #bfbfbf;
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #007cc0;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #007cc0;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(0, 124, 192, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #007cc0 transparent transparent #007cc0;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #ff7171 #ff7171 transparent transparent;
}
.k-spreadsheet-name-editor .k-select {
  background-color: #eaeaea;
}
.k-dialog .k-window-titlebar .k-dialog-title {
  font-size: 1.2em;
}
.k-dialog .k-dialog-buttongroup .k-button {
  border-top: 0;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary) {
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 #131313;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary):hover {
  background-color: #464646;
}
.k-dialog .k-dialog-buttongroup .k-button:not(.k-primary):focus {
  border-color: #007cc0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 0.9em 0.9em;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #bfbfbf;
  background: #f2f2f2;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  padding-left: 1.7em;
  padding-right: 1.7em;
  border-radius: 0;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  -ms-flex-direction: column;
      flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 0.45em 0.45em;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 0.63em 0.63em;
}
.k-rtl .k-dialog .k-window-titlebar .k-dialog-title {
  padding-right: 0;
  padding-left: 2em;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #ff7171;
  position: absolute;
  top: 0;
  right: 2.2em;
  width: 2.2em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-numeric-wrap.k-state-invalid .k-select {
  border-color: #ff7171;
}
.k-numeric-wrap.k-state-invalid input {
  color: #ff7171;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 2.2em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #ff7171;
  color: #ff7171;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #ff7171;
  opacity: 1;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #ff7171;
  border-color: #ff7171;
}
.k-dateinput.k-state-invalid .k-i-warning {
  opacity: 1;
  margin-left: 0;
  margin-right: 0.8em;
  color: #ff7171;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.8em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff7171;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #ff7171;
  margin-left: 0;
  margin-right: 2.8em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.8em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff7171;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff7171;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #ff7171;
  margin-left: 0;
  margin-right: 5.6em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.6em;
}
.k-listbox .k-list-scroller {
  border-color: #bfbfbf;
  background-color: #fff;
}
.k-listbox .k-state-selected {
  border-color: transparent;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #007cc0;
}
.k-state-selected.k-drag-clue {
  border-width: 0;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #007cc0;
  opacity: 1;
  margin-bottom: -1px;
}
.k-menu-scroll-button {
  border-width: 0;
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
.k-dropdowngrid-popup {
  border-color: #bfbfbf;
  color: #333;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #bfbfbf;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: transparent;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #bfbfbf;
  color: #333;
  background-color: #f2f2f2;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #bfbfbf;
  color: #333;
  background-color: #eaeaea;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #bfbfbf;
  color: #333;
  background-color: #e6f3fe;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #333;
  color: #fff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #333;
}
.k-calendar {
  text-transform: uppercase;
}
.k-calendar .k-nav-fast {
  color: #007cc0;
}
.k-calendar td {
  background-color: #f5f5f5;
}
.k-calendar .k-content {
  border-spacing: 1px;
}
