/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.65em;
@input-default-width: 12.4em;
@input-border-width: 1px;
@input-padding-x: 0;
@input-padding-y: 0.17857143em;
@input-indent: .571em;
@input-offset: (@input-height + .35em);

@icon-size: 16px;
@input-icon-width: calc(@input-height + .35em);

@combobox-padding-x: @input-offset;

@input-clear-icon-offset: ~"( (@{input-offset} - @{grid-size})/2 )";
@combobox-clear-icon-offset: ~"( @{input-offset} + ((@{input-offset} - @{grid-size})/2) )";
@multiselect-clear-icon-top-offset: ~"( (@{input-height} - @{grid-size}) / 2 + @{input-padding-y} + 1px )";

@editor-icon-size: 2em;
@menu-link-padding: .5em 1.1em .4em;
@button-padding-x: 8px;
@button-padding-y: 4px;
@button-padding: @button-padding-y @button-padding-x;
@button-line-height: (20 / 14);
@disabled-button-opacity: 0.6;

@treeview-inner-padding: 1px 0.3333em 1px 0.25em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .22em .2em .28em;
@grid-th-padding: .5em .6em .4em .6em;
@icon-positioning: "material";

@window-border-width: 1px;
@window-border-style: solid;

@window-sizes: {
    sm: 300px;
    md: 800px;
    lg: 1200px;
};

@window-titlebar-padding-x: 12px;
@window-titlebar-padding-y: 12px;
@window-titlebar-border-width: 0;
@window-titlebar-border-style: solid;

@window-title-font-size: 1.2em;
@window-title-line-height: 1.25;

@window-inner-padding-x: @window-titlebar-padding-x;
@window-inner-padding-y: @window-inner-padding-x;

@grid-padding-x: 8px;
@grid-padding-y: 6px;

@grid-header-padding-x: @grid-padding-x;
@grid-header-padding-y: 4px;

@grid-footer-padding-x: @grid-header-padding-x;
@grid-footer-padding-y: @grid-header-padding-y;

@grid-cell-padding-x: @grid-padding-x;
@grid-cell-padding-y: @grid-padding-y;

@grid-search-width: 15.7em;

// Calendar
@calendar-padding-x: 0;
@calendar-padding-y: 0;
@calendar-border-width: 1px;
@calendar-border-radius: 0;
@calendar-font-size: 14px;
@calendar-line-height: (20 / 14);

@calendar-header-padding-x: 2px;
@calendar-header-padding-y: 2px;
@calendar-header-border-width: 0;
@calendar-header-button-padding-x: 4px;
@calendar-header-button-padding-y: 4px;
@calendar-header-button-border-width: 0;
@calendar-header-button-border-radius: @calendar-border-radius;

@calendar-content-padding-x: 0;
@calendar-content-padding-y: 0;

@calendar-cell-padding-x: .75em;
@calendar-cell-padding-y: .75em;
@calendar-cell-border-radius: @calendar-border-radius;
@calendar-cell-line-height: (20 / 14);
@calendar-cell-size: ( (40px / 14px ) * 1em );

@calendar-header-cell-padding-x: 2px;
@calendar-header-cell-padding-y: (@calendar-cell-padding-y / 2);
@calendar-header-cell-border-width: 1px;
@calendar-header-cell-font-size: 12px;
@calendar-header-cell-line-height: (20 / 14);
@calendar-header-cell-size: @calendar-cell-size;

@calendar-meta-cell-size: ( (60px / @calendar-font-size) * 1em );

// Multiviewcalendar
@multiviewcalendar-font-size: @calendar-font-size;
@multiviewcalendar-line-height: @calendar-line-height;

@multiviewcalendar-header-padding-x: 16px;
@multiviewcalendar-header-padding-y: 8px;

@multiviewcalendar-content-padding-x: 16px;
@multiviewcalendar-content-padding-y: 8px;

@multiviewcalendar-cell-padding-x: @calendar-cell-padding-x;
@multiviewcalendar-cell-padding-y: @calendar-cell-padding-y;
@multiviewcalendar-cell-border-radius: @calendar-border-radius;
@multiviewcalendar-cell-line-height: @calendar-cell-line-height;
@multiviewcalendar-cell-size: @calendar-cell-size;

@multiviewcalendar-centuryview-cell-padding-x: (.8 * @multiviewcalendar-cell-padding-x);
@multiviewcalendar-centuryview-cell-padding-y: (.8 * @multiviewcalendar-cell-padding-y);

@multiviewcalendar-header-cell-font-size: 12px;

// ScrollView
@scrollview-pagebutton-size: 8px;
@scrollview-navigation-size: 4.5em;

@scrollview-pager-offset: 20px;
@scrollview-pager-item-spacing: 20px;
@scrollview-pager-item-border-width: 0;
@scrollview-pager-height: calc(@scrollview-pagebutton-size + (2 * @scrollview-pager-item-border-width) + (@scrollview-pager-item-spacing / 2 ));

// Switch
@switch-size: 5em;
@switch-border-radius: 0;
@switch-font-size: 12px;

@switch-track-size: null;
@switch-container-border-width: 1px;
@switch-container-padding-x: 2px;
@switch-container-padding-y: @switch-container-padding-x;

@switch-handle-size: (.4 * @switch-size);
@switch-handle-border-radius: 0;
@switch-handle-border-width: 1px;

@switch-label-display: inline;
@switch-label-outer-spacing: 8px;
@switch-label-inner-spacing: 2px;
@switch-label-spacing: calc(@switch-label-outer-spacing + @switch-label-inner-spacing);

@switch-label-position: calc(@switch-label-outer-spacing - @switch-container-border-width);
@switch-label-width: calc(100% - @switch-handle-size - @switch-label-spacing - @switch-container-padding-x);
@switch-on-left-x: calc(100% - @switch-handle-size);

// Pager
@pager-button-border-radius-sm: 0;
@pager-button-border-radius-lg: @pager-button-border-radius-sm;
@pager-button-width: 2em;
@pager-button-height: @pager-button-width;
@pager-button-margin: 0.08333em;

// Pdf Viewer
@pdf-viewer-page-spacing: 30px;

@pdf-viewer-action-buttons-top-offset: 10px;
@pdf-viewer-action-buttons-padding: 10px;

@pdf-viewer-search-dialog-input-button-height: @input-height;
@pdf-viewer-search-dialog-textbox-padding-x: @input-padding-y;

@pdf-viewer-search-dialog-matches-width: 4.5em;

@pdf-viewer-search-dialog-spacing: calc(0.35714285em - 0.2em);
@pdf-viewer-search-dialog-button-spacing: @pdf-viewer-search-dialog-spacing;

// Card
@form-line-height: (20 / 14);
@card-title-font-size: 19px;
@card-subtitle-font-size: 12px;
@card-border-radius: 4px;
@card-border-width: 1px;
@card-header-padding-x: 16px;
@card-header-padding-y: 12px;
@card-header-border-width: 1px;
@card-footer-padding-x: 16px;
@card-footer-padding-y: 12px;
@card-footer-border-width: 1px;
@card-body-padding-x: 16px;
@card-body-padding-y: 12px;
@paragraph-margin-bottom: 8px;
@card-title-margin-bottom: 8px;
@card-subtitle-margin-bottom: 8px;
@card-actions-padding-x: 16px;
@card-actions-padding-y: 4px;
@card-actions-border-width: 1px;
@card-button-padding-x: 8px;
@card-button-padding-y: 4px;
@card-img-max-width: 100px;
@card-deck-gap: 16px;

@card-deck-scroll-button-radius: 0;
@card-deck-scroll-button-offset: -1px;

@card-callout-width: 20px;
@card-callout-height: 20px;

// Drawer
@drawer-border-width: 1px;
@drawer-content-padding-x: 8px;
@drawer-content-padding-y: 8px;

@drawer-scrollbar-width: 7px;
@drawer-scrollbar-radius: 20px;

@drawer-item-padding-x: 8px;
@drawer-item-padding-y: 8px;
@drawer-item-font-size: 16px;
@drawer-item-line-height: 1.5;

@drawer-icon-size: 18px;
@drawer-mini-initial-width: calc(4 * @drawer-item-padding-x + @drawer-icon-size);

// Rating
@rating-container-margin-x: 4px;

@rating-item-padding-x: 4px;
@rating-item-padding-y: 4px;

@rating-label-margin-x: 8px;
@rating-label-margin-y: 4px;
@rating-label-line-height: 1.5;

@rating-font-size: 14px;
@rating-icon-size: 24px;

// Spreadsheet
@spreadsheet-insert-image-dialog-margin: 0 1em;
@spreadsheet-insert-image-dialog-border-style: dashed;
@spreadsheet-insert-image-dialog-border-width: 2px;

@spreadsheet-insert-image-dialog-preview-width: 355px;
@spreadsheet-insert-image-dialog-preview-height: 200px;
@spreadsheet-insert-image-dialog-preview-padding: 10px;
@spreadsheet-insert-image-dialog-text-padding: 10px;

@spreadsheet-drawing-outline-style: solid;
@spreadsheet-drawing-outline-width: 2px;

@spreadsheet-drawing-handle-width: 6px;
@spreadsheet-drawing-handle-height: 6px;
@spreadsheet-drawing-handle-border-style: solid;
@spreadsheet-drawing-handle-border-width: 1px;


// Notification
@notification-border-width: 1px;

@notification-padding-x: 1.75em;
@notification-padding-y: 1.75em;
@notification-padding-end: 1.75em;

@notification-icon-spacing: 4px;


// Filter
@filter-bottom-margin: 2.1em;
@filter-line-size: 1px;
@filter-padding-x: 8px;
@filter-padding-y: 4px;
@filter-operator-dropdown-width: 15em;


// Timeline
@timeline-border-radius: 2px;
@timeline-border-radius-lg: 4px;
@timeline-spacing-x: 40px;
@timeline-spacing-y: 40px;
@timeline-items-padding: 16px;
@timeline-mobile-spacing-x: 16px;
@timeline-mobile-spacing-y: 16px;

@timeline-track-arrow-width: 30px;
@timeline-track-arrow-height: 30px;

@timeline-track-size: 6px;
@timeline-track-border-width: 1px;
@timeline-track-margin-bottom: 16px;
@timeline-track-start-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);
@timeline-track-end-calc: calc(@timeline-track-arrow-width - 2 * @timeline-track-border-width);

@timeline-track-event-offset: 36px;

@timeline-flag-padding-x: @button-padding-x;
@timeline-flag-padding-y: @button-padding-y;
@timeline-flag-line-height: @button-line-height;
@timeline-flag-min-width: 80px;
@timeline-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-spacing-x);
@timeline-mobile-flag-max-width: calc(@timeline-flag-min-width + 2 * @timeline-mobile-spacing-x);
@timeline-horizontal-flag-min-width: 60px;

@timeline-flag-callout-width: 10px;
@timeline-flag-callout-height: 10px;

@timeline-flag-offset-bottom: 4px;
@timeline-flag-margin-bottom-calc: calc(@timeline-track-size + 2 * @timeline-track-border-width + @timeline-flag-offset-bottom + @timeline-flag-callout-height);

@timeline-date-margin-bottom: 8px;
@timeline-date-width: 50px;

@timeline-vertical-padding-calc: calc(@timeline-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-vertical-padding-with-dates-calc: calc(@timeline-vertical-padding-calc + @timeline-date-width);
@timeline-mobile-vertical-padding-calc: calc(@timeline-mobile-spacing-x + (@timeline-flag-min-width - @timeline-track-size) / 2);
@timeline-mobile-vertical-padding-with-dates-calc: calc(@timeline-mobile-vertical-padding-calc + @timeline-date-width);

@timeline-circle-width: 16px;
@timeline-circle-height: 16px;

@timeline-collapse-arrow-padding-x: 8px;

@timeline-event-width: 400px;
@timeline-event-height: 600px;
@timeline-event-min-height-calc: calc(2 * @timeline-track-event-offset);


// Breadcrumb
@breadcrumb-min-height: 2.11em;

@breadcrumb-container-padding-x: 0;
@breadcrumb-container-padding-y: 0;

@breadcrumb-container-margin-x: 0;
@breadcrumb-container-margin-y: 0;

@breadcrumb-link-padding-x: @button-padding-x;
@breadcrumb-link-padding-y: @button-padding-y;
@breadcrumb-link-line-height: 1.6em;
@breadcrumb-link-border-radius: 4px;

@breadcrumb-icon-link-padding-x: @breadcrumb-link-padding-x;
@breadcrumb-icon-link-padding-y: @breadcrumb-icon-link-padding-x;

@breadcrumb-root-link-spacing: @breadcrumb-link-padding-x;
@breadcrumb-link-icon-spacing: @button-padding-x;

@breadcrumb-root-icon-font-size: @icon-size;
@breadcrumb-delimiter-icon-font-size: 12px;
@breadcrumb-delimiter-icon-padding-x: calc( @button-padding-x / 2 );
@breadcrumb-delimiter-icon-padding-y: 0;


// Listgroup
@listgroup-border-width: 1px;

@listgroup-item-padding-x: 1em;
@listgroup-item-padding-y: .5em;
@listgroup-item-border-width: 1px;


// Badge
@badge-font-size: 75%;
@badge-line-height: 1;

@badge-padding: @button-padding-y;
@badge-border-width: 1px;
@badge-border-radius: 0;

@badge-size: calc( @badge-line-height * 1em + 2 * @badge-padding + 2 * @badge-border-width );
@badge-overlay-x: calc( @badge-line-height * .5em + @badge-padding + @badge-border-width );
@badge-overlay-y: @badge-overlay-x;


// Checkbox
@icon-size: 16px;
@icon-spacing: 4px;

@checkbox-icon-size: 12px;
@checkbox-size: @icon-size;
// @checkbox-radius: @border-radius;
@checkbox-border-width: 1px;
@checkbox-line-height: (@checkbox-size + @checkbox-border-width);

@radio-icon-size: 12px;
@radio-size: @icon-size;
@radio-radius: 50%;
@radio-border-width: 1px;
@radio-line-height: @radio-size + @radio-border-width;


// FileManager
@filemanager-spacer: calc(@button-padding-y * 4);
@filemanager-border-width: 1px;

@filemanager-toolbar-border-width: 0 0 @filemanager-border-width 0;
@filemanager-toolbar-border-style: solid;
@filemanager-toolbar-font-weight: normal;
@filemanager-toolbar-spacing: .2em;

@filemanager-toolbar-search-tool-spacing: 0;

@filemanager-navigation-width: 20%;
@filemanager-navigation-border-width: 0 @filemanager-border-width 0 0;
@filemanager-navigation-border-style: solid;

@filemanager-navigation-container-padding-x: 0;
@filemanager-navigation-container-padding-y: @filemanager-spacer;

@filemanager-treeivew-spacing-x: @filemanager-spacer;
@filemanager-treeivew-spacing-y: 0;

@filemanager-breadcrumb-padding-x: @button-padding-x;
@filemanager-breadcrumb-padding-y: @button-padding-y;
@filemanager-breadcrumb-border-width: 0 0 @filemanager-border-width 0;
@filemanager-breadcrumb-border-style: solid;

@filemanager-listview-border-width: 0;

@filemanager-listview-item-padding-x: @button-padding-x;
@filemanager-listview-item-padding-y: @filemanager-listview-item-padding-x;
@filemanager-listview-item-width: 106px;
@filemanager-listview-item-height: 80px;

@filemanager-listview-item-icon-padding-x: 0;
@filemanager-listview-item-icon-padding-y: calc(@button-padding-y * 2);
@filemanager-listview-item-icon-size: calc(@icon-size * 1.5);

@filemanager-grid-row-height: 46px;
@filemanager-grid-header-height: @filemanager-grid-row-height;
@filemanager-grid-icon-spacing: @filemanager-spacer;

@filemanager-preview-width: 20%;
@filemanager-preview-border-width: 0 0 0 @filemanager-border-width;
@filemanager-preview-border-style: solid;

@filemanager-preview-container-padding: calc(@filemanager-spacer * 6) 0 @filemanager-spacer 0;

@filemanager-preview-file-spacing-x: 20px;
@filemanager-preview-file-spacing-y: 0;

@filemanager-preview-icon-size: calc(@icon-size * 3);

@filemanager-preview-title-padding-x: 0;
@filemanager-preview-title-padding-y: @filemanager-spacer;

@filemanager-preview-line-break-spacing: @filemanager-spacer;

@filemanager-drag-hint-padding-x: @button-padding-x;
@filemanager-drag-hint-padding-y: @button-padding-y;

@filemanager-drag-hint-icon-spacing: @button-padding-x;


@import "common/all.less";

.k-grid .k-header,
.k-gantt .k-grid-header,
.k-calendar .k-header,
.k-calendar .k-content thead,
.k-calendar .k-footer,
.k-tabstrip-items,
.k-scheduler-header .k-scheduler-table {
    text-transform: uppercase;
}

.k-scheduler-table th {
    font-weight: normal;
}

.k-scheduler-header th {
    text-align: left;
}

.k-event-actions .k-icon:first-child {
    margin-left: 4px;
}

.k-scheduler .k-scheduler-toolbar .k-nav-current {
    vertical-align: middle;
}

.k-scheduler-toolbar .k-i-calendar
{
    display: none;
}

.k-scheduler-toolbar .k-scheduler-views,
.k-scheduler-toolbar .k-nav-today,
.k-gantt-toolbar .k-gantt-views {
    text-transform: lowercase;
}

.k-webkit .k-combobox .k-dropdown-wrap:before,
.k-webkit .k-picker-wrap:before,
.k-webkit .k-numeric-wrap:before
{
    padding-bottom: 0.3em;
}

.k-filter-row .k-button {
    line-height: 1.14em;
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: calc(@combobox-clear-icon-offset);
}

.k-autocomplete,
.k-combobox > .k-dropdown-wrap {
    &.k-state-border-down {
       > .k-i-close {
           margin-top: -1px;
        }
    }
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item {
    min-height: 2em;
    line-height: 2em;
}

.k-popup .k-list .k-item,
.k-popup > .k-group-header,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel, .k-popup > .k-static-header {
    padding: 1px 7px 1px 7px;
}

.k-overflow-container .k-state-hover,
.k-overflow-container .k-state-focused,
.k-overflow-container .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel.k-state-focused,
.k-list-optionlabel.k-state-selected {
    padding: 0 6px;
}

.k-numerictextbox .k-link .k-i-arrow-60-up {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-60-down {
    vertical-align: top;
}

.k-treeview .k-in {
    line-height: 1.143em;
    padding: .429em .571em;
}

div.k-tooltip {
    border-radius: 3px;
    padding: 1.167em;
}

span.k-tooltip {
    padding: .643em 1.214em;
}

.k-tooltip .k-callout {
    display: none;
}

.k-ghost-splitbar-vertical,
.k-splitbar-vertical {
    height: 6px;
}

.k-splitter .k-ghost-splitbar-horizontal,
.k-splitter .k-splitbar-horizontal {
    width: 6px;
}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-header > .k-grid-filter,
.k-header > .k-header-column-menu {
    margin: -0.5em -0.4em -0.4em 0;
    padding: .4em .2em .5em;
}

.k-grouping-header {
    line-height: 2.6;
}

.k-grouping-header .k-group-indicator {
    padding: .21em .357em .21em .643em;
    line-height: 1.58em;
    margin: 0;
}

.k-grid-header th.k-header,
.k-gantt-timeline .k-grid-header .k-header
{
    padding-left: 1.286em;
}

.k-rtl .k-grid-header th.k-header,
.k-rtl .k-gantt-timeline .k-grid-header .k-header
{
    padding-right: 1.286em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
    font-weight: normal;
    font-size: 1.143em;
}

.k-grouping-row .k-icon {
    margin: -3px 14px 0 6px;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid-header th.k-header > .k-link
{
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: 1.143em;
}

.k-grid td {
    padding: .286em 1.286em;
}

.k-grid tr td
{
    border-width: 0 0 0 1px;
    border-style: solid;
}

.k-grid > table tr:first-child td,
.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-pager-wrap {
    padding: 0.357em 0 0.357em 0.250em;
}

.k-pager-numbers .k-link {
    border-width: 2px 0 0;
}

.k-pager-numbers .k-state-selected {
    margin-top: -0.35em;
    padding-top: .4em;
    border-width: 2px 0 0;
}

.k-pager-lg,
.k-pager-md,
.k-pager-sm {

    .k-pager-numbers.k-state-expanded {

        .k-state-selected {
            padding: 0;
        }
    }
}

.k-filter-menu {
    padding: 6px 15px 15px;
}

.k-filter-help-text,
.k-filter-menu .k-widget,
.k-filter-menu .k-textbox {
    margin: 0.429em 0 0;
}

.k-filter-menu .k-action-buttons .k-button {
    margin: .5em 0 0;
}

.k-filter-menu .k-action-buttons .k-primary {
    float: right;
}

.k-fieldselector .k-list li.k-item {
    line-height: 1.231em;
    padding: .192em 3.9em .192em 0;
}

.k-pivot-toolbar .k-button {
    padding: .5em 5em .5em .308em;
}

.k-pivot-layout > tbody > tr:first-child > td:first-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.k-field-actions {
    right: 4px;
    top: 6px;
}

.k-pivot-configurator-settings .k-field-actions {
    right: 2px;
    top: 2px;
}

.k-gantt-toolbar {
    line-height: 2.071em;
    padding: .357em
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.143em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 4.286em;
}

.k-gantt-timeline .k-header {
    line-height: normal;
}

.k-gantt {
    .k-task {
        border-width: 0;
    }

    .k-task-template {
        padding: .357em 1.4em .357em .6em;
    }

    .k-task-milestone {
        width: 17px;
        height: 17px;
    }

    .k-task-draghandle {
        border-width: 6px;
        border-radius: 0;
        border-style: solid;
        bottom: -1px;
        margin: 0 17px;
    }

    .k-gantt-timeline .k-header {
        text-align: left;
    }
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 2.174em;
}

.k-tabstrip.k-header {
    border: 0;
}

.k-tabstrip .k-tabstrip-items {
    padding: 0;
}

.k-tabstrip > .k-content {
    margin: 0;
}

.k-tabstrip > .k-button.k-bare {
    top: .1em;
}

.k-tabstrip-bottom > .k-button.k-bare {
    top: auto;
}

.k-panelbar .k-tabstrip-items .k-link {
    padding: .5em .786em;
}

.k-tabstrip-items .k-link {
    font-size: .857em;
    padding: .667em .786em;
}

.k-panel > .k-item > .k-link {
    font-size: 1em;
    line-height: 3.5em;
}

.k-panelbar > .k-item > .k-link.k-header {
    font-size: 1.429em;
    line-height: 2.5em;
}

.k-panelbar-expand,
.k-panelbar-collapse {
    right: 14px;
}

.k-panelbar .k-image {
    margin-top: .6em;
}

.k-menu .k-item > .k-link {
    padding: .786em 1.071em .786em 1.714em;
}

.k-menu .k-item > .k-link > .k-icon {
    margin-left: 5px;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link {
    padding: .786em 4.929em .786em 1.714em;
}

.k-menu .k-item > .k-link > .k-i-arrow-60-right {
    right: .7rem;
}

.k-toolbar {
    padding: 0.35714285em calc(0.35714285em - 0.2em);
}
.k-editor-toolbar li {
    padding: 0.35714285em;
}

.k-toolbar .k-overflow-anchor {
    width: 2.143em;
    height: 2.143em;
    border-width: 1px;
    padding: 0;
    margin: 6px;
    line-height: inherit;
}

.k-toolbar .k-button-group .k-button {
    margin-right: 0.143em;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor .k-editor-toolbar-wrap,
.k-editor .k-editable-area .k-content {
    border-width: 1px 0 0;
}

.k-editor.k-resizable .k-editable-area {
    padding-bottom: 20px;
}


.k-progressbar,
.k-progressbar-horizontal > .k-state-selected,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-progressbar > .k-reset,
.k-progressbar-horizontal .k-first,
.k-rtl .k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse .k-last,
.k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal .k-first,
.k-progressbar-vertical .k-last,
.k-progressbar > .k-state-selected,
.k-progressbar-vertical .k-first,
.k-progressbar > .k-state-selected.k-complete,
.k-rtl .k-progressbar > .k-state-selected.k-complete {
    border-radius: 0;
}

.k-rtl .k-dropdown-wrap,
.k-rtl .k-picker-wrap,
.k-rtl .k-numeric-wrap {
  padding-left: 2em;
}

.k-progressbar-horizontal {
    height: 1em;
}

.k-progressbar-vertical {
    width: 1em;
}

.k-progress-status-wrap {
    line-height: 1em;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle
{
    width: 6px;
    height: 18px;
    top: -9px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-alpha-slider .k-draghandle {
    width: 2px;
    height: 14px;
    top: -7px;
    border-width: 2px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
    padding: 0;
}

.k-flatcolorpicker .k-selected-color input.k-color-value {
    border-left-width: 1px;
    border-left-style: solid;
}

.k-flatcolorpicker .k-hsv-rectangle {
    border-top-width: 1px;
    border-top-style: solid;
}

.k-slider-vertical .k-draghandle
{
    width: 18px;
    height: 6px;
    left: -9px;
}

.k-widget.k-slider .k-slider-buttons .k-button
{
    border-width: 0;
    background: transparent;
}

.k-widget.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-widget.k-flatcolorpicker .k-alpha-slider .k-draghandle {
    margin-top: -1px;
    box-shadow: none;
}

.editorToolbarWindow {
    padding: 3px .857em;
}

.k-editortoolbar-dragHandle {
    line-height: 2em;
}

.k-nav-current>.k-link span+span {
    font-size: 1.786em;
}

.k-scheduler-table td,
.k-scheduler-table th {
    height: 1.286em;
}

.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 2.357em;
}

.k-scheduler-toolbar .k-link,
.k-scheduler-footer .k-link {
    padding: 0 .36em;
}

.k-scheduler-times th {
    text-align: left;
}

.k-scheduler-footer .k-i-clock {
    display: none;
}

.k-file {
    line-height: 1.143em;
    padding: .643em .17em .643em 1em;
}

.k-upload-status {
    line-height: 1.29em;
    top: auto;
    right: 12px;
}

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }
}

.k-splitbar-horizontal.k-state-focused {
    .k-resize-handle {
        background-position: -181px -6px;
    }
}

.k-splitbar-vertical.k-state-focused {
    .k-resize-handle {
        background-position: -70px -309px;
    }
}

.k-filter-menu:after {
    content: "";
    display: block;
    clear: both;
}

//RTL
.k-rtl,
[dir="rtl"] {
    .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
        margin: 0 2px;
    }

    .k-widget.k-autocomplete > .k-i-close,
    .k-widget.k-multiselect > .k-multiselect-wrap > .k-i-close {
        right: initial;
        margin-right: 0;
    }

    .k-widget.k-combobox > .k-dropdown-wrap > .k-i-close {
        left: calc(@combobox-clear-icon-offset);
        right: initial;
    }

    .k-radio:checked + .k-radio-label:after {
        right: 5px;
    }

    .k-menu .k-item > .k-link {
        padding: .786em 1.714em .786em 1.071em ;
    }

    .k-context-menu.k-menu-vertical > .k-item > .k-link,
    .k-menu .k-menu-group .k-item > .k-link {
        padding: .786em 1.714em .786em  4.929em;
    }

    .k-menu {
        &,
        &.k-menu-vertical {
            .k-item > .k-link > .k-i-arrow-60-left {
                left: .7rem;
                right: auto;
            }
        }
    }
}

.k-spreadsheet {
    .k-button-group .k-button {
        border-width: 1px;
    }

    .k-spreadsheet-sheets-bar {
        height: 36px;

        .k-button {
            padding: 5px;
        }
    }

    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            margin: 0 2px;
        }
    }

    .k-tabstrip-items  .k-link {
        padding: .4em;

        &.k-spreadsheet-sheets-remove {
            padding: 0;
            margin-left: .4em;
        }
    }
}

.k-spreadsheet-window {

    .k-edit-label > label {
        vertical-align: middle;
    }
}

div.k-spreadsheet-window {
    padding: 1em;
}

.k-editor-dialog .k-root-tabs {
    padding: 0 1em;
}

.k-editor-dialog ul.k-tabstrip-items {
    padding: 0;
    border: 0;
}

.k-spreadsheet-filter-menu > .k-menu .k-link {
    padding-left: 26px;
}
.k-spreadsheet-filter-menu > .k-menu .k-link .k-icon {
    margin-left: -26px;
    margin-right: 0;
}
