/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #1984c8;
@base: #f3f3f4;
@background: #fff;

@border-radius: 4px;
@icon-size: 16px;

@normal-background: #fff;
@normal-text-color: #515967;
@normal-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%";
@hover-background: #b6bdca;
@hover-text-color: #263248;
@hover-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%";
@selected-background: #1984c8;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%";

@error: #d92800;
@warning: #ff9800;
@success: #3ea44e;
@info: #2498bc;

@series-a: #007bc3;
@series-b: #76b800;
@series-c: #ffae00;
@series-d: #ef4c00;
@series-e: #a419b7;
@series-f: #430B62;

// graphics
@image-folder: "Silver";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
@column-highlight-background-color: lighten(@base, 1%);
@scheduler-nonwork-background-color: @base;

