/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.k-theme-test-class,
.ktb-theme-id-metro {
  opacity: 0;
}
.ktb-var-accent {
  color: #7ea700;
}
.ktb-var-base {
  color: #fff;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 0;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #787878;
}
.ktb-var-hover-background {
  color: #8ebc00;
}
.ktb-var-hover-gradient {
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
}
.ktb-var-hover-text-color {
  color: #fff;
}
.ktb-var-selected-background {
  color: #7ea700;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #ffded7;
}
.ktb-var-warning {
  color: #ffe44d;
}
.ktb-var-success {
  color: #ddffd0;
}
.ktb-var-info {
  color: #d0f8ff;
}
.ktb-var-series-a {
  color: #8ebc00;
}
.ktb-var-series-b {
  color: #309b46;
}
.ktb-var-series-c {
  color: #25a0da;
}
.ktb-var-series-d {
  color: #ff6900;
}
.ktb-var-series-e {
  color: #e61e26;
}
.ktb-var-series-f {
  color: #d8e404;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
.k-button {
  border-radius: 0;
  border-color: #dbdbdb;
  color: #000000;
  background-color: #fff;
  background-position: 50% 50%;
}
.k-button.k-state-default {
  border-color: #dbdbdb;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #ffffff;
  border-color: #8ebc00;
  background-color: #8ebc00;
}
.k-button:active,
.k-button.k-state-active {
  color: #fff;
  background-color: #729800;
  border-color: #729800;
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #8ebc00;
  background-color: #8ebc00;
}
.k-button:focus:active {
  box-shadow: inset 0 0 3px 1px #445b00;
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #8dbb00;
  box-shadow: none;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #000000;
  border-color: #dbdbdb;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #ffffff;
  border-color: #7ea700;
  background-color: #7ea700;
}
.k-primary.k-state-default {
  border-color: #7ea700;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #8ebc00;
  background-color: #8ebc00;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #729800;
  background-color: #729800;
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: none;
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #638300;
  box-shadow: none;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #ffffff;
  border-color: #7ea700;
  background-color: #7ea700;
  box-shadow: none;
}
.k-button-group {
  border-radius: 0;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-split-button {
  border-radius: 0;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #ffffff;
  background-color: #8ebc00;
  border-color: #8ebc00;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #8dbb00;
  outline: none;
  box-shadow: none;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #8dbb00;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #ffffff;
  background-color: #8ebc00;
  border-color: #8dbb00;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #cccccc;
  background: #fff;
  background-image: none;
}
.k-edit-buttons {
  border-color: #dbdbdb;
  background: #fff;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #7ea700;
}
.k-card {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-card .k-card-callout {
  border-color: #dbdbdb;
  background-color: #fff;
}
.k-card-header {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-card-footer {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-card-separator {
  border-color: #dbdbdb;
}
.k-card-actions {
  border-color: #dbdbdb;
}
.k-card.k-state-primary,
.k-card.k-card-primary {
  border-color: #bfd380;
  color: #3f5400;
  background-color: #d8e5b3;
}
.k-card.k-state-info,
.k-card.k-card-info {
  border-color: #9bf0ff;
  color: #1c7180;
  background-color: #c3f6ff;
}
.k-card.k-state-success,
.k-card.k-card-success {
  border-color: #b7ff9b;
  color: #37801c;
  background-color: #d4ffc3;
}
.k-card.k-state-warning,
.k-card.k-card-warning {
  border-color: #d9cb80;
  color: #5a4c00;
  background-color: #e8e0b3;
}
.k-card.k-state-error,
.k-card.k-card-error {
  border-color: #ffaf9f;
  color: #80301f;
  background-color: #ffcfc5;
}
.k-chat {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  border-color: #fff;
  color: #000000;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
  -ms-flex-order: -1;
      order: -1;
}
.k-chat .k-alt .k-bubble {
  border-color: #7ea700;
  color: #ffffff;
  background-color: #7ea700;
}
.k-chat .k-quick-reply {
  border-color: #7ea700;
  color: #7ea700;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #7ea700;
  color: #ffffff;
  background-color: #7ea700;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #787878;
  background-color: #fff;
}
.k-chat .k-message-box .k-button:hover {
  color: #7ea700;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #787878;
  background-color: #fff;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #7ea700;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #fff;
  box-shadow: 0 0 20px 5px #fff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #fff;
}
.k-calendar {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-calendar > .k-header {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
  background-image: none;
}
.k-calendar th {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-calendar .k-alt {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #f5f5f5;
}
.k-calendar .k-weekend {
  background-color: transparent;
}
.k-calendar .k-other-month {
  color: #cccccc;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #7ea700;
  box-shadow: inset 0 0 0 1px #7ea700;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #8ebc00;
  color: #ffffff;
  background-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
}
.k-calendar td.k-state-selected .k-link {
  border-color: #7ea700;
  color: #fff;
  background-color: #7ea700;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #678900;
}
.k-calendar .k-footer .k-nav-today {
  color: #7ea700;
}
.k-calendar .k-footer .k-nav-today:hover {
  color: #6f9300;
}
.k-calendar-range {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #8ebc00;
  color: #ffffff;
  background-color: #8ebc00;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #7ea700;
  color: #fff;
  background-color: #7ea700;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #678900;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(126, 167, 0, 0.3) 1px, rgba(126, 167, 0, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(126, 167, 0, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(126, 167, 0, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(126, 167, 0, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #7ea700;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #000000;
}
.k-pdf-viewer .k-canvas {
  background-color: #fff;
}
.k-pdf-viewer .k-page {
  border-color: #dbdbdb;
  color: #787878;
  background-color: white;
  box-shadow: 0 0 15px #dbdbdb;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #dbdbdb;
  background-color: #fff;
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #7ea700;
  background-color: #7ea700;
}
.k-scrollview-elements {
  color: #fff;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #fff;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: #dbdbdb;
  color: #7ea700;
  background-color: #fff;
}
.k-switch-on .k-switch-handle {
  border-color: #7ea700;
  color: #7ea700;
  background-color: #7ea700;
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: #7ea700;
  color: #7ea700;
  background-color: #fff;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: #8dbb00;
  color: #7ea700;
  background-color: #7ea700;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: #8ebc00;
  color: #7ea700;
  background-color: #fff;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: #8ebc00;
  color: #7ea700;
  background-color: #8ebc00;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-switch-off .k-switch-handle {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: #7ea700;
  color: #787878;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: #8dbb00;
  color: #787878;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: #8ebc00;
  color: #787878;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: #8ebc00;
  color: #787878;
  background-color: #8ebc00;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
.k-pane-wrapper .k-pane > .k-view > .k-content {
  background-position: 50% 50%;
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #787878;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-sort-order,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-asc-sm,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-desc-sm {
  color: #7ea700;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-grid-filter.k-state-active,
.k-pane-wrapper .k-pane .k-grid-mobile .k-header-column-menu.k-state-active {
  color: #fff;
  background-color: #7ea700;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-resize-handle-inner::before {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-nav-current {
  color: #7ea700;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendadate {
  color: inherit;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #ffffff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-wrap,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-datecolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-group-cell,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-all-day {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-other-month {
  background-color: #f5f5f5;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-tools > li,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-navigation {
  background-color: inherit;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header {
  background-color: #7ea700;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header .k-link {
  color: #fff;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-item,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-item,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-link {
  color: #787878;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-clear,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-clear,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-select-all,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-select-all,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-resetSeries {
  color: #7ea700;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected {
  color: #7ea700;
  background: none;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected .k-link {
  color: inherit;
}
.k-filter .k-filter-preview-field {
  color: #7ea700;
}
.k-filter .k-filter-preview-operator {
  color: rgba(120, 120, 120, 0.6);
}
.k-filter .k-filter-item::before,
.k-filter .k-filter-toolbar::before,
.k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #dbdbdb;
}
.k-drawer {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #fff;
  background-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #8ebc00;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #fff;
  background-color: #8ebc00;
}
.k-drawer-item.k-state-selected {
  color: #fff;
  background-color: #7ea700;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #fff;
  background-color: #6b8e00;
}
.k-drawer-separator {
  background-color: #dbdbdb;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(126, 167, 0, 0.5);
}
.k-rating-item {
  color: #dbdbdb;
}
.k-rating-item.k-state-selected {
  color: #7ea700;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #7ea700;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #7ea700;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #7ea700;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #7ea700;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #fff;
  color: #787878;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #dbdbdb #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #8ebc00;
}
.k-timeline .k-timeline-date {
  color: #787878;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #cccccc;
  background-color: #fff;
  border-color: #e6e6e6;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #fff;
  border-color: #dbdbdb;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #7ea700;
}
.k-breadcrumb:focus,
.k-breadcrumb.k-state-focused {
  box-shadow: inset 0 0 0 1px #8ebc00;
}
.k-breadcrumb .k-breadcrumb-link {
  border-color: transparent;
  color: #7ea700;
  background-color: transparent;
}
.k-breadcrumb .k-breadcrumb-link:hover,
.k-breadcrumb .k-breadcrumb-link.k-state-hover {
  border-color: transparent;
  color: #6f9300;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-link:focus,
.k-breadcrumb .k-breadcrumb-link.k-state-focused {
  border-color: false;
  color: #7ea700;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link {
  border-color: false;
  color: #000000;
  background-color: false;
}
.k-breadcrumb .k-breadcrumb-root-link:hover,
.k-breadcrumb .k-breadcrumb-root-link.k-state-hover {
  border-color: false;
  color: false;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-root-link:focus,
.k-breadcrumb .k-breadcrumb-root-link.k-state-focused {
  border-color: false;
  color: false;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link,
.k-breadcrumb .k-breadcrumb-delimiter-icon {
  color: inherit;
}
.k-listgroup {
  border-radius: 0;
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-listgroup-flush {
  border-radius: 0;
}
.k-badge.k-badge-secondary {
  border-color: #f2f2f2;
  color: #787878;
  background-color: #f2f2f2;
}
.k-badge.k-badge-primary {
  border-color: #7ea700;
  color: #ffffff;
  background-color: #7ea700;
}
.k-badge.k-badge-info {
  border-color: #37e1ff;
  color: #000000;
  background-color: #37e1ff;
}
.k-badge.k-badge-success {
  border-color: #6eff37;
  color: #000000;
  background-color: #6eff37;
}
.k-badge.k-badge-warning {
  border-color: #b39800;
  color: #ffffff;
  background-color: #b39800;
}
.k-badge.k-badge-error {
  border-color: #ff603e;
  color: #ffffff;
  background-color: #ff603e;
}
.k-badge-outline.k-badge-secondary {
  border-color: currentColor;
  color: #787878;
  background-color: #fff;
}
.k-badge-outline.k-badge-primary {
  border-color: currentColor;
  color: #7ea700;
  background-color: #fff;
}
.k-badge-outline.k-badge-info {
  border-color: currentColor;
  color: #37e1ff;
  background-color: #fff;
}
.k-badge-outline.k-badge-success {
  border-color: currentColor;
  color: #6eff37;
  background-color: #fff;
}
.k-badge-outline.k-badge-warning {
  border-color: currentColor;
  color: #b39800;
  background-color: #fff;
}
.k-badge-outline.k-badge-error {
  border-color: currentColor;
  color: #ff603e;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 0;
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-checkbox:checked::before {
  border-radius: 0;
}
.k-checkbox:hover {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-checkbox:focus {
  box-shadow: none;
  border-color: #7ea700;
}
.k-checkbox:indeterminate,
.k-checkbox.k-state-indeterminate {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-checkbox:checked {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-checkbox:checked:focus {
  box-shadow: none;
  border-color: #7ea700;
}
.k-checkbox.k-invalid,
.k-checkbox.k-state-invalid {
  border-color: #fff;
}
.k-radio {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
  border-radius: 50%;
}
.k-radio::before {
  border-radius: 50%;
}
.k-radio:hover {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-radio:focus {
  box-shadow: none;
  border-color: #cccccc;
}
.k-radio:checked {
  border-color: #cccccc;
  color: #7ea700;
  background-color: #fff;
}
.k-radio:checked:focus {
  box-shadow: none;
  border-color: #cccccc;
}
.k-filemanager {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-toolbar {
  border-color: #dbdbdb;
  color: false;
  background-color: false;
}
.k-filemanager-navigation {
  border-color: #dbdbdb;
  color: false;
  background-color: false;
}
.k-filemanager-breadcrumb {
  border-color: #dbdbdb;
  color: false;
  background-color: #fff;
}
.k-filemanager .k-dropzone-hovered {
  border-color: false;
  color: inherit;
  background-color: inherit;
}
.k-filemanager-listview {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item.k-state-selected .k-icon {
  border-color: false;
  color: #fff;
  background-color: false;
}
.k-filemanager-listview .k-item .k-icon {
  border-color: false;
  color: #c7c7c7;
  background-color: false;
}
.k-filemanager-grid {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-preview {
  border-color: #dbdbdb;
  color: false;
  background-color: false;
}
.k-filemanager-preview .k-file-preview-wrapper .k-icon {
  border-color: false;
  color: #c7c7c7;
  background-color: false;
}
.k-filemanager-preview .k-file-size {
  color: inherit;
}
.k-filemanager-drag-hint {
  border-color: false;
  color: #ffffff;
  background-color: #7ea700;
}
.k-filemanager-drag-hint .k-icon {
  border-color: false;
  color: #ffffff;
  background-color: false;
}
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
.k-splitbar .k-resize-handle {
  background-color: #787878;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #dbdbdb;
}
.k-group,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #fff;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #fff;
}
.k-list-container {
  border-color: #dbdbdb;
  background-color: #fff;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f5f5f5;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: contrst(#787878, #e0e0e0, #ffffff, 0.5);
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #dbdbdb;
  background-color: #fff;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #dbdbdb;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #787878;
}
.k-input[readonly] {
  background-color: #fff;
  color: #787878;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #787878;
}
.k-inverse {
  color: #ffffff;
}
.k-block {
  color: #787878;
}
.k-link,
.k-nav-current.k-state-hover .k-link {
  color: #787878;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #787878;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #787878;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item {
  background-position: 50% 50%;
  background-color: #fff;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-treemap-tile {
  background-color: #fff;
}
.k-mediaplayer-toolbar {
  background: rgba(255, 255, 255, 0.85);
}
.k-hr {
  border-color: #dbdbdb;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 1;
}
.k-clear-value {
  color: #787878;
}
.k-tool {
  border-color: transparent;
}
.k-i-loading {
  background-image: url('Metro/loading.gif');
}
.k-loading-image {
  background-image: url('Metro/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-draghandle {
  border-color: #8ebc00;
  background-color: #8ebc00;
  box-shadow: 0 1px 1px 0 rgba(95, 95, 95, 0.3);
}
.k-draghandle:hover {
  border-color: #7ea700;
  background-color: #7ea700;
  box-shadow: 0 1px 1px 0 rgba(95, 95, 95, 0.3);
}
.k-scheduler {
  color: #ffffff;
  background-color: #fff;
}
.k-scheduler-layout {
  color: #787878;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #fff;
  color: #787878;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #dbdbdb;
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #fafafa;
}
.k-scheduler-table .k-nonwork-hour {
  background-color: #f5f5f5;
}
.k-scheduler-mobile .k-scheduler-navigation .k-state-hover > .k-link {
  color: #787878;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-now-arrow {
  border-left-color: #e20000;
}
.k-scheduler-now-line {
  background-color: #e20000;
}
.k-event,
.k-task-complete {
  border-color: #7ea700;
  background: #7ea700 0 -257px none repeat-x;
  color: #ffffff;
}
.k-event-inverse {
  color: #72ff3c;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #787878;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #787878;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #7ea700;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #fff;
  color: #787878;
  border-color: #dbdbdb;
}
.k-panelbar > li > .k-link {
  color: #787878;
}
.k-panelbar > .k-item > .k-link {
  border-color: #dbdbdb;
}
.k-panel > li.k-item {
  background-color: #fff;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-header-column-menu.k-state-active {
  background-color: #ffffff;
  border-color: #7ea700;
  color: #7ea700;
}
.k-fieldselector .k-list-container {
  background-color: #ffffff;
}
.k-tabstrip-scrollable .k-button.k-bare:hover {
  background: #8ebc00 !important;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #7ea700;
}
.k-menu .k-state-selected > .k-link {
  color: #fff;
  background-color: #7ea700;
  border-color: #7ea700;
  background-image: none;
}
.k-menu .k-link.k-state-active {
  background-color: #ffffff;
  border-color: #7ea700;
  color: #000000;
}
.k-menu .k-state-hover > .k-link,
.k-menu .k-menu-scroll-button:hover {
  color: #fff;
  background-color: #8ebc00;
  border-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
}
.k-state-highlight {
  background: #ffffff;
  color: #000000;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #8ebc00;
}
.k-calendar-container.k-group {
  border-color: #dbdbdb;
}
.k-window-titlebar .k-link {
  border-radius: 0;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #fff;
  background-color: #7ea700;
  border-color: #7ea700;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #8ebc00;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #8ebc00;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #8ebc00;
  color: #fff;
}
.k-popup .k-list .k-item > .k-group {
  background: #8ebc00;
  color: #fff;
  border-bottom-left-radius: 0;
}
.k-marquee-text {
  color: #fff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  box-shadow: inset 0 0 0 1px #8ebc00;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 3px 1px #445b00;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar .k-item .k-link.k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #fff;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone {
  color: #fff;
  background-color: #8ebc00;
  border-color: #8ebc00;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #787878;
  border-color: #dbdbdb;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #8ebc00;
}
.k-textbox:hover,
.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
}
.k-pager-wrap {
  background-color: #fff;
  color: #787878;
}
.k-pager-wrap.k-pager-lg .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-md .k-pager-numbers.k-state-expanded,
.k-pager-wrap.k-pager-sm .k-pager-numbers.k-state-expanded {
  background-color: #fff;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #fff;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  color: #fff;
  background-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
  background-position: 50% 50%;
  border-color: #dbdbdb;
}
.k-dropdown .k-state-hover .k-input,
.k-dropdown .k-state-focused .k-input {
  color: #fff;
}
.k-state-error {
  border-color: #e20000;
  background-color: #ffded7;
  color: #454545;
}
.k-state-disabled {
  opacity: 0.6;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #cccccc;
}
.k-dropzone .k-upload-status {
  color: #787878;
}
.k-file .k-upload-status {
  color: #787878;
}
.k-upload-status .k-button:hover .k-i-delete,
.k-upload-status .k-button:hover .k-i-delete {
  background-color: #7ea700;
}
.k-progressbar-indeterminate {
  background: url('Metro/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
.k-progressbar-horizontal > .k-state-selected,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-rtl .k-progressbar-horizontal > .k-state-selected,
.k-progressbar-vertical > .k-state-selected,
.k-progressbar-vertical.k-progressbar-reverse > .k-state-selected,
.k-progressbar > .k-state-selected.k-complete,
.k-rtl .k-progressbar > .k-state-selected.k-complete,
.k-progressbar-horizontal .k-first,
.k-rtl .k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse .k-last,
.k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal .k-first,
.k-progressbar-vertical .k-first,
.k-progressbar-vertical .k-last {
  border-radius: 0;
}
.k-slider-track {
  background-color: #dbdbdb;
}
.k-slider-selection {
  background-color: #7ea700;
}
.k-slider-horizontal .k-tick {
  background-image: url('Metro/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Metro/slider-v.gif');
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  border-color: #92c100;
  background-color: #92c100;
  color: #ffffff;
}
.k-widget.k-tooltip-validation {
  border-color: #ffe44d;
  background-color: #ffe44d;
  color: #1a1600;
}
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #92c100;
}
.k-callout-w {
  border-right-color: #92c100;
}
.k-callout-s {
  border-top-color: #92c100;
}
.k-callout-e {
  border-left-color: #92c100;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #ffe44d;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #ffe44d;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #ffe44d;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #ffe44d;
}
.k-splitbar {
  background-color: #dbdbdb;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #454545;
}
.k-file {
  border-color: #dbdbdb;
}
.k-file:last-child {
  border-radius: 0 0 0 0;
}
.k-file-progress {
  color: #00869d;
}
.k-file-progress .k-progress {
  background-color: #d0f8ff;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #32b600;
}
.k-file-success .k-progress {
  background-color: #32b600;
}
.k-file-error {
  color: #c82300;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper,
.k-file-error .k-file-group-wrapper,
.k-file-error .k-multiple-files-group-wrapper {
  color: #c82300;
  border-color: #c82300;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before,
.k-file-error .k-file-group-wrapper:before,
.k-file-error .k-multiple-files-group-wrapper:before {
  border-color: transparent transparent #c82300 #c82300;
}
.k-file-error .k-progress {
  background-color: #c82300;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper,
.k-file-group-wrapper,
.k-multiple-files-group-wrapper {
  color: #cccccc;
  border-color: #cccccc;
}
.k-file-invalid .k-file-name-invalid {
  color: #c82300;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper,
.k-file-invalid-group-wrapper,
.k-multiple-files-invalid-group-wrapper {
  color: #c82300;
  border-color: #ffded7;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #cccccc #cccccc;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #ffded7 #ffded7;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #cccccc;
  border-left-color: #cccccc;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #ffded7;
  border-left-color: #ffded7;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #cccccc;
}
.k-upload .k-upload-selected {
  color: #7ea700;
  border-color: #dbdbdb;
}
.k-upload .k-upload-selected:hover {
  color: #ffffff;
}
.k-tile {
  border-color: #fff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #8ebc00;
}
.k-tiles li.k-state-selected {
  border-color: #7ea700;
}
.k-leaf,
.k-leaf.k-state-hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover {
  color: #000;
}
.k-slider,
.k-treeview,
.k-upload {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: none;
}
.k-state-selected {
  box-shadow: none;
}
.k-state-active {
  box-shadow: none;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #dbdbdb;
}
.k-window {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.2);
  background-color: #fff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.k-editor-inline ::selection {
  background-color: #7ea700;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #7ea700;
  text-shadow: none;
  color: #fff;
}
.k-notification {
  border-radius: 0;
}
.k-notification-info {
  background-color: #d0f8ff;
  color: #666666;
  border-color: #98f0ff;
}
.k-notification-success {
  background-color: #ddffd0;
  color: #707070;
  border-color: #b4ff98;
}
.k-notification-warning {
  background-color: #ffe44d;
  color: #666666;
  border-color: #ffd800;
}
.k-notification-error {
  background-color: #ffb8a9;
  color: #866a6a;
  border-color: #ff8a71;
}
.k-gantt .k-treelist {
  background: #f5f5f5;
}
.k-gantt .k-treelist .k-alt {
  background-color: #dbdbdb;
}
.k-gantt .k-treelist tr:hover {
  background-color: #8ebc00;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #7ea700;
}
.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td {
  background-color: #8ebc00;
}
.k-task-dot:after {
  background-color: #787878;
  border-color: #787878;
}
.k-task-dot:hover:after {
  background-color: #ffffff;
}
.k-task-summary {
  border-color: #383838;
  background: #383838;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #787878;
  background: #787878;
}
.k-state-selected.k-task-summary {
  border-color: #1e2800;
  background: #1e2800;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #7ea700;
  background: #7ea700;
}
.k-task-single {
  background-color: #99cb00;
  border-color: #7ea700;
  color: #ffffff;
}
.k-state-selected.k-task-single {
  border-color: #7ea700;
}
.k-line {
  background-color: #787878;
  color: #787878;
}
.k-state-selected.k-line {
  background-color: #7ea700;
  color: #7ea700;
}
.k-resource {
  background-color: #fff;
}
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 0;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 0 0 0;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 0;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 0 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #7ea700;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 0 0 0 0;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 0;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0 0 0 0;
}
.k-edit-field > .k-scheduler-navigation {
  border-radius: 0;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 0;
}
.k-scheduler-mobile .k-event {
  border-radius: -1;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-position: 50% 50%;
  background-color: #fff;
  border-color: #dbdbdb;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
  background-position: 50% 50%;
  border-color: #dbdbdb;
}
.k-multiselect-wrap {
  border-color: #dbdbdb;
}
.k-multiselect-wrap.k-state-hover,
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #dbdbdb;
  background: #fff;
  color: #787878;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #8ebc00;
  background-image: url('textures/highlight.png');
  background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
  background-position: 50% 50%;
  border-color: #dbdbdb;
  box-shadow: none;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  border-color: #dbdbdb;
  box-shadow: none;
}
.k-list-container {
  color: #787878;
}
.k-nodata {
  color: #cccccc;
}
.k-dropdown .k-input,
.k-menu .k-popup {
  color: #787878;
}
.k-state-default > .k-select {
  border-color: #dbdbdb;
}
.k-state-hover > .k-select {
  border-color: #dbdbdb;
}
.k-state-focused > .k-select {
  border-color: #dbdbdb;
}
.k-tabstrip:focus {
  box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #787878;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li > .k-link.k-state-hover,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #fff;
}
.k-panelbar .k-state-focused.k-state-hover {
  background: #8ebc00;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: #dbdbdb;
}
.k-tabstrip-items .k-state-hover {
  border-color: #8ebc00;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #ffffff;
  background-image: none;
  border-color: #7ea700;
}
.k-tabstrip-top > .k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-top > .k-tabstrip-items .k-state-active {
  border-bottom-color: #ffffff;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #787878;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #dbdbdb;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #dbdbdb;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-overflow-container .k-overflow-button:focus,
.k-overflow-container .k-overflow-button:focus:hover {
  border-color: #8dbb00;
}
.k-overflow-container .k-separator {
  border-color: #dbdbdb;
}
.k-column-menu .k-separator {
  border-color: #dbdbdb;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #dbdbdb;
}
.k-grid-filter.k-state-active {
  background-color: #f0f0f0;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #787878;
  border-color: #dbdbdb;
  font-weight: bold;
}
.k-grouping-header {
  color: #787878;
}
.k-grid tr:hover,
.k-grid td.k-state-selected:hover {
  color: #fff;
  background-color: #8ebc00;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  color: #787878;
  background: none;
}
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px #779d00;
}
.k-grid tr:hover .k-state-focused,
.k-grid tr .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected td.k-state-focused,
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
  box-shadow: inset 0 0 0 1px #2e3d00;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #fff;
  color: #787878;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #dbdbdb;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 0;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-split-button:focus {
  box-shadow: none;
}
.k-split-button:focus > .k-button {
  color: inherit;
  background: transparent;
  border-color: #8dbb00;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #8dbb00;
  box-shadow: none;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    background-position: 50% 50%;
    background-color: #fff;
    border-color: #dbdbdb;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #8ebc00;
    background-image: url('textures/highlight.png');
    background-image: none, linear-gradient(to bottom, #8ebc00 0%, #8ebc00 100%);
    background-color: #8ebc00;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #787878;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #fff;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #dbdbdb;
    background-color: #fff;
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 0;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.k-chart .k-selection {
  border-color: #c7c7c7;
  box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: #8ebc00;
  box-shadow: inset 0 0 20px rgba(142, 188, 0, 0.5);
}
.k-chart .k-handle {
  background-color: #c7c7c7;
  width: 1px;
}
.k-chart .k-handle:hover {
  background-color: #8ebc00;
  width: 3px;
  border-radius: 0;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: #8ebc00;
  color: #ffffff;
  border-radius: 0;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(142, 188, 0, 0.5);
  height: 4px;
  border-radius: 0;
}
.k-chart .k-tooltip,
.k-sparkline .k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  background-image: none;
  border-radius: 0;
}
.k-map .k-marker {
  font-size: 28px;
  color: #7ea700;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
  background-image: none;
  color: #000000;
  border-color: #cccccc;
}
.k-spreadsheet-top-corner {
  border-color: #cccccc;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #cccccc #cccccc transparent;
}
.k-spreadsheet-pane {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #e6e6e6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(126, 167, 0, 0.2);
  background-color: rgba(126, 167, 0, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #7ea700;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #7ea700;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #7ea700;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #7ea700;
  box-shadow: inset 0 0 0 1px #7ea700;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #fff;
}
.k-spreadsheet-selection {
  background-color: rgba(126, 167, 0, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #7ea700;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #7ea700, inset -1px 0 0 1px #7ea700;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #7ea700, inset 0 -1px 0 1px #7ea700;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #7ea700, inset -1px -1px 0 1px #7ea700;
}
.k-spreadsheet-active-cell.k-single {
  color: #787878;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #dbdbdb;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #787878;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #7ea700;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #7ea700;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #7ea700;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(126, 167, 0, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #ffffff;
  background-color: #92c100;
  border-color: #92c100;
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #7ea700 #7ea700 transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #ff8a71 transparent transparent #ff8a71;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #dbdbdb;
}
.k-spreadsheet-filter {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #e6e6e6;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #7ea700;
}
.k-spreadsheet-filter:hover {
  color: #fff;
  background: #8ebc00;
  border-color: #6f9300;
}
.k-action-window .k-action-buttons {
  border-color: #dbdbdb;
  background: #fff;
}
.k-spreadsheet-sample {
  color: #c4c4c4;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #dbdbdb;
  border-radius: 0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #dbdbdb;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 0;
}
.k-spreadsheet-popup .k-separator {
  background-color: #dbdbdb;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #8ebc00;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #7ea700;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #587400;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #dbdbdb;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 0 0 0 0;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #8ebc00;
  background-color: rgba(142, 188, 0, 0.15);
}
.k-series-b {
  border-color: #309b46;
  background-color: rgba(48, 155, 70, 0.15);
}
.k-series-c {
  border-color: #25a0da;
  background-color: rgba(37, 160, 218, 0.15);
}
.k-series-d {
  border-color: #ff6900;
  background-color: rgba(255, 105, 0, 0.15);
}
.k-series-e {
  border-color: #e61e26;
  background-color: rgba(230, 30, 38, 0.15);
}
.k-series-f {
  border-color: #d8e404;
  background-color: rgba(216, 228, 4, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #7ea700;
  color: #fff;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #dbdbdb;
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #7ea700;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #7ea700;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(126, 167, 0, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #7ea700 transparent transparent #7ea700;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #ff8a71 #ff8a71 transparent transparent;
}
.k-dialog {
  border-color: #dbdbdb;
}
.k-dialog .k-window-titlebar {
  border-bottom-width: 0;
}
.k-dialog .k-dialog-title {
  color: #000000;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 12px 12px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #dbdbdb;
  background: #fff;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  border-radius: 0;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  -ms-flex-direction: column;
      flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 6px 6px;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 8.4px 8.4px;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  top: 1em;
  left: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-right-width: 0;
  border-left-width: 1px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-left-width: 0;
  border-right-width: 1px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: right;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-right: 0;
  margin-left: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:last-child {
  margin-left: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #ff8a71;
  position: absolute;
  top: 0;
  right: 1.9em;
  width: 1.9em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #ff8a71;
}
.k-numeric-wrap.k-state-invalid input {
  color: #ff8a71;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #ff8a71;
  color: #ff8a71;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #ff8a71;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #ff8a71;
  border-color: #ff8a71;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.6em;
  color: #ff8a71;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.6em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff8a71;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff8a71;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #ff8a71;
  margin-left: 0;
  margin-right: 2.1em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.1em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff8a71;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff8a71;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #ff8a71;
  margin-left: 0;
  margin-right: 4.3em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 4.3em;
}
.k-listbox .k-list-scroller {
  padding: 2px;
  border-color: #dbdbdb;
  background-color: #fff;
}
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #fff;
  background-color: #8ebc00;
  border-color: transparent;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #7ea700;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #7ea700;
}
.k-dropdowngrid-popup {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #dbdbdb;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #f5f5f5;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #dbdbdb;
  color: #787878;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #dbdbdb;
  color: #fff;
  background-color: #8ebc00;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #dbdbdb;
  color: #fff;
  background-color: #7ea700;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #787878;
  color: #fff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #787878;
}
.k-calendar .k-header .k-link,
.k-calendar .k-content td,
.k-calendar .k-content .k-link {
  border-radius: 0;
}
