/** 
 * Kendo UI v2020.1.114 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2020 Progress Software Corporation and/or one of its subsidiaries or affiliates. All rights reserved.                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.k-theme-test-class,
.ktb-theme-id-nova {
  opacity: 0;
}
.ktb-var-accent {
  color: #ff4350;
}
.ktb-var-base {
  color: #fff;
}
.ktb-var-background {
  color: #fff;
}
.ktb-var-border-radius {
  border-radius: 0;
}
.ktb-var-normal-background {
  color: #fff;
}
.ktb-var-normal-gradient {
  background-image: none;
}
.ktb-var-normal-text-color {
  color: #32364c;
}
.ktb-var-hover-background {
  color: #f5f6f6;
}
.ktb-var-hover-gradient {
  background-image: none;
}
.ktb-var-hover-text-color {
  color: #888e90;
}
.ktb-var-selected-background {
  color: #ff4350;
}
.ktb-var-selected-gradient {
  background-image: none;
}
.ktb-var-selected-text-color {
  color: #fff;
}
.ktb-var-error {
  color: #ffbfc4;
}
.ktb-var-warning {
  color: #ffecc7;
}
.ktb-var-success {
  color: #a5d6a7;
}
.ktb-var-info {
  color: #80deea;
}
.ktb-var-series-a {
  color: #ff4350;
}
.ktb-var-series-b {
  color: #ff9ea5;
}
.ktb-var-series-c {
  color: #00acc1;
}
.ktb-var-series-d {
  color: #80deea;
}
.ktb-var-series-e {
  color: #ffbf46;
}
.ktb-var-series-f {
  color: #ffd78c;
}
.k-grid-norecords-template {
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.k-button {
  border-radius: 0;
  border-color: #9da2a4;
  color: #9da2a4;
  background-color: #fff;
  background-position: 50% 50%;
}
.k-button.k-state-default {
  border-color: #9da2a4;
}
.k-button:hover,
.k-button.k-state-hover {
  color: #9da2a4;
  border-color: #9da2a4;
  background-color: #f5f6f6;
}
.k-button:active,
.k-button.k-state-active {
  color: #ffffff;
  background-color: #e53c48;
  border-color: #ff4350;
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #ff5763;
  background-color: #ff5763;
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #ff4350;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-button.k-state-disabled,
.k-button[disabled]:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-button[disabled]:focus,
.k-state-disabled .k-button:focus,
.k-button.k-state-disabled:focus,
.k-button[disabled]:active,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: #9da2a4;
  border-color: #9da2a4;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
}
.k-primary {
  color: #ffffff;
  border-color: #ff4350;
  background-color: #ff4350;
}
.k-primary.k-state-default {
  border-color: #ff4350;
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #ff5763;
  background-color: #ff5763;
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #e53c48;
  background-color: #e53c48;
}
.k-primary:focus,
.k-primary:focus:hover,
.k-primary.k-state-focused,
.k-primary.k-state-focused.k-state-disabled,
.k-state-disabled .k-primary.k-state-focused {
  border-color: #db3a45;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-primary.k-state-disabled,
.k-primary[disabled]:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover {
  color: #ffffff;
  border-color: #ff4350;
  background-color: #ff4350;
  box-shadow: none;
}
.k-button-group {
  border-radius: 0;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 0;
}
.k-split-button {
  border-radius: 0;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #9da2a4;
  background-color: #f5f6f6;
  border-color: #9da2a4;
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #ff4350;
  outline: none;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #ff4350;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #9da2a4;
  background-color: #f5f6f6;
  border-color: #ff4350;
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #c4c4c4;
  background: #fff;
  background-image: none;
}
.k-edit-buttons {
  border-color: #e0e0e0;
  background: #ff4350;
}
.k-button.k-flat.k-primary,
.k-button.k-bare.k-primary,
.k-button.k-flat.k-primary:hover,
.k-button.k-bare.k-primary:hover,
.k-button.k-flat.k-primary.k-state-hover,
.k-button.k-bare.k-primary.k-state-hover,
.k-button.k-flat.k-primary:active,
.k-button.k-bare.k-primary:active,
.k-button.k-flat.k-primary.k-state-active,
.k-button.k-bare.k-primary.k-state-active,
.k-button.k-flat.k-primary:hover:active,
.k-button.k-bare.k-primary:hover:active,
.k-button.k-flat.k-primary:hover.k-state-active,
.k-button.k-bare.k-primary:hover.k-state-active {
  color: #ff4350;
}
.k-card {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-card .k-card-callout {
  border-color: #e0e0e0;
  background-color: #fff;
}
.k-card-header {
  border-color: #e0e0e0;
  color: #ffffff;
  background-color: #ff4350;
}
.k-card-footer {
  border-color: #e0e0e0;
  color: #ffffff;
  background-color: #ff4350;
}
.k-card-separator {
  border-color: #e0e0e0;
}
.k-card-actions {
  border-color: #e0e0e0;
}
.k-card.k-state-primary,
.k-card.k-card-primary {
  border-color: #ffa1a8;
  color: #802228;
  background-color: #ffc7cb;
}
.k-card.k-state-info,
.k-card.k-card-info {
  border-color: #8ed1d9;
  color: #0f515a;
  background-color: #bbe3e8;
}
.k-card.k-state-success,
.k-card.k-card-success {
  border-color: #a3cda5;
  color: #234e25;
  background-color: #c8e1c9;
}
.k-card.k-state-warning,
.k-card.k-card-warning {
  border-color: #ffdc96;
  color: #805c17;
  background-color: #ffeac0;
}
.k-card.k-state-error,
.k-card.k-card-error {
  border-color: #ff939b;
  color: #80131b;
  background-color: #ffbec3;
}
.k-chat {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-chat .k-timestamp {
  text-transform: uppercase;
  opacity: 0.7;
}
.k-chat .k-author {
  font-weight: bold;
}
.k-chat .k-bubble {
  border-color: #fff;
  color: #9da2a4;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
  -ms-flex-order: -1;
      order: -1;
}
.k-chat .k-alt .k-bubble {
  border-color: #ff4350;
  color: #ffffff;
  background-color: #ff4350;
}
.k-chat .k-quick-reply {
  border-color: #ff4350;
  color: #ff4350;
  background-color: transparent;
}
.k-chat .k-quick-reply:hover {
  border-color: #ff4350;
  color: #ffffff;
  background-color: #ff4350;
}
.k-chat .k-message-box {
  border-color: inherit;
  color: #32364c;
  background-color: #fff;
}
.k-chat .k-message-box .k-button:hover {
  color: #ff4350;
}
.k-chat .k-toolbar-box {
  border-color: inherit;
  color: #32364c;
  background-color: #ff4350;
}
.k-chat .k-toolbar-box .k-button:hover {
  color: #ff4350;
  background: none;
}
.k-chat .k-toolbar-box .k-scroll-button {
  background-color: #fff;
  box-shadow: 0 0 20px 5px #fff;
}
.k-chat .k-toolbar-box .k-scroll-button:hover {
  background-color: #fff;
}
.k-calendar {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-calendar > .k-header {
  border-color: #e0e0e0;
  color: #ffffff;
  background-color: #ff4350;
  background-image: none;
}
.k-calendar th {
  border-color: #e0e0e0;
  color: #9ca3a6;
  background-color: #fff;
}
.k-calendar .k-alt {
  border-color: #e0e0e0;
  color: #9ca3a6;
  background-color: #f5f5f5;
}
.k-calendar .k-weekend {
  background-color: transparent;
}
.k-calendar .k-other-month {
  color: #c4c4c4;
  background-color: transparent;
}
.k-calendar .k-out-of-range {
  pointer-events: none;
  visibility: hidden;
}
.k-calendar .k-today .k-link {
  color: #ff4350;
  box-shadow: inset 0 0 0 1px #ff4350;
}
.k-calendar td.k-state-hover .k-link {
  border-color: #9da2a4;
  color: #9da2a4;
  background-color: #f5f6f6;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link {
  border-color: #e0f7fa;
  color: #00acc1;
  background-color: #e0f7fa;
  background-image: none;
}
.k-calendar td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #9da2a4;
}
.k-calendar .k-footer .k-nav-today {
  color: #00acc1;
}
.k-calendar .k-footer .k-nav-today:hover {
  color: #009aad;
}
.k-calendar-range {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-calendar-range th {
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
.k-calendar-range td.k-state-hover .k-link {
  border-color: #9da2a4;
  color: #9da2a4;
  background-color: #f5f6f6;
}
.k-calendar-range td.k-state-selected .k-link {
  border-color: #e0f7fa;
  color: #00acc1;
  background-color: #e0f7fa;
}
.k-calendar-range td.k-state-focused .k-link {
  box-shadow: inset 0 0 0 1px #9da2a4;
}
.k-calendar-range td.k-range-start,
.k-calendar-range td.k-range-mid,
.k-calendar-range td.k-range-end {
  background-image: linear-gradient(transparent 1px, rgba(224, 247, 250, 0.3) 1px, rgba(224, 247, 250, 0.3) calc(100% - 1px), transparent calc(100% - 1px));
}
.k-ie .k-calendar-range td.k-range-start,
.k-ie .k-calendar-range td.k-range-mid,
.k-ie .k-calendar-range td.k-range-end,
.k-edge .k-calendar-range td.k-range-start,
.k-edge .k-calendar-range td.k-range-mid,
.k-edge .k-calendar-range td.k-range-end {
  background-image: none;
  background-color: rgba(224, 247, 250, 0.3);
}
.k-calendar-range td.k-range-split-start::after {
  background-image: linear-gradient(to left, rgba(224, 247, 250, 0.3), transparent);
}
.k-calendar-range td.k-range-split-end::after {
  background-image: linear-gradient(to right, rgba(224, 247, 250, 0.3), transparent);
}
.k-calendar-range .k-footer .k-nav-today {
  color: #ff4350;
  background: none;
}
.k-pdf-viewer .k-toolbar .k-icon,
.k-pdf-viewer .k-toolbar .k-pager-input {
  color: #9da2a4;
}
.k-pdf-viewer .k-canvas {
  background-color: #fff;
}
.k-pdf-viewer .k-page {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: white;
  box-shadow: 0 0 15px #e0e0e0;
}
.k-pdf-viewer .k-search-highlight {
  background-color: #4d4d4d;
}
.k-scrollview-nav > li.k-link {
  border-color: #9da2a4;
  background-color: #fff;
  background-clip: padding-box;
}
.k-scrollview-nav > li.k-link.k-primary {
  border-color: #ff4350;
  background-color: #ff4350;
}
.k-scrollview-elements {
  color: #fff;
}
.k-scrollview-next,
.k-scrollview-prev {
  color: inherit;
  background: rgba(0, 0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  opacity: 0.7;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.k-scrollview-next:hover,
.k-scrollview-prev:hover {
  color: #fff;
  opacity: 1;
}
.k-scrollview-next:hover span::before,
.k-scrollview-prev:hover span::before {
  background-color: transparent;
}
.k-switch-handle {
  background-clip: border-box;
}
.k-switch-on .k-switch-container {
  border-color: #e0e0e0;
  color: #ff4350;
  background-color: #fff;
}
.k-switch-on .k-switch-handle {
  border-color: #ff4350;
  color: #ff4350;
  background-color: #ff4350;
}
.k-switch-on:focus .k-switch-container,
.k-switch-on.k-state-focused .k-switch-container {
  border-color: #9da2a4;
  color: #ff4350;
  background-color: #fff;
}
.k-switch-on:focus .k-switch-handle,
.k-switch-on.k-state-focused .k-switch-handle {
  border-color: #e53c48;
  color: #ff4350;
  background-color: #ff4350;
}
.k-switch-on:hover .k-switch-container,
.k-switch-on.k-state-hover .k-switch-container {
  border-color: #e0e0e0;
  color: #ff4350;
  background-color: #fff;
}
.k-switch-on:hover .k-switch-handle,
.k-switch-on.k-state-hover .k-switch-handle {
  border-color: #e53c48;
  color: #ff4350;
  background-color: #e53c48;
}
.k-switch-on .k-switch-label-off {
  color: transparent;
}
.k-switch-off .k-switch-container {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-switch-off .k-switch-handle {
  border-color: #9da2a4;
  color: #32364c;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-container,
.k-switch-off.k-state-focused .k-switch-container {
  border-color: #9da2a4;
  color: #32364c;
  background-color: #fff;
}
.k-switch-off:focus .k-switch-handle,
.k-switch-off.k-state-focused .k-switch-handle {
  border-color: #ff4350;
  color: #32364c;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-container,
.k-switch-off.k-state-hover .k-switch-container {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-switch-off:hover .k-switch-handle,
.k-switch-off.k-state-hover .k-switch-handle {
  border-color: #9da2a4;
  color: #32364c;
  background-color: #f5f6f6;
}
.k-switch-off .k-switch-label-on {
  color: transparent;
}
.k-switch {
  background-color: transparent;
  box-shadow: none;
}
.k-switch:focus .k-switch-container,
.k-switch.k-state-focused .k-switch-container {
  outline: none;
}
.k-switch.k-state-disabled {
  cursor: default;
}
.k-switch[aria-readonly="true"] {
  pointer-events: none;
}
.k-pane-wrapper .k-pane > .k-view > .k-content {
  background-position: 50% 50%;
  background-color: #fafafa;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #32364c;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-sort-order,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-asc-sm,
.k-pane-wrapper .k-pane .k-grid-mobile .k-sorted .k-i-sort-desc-sm {
  color: #ff4350;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-grid-filter.k-state-active,
.k-pane-wrapper .k-pane .k-grid-mobile .k-header-column-menu.k-state-active {
  color: #fff;
  background-color: #ff4350;
}
.k-pane-wrapper .k-pane .k-grid-mobile .k-resize-handle-inner::before {
  background-color: #fff;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-nav-current {
  color: #32364c;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendadate {
  color: inherit;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-time-period,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-mobile-scheduler-agendaweekday {
  color: #c1c4d6;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-times,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-wrap,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-datecolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-groupcolumn,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-group-cell,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-header-all-day {
  background-color: #fafafa;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-other-month {
  background-color: #fafafa;
}
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-tools > li,
.k-pane-wrapper .k-pane .k-scheduler-mobile .k-scheduler-toolbar .k-scheduler-navigation {
  background-color: inherit;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header {
  background-color: #ff4350;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-header .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-header .k-link {
  color: #fff;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-item,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-item,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-item,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-link,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-link,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-link,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-link {
  color: #32364c;
}
.k-pane-wrapper .k-pane .k-grid-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-clear,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-clear,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-clear,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-select-all,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-select-all,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-select-all,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-delete,
.k-pane-wrapper .k-pane .k-grid-edit-form .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-column-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-grid-filter-menu .k-scheduler-resetSeries,
.k-pane-wrapper .k-pane .k-scheduler-edit-form .k-scheduler-resetSeries {
  color: #ff4350;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected {
  color: #ff4350;
  background: none;
}
.k-pane-wrapper .k-pane .k-column-menu .k-listgroup-item.k-state-selected .k-link {
  color: inherit;
}
.k-filter .k-filter-preview-field {
  color: #ff4350;
}
.k-filter .k-filter-preview-operator {
  color: rgba(50, 54, 76, 0.6);
}
.k-filter .k-filter-item::before,
.k-filter .k-filter-toolbar::before,
.k-filter .k-filter-lines .k-filter-item:last-child > .k-filter-toolbar::after {
  background-color: #e0e0e0;
}
.k-drawer {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-drawer-wrapper {
  scrollbar-color: rgba(156, 156, 156, 0.7) #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-track {
  background: #dedede;
}
.k-drawer-wrapper::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.7);
}
.k-drawer-wrapper::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
.k-drawer-item:hover,
.k-drawer-item.k-state-hover {
  color: #888e90;
  background-color: #f5f6f6;
  background-image: none;
}
.k-drawer-item:focus,
.k-drawer-item.k-state-focused {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #ff4350;
}
.k-drawer-item:focus:hover,
.k-drawer-item.k-state-focused:hover,
.k-drawer-item:focus.k-state-hover,
.k-drawer-item.k-state-focused.k-state-hover {
  color: #888e90;
  background-color: #f5f6f6;
}
.k-drawer-item.k-state-selected {
  color: #fff;
  background-color: #ff4350;
}
.k-drawer-item.k-state-selected:hover,
.k-drawer-item.k-state-selected.k-state-hover {
  color: #fff;
  background-color: #ff2938;
}
.k-drawer-separator {
  background-color: #e0e0e0;
}
.k-rating.k-widget {
  background-color: transparent;
}
.k-rating:focus,
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-rating:focus .k-rating-item > .k-icon,
.k-rating.k-state-focused .k-rating-item > .k-icon {
  text-shadow: 0 2px 3.6px rgba(0, 0, 0, 0.1);
}
.k-rating:focus .k-rating-item.k-state-selected > .k-icon,
.k-rating.k-state-focused .k-rating-item.k-state-selected > .k-icon {
  text-shadow: 0 2px 3.6px rgba(255, 67, 80, 0.5);
}
.k-rating-item {
  color: #e0e0e0;
}
.k-rating-item.k-state-selected {
  color: #ff4350;
  background: none;
  box-shadow: none;
}
.k-rating-item.k-state-selected:focus,
.k-rating-item.k-state-selected.k-state-focused {
  color: #ff4350;
}
.k-rating-item:hover,
.k-rating-item.k-state-hover {
  color: #ff4350;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.k-rating-item:hover.k-state-selected,
.k-rating-item.k-state-hover.k-state-selected {
  box-shadow: none;
}
.k-rating-item:focus,
.k-rating-item.k-state-focused {
  background: none;
  box-shadow: none;
}
.k-rating-item:focus.k-state-selected,
.k-rating-item.k-state-focused.k-state-selected {
  box-shadow: none;
}
.k-timeline .k-timeline-flag {
  background-color: #ff4350;
  color: #ffffff;
}
.k-timeline .k-timeline-circle {
  background-color: #ff4350;
}
.k-timeline .k-timeline-card .k-card-header {
  background-color: #fff;
  color: #32364c;
}
.k-timeline .k-timeline-card .k-card-body {
  scrollbar-color: #e0e0e0 #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-track {
  background: #fff;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}
.k-timeline .k-timeline-card .k-card-body::-webkit-scrollbar-thumb:hover {
  background: #9da2a4;
}
.k-timeline .k-timeline-date {
  color: #32364c;
}
.k-timeline .k-timeline-arrow.k-button:not(.k-flat):not(.k-bare):not(.k-outline):not(.k-overflow-button).k-state-disabled {
  opacity: 1;
  color: #c4c4c4;
  background-color: #fff;
  border-color: #f0f0f0;
}
.k-timeline-vertical::after,
.k-timeline-horizontal .k-timeline-track-wrap::after {
  background-color: #fff;
  border-color: #9da2a4;
}
.k-timeline-horizontal .k-timeline-flag::after {
  background-color: #ff4350;
}
.k-breadcrumb:focus,
.k-breadcrumb.k-state-focused {
  box-shadow: none;
}
.k-breadcrumb .k-breadcrumb-link {
  border-color: transparent;
  color: #00acc1;
  background-color: transparent;
}
.k-breadcrumb .k-breadcrumb-link:hover,
.k-breadcrumb .k-breadcrumb-link.k-state-hover {
  border-color: transparent;
  color: #009aad;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-link:focus,
.k-breadcrumb .k-breadcrumb-link.k-state-focused {
  border-color: false;
  color: #00acc1;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link {
  border-color: false;
  color: #9da2a4;
  background-color: false;
}
.k-breadcrumb .k-breadcrumb-root-link:hover,
.k-breadcrumb .k-breadcrumb-root-link.k-state-hover {
  border-color: false;
  color: false;
  background-color: rgba(0, 0, 0, 0.08);
}
.k-breadcrumb .k-breadcrumb-root-link:focus,
.k-breadcrumb .k-breadcrumb-root-link.k-state-focused {
  border-color: false;
  color: false;
  background-color: false;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.12);
}
.k-breadcrumb .k-breadcrumb-root-link,
.k-breadcrumb .k-breadcrumb-delimiter-icon {
  color: inherit;
}
.k-listgroup {
  border-radius: 0;
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-listgroup-flush {
  border-radius: 0;
}
.k-badge.k-badge-secondary {
  border-color: #f2f2f2;
  color: #32364c;
  background-color: #f2f2f2;
}
.k-badge.k-badge-primary {
  border-color: #ff4350;
  color: #ffffff;
  background-color: #ff4350;
}
.k-badge.k-badge-info {
  border-color: #1ea2b3;
  color: #ffffff;
  background-color: #1ea2b3;
}
.k-badge.k-badge-success {
  border-color: #479b4a;
  color: #ffffff;
  background-color: #479b4a;
}
.k-badge.k-badge-warning {
  border-color: #ffb82e;
  color: #000000;
  background-color: #ffb82e;
}
.k-badge.k-badge-error {
  border-color: #ff2637;
  color: #ffffff;
  background-color: #ff2637;
}
.k-badge-outline.k-badge-secondary {
  border-color: currentColor;
  color: #32364c;
  background-color: #fff;
}
.k-badge-outline.k-badge-primary {
  border-color: currentColor;
  color: #ff4350;
  background-color: #fff;
}
.k-badge-outline.k-badge-info {
  border-color: currentColor;
  color: #1ea2b3;
  background-color: #fff;
}
.k-badge-outline.k-badge-success {
  border-color: currentColor;
  color: #479b4a;
  background-color: #fff;
}
.k-badge-outline.k-badge-warning {
  border-color: currentColor;
  color: #ffb82e;
  background-color: #fff;
}
.k-badge-outline.k-badge-error {
  border-color: currentColor;
  color: #ff2637;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 0;
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-checkbox:checked::before {
  border-radius: 0;
}
.k-checkbox:hover {
  border-color: #e0e0e0;
  color: #ff4350;
  background-color: #fff;
}
.k-checkbox:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
  border-color: #e0e0e0;
}
.k-checkbox:indeterminate,
.k-checkbox.k-state-indeterminate {
  border-color: #e0e0e0;
  color: #ff4350;
  background-color: #fff;
}
.k-checkbox:checked {
  border-color: #ff4350;
  color: #fff;
  background-color: #ff4350;
}
.k-checkbox:checked:focus {
  box-shadow: 0 0 0 2px rgba(255, 67, 80, 0.3);
  border-color: #ff4350;
}
.k-checkbox.k-invalid,
.k-checkbox.k-state-invalid {
  border-color: #ff4350;
}
.k-radio {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
  border-radius: 50%;
}
.k-radio::before {
  border-radius: 50%;
}
.k-radio:hover {
  border-color: #e0e0e0;
  color: #ff4350;
  background-color: #fff;
}
.k-radio:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
  border-color: #e0e0e0;
}
.k-radio:checked {
  border-color: #ff4350;
  color: #fff;
  background-color: #ff4350;
}
.k-radio:checked:focus {
  box-shadow: 0 0 0 2px rgba(255, 67, 80, 0.3);
  border-color: #ff4350;
}
.k-filemanager {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-toolbar {
  border-color: #e0e0e0;
  color: false;
  background-color: false;
}
.k-filemanager-navigation {
  border-color: #e0e0e0;
  color: false;
  background-color: false;
}
.k-filemanager-breadcrumb {
  border-color: #e0e0e0;
  color: false;
  background-color: #fff;
}
.k-filemanager .k-dropzone-hovered {
  border-color: false;
  color: inherit;
  background-color: inherit;
}
.k-filemanager-listview {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-listview .k-item.k-state-selected .k-icon {
  border-color: false;
  color: #32364c;
  background-color: false;
}
.k-filemanager-listview .k-item .k-icon {
  border-color: false;
  color: #aaacb5;
  background-color: false;
}
.k-filemanager-grid {
  border-color: false;
  color: false;
  background-color: false;
}
.k-filemanager-preview {
  border-color: #e0e0e0;
  color: false;
  background-color: false;
}
.k-filemanager-preview .k-file-preview-wrapper .k-icon {
  border-color: false;
  color: #aaacb5;
  background-color: false;
}
.k-filemanager-preview .k-file-size {
  color: inherit;
}
.k-filemanager-drag-hint {
  border-color: false;
  color: #ffffff;
  background-color: #ff4350;
}
.k-filemanager-drag-hint .k-icon {
  border-color: false;
  color: #ffffff;
  background-color: false;
}
.k-splitbar .k-resize-handle {
  background-color: #32364c;
}
.k-in,
.k-item {
  border-color: transparent;
}
.k-block,
.k-widget {
  background-color: #fff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #e0e0e0;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-dropzone-hovered,
.k-popup {
  background-color: #fff;
}
.k-mediaplayer-toolbar {
  background: rgba(255, 255, 255, 0.85);
}
.k-header,
.k-grid-header,
.k-grouping-header,
.k-pager-wrap,
.k-state-highlight,
.k-panelbar .k-tabstrip-items .k-item {
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #32364c;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-tooltip {
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #fff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #fff;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  color: #32364c;
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-state-selected {
  background-color: rgba(128, 222, 234, 0.25);
}
.k-state-focused:not(.k-button) {
  box-shadow: inset 0 0 0 1px #878787;
}
.k-state-hover,
.k-splitbar-horizontal-hover,
.k-splitbar-vertical-hover,
.k-list > .k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone {
  color: #888e90;
  background-color: #f5f6f6;
  border-color: #f5f6f6;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #00acc1;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #f0f0f0;
}
.k-block,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-treeview .k-in,
.k-editor-inline,
.k-tile,
.k-slider-track,
.k-slider-selection {
  border-radius: 0;
}
.k-textbox,
.k-autocomplete,
.k-autocomplete .k-input,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-tooltip,
.k-upload,
.k-split-button {
  border-radius: 3px;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-toolbar .k-split-button .k-button {
  border-radius: 3px 0 0 3px;
}
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 3px 3px 0;
}
.k-hr {
  border-color: #e0e0e0;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 3px 3px 0;
}
.k-button .k-image,
.k-panelbar > .k-state-active > .k-header > .k-icon,
.k-panelbar > .k-state-active > .k-header .k-state-default .k-icon {
  opacity: 0.4;
}
.k-primary .k-icon,
.k-state-active .k-icon,
.k-button:active .k-icon,
.k-numerictextbox .k-state-selected .k-icon,
.k-multiselect-wrap .k-icon,
.k-window-titlebar .k-icon,
.k-drag-clue .k-icon,
.k-group-indicator .k-icon,
.k-pivot-toolbar .k-icon,
.k-grid-content .k-button:active .k-icon,
.k-splitbar.k-state-focused .k-icon,
.k-scheduler-toolbar .k-icon,
.k-gantt-toolbar .k-icon,
.k-toolbar .k-overflow-anchor.k-state-border-down .k-i-more-vertical,
.k-panelbar > .k-state-active > .k-header .k-state-active .k-icon {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-state-disabled .k-button .k-icon,
.k-button.k-state-disabled .k-icon {
  opacity: 0.7;
}
.k-split-button.k-state-disabled .k-icon {
  opacity: 1;
}
.k-i-loading {
  background-image: url('Nova/loading.gif');
}
.k-loading-image {
  background-image: url('Nova/loading-image.gif');
}
.k-loading-color {
  background-color: #fff;
}
.k-button {
  border-radius: 3px;
}
.k-button.k-bare {
  position: relative;
}
.k-button.k-bare:before {
  content: "";
  background-color: currentcolor;
  opacity: 0.12;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.k-button.k-bare.k-state-focused:before,
.k-button.k-bare:focus:before {
  display: block;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #ff4350;
}
.k-mediaplayer-toolbar .k-button.k-bare:active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:before,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover:before {
  opacity: 0.24;
}
.k-slider.k-mediaplayer-seekbar {
  top: -14px;
}
.k-quality-list {
  margin-left: -25px !important;
}
.k-menu {
  background-color: #fff;
  border-color: #fff;
}
.k-menu > .k-item.k-state-hover {
  color: #32364c;
}
.k-menu .k-popup .k-item {
  color: #00acc1;
}
.k-menu .k-item > .k-state-active {
  color: #fff;
  background-color: #ff4350;
}
.k-menu .k-state-selected.k-state-hover,
.k-menu .k-menu-scroll-button:hover {
  background-color: #b0ebf2;
}
.k-menu .k-state-hover .k-link.k-state-active {
  background-color: #e53c48;
}
.k-list-container {
  border-color: #e0e0e0;
  background-color: #fff;
}
.k-dropdown,
.k-combobox,
.k-datepicker,
.k-datetimepicker,
.k-colorpicker {
  background-color: #fff;
}
.k-autocomplete,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #f5f6f6;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #fff;
  border-color: #9da2a4;
  box-shadow: none;
}
.k-multiselect-wrap.k-state-focused,
.k-state-focused > .k-multiselect-wrap {
  background-color: #fff;
  border-color: #9da2a4;
  box-shadow: none;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active {
  color: #fff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-multiselect-wrap.k-state-active,
.k-state-active.k-multiselect-wrap {
  color: #fff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-multiselect-wrap.k-state-border-up,
.k-multiselect-wrap.k-state-border-down,
.k-state-border-up > .k-multiselect-wrap,
.k-state-border-down > .k-multiselect-wrap {
  border-color: #ff4350;
}
.k-textbox.k-state-disabled,
.k-state-disabled .k-picker-wrap,
.k-autocomplete.k-state-disabled,
.k-dropdown-wrap.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-numeric-wrap.k-state-disabled {
  background-color: #fff;
  border-color: #f0f0f0;
}
.k-multiselect-wrap.k-state-disabled,
.k-state-disabled > .k-multiselect-wrap {
  background-color: #fff;
  border-color: #f0f0f0;
}
.k-numerictextbox .k-select,
.k-combobox .k-select,
.k-picker-wrap .k-select {
  border-color: #fff;
}
.k-autocomplete.k-state-border-up,
.k-autocomplete.k-state-border-down,
.k-picker-wrap.k-state-active .k-select,
.k-numeric-wrap.k-state-active .k-select,
.k-dropdown-wrap.k-state-active .k-select {
  border-color: #ff4350;
}
.k-numeric-wrap .k-link.k-state-selected,
.k-grid .k-numeric-wrap .k-link.k-state-selected {
  background-color: #ff4350;
}
.k-dropdown .k-state-active .k-input {
  color: #fff;
}
.k-colorpicker .k-selected-color {
  background-color: #fff;
}
input.k-textbox:focus {
  border-color: #9da2a4;
}
input.k-textbox:active {
  border-color: #ff4350;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #ff4350;
  color: #fff;
}
.k-popup .k-list .k-item {
  color: #00acc1;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #ff4350;
}
.k-popup .k-list .k-state-selected.k-state-focused.k-first:before {
  border-top-color: #9a2830;
}
.k-popup .k-list .k-item > .k-group {
  background: #ff4350;
  color: #fff;
}
.k-popup .k-list .k-state-selected {
  color: #fff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-popup .k-list .k-state-focused {
  border-color: #9c9c9c;
  box-shadow: none;
}
.k-popup .k-list .k-state-selected.k-state-focused {
  border-color: #9a2830;
}
.k-popup .k-list .k-state-selected.k-state-hover {
  background-color: #cc3640;
}
.k-multiselect-wrap .k-button {
  color: #ffffff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-multiselect.k-state-disabled .k-button {
  color: #fff;
  background-color: #ff9fa5;
  border-color: #ff9fa5;
}
.k-list-optionlabel {
  border-color: transparent;
}
.k-nodata {
  color: #c4c4c4;
}
.k-notification {
  border-radius: 0;
}
.k-notification-info {
  background-color: #80deea;
  color: #188390;
  border-color: #80deea;
}
.k-notification-success {
  background-color: #a5d6a7;
  color: #4ca64f;
  border-color: #a5d6a7;
}
.k-notification-warning {
  background-color: #ffecc7;
  color: #ffbd3d;
  border-color: #ffecc7;
}
.k-notification-error {
  background-color: #ffbfc4;
  color: #ff404e;
  border-color: #ffbfc4;
}
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  color: #32364c;
  background-color: #fff;
  border-color: #e0e0e0;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.k-widget.k-tooltip-validation {
  color: #ffc147;
  background-color: #ffecc7;
  border-color: #ffecc7;
  box-shadow: none;
  border-radius: 0;
}
.k-treeview .k-state-hover {
  color: #32364c;
}
.k-treeview .k-state-selected {
  color: #ff4350;
}
.k-splitbar {
  background: #fff;
  border-color: #fff;
}
.k-splitbar.k-state-focused {
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-window {
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.k-window > .k-header {
  color: #ffffff;
}
.k-window > .k-header .k-state-hover {
  background-color: #e53c48;
}
.k-panelbar {
  color: #32364c;
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-panelbar > .k-item .k-panel > .k-item > .k-link,
.k-panelbar > .k-item .k-panel > .k-item .k-panel > .k-item > .k-link,
.k-panelbar .k-panel > .k-item .k-panel .k-item > .k-link {
  color: #32364c;
}
.k-panelbar .k-item > .k-link.k-header {
  color: #ff4350;
  background-color: #fff;
}
.k-panelbar > .k-item > .k-link.k-state-hover,
.k-panelbar > .k-item .k-panel > .k-item > .k-link.k-state-hover {
  background-color: #f5f6f6;
}
.k-tabstrip.k-header {
  background-color: #fff;
}
.k-tabstrip-items {
  background-image: none;
  background-image: none, linear-gradient(to bottom, #303553 0%, #072138 100%);
  background-color: #081421;
}
.k-tabstrip-items .k-item {
  color: #ffffff;
  border-color: transparent;
}
.k-tabstrip-items .k-item.k-state-hover,
.k-tabstrip-items .k-item.k-state-selected {
  border-top-color: #32364c;
  background-image: none;
  background-image: none, linear-gradient(to bottom, #202333 0%, #081421 100%);
  background-color: #081421;
}
.k-tabstrip-left > .k-tabstrip-items > .k-item.k-state-active {
  border-right-color: #ff4350;
}
.k-tabstrip-right > .k-tabstrip-items > .k-item.k-state-active {
  border-left-color: #ff4350;
}
.k-tabstrip-top > .k-tabstrip-items .k-item.k-state-active {
  background-image: none;
  background-image: none, linear-gradient(to bottom, #202333 0%, #081421 100%);
  border-bottom-color: #ff4350;
}
.k-tabstrip-bottom > .k-tabstrip-items > .k-item.k-state-active {
  border-top-color: #ff4350;
}
.k-progressbar {
  background: #cccccc;
  border-color: #cccccc;
}
.k-progressbar .k-state-selected {
  background-color: #ff4350;
}
.k-progressbar-horizontal .k-state-selected {
  border-top-color: #ff4350;
  border-bottom-color: #ff4350;
  border-left-color: #e0e0e0;
  border-right-color: #e0e0e0;
}
.k-progressbar-horizontal .k-state-selected.k-first {
  border-left-color: #ff4350;
}
.k-progressbar-horizontal .k-state-selected.k-last {
  border-right-color: #ff4350;
}
.k-progressbar-vertical .k-state-selected {
  border-left-color: #ff4350;
  border-right-color: #ff4350;
  border-top-color: #e0e0e0;
  border-bottom-color: #e0e0e0;
}
.k-progressbar-vertical > .k-complete {
  border-top-color: #ff4350;
  border-bottom-color: #ff4350;
}
.k-progressbar-vertical .k-state-selected.k-first {
  border-top-color: #ff4350;
}
.k-progressbar-vertical .k-state-selected.k-last {
  border-bottom-color: #ff4350;
}
.k-grid-header,
.k-grid-header .k-header,
.k-pager-wrap,
.k-pager-numbers .k-state-selected,
.k-grid-footer,
.k-grid-footer td,
.k-scheduler-agenda .k-scheduler-header {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-pager-info,
.k-scheduler-agenda .k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
  color: #9da2a4;
}
.k-grid .k-alt {
  background-color: #fff;
}
.k-grid tr:hover {
  background-color: #f5f6f6;
}
.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 0 1px #9c9c9c;
}
.k-grid .k-button {
  color: #ff4350;
  border-color: transparent;
  background-color: #fff;
}
.k-grid .k-button-icontext .k-icon,
.k-edit-form-container .k-edit-buttons .k-button-icontext .k-icon {
  display: none;
}
.k-edit-form-container .k-edit-buttons {
  background-color: #fff;
}
.k-grid-toolbar .k-button:hover {
  border-color: #f5f6f6;
}
.k-grid .k-button-icontext {
  background-color: transparent;
}
.k-grid .k-primary {
  color: #ffffff;
  background-color: #ff4350;
}
.k-grid .k-button:active,
.k-grid .k-button-icontext:active {
  color: #ffffff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-header.k-grid-toolbar {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-grid .k-grouping-header {
  color: rgba(255, 255, 255, 0.5);
}
.k-grouping-header .k-group-indicator {
  color: #ffffff;
  background-color: #e53c48;
  border-color: #e53c48;
}
.k-group-indicator .k-link {
  color: #ffffff;
}
.k-grouping-row {
  background-color: #fafafa;
  font-weight: bold;
}
.k-group-cell {
  background-color: #fafafa;
}
.k-filter-menu .k-button,
.k-edit-form-container .k-button {
  color: #32364c;
  background: transparent;
  border-color: transparent;
}
.k-filter-menu .k-button:active {
  color: #32364c;
}
.k-filter-menu .k-primary,
.k-edit-form-container .k-primary {
  color: #ff4350;
}
.k-filter-menu .k-primary {
  border-left-color: #e0e0e0;
}
.k-filter-menu > div > div:last-child {
  border-color: #e0e0e0;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  border-color: rgba(224, 224, 224, 0.8);
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
  background-color: #e0f7fa;
}
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
  background-color: #caf1f6;
}
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
  box-shadow: inset 0 0 0 1px #878787;
}
.k-grid .k-state-selected:hover .k-group-cell {
  background-color: #fafafa;
}
.k-grid .k-header .k-grid-search {
  background: none;
  background-color: #fff;
  color: #32364c;
}
.k-marquee-color {
  background-color: #86d9e4;
}
.k-alt,
.k-grid.k-alt,
.k-fieldselector .k-item.k-header {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.k-pivot-toolbar .k-button {
  color: #ffffff;
  background-color: #e53c48;
  border-color: #e53c48;
}
.k-pivot-toolbar .k-empty {
  color: rgba(255, 255, 255, 0.5);
}
.k-fieldselector .k-item.k-header.k-state-hover {
  color: #32364c;
}
.k-grid-footer td,
.k-pivot-rowheaders .k-grid-footer {
  font-weight: bold;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-pager-wrap,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:link {
  color: #32364c;
}
.k-pager-wrap .k-link {
  border-color: #fafafa;
}
.k-pager-wrap .k-link:hover {
  background-color: transparent;
  border-color: transparent;
}
.k-pager-numbers .k-state-selected {
  color: #ff4350;
  border-color: #ff4350 transparent transparent;
  border-radius: 0;
}
.k-pager-lg .k-pager-numbers,
.k-pager-md .k-pager-numbers,
.k-pager-sm .k-pager-numbers {
  color: #00acc1;
  background-color: #fff;
}
.k-pager-lg .k-pager-numbers.k-state-expanded li:nth-child(2),
.k-pager-md .k-pager-numbers.k-state-expanded li:nth-child(2),
.k-pager-sm .k-pager-numbers.k-state-expanded li:nth-child(2) {
  padding-bottom: 11px;
}
.k-pager-lg .k-pager-numbers.k-state-expanded li:last-child,
.k-pager-md .k-pager-numbers.k-state-expanded li:last-child,
.k-pager-sm .k-pager-numbers.k-state-expanded li:last-child {
  padding-top: 11px;
}
.k-pager-lg .k-pager-numbers.k-state-expanded .k-link:hover,
.k-pager-md .k-pager-numbers.k-state-expanded .k-link:hover,
.k-pager-sm .k-pager-numbers.k-state-expanded .k-link:hover {
  color: #888e90;
  background-color: #f5f6f6;
  border-color: #f5f6f6;
}
.k-pager-lg .k-pager-numbers.k-state-expanded .k-state-selected,
.k-pager-md .k-pager-numbers.k-state-expanded .k-state-selected,
.k-pager-sm .k-pager-numbers.k-state-expanded .k-state-selected,
.k-pager-lg .k-pager-numbers.k-state-expanded .k-current-page .k-link,
.k-pager-md .k-pager-numbers.k-state-expanded .k-current-page .k-link,
.k-pager-sm .k-pager-numbers.k-state-expanded .k-current-page .k-link {
  color: #ffffff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-scheduler th,
.k-scheduler tr,
.k-scheduler td {
  border-color: #e0e0e0;
}
.k-scheduler-table td.k-state-selected {
  background-color: #e0f7fa;
}
.k-scheduler-toolbar {
  border-color: #fafafa;
}
.k-scheduler .k-header .k-button,
.k-scheduler .k-header li,
.k-scheduler .k-header .k-link {
  color: #ffffff;
}
.k-scheduler .k-header .k-button {
  color: #ffffff;
  background-color: #e53c48;
  border-color: #e53c48;
}
.k-scheduler .k-header li,
.k-scheduler .k-header .k-link,
.k-gantt > .k-header li {
  border-color: #ff4350;
}
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected {
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-scheduler .k-header .k-button:hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link {
  background-color: #e53c48;
  border-color: #e53c48;
}
.k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-selected.k-state-hover,
.k-scheduler-toolbar > .k-scheduler-views > li.k-state-selected {
  border-bottom-color: #fff;
}
.k-scheduler-footer {
  border-color: #e0e0e0;
}
.k-scheduler-footer > .k-header li {
  border-color: transparent;
}
.k-scheduler-footer > .k-header {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.k-scheduler-footer > .k-header .k-link {
  color: #00acc1;
}
.k-event,
.k-task-complete {
  color: #ffffff;
  background: #24c6db;
  border-color: #24c6db;
}
.k-event.k-state-selected {
  box-shadow: 0 0 0 2px #32364c;
}
.k-scheduler-table .k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #fafafa;
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #f5f5f5;
}
.k-scheduler-header .k-today {
  background: transparent;
}
table:not(.k-scheduler-dayview) .k-scheduler-header-wrap .k-today {
  color: #ff4350;
}
.k-gantt .k-treelist,
.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour,
.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
  background-color: #fafafa;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #e0f7fa;
}
.k-gantt-toolbar {
  border-color: #fafafa;
}
.k-gantt-toolbar .k-button {
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-gantt > .k-header li,
.k-gantt > .k-header .k-link,
.k-gantt-toolbar .k-button {
  color: #ffffff;
}
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
.k-gantt .k-gantt-toolbar .k-button:hover {
  background-color: #e53c48;
  border-color: #e53c48;
}
.k-gantt-toolbar > .k-gantt-views > li.k-state-selected,
.k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-selected.k-state-hover {
  border-bottom-color: #fff;
}
.k-gantt-toolbar li:first-child,
.k-gantt-toolbar li:first-child > .k-link,
.k-gantt-toolbar li:last-child,
.k-gantt-toolbar li:last-child > .k-link {
  border-radius: 0;
}
.k-gantt .k-task-draghandle {
  border-color: #24c6db;
}
.k-task-dot:after {
  background-color: #9da2a4;
  border-color: #9da2a4;
}
.k-task-dot:hover:after {
  background-color: #32364c;
  border-color: #32364c;
}
.k-task-summary {
  background: #e0e0e0;
}
.k-task-milestone {
  background-color: #4fad53;
}
.k-task-summary-complete {
  background: #32364c;
}
.k-state-selected.k-task-summary {
  background: #92e3ed;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  background-color: #e0f7fa;
  border-color: #e0f7fa;
}
.k-task-single {
  color: #ffffff;
  background-color: #92e3ed;
  border-color: #92e3ed;
}
.k-state-selected.k-task-single {
  border-color: #ff4350;
}
.k-line {
  background-color: #32364c;
  color: #32364c;
}
.k-state-selected.k-line {
  background-color: #ff4350;
  color: #ff4350;
}
.k-resource {
  background-color: #fff;
}
.k-editor.k-header,
.editorToolbarWindow.k-header,
.k-filebrowser .k-header {
  color: #32364c;
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-editor .k-tool.k-state-selected,
.k-window .k-editor-toolbar .k-tool.k-state-selected {
  background-color: #9da2a4;
  border-color: #9da2a4;
}
.k-window .k-editor-toolbar .k-state-hover {
  background-color: #f5f6f6;
}
.k-toolbar .k-button,
.k-toolbar .k-button-group {
  color: #32364c;
  border-color: #e0e0e0;
}
.k-toolbar .k-button:active,
.k-toolbar .k-button.k-state-active {
  color: #ffffff;
}
.k-toolbar .k-button-group .k-button {
  border-color: transparent;
}
.k-toolbar .k-button-group .k-button:active,
.k-toolbar .k-button-group .k-button.k-state-active,
.k-toolbar .k-overflow-anchor.k-state-active,
.k-toolbar .k-toggle-button.k-state-active {
  background-color: #9da2a4;
}
.k-toolbar .k-overflow-anchor.k-state-active {
  border-color: #9da2a4;
}
.k-toolbar .k-overflow-anchor.k-state-border-down,
.k-toolbar .k-overflow-anchor.k-state-border-up {
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-toolbar .k-button.k-state-disabled,
.k-toolbar .k-button.k-state-disabled:hover,
.k-toolbar .k-button.k-state-disabled:active,
.k-toolbar .k-state-disabled.k-split-button > .k-button {
  color: #c4c4c4;
  border-color: #f0f0f0;
  background-color: #fff;
}
.k-toolbar .k-button-group .k-button.k-state-disabled {
  border-color: transparent;
}
.k-toolbar .k-button:focus,
.k-toolbar .k-button.k-state-disabled:focus,
.k-toolbar .k-split-button:focus > .k-button {
  border-color: #ff4350;
}
.k-overflow-container .k-button,
.k-split-container .k-button {
  color: #00acc1;
}
.k-overflow-container .k-button {
  border-radius: 0;
}
.k-overflow-container .k-overflow-group,
.k-overflow-container .k-separator {
  border-color: #e0e0e0;
}
.k-overflow-container .k-overflow-button.k-state-active,
.k-split-container .k-button.k-state-active {
  color: #fff;
}
.k-overflow-container .k-state-disabled .k-button,
.k-overflow-container .k-state-disabled.k-button,
.k-split-container .k-state-disabled .k-button {
  color: #c4c4c4;
}
.k-overflow-container .k-state-disabled .k-button:focus,
.k-overflow-container .k-state-disabled.k-button:focus,
.k-split-container .k-state-disabled .k-button:focus {
  border-color: #ff4350;
}
.k-file,
.k-upload {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-dropzone .k-upload-status {
  color: #9da2a4;
}
.k-file .k-upload-status {
  color: #32364c;
}
.k-file-progress {
  color: #32364c;
}
.k-file-progress .k-progress {
  background-color: #21b6c9;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #4fad53;
}
.k-file-success .k-progress {
  background-color: #4fad53;
}
.k-file-error {
  color: #ff404e;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper,
.k-file-error .k-file-group-wrapper,
.k-file-error .k-multiple-files-group-wrapper {
  color: #ff404e;
  border-color: #ff404e;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #ff404e #ff404e;
}
.k-file-error .k-progress {
  background-color: #ff4350;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper,
.k-file-group-wrapper,
.k-multiple-files-group-wrapper {
  color: #c4c4c4;
  border-color: #c4c4c4;
}
.k-file-invalid .k-file-name-invalid {
  color: #ff404e;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper,
.k-file-invalid-group-wrapper,
.k-multiple-files-invalid-group-wrapper {
  color: #ff404e;
  border-color: #ff404e;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #c4c4c4 #c4c4c4;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #fff;
  border-color: transparent transparent #ff404e #ff404e;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #c4c4c4;
  border-left-color: #c4c4c4;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #ff404e;
  border-left-color: #ff404e;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #c4c4c4;
}
.k-upload .k-upload-selected {
  color: #ff4350;
  border-color: #e0e0e0;
}
.k-upload .k-upload-selected:hover {
  color: #fff;
  background-color: #ff4350;
}
.k-slider-track {
  background-color: #e0e0e0;
}
.k-slider-selection {
  background-color: #ff4350;
}
.k-slider-horizontal .k-tick {
  background-image: url('Nova/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Nova/slider-v.gif');
}
.k-draghandle {
  background-color: #fff;
  border-color: #e0e0e0;
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.k-draghandle:hover {
  background-color: #f5f6f6;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
  background-color: #f5f6f6;
  border-color: #f5f6f6;
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.k-rating.k-state-focused {
  box-shadow: none;
}
.k-drag-clue {
  color: #ffffff;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1450px) {
  .k-webkit .k-scheduler-toolbar .k-nav-current,
  .k-ff .k-scheduler-toolbar .k-nav-current,
  .k-ie11 .k-scheduler-toolbar .k-nav-current,
  .k-edge .k-scheduler-toolbar .k-nav-current,
  .k-safari .k-scheduler-toolbar .k-nav-current {
    margin: 0;
  }
}
@media only screen and (max-width: 1400px) {
  .k-webkit .k-nav-current > .k-link .k-lg-date-format,
  .k-ff .k-nav-current > .k-link .k-lg-date-format,
  .k-ie11 .k-nav-current > .k-link .k-lg-date-format,
  .k-edge .k-nav-current > .k-link .k-lg-date-format,
  .k-safari .k-nav-current > .k-link .k-lg-date-format {
    max-width: 100px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
  }
  .k-webkit .k-nav-current > .k-link .k-sm-date-format,
  .k-ff .k-nav-current > .k-link .k-sm-date-format,
  .k-ie11 .k-nav-current > .k-link .k-sm-date-format,
  .k-edge .k-nav-current > .k-link .k-sm-date-format,
  .k-safari .k-nav-current > .k-link .k-sm-date-format {
    display: none;
  }
  .k-webkit .k-scheduler-toolbar .k-link,
  .k-ff .k-scheduler-toolbar .k-link,
  .k-ie11 .k-scheduler-toolbar .k-link,
  .k-edge .k-scheduler-toolbar .k-link,
  .k-safari .k-scheduler-toolbar .k-link {
    padding: 0 0.5em;
  }
}
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views {
    top: 0;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view,
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view:hover,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view:hover,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view:hover,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view:hover,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views > li.k-current-view:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    background-position: 50% 50%;
    color: #fff;
    background-color: #ff4350;
    border-color: #ff4350;
    text-align: right;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover {
    background-color: #f5f6f6;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-selected,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-selected,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-selected,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-selected,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-selected,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-selected,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-selected,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-selected,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-selected,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-selected {
    color: #fff;
    background-color: #ff4350;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover .k-link,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover .k-link,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover .k-link,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover .k-link,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > .k-state-hover .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > .k-state-hover .k-link {
    background-color: transparent;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li.k-current-view .k-link,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li.k-current-view .k-link,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li.k-current-view .k-link,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li.k-current-view .k-link,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded > li.k-current-view .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view .k-link {
    color: #ffffff;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    min-width: 20px;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-link,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-link,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-link,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-link,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-link {
    color: #00acc1;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-state-selected .k-link,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-state-selected .k-link,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-state-selected .k-link,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-state-selected .k-link,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views.k-state-expanded .k-state-selected .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-state-selected .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-state-selected .k-link,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-state-selected .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-state-selected .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded .k-state-selected .k-link {
    color: #fff;
  }
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
    opacity: 0.45;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view .k-link:after,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view .k-link:after,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view .k-link:after,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view .k-link:after,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view .k-link:after {
    background-position: -14px -30px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
  }
  .k-webkit .k-gantt-toolbar > ul.k-gantt-views,
  .k-ff .k-gantt-toolbar > ul.k-gantt-views,
  .k-ie .k-gantt-toolbar > ul.k-gantt-views,
  .k-edge .k-gantt-toolbar > ul.k-gantt-views,
  .k-safari .k-gantt-toolbar > ul.k-gantt-views {
    top: 0;
  }
}
.k-chart .k-mask {
  background-color: #fff;
  filter: alpha(opacity=68);
  -moz-opacity: 0.68;
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: #e0e0e0;
}
.k-chart .k-handle {
  width: 15px;
  height: 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
.k-chart .k-left-handle {
  left: -8px;
}
.k-chart .k-right-handle {
  right: -8px;
}
.k-chart .k-handle:hover {
  background-color: #f5f6f6;
}
.k-chart .k-navigator-hint .k-tooltip {
  border: #e0e0e0;
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #32364c;
}
.k-chart .k-navigator-hint .k-scroll {
  background: #fff;
  height: 4px;
}
.k-chart-tooltip {
  background-image: none;
}
.k-map .k-header {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-map .k-marker {
  font-size: 28px;
  color: #ff4350;
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #fff;
  background-image: none;
  color: #000000;
  border-color: #cccccc;
}
.k-spreadsheet-top-corner {
  border-color: #cccccc;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #cccccc #cccccc transparent;
}
.k-spreadsheet-pane {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #e6e6e6;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #cccccc;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #fff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(38, 198, 218, 0.2);
  background-color: rgba(38, 198, 218, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #26c6da;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #26c6da;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #26c6da;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #26c6da;
  box-shadow: inset 0 0 0 1px #26c6da;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #fff;
}
.k-spreadsheet-selection {
  background-color: rgba(38, 198, 218, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #26c6da;
  background-color: #fff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #26c6da, inset -1px 0 0 1px #26c6da;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #26c6da, inset 0 -1px 0 1px #26c6da;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #26c6da, inset -1px -1px 0 1px #26c6da;
}
.k-spreadsheet-active-cell.k-single {
  color: #32364c;
  background-color: #fff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #fff;
  border-color: #e0e0e0;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #cccccc;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #fff;
  color: #32364c;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #ff4350;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #ff4350;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #26c6da;
  border-color: #fff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(38, 198, 218, 0.5);
}
.k-spreadsheet .k-spreadsheet-cell-comment {
  color: #32364c;
  background-color: #fff;
  border-color: #c9c9c9;
}
.k-spreadsheet .k-spreadsheet-has-comment:after {
  border-color: #26c6da #26c6da transparent transparent;
}
.k-spreadsheet .k-dirty {
  border-color: #ff404e transparent transparent #ff404e;
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #e0e0e0;
}
.k-spreadsheet-filter {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #e6e6e6;
}
.k-spreadsheet-filter.k-state-active {
  color: #fff;
  background-color: #ff4350;
}
.k-spreadsheet-filter:hover {
  color: #888e90;
  background: #f5f6f6;
  border-color: #e0e3e3;
}
.k-action-window .k-action-buttons {
  border-color: #e0e0e0;
  background: #ff4350;
}
.k-spreadsheet-sample {
  color: #747ba3;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #e0e0e0;
  border-radius: 0;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 0;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #e0e0e0;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 0;
}
.k-spreadsheet-popup .k-separator {
  background-color: #e0e0e0;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #f5f6f6;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #ff4350;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #ff1021;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #e0e0e0;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #fff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #fff;
  border-color: #e0e0e0;
  border-radius: 0 0 0 0;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #ff4350;
  background-color: rgba(255, 67, 80, 0.15);
}
.k-series-b {
  border-color: #ff9ea5;
  background-color: rgba(255, 158, 165, 0.15);
}
.k-series-c {
  border-color: #00acc1;
  background-color: rgba(0, 172, 193, 0.15);
}
.k-series-d {
  border-color: #80deea;
  background-color: rgba(128, 222, 234, 0.15);
}
.k-series-e {
  border-color: #ffbf46;
  background-color: rgba(255, 191, 70, 0.15);
}
.k-series-f {
  border-color: #ffd78c;
  background-color: rgba(255, 215, 140, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #ff4350;
  color: #fff;
}
.k-spreadsheet-insert-image-dialog {
  border-color: #e0e0e0;
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image:hover div,
.k-spreadsheet-insert-image-dialog .k-spreadsheet-has-image.k-state-hovered div {
  color: #fff;
}
.k-spreadsheet-drawing.k-spreadsheet-active-drawing {
  outline-color: #26c6da;
}
.k-spreadsheet-drawing .k-spreadsheet-drawing-handle {
  border-color: #fff;
  background-color: #26c6da;
  border-radius: 50%;
}
.k-spreadsheet-drawing-anchor-cell {
  background: rgba(38, 198, 218, 0.2);
}
.k-rtl .k-spreadsheet .k-spreadsheet-has-comment::after {
  border-color: #26c6da transparent transparent #26c6da;
}
.k-rtl .k-spreadsheet .k-dirty {
  border-color: #ff404e #ff404e transparent transparent;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  box-shadow: none;
  color: #ffffff;
  border-radius: 0;
  line-height: 2.6em;
  height: calc(3.1em + 2px);
  width: 3em;
}
.k-spreadsheet .k-spreadsheet-quick-access-toolbar .k-button:hover,
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button:hover {
  background-image: none;
  background-image: none, linear-gradient(to bottom, #202333 0%, #081421 100%);
  border-color: #2e3350;
}
.k-spreadsheet .k-spreadsheet-sheets-bar .k-button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 2.2em;
}
.k-spreadsheet .k-spreadsheet-sheets-bar-add {
  left: 0;
  bottom: 0;
}
.k-spreadsheet .k-spreadsheet-sheets-remove {
  margin: 0 0 0 -1em;
}
.k-spreadsheet-sheets-items {
  color: #ffffff;
  background-image: none;
  background-image: none, linear-gradient(to bottom, #303553 0%, #072138 100%);
}
.k-spreadsheet-sheets-items .k-item.k-state-hover,
.k-spreadsheet-tabstrip .k-item.k-state-hover,
.k-spreadsheet-sheets-items .k-item.k-state-active,
.k-spreadsheet-tabstrip .k-item.k-state-active,
.k-spreadsheet-sheets-items .k-item.k-state-focused,
.k-spreadsheet-tabstrip .k-item.k-state-focused {
  background-color: transparent;
}
.k-spreadsheet-sheets-items .k-item.k-state-hover .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-hover .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-active .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-active .k-link,
.k-spreadsheet-sheets-items .k-item.k-state-focused .k-link,
.k-spreadsheet-tabstrip .k-item.k-state-focused .k-link {
  color: #ffffff;
}
.k-spreadsheet-sheets-items .k-state-active .k-link,
.k-spreadsheet-tabstrip .k-state-active .k-link {
  color: #ffffff;
}
.k-spreadsheet-toolbar > .k-button {
  border-color: transparent;
}
.k-dialog .k-dialog-title {
  font-size: 1.2em;
}
.k-dialog.k-alert .k-window-titlebar,
.k-dialog.k-confirm .k-window-titlebar,
.k-dialog.k-prompt .k-window-titlebar {
  border-bottom: none;
}
.k-dialog.k-alert .k-window-titlebar .k-dialog-title,
.k-dialog.k-confirm .k-window-titlebar .k-dialog-title,
.k-dialog.k-prompt .k-window-titlebar .k-dialog-title {
  color: #32364c;
}
.k-dialog .k-content {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.k-dialog.k-dialog-titleless .k-content {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 1em 1em;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #e0e0e0;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  border-radius: 0;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched {
  -ms-flex-direction: column;
      flex-direction: column;
}
.k-dialog.k-window-sm .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  padding: 0.5em 0.5em;
}
.k-dialog.k-window-md .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 0.7em 0.7em;
}
.k-rtl .k-grid-header .k-header:first-child,
.k-rtl .k-filter-row th:first-child,
.k-rtl .k-grid tbody td:first-child,
.k-rtl .k-grid tfoot td:first-child {
  border-left-width: 0;
}
.k-rtl .k-dialog .k-window-titlebar .k-dialog-title {
  padding-right: 1em;
  padding-left: 2em;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 0;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #ff404e;
  position: absolute;
  top: 0;
  right: 2.2em;
  width: 2.2em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #ff404e;
}
.k-numeric-wrap.k-state-invalid input {
  color: #ff404e;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 2.2em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #ff404e;
  color: #ff404e;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #ff404e;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #ff404e;
  border-color: #ff404e;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.8em;
  color: #ff404e;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.8em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff404e;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff404e;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #ff404e;
  margin-left: 0;
  margin-right: 2.8em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.8em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #ff404e;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #ff404e;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #ff404e;
  margin-left: 0;
  margin-right: 5.3em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 5.3em;
}
.k-listbox .k-list-scroller {
  border-color: #e0e0e0;
  background-color: #fff;
}
.k-listbox .k-item {
  padding: 1px 11px;
  color: #32364c;
}
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-color: #f5f6f6;
}
.k-listbox .k-item.k-state-selected {
  color: #fff;
  background-color: #ff4350;
  border-color: transparent;
}
.k-listbox .k-item.k-state-selected:hover {
  background-color: #cc3640;
}
.k-listbox .k-item.k-state-disabled {
  color: #c4c4c4;
}
.k-listbox .k-item.k-state-focused {
  border-color: #9c9c9c;
  box-shadow: none;
}
.k-listbox .k-button.k-state-disabled:active .k-icon {
  opacity: 0.2;
}
.k-listbox .k-button.k-state-disabled:active .k-icon {
  opacity: 0.2;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #ff4350;
}
.k-item.k-state-selected.k-drag-clue {
  color: #fff;
  background-color: #ff4350;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-i-sort-asc-sm:hover,
.k-grid-header .k-i-sort-desc-sm:hover,
.k-grid-header .k-sort-order {
  color: #ff4350;
  opacity: 1;
  margin-bottom: -1px;
}
.k-menu-scroll-button {
  border-width: 0;
  box-shadow: none;
  border-color: #e0e0e0;
  background-color: #fff;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-left {
  border-right-width: 1px;
}
.k-menu-scroll-wrapper.horizontal .k-scroll-right {
  border-left-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-up {
  border-bottom-width: 1px;
}
.k-menu-scroll-wrapper.vertical .k-scroll-down {
  border-top-width: 1px;
}
.k-scheduler .k-other-month .k-nav-day {
  opacity: 0.6;
}
.k-dropdowngrid-popup {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #fff;
}
.k-dropdowngrid-popup .k-header {
  border-color: #e0e0e0;
  color: #9da2a4;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-group-header {
  border-color: #e0e0e0;
  color: #9da2a4;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-cell {
  border-color: #e0e0e0;
}
.k-dropdowngrid-popup .k-item:nth-child(2n) {
  background-color: #fff;
}
.k-dropdowngrid-popup .k-footer {
  border-color: #e0e0e0;
  color: #9da2a4;
  background-color: #fafafa;
}
.k-dropdowngrid-popup .k-item.k-state-hover {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #f5f6f6;
}
.k-dropdowngrid-popup .k-item.k-state-selected {
  border-color: #e0e0e0;
  color: #32364c;
  background-color: #e0f7fa;
}
.k-dropdowngrid-popup .k-group-cell span {
  background-color: #32364c;
  color: #fff;
}
.k-grid-list > .k-item.k-last > .k-cell,
.k-grid-list > .k-item.k-last > .k-group-cell,
.k-grid-list > .k-item.k-last > .k-spacer-cell {
  border-bottom-color: #32364c;
}
.k-calendar .k-header,
.k-calendar .k-footer {
  text-transform: uppercase;
}
.k-calendar .k-nav-fast {
  width: 60%;
}
.k-calendar table .k-link {
  color: #00acc1;
}
.k-calendar .k-other-month .k-link {
  color: inherit;
}
.k-calendar td.k-state-focused {
  box-shadow: none;
}
