﻿@model OModules.Models.OntologyModulesViewModel
@{
    ViewBag.Title = "ClassObject";
}
<script src="~/Scripts/ClassTree/ClassTree.js"></script>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }
    #@(Model.idSplitterOModules)
    {
        height:97%;
        margin: 0 auto;
    }


    .classtree-treelist {
        border: 0 !important;
    }

    .classtree-treelist {
        height:91%
    }

</style>

<style>
    .idInput {
        font-size: 10px;
    }

    @@media screen and (max-width: 750px) {
        .idInput {
            display: none !important;
        }
    }

    @@media screen and (max-width: 800px) {
        .idInput {
            width: 150px !important;
        }
    }

    @@media screen and (min-width: 801px) {
        .idInput {
            width: 200px !important;
        }
    }

    #gridParent,
    #grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
</style>
<script src="~/Scripts/ClassTree/ClassTree.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/OItems/SingleItemListHelper.js"></script>

<script id="classTreeTemplate" type="text/x-custom-template">
    <div class="classtree-navbar"></div>
    <div class="classtree-treelist"></div>
</script>

<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>
</script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    function init() {

        viewModel.connectCallback = function () {
            var configuration = {
                setDocumentTitle: true,
                actionInit: viewModel.ActionInitClassTree,
                selectorPath: ['#classTreeContainer'],
                managerConfig: viewModel.managerConfig
            }
            $('#' + viewModel.classTree.ViewItemId).createClassTree(configuration);

            var configurationObjectList = {
                actionObjectListInit: viewModel.ActionObjectListLinit,
                templateSelector: "#template", 
                managerConfig: viewModel.managerConfig,
                useIdParent: true
            };

            $('.object-list-container').createObjectList(configurationObjectList);
        }

        viewModel.disconnectCallback = function () {

        }

        $("#" + viewModel.idSplitterOModules)
            .kendoSplitter({
                orientation: "horizontal",
                panes: [
                    { size: "25%" },
                    { collapsible: true, contentUrl: viewModel.urlObjectList }
                ]
            });

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        viewModel.addEndpoint(viewModel.ChannelSelectedParent);
        viewModel.addEndpoint(viewModel.ChannelSelectedRelationNode);
        viewModel.addEndpoint(viewModel.ChannelAddedObjects);
        viewModel.addEndpoint(viewModel.ChannelViewReady);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);


    }

    window.addEventListener("load", init, false);
    window.onerror = function (error, url, line) {
        //errorOccured(error, url, line);
    }
</script>

<div style="height:100%">
    <div id="@(Model.idSplitterOModules)">
        <div>
            <div id="classTreeContainer">
            </div>
        </div>
        <div>
            <div class="object-list-container"></div>
        </div>
    </div>
</div>



