﻿@model OModules.Models.OntologyModulesViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }
    #@(Model.idPanelBar) {
                    height:100%
                    margin: 0 auto;
                }

    #@(Model.idDivSearch)
    {
        height: calc(100vh - 115px) !important;
    }

    .pdf-search-container {
        height: calc(100vh - 115px) !important;
    }

    .html-search {
        height: calc(100vh - 115px) !important;
    }


    # @(Model.idDivOModules) {
        height: calc(100vh - 115px) !important;
    }

    #@(Model.idDivViews)
    {
        padding: 0;
        height: calc(100vh - 115px) !important;
        width: 100%;
        height: 90%;
        border: 0
    }

    #@(Model.idSplitterOModules)
    {
        height: calc(100vh - 220px);
        margin: 0 auto;
    }

     .classtree-treelist {
        border: 0 !important;
    }

    .classtree-treelist {
        height:91%
    }

    .object-list-container,
    .object-list,
    .objectlist-grid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
    }
    .gridParent,
    .searchGrid {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 500px;
    }

    .searchButton {
            width: 32px;
        }

    .searchButtonBig {
        width: 54px;
    }

    .fullWidth {
        width: 100%;
    }

    .gridHeight {
        height: 500px;
    }


    .attributeValue {
        min-height: 25px;
        min-width: 25px;
    }

    .breadCrumbSearch {
        height: 20px;
        width: 180px !important;
    }
    mark{
        background: orange;
        color: black;
    }
</style>
<link href="~/Scripts/EditOItem/AddObjects.css" rel="stylesheet" />
<script src="~/Scripts/EditOItem/AddObjects.js"></script>
<script src="~/Scripts/ClassTree/ClassTree.js"></script>
<script src="~/Scripts/OItems/SingleItemListHelper.js"></script>
<script src="~/Scripts/Navigation/ViewList.js"></script>
<script src="~/Scripts/ModuleMgmt/ModuleStarter.js"></script>
<script src="~/Scripts/OItemSearch/OItemSearch.js"></script>
<script src="~/Scripts/OItems/ObjectList.js"></script>
<script src="~/Scripts/MediaViewer/PDFSearch.js"></script>
<script src="~/node_modules/mark.js/dist/jquery.mark.min.js"></script>
<script src="~/Scripts/HTMLEditor/HtmlSearch.js"></script>
<script src="~/Scripts/ObjectEdit/EmbeddedNameEdit.js"></script>
<script id="classTreeTemplate" type="text/x-custom-template">
    <div class="classtree-navbar"></div>
    <div class="classtree-treelist"></div>
</script>
<script type="text/x-kendo-template" id="template">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="k-button deleteItem"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        <button class="k-button applyItem"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
        <button class="k-button addToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
        <button class="k-button newItem"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>

</script>
<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
        <td class="applyCell">
            <input type="checkbox" class="applyCellContent">
        </td>
        <td class="nameCell">
            <span class="nameCellContent">#= (data.NameItem == null) ? ' ' : data.NameItem # </span>
        </td>
        <td class="nameParentCell">
            <span class="nameParentCellContent">#= (data.NameParent == null) ? ' ' : data.NameParent # </span>
        </td>
        <td class="nameAttributeTypeCell">
            <span class="nameAttributeTypeCellContent">#= (data.NameAttributeType == null) ? ' ' : data.NameAttributeType # </span>
        </td>
        <td class="valueCell">
            <span class="valueContent">#= (data.ValueNamed == null) ? ' ' : data.ValueNamed # </span>
        </td>
        <td class="typeCell">
            <span class="typeCellContent">#= (data.Type == null) ? ' ' : data.Type # </span>
        </td>
    </tr>
</script>

<script>
    var viewModel = @(Html.Raw(Model.GetJsonItem()));

    var sendersIgnore = [];
    viewModel.setDataItems = function () {

    }

    viewModel.messageFromWebsocket = function (name, message) {
        // Add the message to the page.
        console.log(message);

        if (message.ChannelId == viewModel.ChannelControllerMessage) {
            $('.onto-status-bar').data('messageout-config').showMessage(message.GenericParameterItems[0], 2000);
        }
        var viewItemValue = $.grep(viewModel.isListen.ViewItemValues, function (e) { return e.ViewItemType == "Checked"; });
        if (viewItemValue.length==0 || viewItemValue[0].Value == false) return;
        if (!urlParameterConfig.checkSender(message.SenderId)) return false;

        if (message.ChannelId == viewModel.ChannelSelectedParent) {
            if (message.OItems != undefined && message.OItems.length == 1) {
                $('.object-list').data('object-list-config').handler.setIdParent(message.OItems[0].GUID);
                viewModel.selectedObjectId = "";
                viewModel.selectedClassId = message.OItems[0].GUID;
            }
        }
        else if (message.ChannelId == viewModel.ChannelAddedObjects) {
            for (var i in message.OItems) {
                var oItem = message.OItems[i];

                $('.object-list').data('object-list-config').handler.addGridItem({
                    IdInstance: oItem.GUID,
                    Apply: false,
                    NameInstance: oItem.Name,
                    IdClass: oItem.GUID_Parent,
                    NameClass: "",
                    IdItem: oItem.GUID
                });

            }
        }
        else if (message.ChannelId == viewModel.ChannelSelectedObject) {
            $('#' + viewModel.idDivModules).data('modulestarter-config').validateReference(message.OItems[0].GUID);
            viewModel.selectedObjectId = message.OItems[0].GUID;
            viewModel.selectedClassId = "";
        }
    }

    viewModel.getUrlParameters = function () {
        urlParameterConfig.initialize();

        viewModel.setDataItems();
        if (urlParameterConfig.classParam != undefined) {
            viewModel.setIdParent(urlParameterConfig.classParam);
        }
        if (urlParameterConfig.senderParam != undefined) {
            viewModel.idSender = urlParameterConfig.senderParam;

        }

    }

    function init() {

        $("#" + viewModel.toolbar.ViewItemId).kendoToolBar({
            items: [
                {
                    template: '<button id="' + viewModel.openRelationEditor.ViewItemId + '" class="k-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>',

                },
                {
                    template: '<button id="' + viewModel.openObjectTree.ViewItemId + '" class="k-button"><i class="fa fa-sitemap" aria-hidden="true"></i></button>',

                }


            ]
        });

        var configuration = {
            actionGetUrl: viewModel.ActionGetUrlViewList,
            actionGetGridConfig: viewModel.ActionGetGridConfigViewList
        };
        $('#' + viewModel.idDivViews).createViewList(configuration);

        var configurationModuleStarter = {
            actionModuleStarter: viewModel.ActionModuleStarterInit,
            sender: urlParameterConfig.senderParam,
            idObject: urlParameterConfig.objectParam
        };

        $('#' + viewModel.idDivModules).createModuleStarter(configurationModuleStarter);

        $('.k-button').kendoButton({
            click: function (e) {
                var id = $(e.event.target).closest(".k-button").attr("id");
                if (id === viewModel.openRelationEditor.ViewItemId) {
                    var url = viewModel.ActionRelationEditor;
                    var params = ''
                    if (viewModel.selectedObjectId !== undefined && viewModel.selectedObjectId !== "") {
                        params = '?Object=' + viewModel.selectedObjectId;
                    }

                    url += params;

                    window.open(url, "_blank");
                } else if (id === viewModel.openObjectTree.ViewItemId) {
                    var url = viewModel.ActionObjectTree;
                    if (viewModel.selectedObjectId !== undefined && viewModel.selectedObjectId !== "") {
                        url += '?Object=' + viewModel.selectedObjectId;
                    } else if (viewModel.selectedClassId !== undefined && viewModel.selectedClassId !== "") {
                        url += '?Class=' + viewModel.selectedClassId;
                    }
                    window.open(url, "_blank");
                }
            }
        });

        $("#" + viewModel.idPanelBar).kendoPanelBar({
            expandMode: "single",
            expand: function (e) {
                console.log(e);
                var viewList = jQuery.grep(e.item.children, function (child) {
                    return ($(child).attr('id') == viewModel.idDivViews);
                });
                if (viewList.length > 0) {

                }
            }
        });

        $(".search-panel-bar").kendoPanelBar({
            expandMode: "single",
            expand: function (e) {
                console.log(e);
                var viewList = jQuery.grep(e.item.children, function (child) {
                    return ($(child).attr('id') == viewModel.idDivViews);
                });
                if (viewList.length > 0) {

                }
            }
        });

        $("#" + viewModel.tabStrip).kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        $("#" + viewModel.idSplitterOModules)
            .kendoSplitter({
                orientation: "horizontal",
                panes: [
                    { size: "17%" },
                    {}
                ]
            });

        viewModel.setDataItems();

        for (var ix in viewModel.ViewItems) {
            var viewItem = viewModel.ViewItems[ix];

            for (var jx in viewItem.ViewItemValues) {
                var viewItemValue = viewItem.ViewItemValues[jx];

                if (viewItemValue.ViewItemType == "Enable") {
                    $('#' + viewItem.ViewItemId).setEnabled(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Visible") {
                    $('#' + viewItem.ViewItemId).setVisible(viewItemValue.Value, true);
                }
                else if (viewItemValue.ViewItemType == "Checked") {
                    $('#' + viewItem.ViewItemId).setCheckedMode(viewItemValue.Value, true);
                }
            }
        }

        viewModel.connectCallback = function () {

            var configuration = {
                setDocumentTitle: true,
                actionInit: viewModel.ActionInitClassTree,
                selectorPath: ['#classTreeContainer'],
                managerConfig: viewModel.managerConfig,
                events: {
                    selectedClass: function (idClass, nameClass, classTreeComponent) {
                        viewModel.selectedClassId = idClass;
                        viewModel.selectedObjectId = "";

                        $('.object-list').data('object-list-config').handler.setIdParent(idClass);
                        document.title = nameClass;
                    },
                    createdComponent: function (classTreeComponent) {
                        var element = getElementsBySelectorPath(classTreeComponent.configuration.viewModel.SelectorPath);

                    }
                }
            }
            $('#classTreeContainer').createClassTree(configuration);

            //$.post(viewModel.ActionConnected, { idInstance: viewModel.IdInstance })
            //    .done(function (response) {
            //        console.log(response);
            //        changeValuesFromServer(response);
            //    })
            //    .fail(function (jqxhr, textStatus, error) {
            //        // stuff
            //    });

            console.log("ViewReady to Sender", viewModel.idSender);
            if (viewModel.idSender != undefined) {
                viewModel.managerConfig.moduleComHub.server.sendInterServiceMessage({
                    ChannelId: viewModel.ChannelViewReady,
                    SenderId: viewModel.managerConfig.idEndpoint,
                    SessionId: viewModel.managerConfig.idSession,
                    ReceiverId: viewModel.idSender,
                    UserId: viewModel.IdUser,
                    ViewId: viewModel.View.IdView
                });
            }

            var configurationSearchArea = {
                actionGetSearchRequestItem: viewModel.ActionGetSearchRequestItem,
                actionSearchClassChanged: viewModel.ActionSearchClassChanged,
                actionGetGridConfig: viewModel.ActionSearchGetGridConfig,
                actionSearchItemTextChanged: viewModel.ActionSearchItemTextChanged,
                actionSearchRelationTypeChanged: viewModel.ActionSearchRelationTypeChanged,
                actionSearchAttributeTypeChanged: viewModel.ActionSearchAttributeTypeChanged,
                actionAddSearchItemArea: viewModel.ActionAddSearchItemArea,
                actionInitSearchItems: viewModel.ActionInitSearchItems,
                actionRemoveSearchItemArea: viewModel.ActionRemoveSearchItemArea,
                channelAppliedObjects: viewModel.ChannelAppliedItems,
                channelSelectedObject: viewModel.ChannelSelectedItem,
                idInstance: viewModel.IdInstance,
                loadingTimeout: 500,
                idEndpoint: viewModel.IdEndpoint,
                idSession: viewModel.IdSession,
                idUser: viewModel.IdUser,
                managerConfig: viewModel.managerConfig
            }
            $('#' + viewModel.idDivSearch).createOItemSearch(configurationSearchArea);

            var configurationObjectList = {
                actionObjectListInit: viewModel.ActionObjectListLinit,
                templateSelector: "#template",
                managerConfig: viewModel.managerConfig,
                useIdParent: true
            };

            $('.object-list-container').createObjectList(configurationObjectList);

            var configurationPdfSearch = {
                viewModel: null,
                actionPDFSearchInit: viewModel.ActionInitPDFSearch,
                handler: {
                    validateReferenceCallback: function () {

                    }
                }
            };

            $('.pdf-search-container').createPDFSearch(configurationPdfSearch);

            var configurationHtmlSearch = {
                actionGetGridConfig: viewModel.ActionGetGridConfigHtmlSearch,
                sender: urlParameterConfig.senderParam,
                idInstance: viewModel.IdInstance,
                idUser: viewModel.IdUser,
                managerConfig: viewModel.managerConfig,
                channelSelectedObject: viewModel.ChannelSelectedObject
            };

            $('.html-search').createHtmlSearch(configurationHtmlSearch);
        }


        //viewModel.disconnectCallback = function () {
        //    $.post(viewModel.ActionDisconnected, { idInstance: viewModel.IdInstance })
        //        .done(function (response) {
        //            console.log(response);
        //            changeValuesFromServer(response);
        //        })
        //        .fail(function (jqxhr, textStatus, error) {
        //            // stuff
        //        });
        //}

        initWebsocket(viewModel, viewModel.IdSession, viewModel.IdInstance, viewModel.IdUser, viewModel.connectCallback, viewModel.disconnectCallback);
        //initControls(viewModel.ActionGetGridConfig,
        //    viewModel.applyItem.ViewItemId,
        //    viewModel.isListen.ViewItemId,
        //    true,
        //    gridChangeHandler,
        //    clickApplyButtonHandler);
        viewModel.addEndpoint(viewModel.ChannelSelectedParent);
        viewModel.addEndpoint(viewModel.ChannelSelectedRelationNode);
        viewModel.addEndpoint(viewModel.ChannelAddedObjects);
        viewModel.addEndpoint(viewModel.ChannelViewReady);
        viewModel.addEndpoint(viewModel.ChannelSelectedObject);
        viewModel.addEndpoint(viewModel.ChannelControllerMessage);
        viewModel.startWebsocket(viewModel.messageFromWebsocket);
        createStatusBar(viewModel.PageInitState);
    }

    window.addEventListener("load", init, false);
    window.onerror = function(error, url, line) {
        //errorOccured(error, url, line);
    }
</script>
<div class="loader">
    <div></div>
</div>
<div id="dialog"></div>

<div id="example">
    <ul id="@(Model.idPanelBar)">
        <li>
            @(Model.labelSearch.GetViewItemValue(OntoMsg_Module.Attributes.ViewItemType.Content.ToString(), "Search"))
            <ul class="search-panel-bar">
                <li class="k-state-active">
                    Ontology-Search
                    <div id="@(Model.idDivSearch)" class="search-container">

                    </div>
                </li>
                <li>
                    PDF-Search
                    <div class="pdf-search-container">

                    </div>
                </li>
                <li>
                    Html-Search
                    <div class="html-search">

                    </div>
                </li>
            </ul>

        </li>
        <li class="k-state-active">
            @(Model.labelOModules.GetViewItemValue(OntoMsg_Module.Attributes.ViewItemType.Content.ToString(), "Ontology-Modules"))
            <div id="@(Model.idDivOModules)">
                <div id="@(Model.toolbar.ViewItemId)">
                </div>
                <div id="@(Model.tabStrip)">
                    <ul>
                        <li class="k-state-active">
                            @(Model.labelObjectClassView.GetViewItemValue(OntoMsg_Module.Attributes.ViewItemType.Content.ToString(), "Classes"))
                        </li>
                        <li>
                            @(Model.labelModuleStarter.GetViewItemValue(OntoMsg_Module.Attributes.ViewItemType.Content.ToString(), "Objects"))
                        </li>
                    </ul>
                    <div>
                        <div>
                            <div id="@(Model.idSplitterOModules)">
                                <div>
                                    <div id="classTreeContainer">

                                    </div>
                                </div>
                                <div>
                                    <div class="object-list-container"></div>
                                    @*<div id="gridParent">
                                            <div id="@(Model.grid.ViewItemId)">

                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>




                    </div>
                    <div>
                        <div id="@(Model.idDivModules)">

                        </div>
                    </div>

                </div>

            </div>
        </li>
        <li>
            @(Model.labelOViews.GetViewItemValue(OntoMsg_Module.Attributes.ViewItemType.Content.ToString(), "Views"))
            <div id="@(Model.idDivViews)">

            </div>
        </li>

    </ul>
</div>



